<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c686a50f-1358-46ec-a038-314c0faeac96" Alias="Alert Status" Level="2">
  <Info>
    <Name>Alert Status</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.RadioButtonList</EditorUIAlias>
    <Folder>Furniture</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Inherit",
    "Hide",
    "Show"
  ]
}]]></Config>
</DataType>