<?xml version="1.0" encoding="utf-8"?>
<DataType Key="583b450b-14d0-4243-9104-1f492475f22d" Alias="Aside Status" Level="2">
  <Info>
    <Name>Aside Status</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.RadioButtonList</EditorUIAlias>
    <Folder>Furniture</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Inherit",
    "Hide",
    "Left",
    "Right"
  ]
}]]></Config>
</DataType>