<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c3e97a7a-9305-4a3a-8131-5e417978e9d6" Alias="Breadcrumb Status" Level="2">
  <Info>
    <Name>Breadcrumb Status</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.RadioButtonList</EditorUIAlias>
    <Folder>Furniture</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Inherit Breadcrumb Status",
    "Show Breadcrumb",
    "Hide Breadcrumb"
  ]
}]]></Config>
</DataType>