<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3502066a-48fb-4ea3-a564-50a5ad887b63" Alias="Cookie Consent Cookie List" Level="2">
  <Info>
    <Name>Cookie Consent Cookie List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Furniture</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "fa8af893-6d54-4794-9938-db592c148391",
      "settingsElementTypeKey": "bf3351ec-9aaa-4228-9733-3d0c4e1b2840",
      "label": "{% cookieName }",
      "editorSize": "large",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": true,
  "validationLimit": {}
}]]></Config>
</DataType>