<?xml version="1.0" encoding="utf-8"?>
<DataType Key="99f769a4-4a02-469b-b9ab-afebe61d6b4e" Alias="Cookie Consent Position" Level="2">
  <Info>
    <Name>Cookie Consent Position</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>Furniture</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Top Left",
    "Top Center",
    "Top Right",
    "Middle Left",
    "Middle Center",
    "Middle Right",
    "Bottom Left",
    "Bottom Center",
    "Bottom Right"
  ],
  "multiple": false,
  "umbMigrationV14": "2025-04-01T10:00:43.1251939\u002B00:00"
}]]></Config>
</DataType>