<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7cba2f6b-082a-4db3-94db-ef4402258aaf" Alias="Editor Rich Text Complex" Level="2">
  <Info>
    <Name>Editor Rich Text Complex</Name>
    <EditorAlias>Umbraco.RichText</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Tiptap</EditorUIAlias>
    <Folder>Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "6c485594-0155-4427-9707-53266129226e",
      "label": "{% icon}",
      "displayInline": false,
      "settingsElementTypeKey": "dd4abd92-f709-47e2-ada6-b35569eb65b5",
      "editorSize": "large",
      "backgroundColor": "#32a852",
      "iconColor": "#ffffff"
    },
    {
      "contentElementTypeKey": "c7b6d5df-3c4e-4b2a-b089-a7e162173713",
      "label": "{% header}",
      "settingsElementTypeKey": "e50a88a6-5d6e-4c3c-aef5-711be31032aa",
      "editorSize": "large",
      "backgroundColor": "#a8324d",
      "iconColor": "#ffffff"
    },
    {
      "contentElementTypeKey": "da2dea6f-05b8-4b7a-a112-5c3a504eb565",
      "label": "{% text}",
      "settingsElementTypeKey": "7a14868b-868e-4c2e-9f7a-cc06af583251",
      "backgroundColor": "#a85832",
      "iconColor": "#ffffff"
    },
    {
      "contentElementTypeKey": "bc470a04-8377-4fda-bdb5-beeb2e3b5fd9",
      "label": "{= field}",
      "settingsElementTypeKey": "76907976-1596-4f54-b40f-b728a46e4afc",
      "backgroundColor": "#3258a8",
      "iconColor": "#ffffff",
      "displayInline": true
    },
    {
      "contentElementTypeKey": "e4c36574-629e-4e82-95b2-748ee22cb2b1",
      "label": "Action",
      "backgroundColor": "#5232a8",
      "iconColor": "#ffffff",
      "settingsElementTypeKey": "e61a4ac3-ddec-48d0-9d59-d2574ab66108"
    }
  ],
  "extensions": [
    "Umb.Tiptap.Link",
    "Umb.Tiptap.RichTextEssentials",
    "Umb.Tiptap.Subscript",
    "Umb.Tiptap.Superscript",
    "Umb.Tiptap.Underline",
    "Umb.Tiptap.Block",
    "Umb.Tiptap.TextAlign",
    "Umb.Tiptap.TextDirection",
    "Umb.Tiptap.TextIndent",
    "Umb.Tiptap.Table",
    "Umb.Tiptap.WordCount",
    "Umb.Tiptap.Embed",
    "Umb.Tiptap.Figure",
    "Umb.Tiptap.Image",
    "Umb.Tiptap.MediaUpload",
    "Lcc.Tiptap.Heading4",
    "Lcc.Tiptap.Heading5",
    "Lcc.Tiptap.Heading6",
    "Lcc.Tiptap.Lead",
    "Umb.Tiptap.Anchor",
    "Umb.Tiptap.Blockquote",
    "Umb.Tiptap.Bold",
    "Umb.Tiptap.BulletList",
    "Umb.Tiptap.CodeBlock",
    "Umb.Tiptap.Heading",
    "Umb.Tiptap.HorizontalRule",
    "Umb.Tiptap.HtmlAttributeClass",
    "Umb.Tiptap.HtmlAttributeDataset",
    "Umb.Tiptap.HtmlAttributeId",
    "Umb.Tiptap.HtmlAttributeStyle",
    "Umb.Tiptap.HtmlTagDiv",
    "Umb.Tiptap.HtmlTagSpan",
    "Umb.Tiptap.Italic",
    "Umb.Tiptap.OrderedList",
    "Umb.Tiptap.Strike",
    "Umb.Tiptap.TrailingNode"
  ],
  "maxImageSize": 500,
  "overlaySize": "medium",
  "statusbar": [
    [
      "Umb.Tiptap.Statusbar.WordCount"
    ]
  ],
  "stylesheets": [
    "/Editor Rich Text Complex.css"
  ],
  "toolbar": [
    [
      [
        "Umb.Tiptap.Toolbar.SourceEditor"
      ],
      [
        "Umb.Tiptap.Toolbar.Bold",
        "Umb.Tiptap.Toolbar.Italic",
        "Umb.Tiptap.Toolbar.Underline",
        "Umb.Tiptap.Toolbar.Strike"
      ],
      [
        "Umb.Tiptap.Toolbar.Superscript",
        "Umb.Tiptap.Toolbar.Subscript",
        "Lcc.Tiptap.Toolbar.Lead",
        "Umb.Tiptap.Toolbar.Heading2",
        "Umb.Tiptap.Toolbar.Heading3",
        "Lcc.Tiptap.Toolbar.Heading4",
        "Lcc.Tiptap.Toolbar.Heading5",
        "Lcc.Tiptap.Toolbar.Heading6"
      ],
      [
        "Umb.Tiptap.Toolbar.BulletList",
        "Umb.Tiptap.Toolbar.OrderedList"
      ],
      [
        "Umb.Tiptap.Toolbar.Blockquote",
        "Umb.Tiptap.Toolbar.HorizontalRule"
      ],
      [
        "Umb.Tiptap.Toolbar.Link",
        "Umb.Tiptap.Toolbar.Unlink"
      ],
      [
        "Umb.Tiptap.Toolbar.BlockPicker"
      ]
    ]
  ]
}]]></Config>
</DataType>