<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c9eded73-6f39-48a0-95ad-4292bcf3abce" Alias="Editor" Level="2">
  <Info>
    <Name>Editor</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "backgroundColor": "#f4cccc",
      "iconColor": "#660000",
      "contentElementTypeKey": "9cd1f41e-8db7-498b-a4f1-db27180a4728",
      "settingsElementTypeKey": "31095fb6-f9a3-4bb1-b559-d353a1ff0e92",
      "label": "{% identifier}",
      "editorSize": "large",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": "#bcbcbc",
      "iconColor": "#444444",
      "contentElementTypeKey": "e9058913-5ad9-494c-8f25-f9271a2a1984",
      "settingsElementTypeKey": "0f53ff8d-b10a-47b0-934e-fe60130e07f4",
      "label": "{% identifier }",
      "editorSize": "large",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": "#f9cb9c",
      "iconColor": "#b45f06",
      "contentElementTypeKey": "80c635a3-b811-43e4-a10a-9c17bfe22d21",
      "settingsElementTypeKey": "09ffa1ac-a254-4a51-92e9-9d8c8b2c2231",
      "label": "{% identifier }",
      "editorSize": "large",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": "#fff2cc",
      "iconColor": "#7f6000",
      "contentElementTypeKey": "fae4b7ce-e86e-442a-b4da-c5e1baa3eef4",
      "settingsElementTypeKey": "f1a15a38-4355-4983-b71f-ba76ce5e32a0",
      "label": "{% identifier }",
      "editorSize": "large",
      "forceHideContentEditorInOverlay": false
    },
    {
      "contentElementTypeKey": "2ea5fd1d-c3fa-4161-befa-44e3a8ff88e2",
      "settingsElementTypeKey": "38d28af9-85ee-41b1-9b31-233620b1b990",
      "backgroundColor": "#f5b7b1",
      "iconColor": "#943126",
      "label": "{% identifier }",
      "editorSize": "large"
    },
    {
      "backgroundColor": "#cfe2f3",
      "iconColor": "#073763",
      "contentElementTypeKey": "69021ede-3114-43b4-96c8-5d2c66e7ebd1",
      "settingsElementTypeKey": "81e44a54-ba00-4100-b7a1-14d73a691ab9",
      "label": "{% identifier }",
      "editorSize": "large",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": "#d9ead3",
      "iconColor": "#274e13",
      "contentElementTypeKey": "34385df6-0f18-4856-ae99-0017c6df4598",
      "settingsElementTypeKey": "b9781603-9043-4dac-a5af-d92e74cb8539",
      "label": "{% identifier }",
      "editorSize": "large",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": "#ead1dc",
      "iconColor": "#4c1130",
      "contentElementTypeKey": "f3688870-05fb-4bdf-813f-dcca8a4acf99",
      "settingsElementTypeKey": "fdf673d8-8549-4d24-840b-f39da73d992c",
      "label": "{% identifier }",
      "editorSize": "large",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": "#d9d2e9",
      "iconColor": "#20124d",
      "contentElementTypeKey": "b34da64b-ee0c-471a-ae76-fe3799c17e82",
      "settingsElementTypeKey": "e2a1e522-68a7-4b39-9bd6-c9de1383d9d6",
      "label": "{% identifier }",
      "editorSize": "large",
      "forceHideContentEditorInOverlay": false
    },
    {
      "contentElementTypeKey": "a7c62f39-31ae-4de7-aeea-2e6dbfd62631",
      "label": "{% identifier }",
      "editorSize": "large",
      "settingsElementTypeKey": "e25af542-b77c-47f7-905a-a20b291c9ca8",
      "backgroundColor": "#a3e4d7",
      "iconColor": "#117864"
    },
    {
      "contentElementTypeKey": "55023e89-519f-47a1-b9ff-d4198467e6c5",
      "label": "{% identifier }",
      "editorSize": "large",
      "settingsElementTypeKey": "18b3a798-7076-47dc-8cef-da2c5dbd4ec1",
      "backgroundColor": "#d9f4cc",
      "iconColor": "#226600"
    },
    {
      "contentElementTypeKey": "40bd993c-a26a-436b-9517-424089a30510",
      "label": "{% identifier }",
      "editorSize": "large",
      "settingsElementTypeKey": "88d797a7-57d7-4d3a-ad03-440b055e8948",
      "backgroundColor": "#b0e4a3",
      "forceHideContentEditorInOverlay": false,
      "iconColor": "#1b3e12"
    },
    {
      "contentElementTypeKey": "9d9ae67f-59b4-4881-a173-833c6d0af190",
      "label": "Section",
      "settingsElementTypeKey": "68b867c4-a6cb-4294-86bd-07e62cee5276",
      "backgroundColor": "#e3d0bf",
      "iconColor": "#77838e"
    },
    {
      "contentElementTypeKey": "89a912cd-5da9-4920-a1d4-18eced9a23a8",
      "editorSize": "large",
      "settingsElementTypeKey": "42ed1955-59f5-4b55-82c3-ad9caf875002",
      "label": "{% identifier }",
      "backgroundColor": "#073763",
      "iconColor": "#a2c4c9"
    },
    {
      "contentElementTypeKey": "9e643206-3f19-4444-b196-64dcb0ec2596",
      "backgroundColor": "#003300",
      "iconColor": "#ccf4cc",
      "settingsElementTypeKey": "f8167ad4-3250-4d9e-bcdc-7861d8797ad1",
      "label": "{% identifier }",
      "editorSize": "large"
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {}
}]]></Config>
</DataType>