<?xml version="1.0" encoding="utf-8"?>
<DataType Key="516220c8-3403-448d-a543-7f690ecb3e36" Alias="Editor Opacity" Level="2">
  <Info>
    <Name>Editor Opacity</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Slider</EditorUIAlias>
    <Folder>Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "enableRange": false,
  "initVal1": 0,
  "initVal2": 0,
  "maxVal": 10,
  "minVal": -10,
  "step": 1
}]]></Config>
</DataType>