<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fb916e2b-6083-4349-92b1-29032a437463" Alias="Editor Theme Picker" Level="2">
  <Info>
    <Name>Editor Theme Picker</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.RadioButtonList</EditorUIAlias>
    <Folder>Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Inherit",
    "Default",
    "Venice",
    "Metallic Seaweed",
    "Deep Dairei",
    "Cactus Flower",
    "Mystic Tulip",
    "Poinciana"
  ]
}]]></Config>
</DataType>