<?xml version="1.0" encoding="utf-8"?>
<DataType Key="01189fec-877e-4da8-a177-d4366768a192" Alias="Editor Upload Ico" Level="2">
  <Info>
    <Name>Editor Upload Ico</Name>
    <EditorAlias>Umbraco.UploadField</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.UploadField</EditorUIAlias>
    <Folder>Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "fileExtensions": [
    "ico"
  ],
  "umbMigrationV14": "2025-04-01T10:00:43.1218244\u002B00:00"
}]]></Config>
</DataType>