<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f417c776-86f7-4153-abbb-00401e5ffce6" Alias="Editor Theme Shade Picker" Level="2">
  <Info>
    <Name>Editor Theme Shade Picker</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.RadioButtonList</EditorUIAlias>
    <Folder>Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Inherit",
    "Light",
    "Dark"
  ]
}]]></Config>
</DataType>