<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a1f912a2-d402-4d67-a146-fcd5f8b05ccb" Alias="Editor Coroner Inquest Api Version" Level="2">
  <Info>
    <Name>Editor Coroner Inquest Api Version</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Version 1",
    "Version 2"
  ]
}]]></Config>
</DataType>