<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6ee39440-96a2-41ef-b6e1-ea1720ce7ff9" Alias="Editor Image Pickers" Level="2">
  <Info>
    <Name>Editor Image Pickers</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
    <Folder>Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "enableLocalFocalPoint": false,
  "filter": "44ebd750-5741-4594-b61d-e1298024bc95",
  "ignoreUserStartNodes": false,
  "multiple": true,
  "umbMigrationV14": "2025-04-01T10:00:43.1206454\u002B00:00",
  "validationLimit": {}
}]]></Config>
</DataType>