<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a911bf48-ffa3-4c69-a541-ca3717c2f905" Alias="Editor Bus Time Table Type" Level="2">
  <Info>
    <Name>Editor Bus Time Table Type</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "List Bus Stops by Service",
    "List Services by Bus Stop",
    "List Days by Service at Bus Stop",
    "List Bus Times by Service at Bus Stop on Specific Day",
    "List Bus Times for all Bus Stops of a Specific Service on Specific Day"
  ]
}]]></Config>
</DataType>