<?xml version="1.0" encoding="utf-8"?>
<DataType Key="70dbfba9-45c2-4cf6-a12a-027093bd159c" Alias="Editor Hero Banner" Level="2">
  <Info>
    <Name>Editor Hero Banner</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "22222d3f-e002-4059-b55b-4443ebf6e1a6",
      "settingsElementTypeKey": "7d07f6fb-d10f-4b1e-9a83-8d0a525d9f3a",
      "label": "{% title }",
      "editorSize": "large",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": true,
  "validationLimit": {}
}]]></Config>
</DataType>