<?xml version="1.0" encoding="utf-8"?>
<DataType Key="790e4e12-7dff-412b-a097-8bc889bed55a" Alias="Editor Map" Level="2">
  <Info>
    <Name>Editor Map</Name>
    <EditorAlias>LCC.OpenStreetMap</EditorAlias>
    <EditorUIAlias>LCC.PropertyEditorUi.OpenStreetMap</EditorUIAlias>
    <Folder>Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "allowClear": false,
  "defaultPosition": {
    "boundingBox": {
      "northEastCorner": {
        "latitude": 53.758156336492355,
        "longitude": -2.701241970062256
      },
      "southWestCorner": {
        "latitude": 53.755619126845986,
        "longitude": -2.712689638137818
      }
    },
    "zoom": 16,
    "marker": {
      "latitude": 53.75733176016915,
      "longitude": -2.7087842993864113
    }
  },
  "scrollWheelZoom": true,
  "showCoordinates": false,
  "showSearch": true,
  "showSetMarkerByCoordinates": true
}]]></Config>
</DataType>