<?xml version="1.0" encoding="utf-8"?>
<DataType Key="22fc6395-1877-4c7c-88fc-ed82f52aa23a" Alias="Editor Card Image Style" Level="2">
  <Info>
    <Name>Editor Card Image Style</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Top",
    "Bottom",
    "Left",
    "Right",
    "Behind",
    "Hide"
  ],
  "multiple": false,
  "umbMigrationV14": "2025-04-01T10:00:43.1269785\u002B00:00"
}]]></Config>
</DataType>