<?xml version="1.0" encoding="utf-8"?>
<DataType Key="53db6aeb-e7ea-48f6-a065-dfacf140aae9" Alias="Editor Select Web Pages" Level="2">
  <Info>
    <Name>Editor Select Web Pages</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
    <Folder>Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "filter": "7c6590a9-8700-401a-9cb2-aabaa11a3bc4",
  "ignoreUserStartNodes": false,
  "maxNumber": 0,
  "minNumber": 0,
  "showOpenButton": false,
  "startNode": {
    "type": "content",
    "id": null,
    "dynamicRoot": null
  },
  "umbMigrationV14": "2025-04-01T10:00:43.1100048\u002B00:00"
}]]></Config>
</DataType>