<?xml version="1.0" encoding="utf-8"?>
<DataType Key="edc5c51a-d407-4ac6-a602-146589a5baa5" Alias="Editor Search Result Output" Level="2">
  <Info>
    <Name>Editor Search Result Output</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Highlight",
    "Abstract"
  ]
}]]></Config>
</DataType>