<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9ca78cc9-5e59-4012-a72e-dbe47fb27a6f" Alias="Editor Card Button Style" Level="2">
  <Info>
    <Name>Editor Card Button Style</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Button",
    "Button (Primary)",
    "Button (Secondary)",
    "Button (Success)",
    "Button (Danger)",
    "Button (Warning)",
    "Button (Info)",
    "Button (Light)",
    "Button (Dark)"
  ],
  "multiple": false,
  "umbMigrationV14": "2025-04-01T10:00:43.1275658\u002B00:00"
}]]></Config>
</DataType>