<?xml version="1.0" encoding="utf-8"?>
<DataType Key="553f4dd9-1773-48e4-b6c4-7cf05b35c1ab" Alias="Editor Bus Route Type" Level="2">
  <Info>
    <Name>Editor Bus Route Type</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "List Areas",
    "Search for Bus Routes by Route",
    "Search for Bus Stops by Location",
    "Map of Bus Route",
    "Map of Bus Stops"
  ]
}]]></Config>
</DataType>