<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1e5f2985-5a37-4548-94fa-7058d0f896ab" Alias="Editor Video Ratio" Level="2">
  <Info>
    <Name>Editor Video Ratio</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "21:9 (2650x1080 or 3440x1440)",
    "16:9 (1280x720 or 1920x1080)",
    "4:3 (640x480)",
    "1:1 (1024x1024)"
  ],
  "multiple": false,
  "umbMigrationV14": "2025-04-01T10:00:43.1259597\u002B00:00"
}]]></Config>
</DataType>