<?xml version="1.0" encoding="utf-8"?>
<DataType Key="02392be2-9c74-460d-b9cb-cb5f50650e6a" Alias="Editor Ribbon Badges" Level="2">
  <Info>
    <Name>Editor Ribbon Badges</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "21451094-03e6-4008-9408-b9d70ab6ae77",
      "settingsElementTypeKey": "d7809f1c-e31a-42d9-877b-cc1be44a0b98",
      "label": "{% header}"
    }
  ]
}]]></Config>
</DataType>