<?xml version="1.0" encoding="utf-8"?>
<DataType Key="448dbd6f-ebbb-4db1-9c3c-35edf1f5d1da" Alias="Editor Download Source Files" Level="2">
  <Info>
    <Name>Editor Download Source Files</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
    <Folder>Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "filter": "f38bd2d7-65d0-48e6-95dc-87ce06ec2d3d,63e5fc69-dd15-471a-8740-19a924af70ad",
  "multiple": true
}]]></Config>
</DataType>