<?xml version="1.0" encoding="utf-8"?>
<DataType Key="13aa11bd-8d9e-476c-9a9a-1de45f45615b" Alias="Editor Html Code" Level="2">
  <Info>
    <Name>Editor Html Code</Name>
    <EditorAlias>Umbraco.Plain.String</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.CodeEditor</EditorUIAlias>
    <Folder>Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "height": 400,
  "language": [
    "html"
  ],
  "lineNumbers": true,
  "minimap": true,
  "wordWrap": false
}]]></Config>
</DataType>