<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cf3479e7-fe3e-481f-a66c-2fa208d59c87" Alias="Editor Badge Icon Shape" Level="2">
  <Info>
    <Name>Editor Badge Icon Shape</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Circle",
    "Hexagon",
    "Square",
    "Star",
    "Triangle"
  ]
}]]></Config>
</DataType>