<?xml version="1.0" encoding="utf-8"?>
<DataType Key="298a56db-8f4e-4c9d-b224-2231515c55ed" Alias="Editor Text List" Level="2">
  <Info>
    <Name>Editor Text List</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
    <Folder>Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "max": 0,
  "min": 0
}]]></Config>
</DataType>