<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8cb8cece-0bad-4c86-a9d9-7fc62d726028" Alias="Editor List Type" Level="2">
  <Info>
    <Name>Editor List Type</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.RadioButtonList</EditorUIAlias>
    <Folder>Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Flexible grid",
    "Carousel"
  ]
}]]></Config>
</DataType>