<?xml version="1.0" encoding="utf-8"?>
<DataType Key="15e1e8e9-6b40-4d56-b896-8ab0987adc74" Alias="Editor Map Icon" Level="2">
  <Info>
    <Name>Editor Map Icon</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Blue Pin",
    "Green Pin",
    "Grey Pin",
    "Orange Pin",
    "Purple Circle",
    "Purple Pin",
    "Purple Push 1",
    "Purple Push 2",
    "Purple Tab",
    "Purple X",
    "Red Pin",
    "Yellow Pin"
  ]
}]]></Config>
</DataType>