<?xml version="1.0" encoding="utf-8"?>
<DataType Key="963d7179-74b1-4722-b802-b0a9f550079c" Alias="Editor Card Date Style" Level="2">
  <Info>
    <Name>Editor Card Date Style</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Show",
    "Hide"
  ]
}]]></Config>
</DataType>