<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c8ca160f-6929-4ba3-b064-9f6f406d03a7" Alias="Editor Subtheme Picker" Level="2">
  <Info>
    <Name>Editor Subtheme Picker</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.RadioButtonList</EditorUIAlias>
    <Folder>Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Inherit",
    "Primary",
    "Secondary",
    "Tertiary"
  ]
}]]></Config>
</DataType>