<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c60cc871-fedf-4049-90a3-3c173b32d310" Alias="Editor Card Time Style" Level="2">
  <Info>
    <Name>Editor Card Time Style</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Show",
    "Hide"
  ]
}]]></Config>
</DataType>