<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f7b9f9f2-52aa-44fe-8006-684e637bbf39" Alias="Editor Aside Embedded" Level="2">
  <Info>
    <Name>Editor Aside Embedded</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "backgroundColor": "#f4cccc",
      "iconColor": "#660000",
      "contentElementTypeKey": "ddc6ed43-5815-4f58-a925-2f455ec37331",
      "settingsElementTypeKey": "578ea88f-577b-4dec-98bb-bccbb961092d",
      "label": "Text: {=text | strip-html | truncate:40:\u2026}",
      "editorSize": "large",
      "forceHideContentEditorInOverlay": false
    },
    {
      "contentElementTypeKey": "b21e635e-eaec-41c4-911e-3f4b0d228b8c",
      "settingsElementTypeKey": "384ded8e-0d66-4e5f-844f-58d63e0f47cd",
      "backgroundColor": "#bcbcbc",
      "iconColor": "#444444",
      "label": "Image",
      "editorSize": "large"
    },
    {
      "backgroundColor": "#fff2cc",
      "iconColor": "#134f5c",
      "contentElementTypeKey": "c7359405-8ba9-44c0-a505-344b9c85cbc6",
      "settingsElementTypeKey": "46bf9bd3-b6d6-405b-983c-7816a59b7ec8",
      "label": "Link: {%link[0].name}",
      "editorSize": "large",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": "#073763",
      "iconColor": "#a2c4c9",
      "contentElementTypeKey": "3b381ffc-8be5-48b0-80ea-4c8ecc15a820",
      "settingsElementTypeKey": "778aa5c7-7e1c-4141-9444-81f112e391cb",
      "label": "Section Links",
      "editorSize": "large",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": "#660000",
      "iconColor": "#f4cccc",
      "contentElementTypeKey": "f6fa5270-fee4-4a56-a406-66f4a67c0a71",
      "settingsElementTypeKey": "e704d824-8b7e-4349-990d-24856ded31ac",
      "label": "Link Web Pages: {umbContentName: name}",
      "editorSize": "large",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": "#783f04",
      "iconColor": "#fce5cd",
      "contentElementTypeKey": "0626bea4-62f3-4d10-a34f-dc0e0663ed88",
      "settingsElementTypeKey": "f9a7475e-b03b-46f6-9afb-dba3af96390b",
      "label": "Link Children Web Pages",
      "editorSize": "large",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": "#351c75",
      "iconColor": "#b4a7d6",
      "contentElementTypeKey": "557c3aa9-dd1d-4c95-a6bc-7bdf27d6c496",
      "settingsElementTypeKey": "f2862d33-a7bc-4497-9ea1-2c896c124955",
      "label": "Link Media Items: {umbContentName: name}",
      "editorSize": "large",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": "#990000",
      "iconColor": "#ea9999",
      "contentElementTypeKey": "54b71d5f-1062-479c-87c5-e1aef9c78b34",
      "settingsElementTypeKey": "a196d96c-b789-4fa8-83e0-59f17f56b1da",
      "label": "Script: {=code | strip-html | truncate:20:\u2026}",
      "editorSize": "large",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {}
}]]></Config>
</DataType>