<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ecb08bf6-a1f0-4775-b142-a9083102e332" Alias="Editor Day Of Week" Level="2">
  <Info>
    <Name>Editor Day Of Week</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Monday",
    "Tuesday",
    "Wednesday",
    "Thursday",
    "Friday",
    "Saturday",
    "Sunday"
  ]
}]]></Config>
</DataType>