<?xml version="1.0" encoding="utf-8"?>
<DataType Key="39a87e6e-86ac-4ce1-a17c-796821ada295" Alias="Editor Carousel Height" Level="2">
  <Info>
    <Name>Editor Carousel Height</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Small",
    "Medium",
    "Large"
  ],
  "multiple": false,
  "umbMigrationV14": "2025-04-01T10:00:43.1172264\u002B00:00"
}]]></Config>
</DataType>