<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dc125439-8cb4-440b-80f3-ec895c6b34e7" Alias="Editor Map Type" Level="2">
  <Info>
    <Name>Editor Map Type</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Standard",
    "Public Right of Way",
    "Gritting",
    "Regions",
    "Cycle Routes"
  ]
}]]></Config>
</DataType>