<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3d91a179-dd76-4f88-8f0e-7bd317a0b665" Alias="Editor Table Source Picker" Level="2">
  <Info>
    <Name>Editor Table Source Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
    <Folder>Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "enableLocalFocalPoint": false,
  "filter": "149d1022-8255-4a7a-b472-3104ff44d384",
  "ignoreUserStartNodes": false,
  "multiple": false,
  "umbMigrationV14": "2025-04-01T10:00:43.1214049\u002B00:00",
  "validationLimit": {}
}]]></Config>
</DataType>