<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b26af86e-fbc7-425d-a38c-f33f07b7c4e1" Alias="Editor Gradient Color Picker" Level="2">
  <Info>
    <Name>Editor Gradient Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker.EyeDropper</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.EyeDropper</EditorUIAlias>
    <Folder>Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "showAlpha": false,
  "showPalette": true
}]]></Config>
</DataType>