<?xml version="1.0" encoding="utf-8"?>
<DataType Key="81579286-c067-4d20-92cd-b8a244fa0357" Alias="Editor True" Level="2">
  <Info>
    <Name>Editor True</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Toggle</EditorUIAlias>
    <Folder>Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "default": true,
  "showLabels": false
}]]></Config>
</DataType>