<?xml version="1.0" encoding="utf-8"?>
<DataType Key="acfeb844-b081-4d15-a293-0d87a6673ec9" Alias="Editor Timeslots" Level="2">
  <Info>
    <Name>Editor Timeslots</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "3ababe53-a528-4533-ba2d-e1c779bbdeaf",
      "label": "{=day} {=open} - {=close}",
      "editorSize": "medium"
    }
  ],
  "useInlineEditingAsDefault": false,
  "useSingleBlockMode": true
}]]></Config>
</DataType>