<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1dc8f6fb-8df2-4ea1-b26b-203a06ff5f88" Alias="Furniture Social Type" Level="2">
  <Info>
    <Name>Furniture Social Type</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>Furniture</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Twitter",
    "Facebook",
    "YouTube",
    "Flickr",
    "Rss",
    "Bluesky",
    "Instagram"
  ],
  "multiple": false,
  "umbMigrationV14": "2025-04-01T10:00:43.1234592\u002B00:00"
}]]></Config>
</DataType>