<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b9eb6e73-af15-494e-bafc-e8379c671b46" Alias="Furniture Status" Level="2">
  <Info>
    <Name>Furniture Status</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.RadioButtonList</EditorUIAlias>
    <Folder>Furniture</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Inherit",
    "Show"
  ]
}]]></Config>
</DataType>