<?xml version="1.0" encoding="utf-8"?>
<DataType Key="61066af4-261e-48c4-9b87-fda07d24eb4d" Alias="Furniture Link" Level="2">
  <Info>
    <Name>Furniture Link</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultiUrlPicker</EditorUIAlias>
    <Folder>Furniture</Folder>
  </Info>
  <Config><![CDATA[{
  "hideAnchor": false,
  "ignoreUserStartNodes": false,
  "maxNumber": 1,
  "minNumber": 0,
  "overlaySize": "medium"
}]]></Config>
</DataType>