<?xml version="1.0" encoding="utf-8"?>
<DataType Key="37154ad4-6450-4181-a339-1afe4fa433a8" Alias="Global Category Heading Description Status" Level="2">
  <Info>
    <Name>Global Category Heading Description Status</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.RadioButtonList</EditorUIAlias>
    <Folder>Global</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Inherit",
    "Hide",
    "Show"
  ]
}]]></Config>
</DataType>