<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ad3cc16c-b291-4f6f-8bdc-e9365fa539f0" Alias="Global Bus Time Table Picker" Level="2">
  <Info>
    <Name>Global Bus Time Table Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
    <Folder>Global</Folder>
  </Info>
  <Config><![CDATA[{
  "filter": "88a39dee-859e-4b9d-bd3b-0316c368a2a2",
  "maxNumber": 1,
  "minNumber": 0,
  "startNode": {
    "type": "content",
    "dynamicRoot": {
      "originAlias": "Root",
      "querySteps": [
        {
          "unique": "5af338e7-d6a8-4dfa-b1f7-18863cd5915b",
          "alias": "NearestAncestorOrSelf",
          "anyOfDocTypeKeys": [
            "1495b29e-751e-4e95-9309-f3b10e0ce40a"
          ]
        }
      ]
    }
  }
}]]></Config>
</DataType>