<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2e989f56-684a-4b91-9f52-ba9909ede306" Alias="Global Bus Route Picker" Level="2">
  <Info>
    <Name>Global Bus Route Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
    <Folder>Global</Folder>
  </Info>
  <Config><![CDATA[{
  "filter": "492cd49f-2c11-4c86-9233-b544841d71b3",
  "maxNumber": 1,
  "minNumber": 0,
  "startNode": {
    "type": "content",
    "dynamicRoot": {
      "originAlias": "Root",
      "querySteps": [
        {
          "unique": "c4f27fae-81bb-4ba4-b2fe-1a413f21995e",
          "alias": "NearestAncestorOrSelf",
          "anyOfDocTypeKeys": [
            "1495b29e-751e-4e95-9309-f3b10e0ce40a"
          ]
        }
      ]
    }
  }
}]]></Config>
</DataType>