<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bda10daa-63f0-4a14-8859-5db26dec2b46" Alias="Header Menu Position" Level="2">
  <Info>
    <Name>Header Menu Position</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.RadioButtonList</EditorUIAlias>
    <Folder>Furniture</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Inside Header Left Justified",
    "Inside Header Right Justified",
    "Below Header Left Justified",
    "Below Header Right Justified"
  ]
}]]></Config>
</DataType>