<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1575f9e9-a99d-4ec5-b384-7cfac5035517" Alias="Review Group" Level="2">
  <Info>
    <Name>Review Group</Name>
    <EditorAlias>Umbraco.UserPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.UserPicker</EditorUIAlias>
    <Folder>Furniture</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>