<?xml version="1.0" encoding="utf-8"?>
<DataType Key="10def01f-40a5-4293-a4ef-75121f4b461f" Alias="Review Status" Level="2">
  <Info>
    <Name>Review Status</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.RadioButtonList</EditorUIAlias>
    <Folder>Furniture</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Inherit",
    "Enable",
    "Disable"
  ]
}]]></Config>
</DataType>