<?xml version="1.0" encoding="utf-8"?>
<DataType Key="839a0674-d585-44bc-b54b-ef363abf37ae" Alias="Rss Feeds" Level="2">
  <Info>
    <Name>Rss Feeds</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Furniture</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "6883ae62-f20e-4075-b300-885546dbf76b",
      "label": "{% url}",
      "editorSize": "large"
    }
  ]
}]]></Config>
</DataType>