<?xml version="1.0" encoding="utf-8"?>
<DataType Key="71a05ae3-811f-48c8-bb32-fd27573ec497" Alias="Send Review Email Week Frequency" Level="2">
  <Info>
    <Name>Send Review Email Week Frequency</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>Furniture</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Monday",
    "Tuesday",
    "Wednesday",
    "Thursday",
    "Friday",
    "Saturday",
    "Sunday"
  ],
  "multiple": true
}]]></Config>
</DataType>