<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2582b92c-790d-483b-b4e8-99cd257eb538" Alias="Virtual Agent Status" Level="2">
  <Info>
    <Name>Virtual Agent Status</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.RadioButtonList</EditorUIAlias>
    <Folder>Furniture</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Inherit",
    "Enable",
    "Disable"
  ]
}]]></Config>
</DataType>