.theme-slate,
.theme-venice,
.theme-metallic-seaweed,
.theme-deep-dairei,
.theme-cactus-flower,
.theme-mystic-tulip,
.theme-poinciana,
.theme-golden-sands,
.theme-myrtle,
.theme-candy-floss,
.theme-mana,
.theme-goldfish,
.theme-avacado,
.theme-bumblebee {
    --cake-l-bread: #0c3571;
    --cake-l-breadactive: #0e2c5b;
    --cake-l-breadhover: #3b1e7c;
    --cake-l-breadbefore: #0c3571;
    --cake-d-bread: #ffffff;
    --cake-d-breadactive: #ffffff;
    --cake-d-breadhover: #ffffff;
    --cake-d-breadbefore: #ffffff;
}

.theme-light .breadcrumb a, .theme-light .breadcrumb a:visited  {
    color: var(--cake-l-bread, black);
}

.theme-light .breadcrumb .active {
    color: var(--cake-l-breadactive, black);
}

.theme-light .breadcrumb a:hover {
    color: var(--cake-l-breadhover, black);
}

.theme-light .breadcrumb-item+.breadcrumb-item::before {
    color: var(--cake-l-breadbefore, black);
}

.theme-dark .breadcrumb a, .theme-dark .breadcrumb a:visited  {
    color: var(--cake-d-bread, white);
}

.theme-dark .breadcrumb .active {
    color: var(--cake-d-breadactive, white);
}

.theme-dark .breadcrumb a:hover {
    color: var(--cake-d-breadhover, white);
}

.theme-dark .breadcrumb-item+.breadcrumb-item::before {
    color: var(--cake-d-breadbefore, white);
}
