.theme-slate,
.theme-venice,
.theme-metallic-seaweed,
.theme-deep-dairei,
.theme-cactus-flower,
.theme-mystic-tulip,
.theme-poinciana
.theme-golden-sands,
.theme-myrtle,
.theme-mana,
.theme-goldfish,
.theme-avacado,
.theme-bumblebee {
    --cake-l-th-bg: #0b0c0c;
    --cake-l-th-fg: #ffffff;
    --cake-l-td-bg: #ffffff;
    --cake-l-td-fg: #0b0c0c;
    --cake-d-th-bg: #ffffff;
    --cake-d-th-fg: #0b0c0c;
    --cake-d-td-bg: #0b0c0c;
    --cake-d-td-fg: #ffffff;
}

.theme-light th {
    color: var(--cake-l-th-fg, black);
    background-color: var(--cake-l-th-bg, black);
}

.theme-light td {
    color: var(--cake-l-td-fg, black);
    background-color: var(--cake-l-td-bg, black);
}

.theme-dark th {
    color: var(--cake-d-th-fg, white);
    background-color: var(--cake-d-th-bg, black);
}

.theme-dark td {
    color: var(--cake-d-td-fg, white);
    background-color: var(--cake-d-td-bg, black);
}
