<?xml version="1.0" encoding="utf-8"?>
<MediaType Key="bc1ee548-966c-4a8c-aa8c-2d7267d483a3" Alias="editorIcon" Level="1">
  <Info>
    <Name>Icon</Name>
    <Icon>icon-medal color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>ico files</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
  </Info>
  <GenericProperties>
    <GenericProperty>
      <Key>6052d5ca-464a-48e1-97a2-3835f6484e96</Key>
      <Name>Size</Name>
      <Alias>umbracoBytes</Alias>
      <Definition>930861bf-e262-4ead-a704-f99453565708</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Size in bytes]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="contents">Contents</Tab>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>650fbba6-74a8-49a5-acc6-98702d201083</Key>
      <Name>Type</Name>
      <Alias>umbracoExtension</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Icon type]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="contents">Contents</Tab>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>12b89a25-2b6a-4ce0-b25b-5eadc0c940d5</Key>
      <Name>Icon</Name>
      <Alias>umbracoFile</Alias>
      <Definition>01189fec-877e-4da8-a177-d4366768a192</Definition>
      <Type>Umbraco.UploadField</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Upload an ico file, normally 32 x 32 pixels]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="contents">Contents</Tab>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Structure />
  <Tabs>
    <Tab>
      <Key>b512b61d-0e77-4dab-a497-5fbd4fd0c6d1</Key>
      <Caption>Contents</Caption>
      <Alias>contents</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</MediaType>