<?xml version="1.0" encoding="utf-8"?>
<MediaType Key="f38bd2d7-65d0-48e6-95dc-87ce06ec2d3d" Alias="Folder" Level="2">
  <Info>
    <Name>Folder</Name>
    <Icon>icon-folder color-green</Icon>
    <Thumbnail>icon-folder</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>3a0156c4-3b8c-4803-bdc1-6871faa83fff</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Editor</Folder>
    <Compositions />
  </Info>
  <GenericProperties />
  <Structure>
    <MediaType Key="f38bd2d7-65d0-48e6-95dc-87ce06ec2d3d" SortOrder="0">Folder</MediaType>
    <MediaType Key="44ebd750-5741-4594-b61d-e1298024bc95" SortOrder="1">editorImage</MediaType>
    <MediaType Key="63e5fc69-dd15-471a-8740-19a924af70ad" SortOrder="2">editorDownload</MediaType>
    <MediaType Key="4de66e84-9ef7-4aff-90d3-2ba19254b5fe" SortOrder="3">editorVectorGraphics</MediaType>
    <MediaType Key="149d1022-8255-4a7a-b472-3104ff44d384" SortOrder="4">editorTableSource</MediaType>
    <MediaType Key="bc1ee548-966c-4a8c-aa8c-2d7267d483a3" SortOrder="5">editorIcon</MediaType>
    <MediaType Key="57405335-9e59-4ed7-8be7-b56dbb542668" SortOrder="6">editorVideo</MediaType>
  </Structure>
  <Tabs />
</MediaType>