<?xml version="1.0" encoding="utf-8"?>
<Domain Key="3cb2875b-0000-0000-0000-000000000000" Alias="https://localhost:44389/">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en-GB</Language>
    <Root Key="8df9a79d-b97a-4567-a573-cd4565932cf7">/lancashire.gov.uk/Home</Root>
  </Info>
</Domain>