<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1c96d8db-bd68-481e-89c6-fb0de4fd0468" Alias="categorysData" Level="2">
  <Info>
    <Name>Categories Data</Name>
    <Icon>icon-folder color-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Folder for Groups</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>c0808dd3-8133-4e4b-8ce8-e2bea84a96a4</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Global</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="9ce13bca-e0dd-4884-9686-140c2084d1c7" SortOrder="0">categoryHeaderData</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>18040a23-d521-425b-bd26-e4bf1f96c8c2</Key>
      <Name>Heading Description</Name>
      <Alias>headingDescription</Alias>
      <Definition>7cba2f6b-082a-4db3-94db-ef4402258aaf</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Display this description when this heading is selected. Only valid if Heading Description Status is Show and the specific Category Heading status is set to Inherit]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="contents">Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>65928326-f35b-4dd2-8a38-ae40a91e328a</Key>
      <Name>Heading Description Status</Name>
      <Alias>headingDescriptionStatus</Alias>
      <Definition>37154ad4-6450-4181-a339-1afe4fa433a8</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Should we show below Heading Description or not.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="contents">Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>98772e3d-7a17-49fb-94bb-7ddeb3d54519</Key>
      <Caption>Contents</Caption>
      <Alias>contents</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>