<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9ce13bca-e0dd-4884-9686-140c2084d1c7" Alias="categoryHeaderData" Level="2">
  <Info>
    <Name>Category Heading Data</Name>
    <Icon>icon-utilities color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Collection of Categories, selectable by a user by letter or number</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>c0808dd3-8133-4e4b-8ce8-e2bea84a96a4</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Global</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="05cc6f51-bd3b-4182-8c46-aad20ae18fa4" SortOrder="0">categoryData</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>9494a977-0ddd-4a9b-9856-6fb713b6022b</Key>
      <Name>Heading Description</Name>
      <Alias>headingDescription</Alias>
      <Definition>7cba2f6b-082a-4db3-94db-ef4402258aaf</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Display this description when this heading is selected. Only valid if Heading Description Status is Show or Inherits an Show status]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="contents">Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fbf23d73-ae70-4e7b-a67d-5b1c303489f4</Key>
      <Name>Heading Description Status</Name>
      <Alias>headingDescriptionStatus</Alias>
      <Definition>37154ad4-6450-4181-a339-1afe4fa433a8</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Inherit = Show or hide the heading description depending on what the parent node has set.
Show/Hide = Show or hide our own Heading title]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="contents">Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>f37b6b10-802f-4f99-8c2f-5c6ffc9a9f02</Key>
      <Caption>Contents</Caption>
      <Alias>contents</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>