<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="bfe5180f-2d1f-495f-bdf1-5ce8467774fc" Alias="editorMapEmbeddedSettings" Level="3">
  <Info>
    <Name>Map Settings</Name>
    <Icon>icon-settings</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Settings for Embedded Map</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor/Map</Folder>
    <Compositions>
      <Composition Key="17e2f28d-fa2d-4924-a4d8-91e0c134193f">editorMapBaseSettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>