<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0451ff3d-4840-454f-99fc-f79ff231786d" Alias="editorVideoBaseSettings" Level="3">
  <Info>
    <Name>Video Base Settings</Name>
    <Icon>icon-settings color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Base settings for video blocks</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor/Video</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e6e8c4a8-c111-4bd6-84f0-4527e82d8309</Key>
      <Name>Ratio</Name>
      <Alias>ratio</Alias>
      <Definition>1e5f2985-5a37-4548-94fa-7058d0f896ab</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Dimensions of the source Video. Usually 16:9 is standard]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>13b2f696-3489-4f60-98bc-134ab07ccd32</Key>
      <Name>Show Controls</Name>
      <Alias>showControls</Alias>
      <Definition>48937cd9-d490-4fa7-9c6d-634d3a816946</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Show controls to stop, start and skip]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>9e9aad55-9011-42db-b3c3-13676f95d909</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>