<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d0edea87-162e-4fb1-9cd5-1f2dc86fcd76" Alias="editorTextPanel" Level="3">
  <Info>
    <Name>Text Panel</Name>
    <Icon>icon-font color-deep-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Text panel</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor/Text</Folder>
    <Compositions>
      <Composition Key="5fc29d88-5bef-42e0-876e-2501ef70ae08">editorPanelName</Composition>
      <Composition Key="ddc6ed43-5815-4f58-a925-2f455ec37331">editorTextEmbedded</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>