<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a0c08459-b028-46a3-813d-6a34b230e90a" Alias="editorTableSourceFile" Level="3">
  <Info>
    <Name>File</Name>
    <Icon>icon-hard-drive-alt color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Use a data file as source for table</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor/Table</Folder>
    <Compositions>
      <Composition Key="9ba0416a-017a-4944-a132-959ddc286ec5">editorTableSourceFieldSeparator</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>16d77373-c2b1-4727-9fa3-aa8f72719182</Key>
      <Name>File</Name>
      <Alias>file</Alias>
      <Definition>3d91a179-dd76-4f88-8f0e-7bd317a0b665</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Link to a CSV or XLSX file used as source for Table]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="contents">Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>0cf5312a-715c-42f7-83ff-b046909d42ea</Key>
      <Caption>Contents</Caption>
      <Alias>contents</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>