<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="bf80d0b0-c726-4f75-89ea-92b24a209261" Alias="editorMapEmbedded" Level="3">
  <Info>
    <Name>Map</Name>
    <Icon>icon-map-marker color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Show a venue's location on an interactive map</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor/Map</Folder>
    <Compositions>
      <Composition Key="1871a002-b7ea-4de3-967a-644bd2a87045">editorMapBase</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>