<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="403eb37f-c21e-44b8-be96-8037548461f1" Alias="editorTextBlockCodeSettings" Level="3">
  <Info>
    <Name>Code Settings</Name>
    <Icon>icon-plugin</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor/Text</Folder>
    <Compositions>
      <Composition Key="e616ce9b-9b68-44e0-b0f5-68be27b21e8c">editorBackgroundSettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>cfddcb0d-db72-4904-8e1a-ae0d2d08dc44</Key>
      <Name>Syntax Highlight</Name>
      <Alias>syntaxHighlight</Alias>
      <Definition>81579286-c067-4d20-92cd-b8a244fa0357</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Do you wish to color text depending on its purpose within the language selected. Different colors will be attributed depending on the langauge.]]></Description>
      <SortOrder>1000</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>5b10b8f7-eff2-4398-8f5c-76534d366f5f</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>