<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="aecdcf60-de87-4338-ac77-58ca066b1551" Alias="editorTabsEmbeddedSettings" Level="3">
  <Info>
    <Name>Tabs Panel Settings</Name>
    <Icon>icon-settings color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Tab element</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor/Tabs</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a1adde52-de2f-4e23-a8dd-3ff68eee6e82</Key>
      <Name>Placement</Name>
      <Alias>placement</Alias>
      <Definition>e48f6c2a-f411-4285-bdeb-73c08541cd51</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Where to place tab strip]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>31d3962b-52fa-4a94-8501-ebe55203d516</Key>
      <Name>Style</Name>
      <Alias>style</Alias>
      <Definition>25b27223-2fc5-4eec-94ce-a1e337afdb5a</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select style of Panel selectors

Tabs = Uses lines to signify which panel is active.
Pills = Uses highlighted button to signify active panel.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>fa973534-6516-4560-b56e-eafb85cfdf50</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>