<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="54b71d5f-1062-479c-87c5-e1aef9c78b34" Alias="editorScriptEmbedded" Level="3">
  <Info>
    <Name>Script</Name>
    <Icon>icon-script-alt color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Embed custom Html</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor/Script</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>16aaf3a3-f823-4800-b557-cd9cd22d66a0</Key>
      <Name>Code</Name>
      <Alias>code</Alias>
      <Definition>13aa11bd-8d9e-476c-9a9a-1de45f45615b</Definition>
      <Type>Umbraco.Plain.String</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter Valid Html only]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="contents">Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>477db922-b939-423a-999f-5f6a573e0ec6</Key>
      <Name>Dangerous</Name>
      <Alias>dangerous</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Only input valid Html, otherwise you can potential corrupt the website.

<span style="color=red;">There is nothing stopping anyone entering malicious code that compromises the integrity of the website. </span>

Use with Caution]]></Description>
      <SortOrder>-1000</SortOrder>
      <Tab Alias="contents">Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>c535739f-74de-4228-b9d9-7a349e375275</Key>
      <Caption>Contents</Caption>
      <Alias>contents</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>