<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="11e25ca7-c9e5-4aa8-bd77-4272d8d75617" Alias="editorRibbonPanel" Level="3">
  <Info>
    <Name>Ribbon Panel</Name>
    <Icon>icon-stretch-horizontal color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Ribbon of icons with optional header and text</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor/Ribbon</Folder>
    <Compositions>
      <Composition Key="5fc29d88-5bef-42e0-876e-2501ef70ae08">editorPanelName</Composition>
      <Composition Key="de549de8-f473-4307-94fb-b67b1b24cfc8">editorRibbonBase</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>