<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1f297632-a1d2-4e8b-8ea8-6147d9248c24" Alias="editorListPanel" Level="3">
  <Info>
    <Name>List Panel</Name>
    <Icon>icon-columns color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Embedded list of blocks</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor/List</Folder>
    <Compositions>
      <Composition Key="e45cfb88-436f-43c0-9714-33a6bfacafa1">editorListEmbedded</Composition>
      <Composition Key="5fc29d88-5bef-42e0-876e-2501ef70ae08">editorPanelName</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>