<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8ecc7010-ff02-474f-8b4f-03a5e6c26f90" Alias="editorBlockPrimarySettingsBackground2ColorGradient" Level="2">
  <Info>
    <Name>Background Two Colour Gradient </Name>
    <Icon>icon-radio color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Set Background Two Colour Gradient </Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor</Folder>
    <Compositions>
      <Composition Key="f52a4108-be55-494f-860a-80d1dc150e73">editorBlockPrimarySettingsTextColor</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>bcf3516e-0ad1-472e-b8e4-c7a0aa6b941f</Key>
      <Name>Ending Colour</Name>
      <Alias>endingColor</Alias>
      <Definition>b26af86e-fbc7-425d-a38c-f33f07b7c4e1</Definition>
      <Type>Umbraco.ColorPicker.EyeDropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Colour that finishes the gradient]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="contents">Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d30eb650-61c5-43b6-9f43-10b1578e3257</Key>
      <Name>Type</Name>
      <Alias>gradientType</Alias>
      <Definition>a7b928de-b803-47a5-a053-76cb2a17292e</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Type of gradient required]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="contents">Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8fed9748-9ff6-446f-8ad0-dcad05896d30</Key>
      <Name>Starting Colour</Name>
      <Alias>startingColor</Alias>
      <Definition>b26af86e-fbc7-425d-a38c-f33f07b7c4e1</Definition>
      <Type>Umbraco.ColorPicker.EyeDropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Colour that starts the gradient]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="contents">Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>7b2a5032-4383-4689-9d6e-2b7e19a9be2c</Key>
      <Caption>Contents</Caption>
      <Alias>contents</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>