<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e9058913-5ad9-494c-8f25-f9271a2a1984" Alias="editorImagePrimary" Level="3">
  <Info>
    <Name>Full Sized Images</Name>
    <Icon>icon-picture color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Multiple Images</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor/Image</Folder>
    <Compositions>
      <Composition Key="c9aa2cd7-49c6-4ed1-8971-fee1f171d91d">editorBlockPrimary</Composition>
      <Composition Key="b21e635e-eaec-41c4-911e-3f4b0d228b8c">editorImageEmbedded</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>