<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f6fa5270-fee4-4a56-a406-66f4a67c0a71" Alias="editorSelectNodesAside" Level="3">
  <Info>
    <Name>Link Web Pages</Name>
    <Icon>icon-newspaper-alt color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Pick specific web pages to display as links</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor/Select+Nodes</Folder>
    <Compositions>
      <Composition Key="dfbbbe97-fac2-4c28-8114-ed347c904dde">editorSelectNodesBase</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>