<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="28f582a5-f4bd-45c4-9c33-ee78977565c6" Alias="editorCardEmbeddedSettings" Level="3">
  <Info>
    <Name>Card Settings</Name>
    <Icon>icon-settings color-deep-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Card Settings</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor/Card</Folder>
    <Compositions>
      <Composition Key="e438d8c7-c61a-4f74-aeb0-fc68c2d8d24f">editorActionEmbeddedSettings</Composition>
      <Composition Key="e616ce9b-9b68-44e0-b0f5-68be27b21e8c">editorBackgroundSettings</Composition>
      <Composition Key="97e21745-dec5-451a-82f0-3be21b0a8639">editorBorderSettings</Composition>
      <Composition Key="cc01ac84-0c6b-47aa-b61e-dd83f7d1c8d7">editorCardBaseSettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>