<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7c6590a9-8700-401a-9cb2-aabaa11a3bc4" Alias="editorPage" Level="2">
  <Info>
    <Name>Editor Page</Name>
    <Icon>icon-newspaper-alt color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Generic web page using Blocks as content</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Structure</Folder>
    <Compositions>
      <Composition Key="2975b1d3-eed3-4ae7-909e-1f901ec1edf9">alertTab</Composition>
      <Composition Key="d62b65de-1cb4-4068-88cf-409835eec827">asideTab</Composition>
      <Composition Key="802b6906-24ac-42c7-b902-76e77a117ce1">bannerTab</Composition>
      <Composition Key="a783948c-1f78-44de-88bb-d3800f5f35ab">categoriesTab</Composition>
      <Composition Key="805d70ee-d3e2-4c1c-a1e5-5961d04f7aa2">contentTab</Composition>
      <Composition Key="4709c999-7121-4bfe-8e36-d77b5a29a5f2">furnitureTab</Composition>
      <Composition Key="d80001b4-e753-48d7-901e-0a66c91718a5">pageTitleTab</Composition>
      <Composition Key="b5fddcba-be69-4862-a4b6-0c3a297bd995">seoTab</Composition>
      <Composition Key="dee735ae-fcd6-4553-b525-1e07e87c8721">subfooterTab</Composition>
      <Composition Key="032da123-16cd-4195-9850-46667175ad5d">themeTab</Composition>
    </Compositions>
    <DefaultTemplate>Editor</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="cbebb994-250c-4f99-ab85-8e38616efb0c">Editor</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="7c6590a9-8700-401a-9cb2-aabaa11a3bc4" SortOrder="0">editorPage</ContentType>
    <ContentType Key="68dbb203-a859-49e4-a038-9d4c6c0d5085" SortOrder="1">redirectPage</ContentType>
    <ContentType Key="19ca30bb-ce62-436c-953b-64885c8f4e8f" SortOrder="2">rewritePage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>