<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1fd543ab-c64e-47ae-b347-25fc2cf861d8" Alias="editorStepperEmbeddedSettings" Level="3">
  <Info>
    <Name>Stepper Settings</Name>
    <Icon>icon-settings color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Settings for Stepper</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor/Stepper</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>395a77b4-9a7b-4c3b-9ce0-bf8d5efe651d</Key>
      <Name>Icon Circle</Name>
      <Alias>iconCircle</Alias>
      <Definition>81579286-c067-4d20-92cd-b8a244fa0357</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Draw a circle around each Icon]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1a01a8dc-7877-496d-83bf-463ca62ddcbe</Key>
      <Name>Orientation</Name>
      <Alias>orientation</Alias>
      <Definition>d843226e-8c8e-488b-acda-094832ed8050</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Direction of steps]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>4c2e931c-1aa6-45fe-b853-b8a20664bf53</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>