<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="68b867c4-a6cb-4294-86bd-07e62cee5276" Alias="editorExpandableSectionPrimarySettings" Level="3">
  <Info>
    <Name>Expandable Section Settings</Name>
    <Icon>icon-settings</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Settings for Section</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor/Expandable+Section</Folder>
    <Compositions>
      <Composition Key="e616ce9b-9b68-44e0-b0f5-68be27b21e8c">editorBackgroundSettings</Composition>
      <Composition Key="53d466e9-ec7a-44f2-918d-0575d2101be6">editorBlockPrimarySettings</Composition>
      <Composition Key="94414b94-0317-4a4c-87f1-8c8e3fbfe316">editorExpandableSectionBaseSettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>