<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b0dc0e1e-7115-416e-bb7a-4e228d760bc0" Alias="editorOpeningTimesPanel" Level="3">
  <Info>
    <Name>Opening Times Panel</Name>
    <Icon>icon-alarm-clock color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>When is a venue open</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor/OpeningTimes</Folder>
    <Compositions>
      <Composition Key="43568e89-0812-4c65-8584-76c4618286fd">editorOpeningTimesEmbedded</Composition>
      <Composition Key="5fc29d88-5bef-42e0-876e-2501ef70ae08">editorPanelName</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>