<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="43568e89-0812-4c65-8584-76c4618286fd" Alias="editorOpeningTimesEmbedded" Level="3">
  <Info>
    <Name>Opening Times</Name>
    <Icon>icon-alarm-clock color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>When is a venue open</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor/OpeningTimes</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>fc73a4ec-d4e6-4a33-ab05-7516923fcd4f</Key>
      <Name>Footer</Name>
      <Alias>footer</Alias>
      <Definition>9fe054e5-cb81-4027-a076-763c174d9ddb</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Text placed below opening times]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="contents">Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d6013bb3-2706-4132-9394-af7022f51287</Key>
      <Name>Header</Name>
      <Alias>header</Alias>
      <Definition>2a2abbe8-8be8-4a3c-94c0-04f7719734fc</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Header for Opening Times]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="contents">Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f8ff1f95-12a6-4311-b9d4-520c3a3c95e2</Key>
      <Name>Text</Name>
      <Alias>text</Alias>
      <Definition>9fe054e5-cb81-4027-a076-763c174d9ddb</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Text placed above the opening times]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="contents">Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3c561f96-ec20-4fc0-8d1c-778db0330666</Key>
      <Name>Times</Name>
      <Alias>times</Alias>
      <Definition>acfeb844-b081-4d15-a293-0d87a6673ec9</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter start and end time for when the venue is open. If the venue closes in middle of the day, then create a start and end timeslot for the morning and create a separate timeslot with its own start and end time for the afternoon.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="contents">Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>e6ec821a-2634-4ae4-a6fd-5c4de0b3ecb2</Key>
      <Caption>Contents</Caption>
      <Alias>contents</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>