<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a783948c-1f78-44de-88bb-d3800f5f35ab" Alias="categoriesTab" Level="2">
  <Info>
    <Name>Categories Tab</Name>
    <Icon>icon-plugin</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Furniture</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b941dfc6-6713-4eb4-a304-15dd773dc0ce</Key>
      <Name>Categories</Name>
      <Alias>categories</Alias>
      <Definition>017ed8b8-fe54-40b2-a384-90bb8d16b288</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select which categories, if any, this page is associated with. 

Only pages that have Seo Enabled will be included in Category results. ]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="categories">Categories</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>52c6a64a-706d-46ba-8104-fd2bd7ff48c7</Key>
      <Caption>Categories</Caption>
      <Alias>categories</Alias>
      <Type>Tab</Type>
      <SortOrder>60</SortOrder>
    </Tab>
  </Tabs>
</ContentType>