<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3347987c-809a-45bc-acbc-aa41c8f12c1a" Alias="editorScriptPanel" Level="3">
  <Info>
    <Name>Script Panel</Name>
    <Icon>icon-script-alt color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Embed custom Html</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor/Script</Folder>
    <Compositions>
      <Composition Key="5fc29d88-5bef-42e0-876e-2501ef70ae08">editorPanelName</Composition>
      <Composition Key="54b71d5f-1062-479c-87c5-e1aef9c78b34">editorScriptEmbedded</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>