<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="94414b94-0317-4a4c-87f1-8c8e3fbfe316" Alias="editorExpandableSectionBaseSettings" Level="3">
  <Info>
    <Name>Expandable Section Base Settings</Name>
    <Icon>icon-plugin</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Base Settings for Expandable Section</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor/Expandable+Section</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>94336021-7d44-4782-a758-5a879f7680fa</Key>
      <Name>Collapsed Size Unit</Name>
      <Alias>collapsedSizeUnit</Alias>
      <Definition>8b919d6c-05ad-4aff-8d63-17d3cf24390f</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Screen Percentage = How much of the screen in percentage should be taken up by this section when section is in collapsed mode. Valid numbers are from 0 for invisible, to 100 the total screen size. The section height can be larger than the screen size.

Section Height = How much of the section should we display when in collapsed mode. Valid numbers are 0 for invisible to 100 the total section size which effectively negates the purpose of this section.

Fixed Height = Height in font units of em where 1 = height of normal font. Valid number are from 0 for invisible to the total section height as measured in font heights.]]></Description>
      <SortOrder>1101</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e182fd84-2868-4d95-9296-abc3ec37dad1</Key>
      <Name>Collapsed Size Value</Name>
      <Alias>collapsedSizeValue</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Value for Collapsed Size. What this value means depends on what the Unit is.]]></Description>
      <SortOrder>1102</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>22d8a79a-2e60-419a-a1d7-486fd04a0a1d</Key>
      <Name>Expand Collapse Method</Name>
      <Alias>expandCollapseMethod</Alias>
      <Definition>18d8be67-b233-4b1c-b962-1297220341c2</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[How does the user expand and collapse this section]]></Description>
      <SortOrder>1103</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0de7d795-63c4-42d7-9108-152c735a22de</Key>
      <Name>Intial State</Name>
      <Alias>initialState</Alias>
      <Definition>be52f0dc-506c-4bfc-aad8-f09a1d50f28e</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1100</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>bde802ad-1a65-4ad0-8db3-3b2475744243</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>