<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f1e9424a-1d32-44e4-8ded-23259205ec36" Alias="editorSelectMediaSettings" Level="3">
  <Info>
    <Name>Media Items Settings</Name>
    <Icon>icon-settings color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Settings for media items</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor/Select+Media</Folder>
    <Compositions>
      <Composition Key="e438d8c7-c61a-4f74-aeb0-fc68c2d8d24f">editorActionEmbeddedSettings</Composition>
      <Composition Key="e616ce9b-9b68-44e0-b0f5-68be27b21e8c">editorBackgroundSettings</Composition>
      <Composition Key="97e21745-dec5-451a-82f0-3be21b0a8639">editorBorderSettings</Composition>
      <Composition Key="cc01ac84-0c6b-47aa-b61e-dd83f7d1c8d7">editorCardBaseSettings</Composition>
      <Composition Key="a6683e99-6a65-46d0-be7f-3587cabef22e">editorOrderSettings</Composition>
      <Composition Key="4cd98dea-e3e3-4234-9972-b0db6dc793f7">editorSelectMediaDownloadSettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>