<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0626bea4-62f3-4d10-a34f-dc0e0663ed88" Alias="editorChildNodesAside" Level="3">
  <Info>
    <Name>Link Children Web Pages</Name>
    <Icon>icon-school color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Displays all children web page as links</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor/Child+Nodes</Folder>
    <Compositions>
      <Composition Key="cb3a1ebe-2a6e-458a-8fcd-d60b55b5f5f6">editorChildNodes</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>