<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="80fca2cb-f68e-447b-99b0-235a242575c7" Alias="editorScriptPanelSettings" Level="3">
  <Info>
    <Name>Script Panel Settings</Name>
    <Icon>icon-settings color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Settings for script</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor/Script</Folder>
    <Compositions>
      <Composition Key="a196d96c-b789-4fa8-83e0-59f17f56b1da">editorScriptEmbeddedSettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>