<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a6683e99-6a65-46d0-be7f-3587cabef22e" Alias="editorOrderSettings" Level="2">
  <Info>
    <Name>Shared Order Settings</Name>
    <Icon>icon-network-alt color-deep-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Order of nodes</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>cdbf25d9-b209-481f-a14e-a04fb3a208d3</Key>
      <Name>Order</Name>
      <Alias>order</Alias>
      <Definition>3424554f-b9e1-4bcb-84a3-8f3224a026d9</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Order of items]]></Description>
      <SortOrder>1000</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>14dcdcfd-a54a-4025-90a0-510621559930</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>