<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e2790eb9-be84-4f3b-bd24-4ace09360972" Alias="editorHeroBannerPrimary" Level="3">
  <Info>
    <Name>Hero Banner</Name>
    <Icon>icon-birthday-cake color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Large image with optional text and link</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor/Hero+Banner</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>73e0a80d-a691-471d-bf92-1eb5044d3183</Key>
      <Name>_</Name>
      <Alias>body</Alias>
      <Definition>70dbfba9-45c2-4cf6-a12a-027093bd159c</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="contents">Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>a77848f2-5b90-47f6-bdc4-e234871d2066</Key>
      <Caption>Contents</Caption>
      <Alias>contents</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>