<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e616ce9b-9b68-44e0-b0f5-68be27b21e8c" Alias="editorBackgroundSettings" Level="2">
  <Info>
    <Name>Shared Background Settings</Name>
    <Icon>icon-plugin</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Sets background for block</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c23fe345-9055-495b-a93f-0ab3eed01b3c</Key>
      <Name>Override Colours</Name>
      <Alias>overrideColor</Alias>
      <Definition>d19af56c-4648-4f91-b72a-1739f08ebf16</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[OR Set the background to your own specific colour, image or gradient. If set will override current Subtheme.]]></Description>
      <SortOrder>200</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d3eb6001-012f-4cbe-ba77-27f707bc0cd6</Key>
      <Name>Subtheme</Name>
      <Alias>subtheme</Alias>
      <Definition>c8ca160f-6929-4ba3-b064-9f6f406d03a7</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Change subtheme for this item.
Inherit = Use same subtheme as page ]]></Description>
      <SortOrder>-50</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>70c6d872-d2f1-43d7-a5d3-dcec45b4f8ee</Key>
      <Name>Shade</Name>
      <Alias>themeShade</Alias>
      <Definition>f417c776-86f7-4153-abbb-00401e5ffce6</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Change section to dark or light mode.
Inherit = Use whichever mode the page has]]></Description>
      <SortOrder>-45</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>27634b29-ebc6-4cd5-a3ba-61e9cd5261e0</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>