<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="46f29692-9570-4a76-9634-d028eb4914f4" Alias="editorBlockPrimarySettingsBackgroundImage" Level="2">
  <Info>
    <Name>Background Image</Name>
    <Icon>icon-picture color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Set background image</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor</Folder>
    <Compositions>
      <Composition Key="f52a4108-be55-494f-860a-80d1dc150e73">editorBlockPrimarySettingsTextColor</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>2b7d2fbe-8aa4-4a97-95a1-277d8f08f9cb</Key>
      <Name>Image</Name>
      <Alias>image</Alias>
      <Definition>5a50c29b-7929-4a33-9055-b9f9d9d9c921</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Background Image]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="contents">Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bec8a383-e30b-4335-b1a8-f70a317ef0b3</Key>
      <Name>Opacity</Name>
      <Alias>opacity</Alias>
      <Definition>516220c8-3403-448d-a543-7f690ecb3e36</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[-10 = Completely bright
-5 = 50% lightened
0 = original image
+5 = 50% darkened
+10 = Completely dark]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="contents">Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>511502fa-7324-4755-9267-638254779568</Key>
      <Caption>Contents</Caption>
      <Alias>contents</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>