<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c34f79bb-ca79-40a2-ad47-7bbdec24ae07" Alias="editorTableEmbedded" Level="3">
  <Info>
    <Name>Sub Table</Name>
    <Icon>icon-grid color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Show contents as a table element</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor/Table</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>46fb5f57-ca71-40c2-a925-5d5a439b9d03</Key>
      <Name>Source</Name>
      <Alias>source</Alias>
      <Definition>fda76680-e3a0-4627-8ce5-8d0c032cf755</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Source of data]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="contents">Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>3479e94e-8e14-4a5e-8c85-613951ead6d1</Key>
      <Caption>Contents</Caption>
      <Alias>contents</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>