<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9d2d4e26-45f7-4ea8-b640-e734b31a2068" Alias="editorActionEmbedded" Level="3">
  <Info>
    <Name>Action</Name>
    <Icon>icon-link color-deep-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Link to either a web page or a media item using a button or underlined text</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor/Action</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c255ff86-38a2-484f-86ca-b23920ffc668</Key>
      <Name>Link</Name>
      <Alias>link</Alias>
      <Definition>2c457913-dddd-4ebc-9134-fc3e4c60cad4</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Where does this link go to, can be a web page or media item either as part of this web site or from the cloud]]></Description>
      <SortOrder>100</SortOrder>
      <Tab Alias="contents">Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>5f618428-7fb7-4b4c-aa2a-837f240ee4c5</Key>
      <Caption>Contents</Caption>
      <Alias>contents</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>