<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="aacb5e90-d202-44f5-8212-b90391e2bbfd" Alias="editorPanel" Level="2">
  <Info>
    <Name>Shared Panel Blocks</Name>
    <Icon>icon-indent color-deep-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Block container</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>20f2f448-bf4e-4591-b7e3-6f7dcafcecbb</Key>
      <Name>_</Name>
      <Alias>panelBlocks</Alias>
      <Definition>e24a3503-71f0-42e7-a6b7-5a502c837025</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="contents">Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>630d0c31-aa41-4315-8cff-0762b4b42dd7</Key>
      <Caption>Contents</Caption>
      <Alias>contents</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>