<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7d5903fe-3010-4992-9c34-1e3ac30b2e05" Alias="editorActionDefaultSettings" Level="3">
  <Info>
    <Name>Default Settings</Name>
    <Icon>icon-settings color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Settings for a link</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor/Action</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b50f8536-6061-43fb-8bd5-26a186aa70e7</Key>
      <Name>Default Action Style</Name>
      <Alias>styleAction</Alias>
      <Definition>aa9c1698-a9d9-4ec6-9aff-b98556785b3f</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Display any links as a button or underlined text with optional icon]]></Description>
      <SortOrder>500</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0e1ba274-b3b0-47b5-816f-369e01b1ba1b</Key>
      <Name>Default Action Alignment</Name>
      <Alias>styleActionAlignment</Alias>
      <Definition>3b74f32c-d8e6-42ab-8489-de5e1c503af9</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Location of Button or Link.
Absolute = Will position over the top of other items (if applicable).
Relative = Will try and make other items flow around it (if applicable).]]></Description>
      <SortOrder>511</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b47e02be-4d9a-46c2-8bf1-e77d00856c83</Key>
      <Name>Default Action Click Area</Name>
      <Alias>styleActionClickArea</Alias>
      <Definition>921816ce-7022-4ea2-9f7e-a6929f396a3a</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Which area can be clicked]]></Description>
      <SortOrder>510</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>c4afa750-bb08-4697-9e85-722847298fa2</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>