<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f170f3bb-eb8c-45d0-9774-35ee23f25233" Alias="editorTableSourceBlocks" Level="3">
  <Info>
    <Name>Blocks</Name>
    <Icon>icon-thumbnails-small color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Custom blocks</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor/Table</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>503296ce-275e-4e57-8a47-3fc1b1fb4733</Key>
      <Name>_</Name>
      <Alias>listBlocks</Alias>
      <Definition>976b8eae-70b2-413d-9157-e46d641aa580</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="contents">Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>8b1056f6-0b9e-41a1-b114-65f8ca533f06</Key>
      <Caption>Contents</Caption>
      <Alias>contents</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>