<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7add1b5c-2866-4e4a-9c8e-34a4ad5e29db" Alias="furnitureSocialItem" Level="2">
  <Info>
    <Name>Social Media</Name>
    <Icon>icon-backspace color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Social Media Item</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Furniture</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>4182c7de-b622-431b-ac39-0e4f2702936b</Key>
      <Name>Link</Name>
      <Alias>link</Alias>
      <Definition>61066af4-261e-48c4-9b87-fda07d24eb4d</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Link to this social media]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="socialMedia">Social Media</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2562ff2a-6f16-46c8-bf53-5b8b111f158c</Key>
      <Name>Type</Name>
      <Alias>socialType</Alias>
      <Definition>1dc8f6fb-8df2-4ea1-b26b-203a06ff5f88</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[What type of social media link is this]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="socialMedia">Social Media</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>d00a7088-d075-418e-896a-4735e3eb3848</Key>
      <Caption>Social Media</Caption>
      <Alias>socialMedia</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>