<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="720f971d-d9da-4116-afe2-cea9d88b897a" Alias="securityTab" Level="2">
  <Info>
    <Name>Security Tab</Name>
    <Icon>icon-security-camera color-lime</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Security file</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Furniture</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>57a8386a-bf2e-4e47-83f8-23c7f0b764bb</Key>
      <Name>Acknowledgments</Name>
      <Alias>securityAcknowledgments</Alias>
      <Definition>5b9d6939-d41b-4725-b86e-539731d05a5b</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[A link to a web page where you say thank you to security researchers who have helped you]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="security">Security</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f7589222-f2f5-456e-ac1b-217c99af52c3</Key>
      <Name>Contact</Name>
      <Alias>securityContact</Alias>
      <Definition>5b9d6939-d41b-4725-b86e-539731d05a5b</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Email address (start with mailto:) or link to web page that contents information on how to contact this web site about security issues. Expect spam]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="security">Security</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>abf3b2bb-1579-43a3-9755-8d19545eb03b</Key>
      <Name>Digital Signature</Name>
      <Alias>securityDigitalSignature</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Only ever copy a public accessible key here, keep any private keys secret. See <a href="https://www.rfc-editor.org/rfc/rfc9116#section-2.3" target="_blank">Digital Signature</a> for more info]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="security">Security</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>db61522e-d95f-4610-9ae2-97bc48256492</Key>
      <Name>Enable Security</Name>
      <Alias>securityEnable</Alias>
      <Definition>81579286-c067-4d20-92cd-b8a244fa0357</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Publish a <a href="/.well-known/security.txt" target="_new">/.well-known/security.txt</a> file. See <a href="https://securitytxt.org/" target="_new">securitytxt.org</a> for more details]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="security">Security</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4c4583cd-74aa-4814-b70d-072cf700f134</Key>
      <Name>Hiring</Name>
      <Alias>securityHiring</Alias>
      <Definition>5b9d6939-d41b-4725-b86e-539731d05a5b</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Link to a jobs page]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="security">Security</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>755c74b7-b706-40e9-ab41-d13639acc395</Key>
      <Name>Security Policy</Name>
      <Alias>securityPolicy</Alias>
      <Definition>5b9d6939-d41b-4725-b86e-539731d05a5b</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Which page holds the security policy information]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="security">Security</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>29fa3413-bf85-4fac-8d14-54ccef2abdc2</Key>
      <Caption>Security</Caption>
      <Alias>security</Alias>
      <Type>Tab</Type>
      <SortOrder>110</SortOrder>
    </Tab>
  </Tabs>
</ContentType>