<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="032da123-16cd-4195-9850-46667175ad5d" Alias="themeTab" Level="2">
  <Info>
    <Name>Theme Tab</Name>
    <Icon>icon-palette color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Select theme for page</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Furniture</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b7e4f601-1679-42cf-8cde-f197beeb74ca</Key>
      <Name>Subtheme</Name>
      <Alias>pageSubtheme</Alias>
      <Definition>c8ca160f-6929-4ba3-b064-9f6f406d03a7</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Variant of theme.
Inherit = Use same subtheme as parent page]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="theme">Theme</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>11352ce9-94a2-433f-9ac2-27bf2f384835</Key>
      <Name>Theme</Name>
      <Alias>pageTheme</Alias>
      <Definition>fb916e2b-6083-4349-92b1-29032a437463</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Theme for this page.
Inherit = Use same theme as parent page]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="theme">Theme</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7b11d348-b9b1-4109-9487-cb2124b5af03</Key>
      <Name>Shade</Name>
      <Alias>pageThemeShade</Alias>
      <Definition>f417c776-86f7-4153-abbb-00401e5ffce6</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Overall shade of page. 
Inherit = Use same intensity as parent page.
Light = Bright page with dark text.
Dark = Dark page with light text.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="theme">Theme</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>3967890c-8674-4fdb-b637-56ffdd41c5ef</Key>
      <Caption>Theme</Caption>
      <Alias>theme</Alias>
      <Type>Tab</Type>
      <SortOrder>70</SortOrder>
    </Tab>
  </Tabs>
</ContentType>