<?xml version="1.0" encoding="utf-8"?>
<Content Key="ad94a842-d927-428b-9c43-75ffa777069e" Alias="Adoption" Level="4">
  <Info>
    <Parent Key="9b8926c8-2c65-42a4-b181-55acb7877b00">A</Parent>
    <Path>/GlobalData/Categories/A/Adoption</Path>
    <Trashed>false</Trashed>
    <ContentType>categoryData</ContentType>
    <CreateDate>2025-10-01T17:50:03</CreateDate>
    <NodeName Default="Adoption" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
  </Properties>
</Content>