<?xml version="1.0" encoding="utf-8"?>
<Content Key="7c6d723c-7310-4bf4-bb8d-a0955ad03581" Alias="Blue Badges" Level="4">
  <Info>
    <Parent Key="a5edfa5e-ae88-4978-bec7-257b2385d9ae">B</Parent>
    <Path>/GlobalData/Categories/B/BlueBadges</Path>
    <Trashed>false</Trashed>
    <ContentType>categoryData</ContentType>
    <CreateDate>2025-10-09T16:26:27</CreateDate>
    <NodeName Default="Blue Badges" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
  </Properties>
</Content>