<?xml version="1.0" encoding="utf-8"?>
<Content Key="e05d3b84-f0ec-4136-b3eb-405781ab0784" Alias="Bus Stop Map" Level="4">
  <Info>
    <Parent Key="d56a3dc8-855f-48ae-b312-13231a69cb92">Bus</Parent>
    <Path>/lancashiregovuk/Home/Bus/BusStopMap</Path>
    <Trashed>false</Trashed>
    <ContentType>editorPage</ContentType>
    <CreateDate>2025-09-24T10:32:10</CreateDate>
    <NodeName Default="Bus Stop Map" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cbebb994-250c-4f99-ab85-8e38616efb0c">Editor</Template>
  </Info>
  <Properties>
    <alertStatus>
      <Value><![CDATA[Inherit]]></Value>
    </alertStatus>
    <alertText>
      <Value><![CDATA[]]></Value>
    </alertText>
    <alertTitle>
      <Value><![CDATA[]]></Value>
    </alertTitle>
    <alertType>
      <Value><![CDATA[]]></Value>
    </alertType>
    <asideContent>
      <Value><![CDATA[]]></Value>
    </asideContent>
    <asideFixed>
      <Value><![CDATA[]]></Value>
    </asideFixed>
    <asideOffset>
      <Value><![CDATA[]]></Value>
    </asideOffset>
    <asideStatus>
      <Value><![CDATA[Inherit]]></Value>
    </asideStatus>
    <bannerContent>
      <Value><![CDATA[]]></Value>
    </bannerContent>
    <bannerHeroImage>
      <Value><![CDATA[]]></Value>
    </bannerHeroImage>
    <bannerStatus>
      <Value><![CDATA[Inherit]]></Value>
    </bannerStatus>
    <body>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "9cd1f41e-8db7-498b-a4f1-db27180a4728",
      "key": "2ed64426-c917-4182-8d5d-cff2e70be090",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [
                {
                  "contentTypeKey": "bc470a04-8377-4fda-bdb5-beeb2e3b5fd9",
                  "key": "d81bba6e-e3f0-42b8-8f1c-5de31a6f8194",
                  "udi": null,
                  "values": [
                    {
                      "alias": "field",
                      "culture": null,
                      "editorAlias": null,
                      "segment": null,
                      "value": [
                        "Bus Route"
                      ]
                    }
                  ]
                },
                {
                  "contentTypeKey": "bc470a04-8377-4fda-bdb5-beeb2e3b5fd9",
                  "key": "27c8452c-9e13-4b6b-8641-7f5c2d862e4b",
                  "udi": null,
                  "values": [
                    {
                      "alias": "field",
                      "culture": null,
                      "editorAlias": null,
                      "segment": null,
                      "value": [
                        "Bus Stop"
                      ]
                    }
                  ]
                },
                {
                  "contentTypeKey": "bc470a04-8377-4fda-bdb5-beeb2e3b5fd9",
                  "key": "c93e7691-11f8-4493-bdc4-97b5ec4b57a8",
                  "udi": null,
                  "values": [
                    {
                      "alias": "field",
                      "culture": null,
                      "editorAlias": null,
                      "segment": null,
                      "value": [
                        "Bus Day"
                      ]
                    }
                  ]
                }
              ],
              "settingsData": [
                {
                  "contentTypeKey": "76907976-1596-4f54-b40f-b728a46e4afc",
                  "key": "17719f35-8b1b-463e-bde2-031f2b3351ab",
                  "udi": null,
                  "values": []
                },
                {
                  "contentTypeKey": "76907976-1596-4f54-b40f-b728a46e4afc",
                  "key": "15c05efd-12a9-4b8a-9192-ce27bf9320c3",
                  "udi": null,
                  "values": []
                },
                {
                  "contentTypeKey": "76907976-1596-4f54-b40f-b728a46e4afc",
                  "key": "af4e973a-3158-4fb8-bf98-0af3bf8c5249",
                  "udi": null,
                  "values": []
                }
              ],
              "expose": [
                {
                  "contentKey": "d81bba6e-e3f0-42b8-8f1c-5de31a6f8194",
                  "culture": null,
                  "segment": null
                },
                {
                  "contentKey": "27c8452c-9e13-4b6b-8641-7f5c2d862e4b",
                  "culture": null,
                  "segment": null
                },
                {
                  "contentKey": "c93e7691-11f8-4493-bdc4-97b5ec4b57a8",
                  "culture": null,
                  "segment": null
                }
              ],
              "Layout": {
                "Umbraco.RichText": [
                  {
                    "contentKey": "d81bba6e-e3f0-42b8-8f1c-5de31a6f8194",
                    "contentUdi": null,
                    "settingsKey": "17719f35-8b1b-463e-bde2-031f2b3351ab",
                    "settingsUdi": null
                  },
                  {
                    "contentKey": "27c8452c-9e13-4b6b-8641-7f5c2d862e4b",
                    "contentUdi": null,
                    "settingsKey": "15c05efd-12a9-4b8a-9192-ce27bf9320c3",
                    "settingsUdi": null
                  },
                  {
                    "contentKey": "c93e7691-11f8-4493-bdc4-97b5ec4b57a8",
                    "contentUdi": null,
                    "settingsKey": "af4e973a-3158-4fb8-bf98-0af3bf8c5249",
                    "settingsUdi": null
                  }
                ]
              }
            },
            "markup": "\u003Cp\u003EBus Route =\u0026nbsp;\u003Cumb-rte-block-inline data-content-key=\u0022d81bba6e-e3f0-42b8-8f1c-5de31a6f8194\u0022\u003E\u003C/umb-rte-block-inline\u003E\u003C/p\u003E\u003Cp\u003EBus Stop =\u0026nbsp;\u003Cumb-rte-block-inline data-content-key=\u002227c8452c-9e13-4b6b-8641-7f5c2d862e4b\u0022\u003E\u003C/umb-rte-block-inline\u003E\u003C/p\u003E\u003Cp\u003EBus Day =\u0026nbsp;\u003Cumb-rte-block-inline data-content-key=\u0022c93e7691-11f8-4493-bdc4-97b5ec4b57a8\u0022\u003E\u003C/umb-rte-block-inline\u003E\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Introduction"
        }
      ]
    },
    {
      "contentTypeKey": "793dcf15-687f-44f8-a4db-40364fdf27eb",
      "key": "220749af-1d03-457b-8b44-e143ca9264bb",
      "udi": null,
      "values": [
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Map of Bus stop"
        },
        {
          "alias": "busRouteApi",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://document/2a266658ddcc4730b23471778d2aea0f"
        },
        {
          "alias": "displayType",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "[\u0022Map of Bus Stops\u0022]"
        },
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": 1
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "31095fb6-f9a3-4bb1-b559-d353a1ff0e92",
      "key": "d112c879-a377-4c9c-9060-cc01c5a5457c",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ff9ad762-45f8-4755-88d7-25cb804e416e",
      "key": "1d2f0b70-a687-48c4-87a6-9b712e774517",
      "udi": null,
      "values": [
        {
          "alias": "showSearch",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "pageSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "2ed64426-c917-4182-8d5d-cff2e70be090",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "220749af-1d03-457b-8b44-e143ca9264bb",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "2ed64426-c917-4182-8d5d-cff2e70be090",
        "contentUdi": null,
        "settingsKey": "d112c879-a377-4c9c-9060-cc01c5a5457c",
        "settingsUdi": null
      },
      {
        "contentKey": "220749af-1d03-457b-8b44-e143ca9264bb",
        "contentUdi": null,
        "settingsKey": "1d2f0b70-a687-48c4-87a6-9b712e774517",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </body>
    <categories>
      <Value><![CDATA[]]></Value>
    </categories>
    <furnitureBreadcrumbsColor>
      <Value><![CDATA[]]></Value>
    </furnitureBreadcrumbsColor>
    <furnitureBreadcrumbStatus>
      <Value><![CDATA[Inherit Breadcrumb Status]]></Value>
    </furnitureBreadcrumbStatus>
    <furnitureBreadcrumbSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureBreadcrumbSubtheme>
    <furnitureBreadcrumbThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureBreadcrumbThemeShade>
    <furnitureFooterColor>
      <Value><![CDATA[]]></Value>
    </furnitureFooterColor>
    <furnitureFooterInformation>
      <Value><![CDATA[]]></Value>
    </furnitureFooterInformation>
    <furnitureFooterMenu>
      <Value><![CDATA[]]></Value>
    </furnitureFooterMenu>
    <furnitureFooterMessage>
      <Value><![CDATA[]]></Value>
    </furnitureFooterMessage>
    <furnitureFooterSocialMediaLinks>
      <Value><![CDATA[]]></Value>
    </furnitureFooterSocialMediaLinks>
    <furnitureFooterSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureFooterSubtheme>
    <furnitureFooterThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureFooterThemeShade>
    <furnitureHeaderColor>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderColor>
    <furnitureHeaderMenu>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderMenu>
    <furnitureHeaderMenuPosition>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderMenuPosition>
    <furnitureHeaderSticky>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderSticky>
    <furnitureHeaderSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureHeaderSubtheme>
    <furnitureHeaderThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureHeaderThemeShade>
    <furnitureLogoImage>
      <Value><![CDATA[]]></Value>
    </furnitureLogoImage>
    <furnitureLogoRatio>
      <Value><![CDATA[]]></Value>
    </furnitureLogoRatio>
    <furniturePageTitlePromote>
      <Value><![CDATA[]]></Value>
    </furniturePageTitlePromote>
    <furniturePageTitleSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </furniturePageTitleSubtheme>
    <furniturePageTitleThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </furniturePageTitleThemeShade>
    <furnitureShowAllServices>
      <Value><![CDATA[]]></Value>
    </furnitureShowAllServices>
    <furnitureShowHeaderMenuOnLargerDevices>
      <Value><![CDATA[]]></Value>
    </furnitureShowHeaderMenuOnLargerDevices>
    <furnitureShowHeaderMenuOnSmallerDevices>
      <Value><![CDATA[]]></Value>
    </furnitureShowHeaderMenuOnSmallerDevices>
    <furnitureShowSearchBar>
      <Value><![CDATA[]]></Value>
    </furnitureShowSearchBar>
    <furnitureStatus>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureStatus>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <pageHeader>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003ENearby Bus Stops\u003C/p\u003E"
}]]></Value>
    </pageHeader>
    <pageSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </pageSubtheme>
    <pageTheme>
      <Value><![CDATA[Inherit]]></Value>
    </pageTheme>
    <pageThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </pageThemeShade>
    <reviewComments>
      <Value><![CDATA[]]></Value>
    </reviewComments>
    <reviewDate>
      <Value><![CDATA[]]></Value>
    </reviewDate>
    <reviewGroup>
      <Value><![CDATA[]]></Value>
    </reviewGroup>
    <reviewStatus>
      <Value><![CDATA[Inherit]]></Value>
    </reviewStatus>
    <seoAbstract>
      <Value><![CDATA[]]></Value>
    </seoAbstract>
    <seoCanonicalUrl>
      <Value><![CDATA[]]></Value>
    </seoCanonicalUrl>
    <seoDatePublished>
      <Value><![CDATA[]]></Value>
    </seoDatePublished>
    <seoDescription>
      <Value><![CDATA[]]></Value>
    </seoDescription>
    <seoPriority>
      <Value><![CDATA[]]></Value>
    </seoPriority>
    <seoPromotedSearchTerms>
      <Value><![CDATA[]]></Value>
    </seoPromotedSearchTerms>
    <seoStatus>
      <Value><![CDATA[Inherit]]></Value>
    </seoStatus>
    <seoThumbnail>
      <Value><![CDATA[]]></Value>
    </seoThumbnail>
    <subfooterColor>
      <Value><![CDATA[]]></Value>
    </subfooterColor>
    <subfooterShowLastUpdatedDate>
      <Value><![CDATA[]]></Value>
    </subfooterShowLastUpdatedDate>
    <subfooterShowNextReviewDate>
      <Value><![CDATA[]]></Value>
    </subfooterShowNextReviewDate>
    <subfooterShowReturnToTopIcon>
      <Value><![CDATA[]]></Value>
    </subfooterShowReturnToTopIcon>
    <subfooterStatus>
      <Value><![CDATA[Inherit]]></Value>
    </subfooterStatus>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <virtualAgentInstall>
      <Value><![CDATA[]]></Value>
    </virtualAgentInstall>
    <virtualAgentStatus>
      <Value><![CDATA[Inherit]]></Value>
    </virtualAgentStatus>
  </Properties>
</Content>