<?xml version="1.0" encoding="utf-8"?>
<Content Key="999cd934-e732-469c-bf7e-52870f873824" Alias="C" Level="3">
  <Info>
    <Parent Key="cc9afc30-be07-4a56-8beb-ce5b702bcec0">Categories</Parent>
    <Path>/GlobalData/Categories/C</Path>
    <Trashed>false</Trashed>
    <ContentType>categoryHeaderData</ContentType>
    <CreateDate>2025-10-09T16:25:01</CreateDate>
    <NodeName Default="C" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <headingDescription>
      <Value><![CDATA[]]></Value>
    </headingDescription>
    <headingDescriptionStatus>
      <Value><![CDATA[]]></Value>
    </headingDescriptionStatus>
  </Properties>
</Content>