<?xml version="1.0" encoding="utf-8"?>
<Content Key="74901b92-c4ab-42a0-bbbb-1db0e57f7700" Alias="Cabinet" Level="4">
  <Info>
    <Parent Key="999cd934-e732-469c-bf7e-52870f873824">C</Parent>
    <Path>/GlobalData/Categories/C/Cabinet</Path>
    <Trashed>false</Trashed>
    <ContentType>categoryData</ContentType>
    <CreateDate>2025-10-09T16:26:44</CreateDate>
    <NodeName Default="Cabinet" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
  </Properties>
</Content>