<?xml version="1.0" encoding="utf-8"?>
<Content Key="44124e81-f1ef-4b2a-a8f1-22b64b4baf91" Alias="Cards" Level="4">
  <Info>
    <Parent Key="945cc2f0-d5eb-4356-9de9-48a9bc36e077">Test Content</Parent>
    <Path>/lancashiregovuk/Home/TestContent/Cards</Path>
    <Trashed>false</Trashed>
    <ContentType>editorPage</ContentType>
    <CreateDate>2025-02-07T14:16:04</CreateDate>
    <NodeName Default="Cards" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cbebb994-250c-4f99-ab85-8e38616efb0c">Editor</Template>
  </Info>
  <Properties>
    <alertStatus>
      <Value><![CDATA[Inherit]]></Value>
    </alertStatus>
    <alertText>
      <Value><![CDATA[]]></Value>
    </alertText>
    <alertTitle>
      <Value><![CDATA[]]></Value>
    </alertTitle>
    <alertType>
      <Value><![CDATA[]]></Value>
    </alertType>
    <asideContent>
      <Value><![CDATA[]]></Value>
    </asideContent>
    <asideFixed>
      <Value><![CDATA[]]></Value>
    </asideFixed>
    <asideOffset>
      <Value><![CDATA[]]></Value>
    </asideOffset>
    <asideStatus>
      <Value><![CDATA[Hide]]></Value>
    </asideStatus>
    <bannerContent>
      <Value><![CDATA[]]></Value>
    </bannerContent>
    <bannerHeroImage>
      <Value><![CDATA[]]></Value>
    </bannerHeroImage>
    <bannerStatus>
      <Value><![CDATA[Inherit]]></Value>
    </bannerStatus>
    <body>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "9cd1f41e-8db7-498b-a4f1-db27180a4728",
      "key": "a1f565a1-23ba-43e4-9cf5-5872a5043434",
      "udi": null,
      "values": [
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Text block"
        },
        {
          "alias": "mainTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "Text block"
          }
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cpre class=\u0022lang-cs s-code-block\u0022\u003E\u003Ccode data-highlighted=\u0022yes\u0022\u003E        foreach(\u003Cspan class=\u0022hljs-keyword\u0022\u003Evar field in typeof(T).GetFields())\u003C/span\u003E\n        {\n            if (Attribute.GetCustomAttribute(field,\n            typeof(DescriptionAttribute)) is DescriptionAttribute attribute)\n            {\n                if (attribute.Description == description)\n                    return (T)field.GetValue(null);\n            }\n            else\n            {\n                if (field.Name == description)\n                    return (T)field.GetValue(null);\n            }\n        }\n\n        throw new ArgumentException(\u0022Not found.\u0022, nameof(description));\n        \u003C/code\u003E\u003C/pre\u003E"
          }
        },
        {
          "alias": "mainLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "e9058913-5ad9-494c-8f25-f9271a2a1984",
      "key": "7de4f7aa-ddcd-4332-827d-27aae6636ba2",
      "udi": null,
      "values": [
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "River"
        },
        {
          "alias": "mainTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EImage of River\u003C/p\u003E"
          }
        },
        {
          "alias": "images",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "6d832992-9411-4770-96ac-ac877d3dca5c",
              "mediaKey": "d52654c4-9835-4d35-95c3-a149f147b716",
              "mediaTypeAlias": "editorImage",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "mainLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "fae4b7ce-e86e-442a-b4da-c5e1baa3eef4",
      "key": "42d9eab5-5c63-4269-8ee3-a7674a2d5781",
      "udi": null,
      "values": [
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Top"
        },
        {
          "alias": "mainTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "Top"
          }
        },
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "07eda0ba-57b0-4101-8cb2-3325474fbc84",
              "mediaKey": "1b4ddfa2-21fe-4c8a-bad0-bfa4e0cd1579",
              "mediaTypeAlias": "editorImage",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "header",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "Carp"
          }
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003ECarp on and on\u003C/p\u003E"
          }
        },
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Cards",
              "target": null,
              "udi": "umb://document/44124e81f1ef4b2aa8f122b64b4baf91",
              "url": null,
              "queryString": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "fae4b7ce-e86e-442a-b4da-c5e1baa3eef4",
      "key": "a937e59c-65bf-4134-a22b-71fa0cbcc08e",
      "udi": null,
      "values": [
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Overlay"
        },
        {
          "alias": "mainTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "Overlay"
          }
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "f67b220a-3c33-4029-9f78-9139b3265c11",
              "mediaKey": "fa90d2b1-494b-47a3-b233-cc28b9d61953",
              "mediaTypeAlias": "editorImage",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "header",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "Bee"
          }
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EBee Quiet\u003C/p\u003E"
          }
        },
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "About",
              "target": null,
              "udi": "umb://document/5557e532ec4b44ccb3e9aa306d108c61",
              "url": null,
              "queryString": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "69021ede-3114-43b4-96c8-5d2c66e7ebd1",
      "key": "16821d4a-5a88-4928-a743-2b6d06d48390",
      "udi": null,
      "values": [
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Link list"
        },
        {
          "alias": "mainTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "Link list"
          }
        },
        {
          "alias": "listBlocks",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "a7d6bfa0-76ad-477c-b8be-a936c05eface",
                "key": "cbb718ab-0d9a-4dda-9b36-7a0e3bb18564",
                "udi": null,
                "values": [
                  {
                    "alias": "pages",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "umb://document/388d46aa6c524321ae08a6a62d005b20,umb://document/91f89d6489504dd0994c399a4a005eba,umb://document/5035cebea1314e08804519d16c472d65,umb://document/44124e81f1ef4b2aa8f122b64b4baf91,umb://document/690bfe294d634b9684565dd4217a8691,umb://document/880c9e603c2c49f9b45f74a178d3e323,umb://document/3f8af1eca53348d488640c3e11873f8d,umb://document/519eaefc2c0440b396476b7383d1cbc6,umb://document/aeaa3118aaea4573acc6db96adc70258"
                  }
                ]
              }
            ],
            "settingsData": [
              {
                "contentTypeKey": "05c5e544-b88c-497f-975c-60d95b83bd77",
                "key": "a6f45812-58c9-4862-90b1-d4b7bcd1e406",
                "udi": null,
                "values": [
                  {
                    "alias": "order",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "styleImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "Behind"
                    ]
                  },
                  {
                    "alias": "styleHeader",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "styleText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "styleAction",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "Button"
                    ]
                  }
                ]
              }
            ],
            "expose": [
              {
                "contentKey": "cbb718ab-0d9a-4dda-9b36-7a0e3bb18564",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "cbb718ab-0d9a-4dda-9b36-7a0e3bb18564",
                  "contentUdi": "umb://element/c21a47b391e0498aa22dab14311cb7a3",
                  "settingsKey": "a6f45812-58c9-4862-90b1-d4b7bcd1e406",
                  "settingsUdi": "umb://element/4e7cb02ae9a24f81b4b41d52f666e632"
                }
              ]
            }
          }
        },
        {
          "alias": "mainLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "69021ede-3114-43b4-96c8-5d2c66e7ebd1",
      "key": "00c9a093-73b1-487a-a4e5-febecc130c81",
      "udi": null,
      "values": [
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Months"
        },
        {
          "alias": "mainTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EMonths\u003C/p\u003E"
          }
        },
        {
          "alias": "listBlocks",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "105a7e47-f799-4969-9e0e-2914050cb5d5",
                "key": "b0d5fdd1-9eb9-4293-9493-4a77aedf941a",
                "udi": null,
                "values": [
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "6e1bf41b-849b-480a-850e-606301971a45",
                        "mediaKey": "e28eb103-13f5-423e-bfdb-4932aacf06bd",
                        "mediaTypeAlias": "editorImage",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "header",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EJanuary\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EFirst month of the year\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "date",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "2025-08-20T13:28:51"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "About",
                        "target": null,
                        "udi": "umb://document/5b42c6410c7642088061336ff98720c8",
                        "url": null,
                        "queryString": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "105a7e47-f799-4969-9e0e-2914050cb5d5",
                "key": "d4ff3c93-32e2-411c-b9fb-e4462d0643eb",
                "udi": null,
                "values": [
                  {
                    "alias": "header",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EFebrary\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EShortest Month\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "1e4bd39d-9eac-4566-8943-c4f40079e727",
                        "mediaKey": "5e70c081-223e-460a-bde9-19cacc053289",
                        "mediaTypeAlias": "editorImage",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Adult social care",
                        "target": null,
                        "udi": "umb://document/8bf84adf63cd428baf1e9c56be4ba889",
                        "url": null,
                        "queryString": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "105a7e47-f799-4969-9e0e-2914050cb5d5",
                "key": "e3aff8fc-2e10-4bc0-a59b-d63719df13d0",
                "udi": null,
                "values": [
                  {
                    "alias": "header",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EMarch\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EFirst Roman Month\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "ee1b2d92-0736-42c4-ba29-3cf7fed12a1c",
                        "mediaKey": "c1efb283-1187-4fbd-a4c3-07497a871253",
                        "mediaTypeAlias": "editorImage",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Births, marriages, civil partnerships and deaths",
                        "target": null,
                        "udi": "umb://document/b8f0c2a6a70944eab7d6ff3e169abc6e",
                        "url": null,
                        "queryString": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [
              {
                "contentTypeKey": "28f582a5-f4bd-45c4-9c33-ee78977565c6",
                "key": "4c9e1da1-1b31-4f05-a62f-d51a7e8da90f",
                "udi": null,
                "values": [
                  {
                    "alias": "styleActionAlignment",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "Left"
                    ]
                  },
                  {
                    "alias": "styleAction",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "Link with Icon"
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "28f582a5-f4bd-45c4-9c33-ee78977565c6",
                "key": "2590f3f8-3044-4f7f-8501-7de1d49338ce",
                "udi": null,
                "values": [
                  {
                    "alias": "styleActionAlignment",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "Centre"
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "28f582a5-f4bd-45c4-9c33-ee78977565c6",
                "key": "123c791b-4e45-4fe4-b95d-15b414fa0879",
                "udi": null,
                "values": [
                  {
                    "alias": "styleActionAlignment",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "Right"
                    ]
                  }
                ]
              }
            ],
            "expose": [
              {
                "contentKey": "b0d5fdd1-9eb9-4293-9493-4a77aedf941a",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "d4ff3c93-32e2-411c-b9fb-e4462d0643eb",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "e3aff8fc-2e10-4bc0-a59b-d63719df13d0",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "b0d5fdd1-9eb9-4293-9493-4a77aedf941a",
                  "contentUdi": null,
                  "settingsKey": "4c9e1da1-1b31-4f05-a62f-d51a7e8da90f",
                  "settingsUdi": null
                },
                {
                  "contentKey": "d4ff3c93-32e2-411c-b9fb-e4462d0643eb",
                  "contentUdi": null,
                  "settingsKey": "2590f3f8-3044-4f7f-8501-7de1d49338ce",
                  "settingsUdi": null
                },
                {
                  "contentKey": "e3aff8fc-2e10-4bc0-a59b-d63719df13d0",
                  "contentUdi": null,
                  "settingsKey": "123c791b-4e45-4fe4-b95d-15b414fa0879",
                  "settingsUdi": null
                }
              ]
            }
          }
        },
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "69021ede-3114-43b4-96c8-5d2c66e7ebd1",
      "key": "c43df6eb-3e12-4a44-a100-3dd5cea94c1c",
      "udi": null,
      "values": [
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Web pages"
        },
        {
          "alias": "mainTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EWeb pages\u003C/p\u003E"
          }
        },
        {
          "alias": "listBlocks",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "a7d6bfa0-76ad-477c-b8be-a936c05eface",
                "key": "d45706bf-9121-493b-a6c2-c0f52590bad3",
                "udi": null,
                "values": [
                  {
                    "alias": "pages",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "umb://document/154a6a23b33e4413bd13ee5ac933667f,umb://document/e7099ccf36274a499687e98f466e9034,umb://document/6fb1d6a9188a4c7f93d31c6a2af8a2a6"
                  }
                ]
              }
            ],
            "settingsData": [
              {
                "contentTypeKey": "05c5e544-b88c-497f-975c-60d95b83bd77",
                "key": "20104347-58b5-466e-b758-08f6ec869279",
                "udi": null,
                "values": []
              }
            ],
            "expose": [
              {
                "contentKey": "d45706bf-9121-493b-a6c2-c0f52590bad3",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "d45706bf-9121-493b-a6c2-c0f52590bad3",
                  "contentUdi": null,
                  "settingsKey": "20104347-58b5-466e-b758-08f6ec869279",
                  "settingsUdi": null
                }
              ]
            }
          }
        },
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "69021ede-3114-43b4-96c8-5d2c66e7ebd1",
      "key": "e35c6d86-219b-404a-bb7c-5e3f094faa77",
      "udi": null,
      "values": [
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Header as links"
        },
        {
          "alias": "listBlocks",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "105a7e47-f799-4969-9e0e-2914050cb5d5",
                "key": "600a196b-5c89-452f-bc6e-fe4160b06cd8",
                "udi": null,
                "values": [
                  {
                    "alias": "header",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EThis header will be linked\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "About",
                        "target": null,
                        "udi": "umb://document/5b42c6410c7642088061336ff98720c8",
                        "url": null,
                        "queryString": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "105a7e47-f799-4969-9e0e-2914050cb5d5",
                "key": "5a945837-329d-40cd-b54e-1d3ed361f879",
                "udi": null,
                "values": [
                  {
                    "alias": "header",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EAnother card\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Adult social care",
                        "target": null,
                        "udi": "umb://document/8bf84adf63cd428baf1e9c56be4ba889",
                        "url": null,
                        "queryString": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [
              {
                "contentTypeKey": "28f582a5-f4bd-45c4-9c33-ee78977565c6",
                "key": "75026aea-2710-4b11-9acc-0e2bfe23742f",
                "udi": null,
                "values": [
                  {
                    "alias": "showClickArrow",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  },
                  {
                    "alias": "styleAction",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "Header"
                    ]
                  },
                  {
                    "alias": "styleActionClickArea",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "Card"
                    ]
                  },
                  {
                    "alias": "subtheme",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Primary"
                  },
                  {
                    "alias": "themeShade",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Dark"
                  }
                ]
              },
              {
                "contentTypeKey": "28f582a5-f4bd-45c4-9c33-ee78977565c6",
                "key": "6a87f638-76e2-4834-b735-1d26c99a556d",
                "udi": null,
                "values": [
                  {
                    "alias": "styleAction",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "Header"
                    ]
                  },
                  {
                    "alias": "showClickArrow",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              }
            ],
            "expose": [
              {
                "contentKey": "600a196b-5c89-452f-bc6e-fe4160b06cd8",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "5a945837-329d-40cd-b54e-1d3ed361f879",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "600a196b-5c89-452f-bc6e-fe4160b06cd8",
                  "contentUdi": null,
                  "settingsKey": "75026aea-2710-4b11-9acc-0e2bfe23742f",
                  "settingsUdi": null
                },
                {
                  "contentKey": "5a945837-329d-40cd-b54e-1d3ed361f879",
                  "contentUdi": null,
                  "settingsKey": "6a87f638-76e2-4834-b735-1d26c99a556d",
                  "settingsUdi": null
                }
              ]
            }
          }
        },
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "31095fb6-f9a3-4bb1-b559-d353a1ff0e92",
      "key": "e5fe09ed-a893-4d64-aeb0-8acd170f05a8",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "0f53ff8d-b10a-47b0-934e-fe60130e07f4",
      "key": "cec4177c-c14c-4d8f-b012-3e41ba1e9481",
      "udi": null,
      "values": [
        {
          "alias": "fullscreen",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "f1a15a38-4355-4983-b71f-ba76ce5e32a0",
      "key": "0b7d7b40-1eee-4726-87b9-f2e2af09f1a5",
      "udi": null,
      "values": [
        {
          "alias": "styleImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Top"
          ]
        }
      ]
    },
    {
      "contentTypeKey": "f1a15a38-4355-4983-b71f-ba76ce5e32a0",
      "key": "b3fe3d51-3d6d-41fe-a38d-9f056eb3730d",
      "udi": null,
      "values": [
        {
          "alias": "styleImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Behind"
          ]
        }
      ]
    },
    {
      "contentTypeKey": "81e44a54-ba00-4100-b7a1-14d73a691ab9",
      "key": "84aba2ba-2eeb-46a9-8a34-9cc8e554b9a1",
      "udi": null,
      "values": [
        {
          "alias": "maxColumns",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "3"
        },
        {
          "alias": "styleAction",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Link with Icon"
          ]
        }
      ]
    },
    {
      "contentTypeKey": "81e44a54-ba00-4100-b7a1-14d73a691ab9",
      "key": "e867fe3e-d93a-4b69-a3f8-06df6d5aa0a8",
      "udi": null,
      "values": [
        {
          "alias": "maxColumns",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "3"
        }
      ]
    },
    {
      "contentTypeKey": "81e44a54-ba00-4100-b7a1-14d73a691ab9",
      "key": "5341276d-bb06-4359-9652-0c5611952314",
      "udi": null,
      "values": [
        {
          "alias": "subtheme",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Inherit"
        },
        {
          "alias": "themeShade",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Inherit"
        },
        {
          "alias": "listType",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Flexible grid"
        },
        {
          "alias": "maxColumns",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "3"
        },
        {
          "alias": "styleCardTime",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Hide"
          ]
        }
      ]
    },
    {
      "contentTypeKey": "81e44a54-ba00-4100-b7a1-14d73a691ab9",
      "key": "27331833-bfb7-4d4c-aa78-84c54a68dd89",
      "udi": null,
      "values": [
        {
          "alias": "maxColumns",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "a1f565a1-23ba-43e4-9cf5-5872a5043434",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7de4f7aa-ddcd-4332-827d-27aae6636ba2",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "42d9eab5-5c63-4269-8ee3-a7674a2d5781",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "a937e59c-65bf-4134-a22b-71fa0cbcc08e",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "16821d4a-5a88-4928-a743-2b6d06d48390",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00c9a093-73b1-487a-a4e5-febecc130c81",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "c43df6eb-3e12-4a44-a100-3dd5cea94c1c",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "e35c6d86-219b-404a-bb7c-5e3f094faa77",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "00c9a093-73b1-487a-a4e5-febecc130c81",
        "contentUdi": null,
        "settingsKey": "e867fe3e-d93a-4b69-a3f8-06df6d5aa0a8",
        "settingsUdi": null
      },
      {
        "contentKey": "c43df6eb-3e12-4a44-a100-3dd5cea94c1c",
        "contentUdi": null,
        "settingsKey": "5341276d-bb06-4359-9652-0c5611952314",
        "settingsUdi": null
      },
      {
        "contentKey": "42d9eab5-5c63-4269-8ee3-a7674a2d5781",
        "contentUdi": null,
        "settingsKey": "0b7d7b40-1eee-4726-87b9-f2e2af09f1a5",
        "settingsUdi": null
      },
      {
        "contentKey": "a937e59c-65bf-4134-a22b-71fa0cbcc08e",
        "contentUdi": null,
        "settingsKey": "b3fe3d51-3d6d-41fe-a38d-9f056eb3730d",
        "settingsUdi": null
      },
      {
        "contentKey": "a1f565a1-23ba-43e4-9cf5-5872a5043434",
        "contentUdi": "umb://element/a1f565a123ba43e49cf55872a5043434",
        "settingsKey": "e5fe09ed-a893-4d64-aeb0-8acd170f05a8",
        "settingsUdi": "umb://element/e5fe09eda8934d64aeb08acd170f05a8"
      },
      {
        "contentKey": "7de4f7aa-ddcd-4332-827d-27aae6636ba2",
        "contentUdi": "umb://element/7de4f7aaddcd4332827d27aae6636ba2",
        "settingsKey": "cec4177c-c14c-4d8f-b012-3e41ba1e9481",
        "settingsUdi": "umb://element/cec4177cc14c4d8fb0123e41ba1e9481"
      },
      {
        "contentKey": "16821d4a-5a88-4928-a743-2b6d06d48390",
        "contentUdi": "umb://element/f53aa4ab33a4475fa6b06f252e3dc114",
        "settingsKey": "84aba2ba-2eeb-46a9-8a34-9cc8e554b9a1",
        "settingsUdi": "umb://element/01d1b9c9ec894a609228701803282656"
      },
      {
        "contentKey": "e35c6d86-219b-404a-bb7c-5e3f094faa77",
        "contentUdi": null,
        "settingsKey": "27331833-bfb7-4d4c-aa78-84c54a68dd89",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </body>
    <categories>
      <Value><![CDATA[]]></Value>
    </categories>
    <furnitureBreadcrumbsColor>
      <Value><![CDATA[]]></Value>
    </furnitureBreadcrumbsColor>
    <furnitureBreadcrumbStatus>
      <Value><![CDATA[Inherit Breadcrumb Status]]></Value>
    </furnitureBreadcrumbStatus>
    <furnitureBreadcrumbSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureBreadcrumbSubtheme>
    <furnitureBreadcrumbThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureBreadcrumbThemeShade>
    <furnitureFooterColor>
      <Value><![CDATA[]]></Value>
    </furnitureFooterColor>
    <furnitureFooterInformation>
      <Value><![CDATA[]]></Value>
    </furnitureFooterInformation>
    <furnitureFooterMenu>
      <Value><![CDATA[]]></Value>
    </furnitureFooterMenu>
    <furnitureFooterMessage>
      <Value><![CDATA[]]></Value>
    </furnitureFooterMessage>
    <furnitureFooterSocialMediaLinks>
      <Value><![CDATA[]]></Value>
    </furnitureFooterSocialMediaLinks>
    <furnitureFooterSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureFooterSubtheme>
    <furnitureFooterThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureFooterThemeShade>
    <furnitureHeaderColor>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderColor>
    <furnitureHeaderMenu>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderMenu>
    <furnitureHeaderMenuPosition>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderMenuPosition>
    <furnitureHeaderSticky>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderSticky>
    <furnitureHeaderSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureHeaderSubtheme>
    <furnitureHeaderThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureHeaderThemeShade>
    <furnitureLogoImage>
      <Value><![CDATA[]]></Value>
    </furnitureLogoImage>
    <furnitureLogoRatio>
      <Value><![CDATA[]]></Value>
    </furnitureLogoRatio>
    <furniturePageTitlePromote>
      <Value><![CDATA[]]></Value>
    </furniturePageTitlePromote>
    <PageTitleSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </PageTitleSubtheme>
    <furniturePageTitleThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </furniturePageTitleThemeShade>
    <furnitureShowAllServices>
      <Value><![CDATA[1]]></Value>
    </furnitureShowAllServices>
    <furnitureShowHeaderMenuOnLargerDevices>
      <Value><![CDATA[]]></Value>
    </furnitureShowHeaderMenuOnLargerDevices>
    <furnitureShowHeaderMenuOnSmallerDevices>
      <Value><![CDATA[]]></Value>
    </furnitureShowHeaderMenuOnSmallerDevices>
    <furnitureShowSearchBar>
      <Value><![CDATA[1]]></Value>
    </furnitureShowSearchBar>
    <furnitureStatus>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureStatus>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <pageHeader>
      <Value><![CDATA[]]></Value>
    </pageHeader>
    <pageSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </pageSubtheme>
    <pageTheme>
      <Value><![CDATA[Inherit]]></Value>
    </pageTheme>
    <pageThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </pageThemeShade>
    <reviewComments>
      <Value><![CDATA[]]></Value>
    </reviewComments>
    <reviewDate>
      <Value><![CDATA[]]></Value>
    </reviewDate>
    <reviewGroup>
      <Value><![CDATA[]]></Value>
    </reviewGroup>
    <reviewStatus>
      <Value><![CDATA[Inherit]]></Value>
    </reviewStatus>
    <seoAbstract>
      <Value><![CDATA[]]></Value>
    </seoAbstract>
    <seoCanonicalUrl>
      <Value><![CDATA[]]></Value>
    </seoCanonicalUrl>
    <seoDatePublished>
      <Value><![CDATA[]]></Value>
    </seoDatePublished>
    <seoDescription>
      <Value><![CDATA[]]></Value>
    </seoDescription>
    <seoPriority>
      <Value><![CDATA[]]></Value>
    </seoPriority>
    <seoPromotedSearchTerms>
      <Value><![CDATA[]]></Value>
    </seoPromotedSearchTerms>
    <seoStatus>
      <Value><![CDATA[Inherit]]></Value>
    </seoStatus>
    <seoThumbnail>
      <Value><![CDATA[[
  {
    "key": "019aaf90-36b4-4165-b76e-a153253432d9",
    "mediaKey": "3ebc41f4-4c27-4de6-89b8-d6608e3785d8",
    "mediaTypeAlias": "editorImage",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </seoThumbnail>
    <subfooterColor>
      <Value><![CDATA[]]></Value>
    </subfooterColor>
    <subfooterShowLastUpdatedDate>
      <Value><![CDATA[]]></Value>
    </subfooterShowLastUpdatedDate>
    <subfooterShowNextReviewDate>
      <Value><![CDATA[]]></Value>
    </subfooterShowNextReviewDate>
    <subfooterShowReturnToTopIcon>
      <Value><![CDATA[]]></Value>
    </subfooterShowReturnToTopIcon>
    <subfooterStatus>
      <Value><![CDATA[Inherit]]></Value>
    </subfooterStatus>
    <title>
      <Value><![CDATA[Cards]]></Value>
    </title>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <virtualAgentInstall>
      <Value><![CDATA[]]></Value>
    </virtualAgentInstall>
    <virtualAgentStatus>
      <Value><![CDATA[Inherit]]></Value>
    </virtualAgentStatus>
  </Properties>
</Content>