<?xml version="1.0" encoding="utf-8"?>
<Content Key="f48aee3f-d702-4ece-9d4e-2c752c625f32" Alias="Carousel" Level="4">
  <Info>
    <Parent Key="945cc2f0-d5eb-4356-9de9-48a9bc36e077">Test Content</Parent>
    <Path>/lancashiregovuk/Home/TestContent/Carousel</Path>
    <Trashed>false</Trashed>
    <ContentType>editorPage</ContentType>
    <CreateDate>2025-12-29T11:52:03</CreateDate>
    <NodeName Default="Carousel" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cbebb994-250c-4f99-ab85-8e38616efb0c">Editor</Template>
  </Info>
  <Properties>
    <alertStatus>
      <Value><![CDATA[Inherit]]></Value>
    </alertStatus>
    <alertText>
      <Value><![CDATA[]]></Value>
    </alertText>
    <alertTitle>
      <Value><![CDATA[]]></Value>
    </alertTitle>
    <alertType>
      <Value><![CDATA[]]></Value>
    </alertType>
    <asideContent>
      <Value><![CDATA[]]></Value>
    </asideContent>
    <asideFixed>
      <Value><![CDATA[1]]></Value>
    </asideFixed>
    <asideOffset>
      <Value><![CDATA[1]]></Value>
    </asideOffset>
    <asideStatus>
      <Value><![CDATA[Inherit]]></Value>
    </asideStatus>
    <bannerContent>
      <Value><![CDATA[]]></Value>
    </bannerContent>
    <bannerHeroImage>
      <Value><![CDATA[]]></Value>
    </bannerHeroImage>
    <bannerStatus>
      <Value><![CDATA[Inherit]]></Value>
    </bannerStatus>
    <body>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "69021ede-3114-43b4-96c8-5d2c66e7ebd1",
      "key": "a52b4afc-ce3b-4ba6-beb6-e311f2b71056",
      "udi": null,
      "values": [
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Carousel without images"
        },
        {
          "alias": "mainTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003ECarousel without images\u003C/p\u003E"
          }
        },
        {
          "alias": "listBlocks",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "105a7e47-f799-4969-9e0e-2914050cb5d5",
                "key": "60aa4dee-3566-489b-8650-bdce9caeefea",
                "udi": null,
                "values": [
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Adult social care",
                        "target": null,
                        "udi": "umb://document/8bf84adf63cd428baf1e9c56be4ba889",
                        "url": null,
                        "queryString": null
                      }
                    ]
                  },
                  {
                    "alias": "header",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EJanuary\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EThis is January\u003C/p\u003E"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "105a7e47-f799-4969-9e0e-2914050cb5d5",
                "key": "c1fd4997-697c-49aa-8baa-8979c67d2cca",
                "udi": null,
                "values": [
                  {
                    "alias": "header",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EFebuary\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003E28 days\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "About",
                        "target": null,
                        "udi": "umb://document/5b42c6410c7642088061336ff98720c8",
                        "url": null,
                        "queryString": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "105a7e47-f799-4969-9e0e-2914050cb5d5",
                "key": "de44250a-533d-4937-895a-5b9de56f7805",
                "udi": null,
                "values": [
                  {
                    "alias": "header",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EMarch\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EMarch Hare\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Births",
                        "target": null,
                        "udi": "umb://document/b8f0c2a6a70944eab7d6ff3e169abc6e",
                        "url": null,
                        "queryString": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "105a7e47-f799-4969-9e0e-2914050cb5d5",
                "key": "8ac56652-408a-4f56-9109-aa309338b4f7",
                "udi": null,
                "values": [
                  {
                    "alias": "header",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EApril\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EShowers\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Community",
                        "target": null,
                        "udi": "umb://document/9ce561b9ddc947d286f5473ec566353b",
                        "url": null,
                        "queryString": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "105a7e47-f799-4969-9e0e-2914050cb5d5",
                "key": "5836fde9-bfcd-49aa-a50d-b9dcd9cdc381",
                "udi": null,
                "values": [
                  {
                    "alias": "header",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EMay\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EThe fourth be with you\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Jobs",
                        "target": null,
                        "udi": "umb://document/42f73fe8a896429288af668b6c978c74",
                        "url": null,
                        "queryString": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [
              {
                "contentTypeKey": "28f582a5-f4bd-45c4-9c33-ee78977565c6",
                "key": "212d33cc-e8b4-4d4c-8e2f-9e9e0fcceb83",
                "udi": null,
                "values": [
                  {
                    "alias": "showClickArrow",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "0"
                  }
                ]
              },
              {
                "contentTypeKey": "28f582a5-f4bd-45c4-9c33-ee78977565c6",
                "key": "ddde158c-a1de-4d92-bede-75845f53bd15",
                "udi": null,
                "values": [
                  {
                    "alias": "showClickArrow",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "0"
                  }
                ]
              },
              {
                "contentTypeKey": "28f582a5-f4bd-45c4-9c33-ee78977565c6",
                "key": "ee1c25ba-e280-4e6c-9339-8d451e94129c",
                "udi": null,
                "values": [
                  {
                    "alias": "showClickArrow",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "0"
                  }
                ]
              },
              {
                "contentTypeKey": "28f582a5-f4bd-45c4-9c33-ee78977565c6",
                "key": "fb93bc85-c80e-4d15-815c-e19e375efa80",
                "udi": null,
                "values": [
                  {
                    "alias": "showClickArrow",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "0"
                  }
                ]
              },
              {
                "contentTypeKey": "28f582a5-f4bd-45c4-9c33-ee78977565c6",
                "key": "51717916-7417-4e4e-92ab-3a0c87788ad7",
                "udi": null,
                "values": [
                  {
                    "alias": "showClickArrow",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "0"
                  }
                ]
              }
            ],
            "expose": [
              {
                "contentKey": "60aa4dee-3566-489b-8650-bdce9caeefea",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "c1fd4997-697c-49aa-8baa-8979c67d2cca",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "de44250a-533d-4937-895a-5b9de56f7805",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "8ac56652-408a-4f56-9109-aa309338b4f7",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "5836fde9-bfcd-49aa-a50d-b9dcd9cdc381",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "60aa4dee-3566-489b-8650-bdce9caeefea",
                  "contentUdi": null,
                  "settingsKey": "212d33cc-e8b4-4d4c-8e2f-9e9e0fcceb83",
                  "settingsUdi": null
                },
                {
                  "contentKey": "c1fd4997-697c-49aa-8baa-8979c67d2cca",
                  "contentUdi": null,
                  "settingsKey": "ddde158c-a1de-4d92-bede-75845f53bd15",
                  "settingsUdi": null
                },
                {
                  "contentKey": "de44250a-533d-4937-895a-5b9de56f7805",
                  "contentUdi": null,
                  "settingsKey": "ee1c25ba-e280-4e6c-9339-8d451e94129c",
                  "settingsUdi": null
                },
                {
                  "contentKey": "8ac56652-408a-4f56-9109-aa309338b4f7",
                  "contentUdi": null,
                  "settingsKey": "fb93bc85-c80e-4d15-815c-e19e375efa80",
                  "settingsUdi": null
                },
                {
                  "contentKey": "5836fde9-bfcd-49aa-a50d-b9dcd9cdc381",
                  "contentUdi": null,
                  "settingsKey": "51717916-7417-4e4e-92ab-3a0c87788ad7",
                  "settingsUdi": null
                }
              ]
            }
          }
        },
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "81e44a54-ba00-4100-b7a1-14d73a691ab9",
      "key": "8250b211-cbe1-44f3-9d59-4e2b2418fcdb",
      "udi": null,
      "values": [
        {
          "alias": "listType",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Carousel"
        },
        {
          "alias": "maxColumns",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "3"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "a52b4afc-ce3b-4ba6-beb6-e311f2b71056",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "a52b4afc-ce3b-4ba6-beb6-e311f2b71056",
        "contentUdi": null,
        "settingsKey": "8250b211-cbe1-44f3-9d59-4e2b2418fcdb",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </body>
    <categories>
      <Value><![CDATA[umb://document/ad94a842d927428b9c4375ffa777069e]]></Value>
    </categories>
    <furnitureBreadcrumbsColor>
      <Value><![CDATA[]]></Value>
    </furnitureBreadcrumbsColor>
    <furnitureBreadcrumbStatus>
      <Value><![CDATA[Inherit Breadcrumb Status]]></Value>
    </furnitureBreadcrumbStatus>
    <furnitureBreadcrumbSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureBreadcrumbSubtheme>
    <furnitureBreadcrumbThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureBreadcrumbThemeShade>
    <furnitureFooterColor>
      <Value><![CDATA[]]></Value>
    </furnitureFooterColor>
    <furnitureFooterInformation>
      <Value><![CDATA[]]></Value>
    </furnitureFooterInformation>
    <furnitureFooterMenu>
      <Value><![CDATA[]]></Value>
    </furnitureFooterMenu>
    <furnitureFooterMessage>
      <Value><![CDATA[]]></Value>
    </furnitureFooterMessage>
    <furnitureFooterSocialMediaLinks>
      <Value><![CDATA[]]></Value>
    </furnitureFooterSocialMediaLinks>
    <furnitureFooterSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureFooterSubtheme>
    <furnitureFooterThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureFooterThemeShade>
    <furnitureHeaderColor>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderColor>
    <furnitureHeaderMenu>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderMenu>
    <furnitureHeaderMenuPosition>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderMenuPosition>
    <furnitureHeaderSticky>
      <Value><![CDATA[1]]></Value>
    </furnitureHeaderSticky>
    <furnitureHeaderSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureHeaderSubtheme>
    <furnitureHeaderThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureHeaderThemeShade>
    <furnitureLogoImage>
      <Value><![CDATA[]]></Value>
    </furnitureLogoImage>
    <furnitureLogoRatio>
      <Value><![CDATA[]]></Value>
    </furnitureLogoRatio>
    <furniturePageTitlePromote>
      <Value><![CDATA[0]]></Value>
    </furniturePageTitlePromote>
    <furniturePageTitleSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </furniturePageTitleSubtheme>
    <furniturePageTitleThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </furniturePageTitleThemeShade>
    <furnitureShowAllServices>
      <Value><![CDATA[1]]></Value>
    </furnitureShowAllServices>
    <furnitureShowHeaderMenuOnLargerDevices>
      <Value><![CDATA[1]]></Value>
    </furnitureShowHeaderMenuOnLargerDevices>
    <furnitureShowHeaderMenuOnSmallerDevices>
      <Value><![CDATA[1]]></Value>
    </furnitureShowHeaderMenuOnSmallerDevices>
    <furnitureShowSearchBar>
      <Value><![CDATA[1]]></Value>
    </furnitureShowSearchBar>
    <furnitureStatus>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureStatus>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <pageHeader>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003ETest\u0026nbsp;Carousel Blocks\u003C/p\u003E"
}]]></Value>
    </pageHeader>
    <pageSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </pageSubtheme>
    <pageTheme>
      <Value><![CDATA[Inherit]]></Value>
    </pageTheme>
    <pageThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </pageThemeShade>
    <reviewComments>
      <Value><![CDATA[]]></Value>
    </reviewComments>
    <reviewDate>
      <Value><![CDATA[]]></Value>
    </reviewDate>
    <reviewGroup>
      <Value><![CDATA[]]></Value>
    </reviewGroup>
    <reviewStatus>
      <Value><![CDATA[Inherit]]></Value>
    </reviewStatus>
    <seoAbstract>
      <Value><![CDATA[]]></Value>
    </seoAbstract>
    <seoCanonicalUrl>
      <Value><![CDATA[]]></Value>
    </seoCanonicalUrl>
    <seoDatePublished>
      <Value><![CDATA[]]></Value>
    </seoDatePublished>
    <seoDescription>
      <Value><![CDATA[]]></Value>
    </seoDescription>
    <seoPriority>
      <Value><![CDATA[1]]></Value>
    </seoPriority>
    <seoPromotedSearchTerms>
      <Value><![CDATA[]]></Value>
    </seoPromotedSearchTerms>
    <seoStatus>
      <Value><![CDATA[Inherit]]></Value>
    </seoStatus>
    <seoThumbnail>
      <Value><![CDATA[]]></Value>
    </seoThumbnail>
    <subfooterColor>
      <Value><![CDATA[]]></Value>
    </subfooterColor>
    <subfooterShowLastUpdatedDate>
      <Value><![CDATA[1]]></Value>
    </subfooterShowLastUpdatedDate>
    <subfooterShowNextReviewDate>
      <Value><![CDATA[0]]></Value>
    </subfooterShowNextReviewDate>
    <subfooterShowReturnToTopIcon>
      <Value><![CDATA[1]]></Value>
    </subfooterShowReturnToTopIcon>
    <subfooterStatus>
      <Value><![CDATA[Inherit]]></Value>
    </subfooterStatus>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <virtualAgentInstall>
      <Value><![CDATA[]]></Value>
    </virtualAgentInstall>
    <virtualAgentStatus>
      <Value><![CDATA[Inherit]]></Value>
    </virtualAgentStatus>
  </Properties>
</Content>