<?xml version="1.0" encoding="utf-8"?>
<Content Key="dbc2b919-0b85-4d63-b522-bb84c376d0eb" Alias="Categories" Level="2">
  <Info>
    <Parent Key="da4154e6-aff4-4dc4-ac7a-e27d14d42277">Global</Parent>
    <Path>/Global/Categories</Path>
    <Trashed>false</Trashed>
    <ContentType>categorysData</ContentType>
    <CreateDate>2026-04-23T18:19:39</CreateDate>
    <NodeName Default="Categories" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <headingDescription>
      <Value><![CDATA[]]></Value>
    </headingDescription>
    <headingDescriptionStatus>
      <Value><![CDATA[Hide]]></Value>
    </headingDescriptionStatus>
  </Properties>
</Content>