<?xml version="1.0" encoding="utf-8"?>
<Content Key="5e243f71-c7f9-4aa6-bf00-ce71af24a217" Alias="Clitheroe Registration Office" Level="5">
  <Info>
    <Parent Key="e85bad05-b859-4346-8351-9fa75f8721b7">Find a registration office</Parent>
    <Path>/lancashiregovuk/Home/BirthsMarriagesCivilPartnershipsAndDeaths/FindARegistrationOffice/ClitheroeRegistrationOffice</Path>
    <Trashed>false</Trashed>
    <ContentType>editorPage</ContentType>
    <CreateDate>2025-08-27T19:19:47</CreateDate>
    <NodeName Default="Clitheroe Registration Office" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cbebb994-250c-4f99-ab85-8e38616efb0c">Editor</Template>
  </Info>
  <Properties>
    <alertStatus>
      <Value><![CDATA[Inherit]]></Value>
    </alertStatus>
    <alertText>
      <Value><![CDATA[]]></Value>
    </alertText>
    <alertTitle>
      <Value><![CDATA[]]></Value>
    </alertTitle>
    <alertType>
      <Value><![CDATA[]]></Value>
    </alertType>
    <asideContent>
      <Value><![CDATA[]]></Value>
    </asideContent>
    <asideFixed>
      <Value><![CDATA[]]></Value>
    </asideFixed>
    <asideOffset>
      <Value><![CDATA[]]></Value>
    </asideOffset>
    <asideStatus>
      <Value><![CDATA[Inherit]]></Value>
    </asideStatus>
    <bannerContent>
      <Value><![CDATA[]]></Value>
    </bannerContent>
    <bannerHeroImage>
      <Value><![CDATA[]]></Value>
    </bannerHeroImage>
    <bannerStatus>
      <Value><![CDATA[Inherit]]></Value>
    </bannerStatus>
    <body>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "9cd1f41e-8db7-498b-a4f1-db27180a4728",
      "key": "fe6e6e78-4e4f-414a-93a5-16bcf636e5e2",
      "udi": null,
      "values": [
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Text-Office-Clitheroe -information"
        },
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003C/p\u003E\u003Ch3\u003ECar parking information\u003C/h3\u003E\u003Cp\u003EThere is\u202Fcar parking available at the office. \u003C/p\u003E\u003Ch3\u003EHow to pay\u003C/h3\u003E\u003Cp\u003EAll payment are by cash or card.\u003C/p\u003E\u003Ch3\u003EContact details\u003C/h3\u003E\u003Cul\u003E\u003Cli\u003E\u003Cp\u003EAddress: Ribble House, \u003C/p\u003E\u003Cp\u003EOff Pimlico Road, \u003C/p\u003E\u003Cp\u003EClitheroe\u003C/p\u003E\u003Cp\u003ELancashire\u003C/p\u003E\u003Cp\u003E BB7 2BW\u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003ETel: 0300 123 6705\u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003EEmail: \u003Ca target=\u0022\u0022 data-router-slot=\u0022disabled\u0022 href=\u0022mailto:Accrington.Registrars@lancashire.gov.uk\u0022 type=\u0022external\u0022\u003EAccrington.Registrars@lancashire.gov.uk\u003C/a\u003E\u003C/p\u003E\u003C/li\u003E\u003C/ul\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "2ea5fd1d-c3fa-4161-befa-44e3a8ff88e2",
      "key": "68fe4d4d-bcd3-40d0-8ad5-422f509a4bcc",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EOpening times are by appointment only.\u003C/p\u003E"
          }
        },
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Opening-times-Rawtenstall-Registration"
        },
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "times",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "3ababe53-a528-4533-ba2d-e1c779bbdeaf",
                "key": "6a383f8c-4c20-4c66-80ed-9fb7d3e578ac",
                "udi": null,
                "values": [
                  {
                    "alias": "day",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "Monday"
                    ]
                  },
                  {
                    "alias": "open",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "09:00"
                  },
                  {
                    "alias": "close",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "13:00"
                  }
                ]
              },
              {
                "contentTypeKey": "3ababe53-a528-4533-ba2d-e1c779bbdeaf",
                "key": "7a51460d-b019-46a5-9d4e-4679967f3297",
                "udi": null,
                "values": [
                  {
                    "alias": "day",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "Wednesday"
                    ]
                  },
                  {
                    "alias": "open",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "14:00"
                  },
                  {
                    "alias": "close",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "16:30"
                  }
                ]
              },
              {
                "contentTypeKey": "3ababe53-a528-4533-ba2d-e1c779bbdeaf",
                "key": "ec37d748-2862-4ac0-93aa-ae7c5607da20",
                "udi": null,
                "values": [
                  {
                    "alias": "day",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "Monday"
                    ]
                  },
                  {
                    "alias": "open",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "14:00"
                  },
                  {
                    "alias": "close",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "16:30"
                  }
                ]
              },
              {
                "contentTypeKey": "3ababe53-a528-4533-ba2d-e1c779bbdeaf",
                "key": "233895fc-ddda-4b02-8bd8-3fd070fb96a7",
                "udi": null,
                "values": [
                  {
                    "alias": "day",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "Wednesday"
                    ]
                  },
                  {
                    "alias": "open",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "09:00"
                  },
                  {
                    "alias": "close",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "13:00"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "6a383f8c-4c20-4c66-80ed-9fb7d3e578ac",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "7a51460d-b019-46a5-9d4e-4679967f3297",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "ec37d748-2862-4ac0-93aa-ae7c5607da20",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "233895fc-ddda-4b02-8bd8-3fd070fb96a7",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "6a383f8c-4c20-4c66-80ed-9fb7d3e578ac",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "ec37d748-2862-4ac0-93aa-ae7c5607da20",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "233895fc-ddda-4b02-8bd8-3fd070fb96a7",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "7a51460d-b019-46a5-9d4e-4679967f3297",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        },
        {
          "alias": "mainTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EOpening times\u003C/p\u003E"
          }
        },
        {
          "alias": "footer",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EFriday, Saturday and Sunday is closed for ceremonies only.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "9cd1f41e-8db7-498b-a4f1-db27180a4728",
      "key": "6e6136e7-c42f-4b37-a655-e993e894e38d",
      "udi": null,
      "values": [
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Text-book an appointment"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EBook an appointment at a Lancashire registration office for\u003C/p\u003E\u003Cul\u003E\u003Cli\u003E\u003Cp\u003Eregistering a birth (link)\u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003Eregistering a death (link)\u003C/p\u003E\u003C/li\u003E\u003C/ul\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "mainTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EHow to book an appointment\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "9cd1f41e-8db7-498b-a4f1-db27180a4728",
      "key": "728cee8f-f55a-4586-8fa2-05a656a0aa1e",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EAt this office you can,\u003C/p\u003E\u003Cul\u003E\u003Cli\u003E\u003Cp\u003Eregister a birth\u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003Egive notice of your marriage or civil partnership\u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003Eregister death.\u003C/p\u003E\u003C/li\u003E\u003C/ul\u003E\u003Cp\u003EFor a marriage or civil partnership:\u003C/p\u003E\u003Cul\u003E\u003Cli\u003E\u003Cp\u003EContact the ceremonies officer to reserve the date of your ceremony\u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003Egive notice of marriage or civil partnership.\u003C/p\u003E\u003C/li\u003E\u003C/ul\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "mainTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EServices offered at this registration office\u003C/p\u003E"
          }
        },
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Text-Services"
        }
      ]
    },
    {
      "contentTypeKey": "9cd1f41e-8db7-498b-a4f1-db27180a4728",
      "key": "c76b58ca-b5ab-4803-bef7-1e30361102b9",
      "udi": null,
      "values": [
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "mainTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EAbout the venue\u003C/p\u003E"
          }
        },
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Intro-text-Clitheroe "
        }
      ]
    },
    {
      "contentTypeKey": "55023e89-519f-47a1-b9ff-d4198467e6c5",
      "key": "02087930-2c64-4724-a298-0c708cb13cd8",
      "udi": null,
      "values": [
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Map-Clitheroe "
        },
        {
          "alias": "mapLocation",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "boundingBox": {
              "northEastCorner": {
                "latitude": 53.87989504812853,
                "longitude": -2.378625869750977
              },
              "southWestCorner": {
                "latitude": 53.874835195924554,
                "longitude": -2.3973155021667485
              }
            },
            "zoom": 16,
            "marker": {
              "latitude": 53.87737,
              "longitude": -2.38798
            }
          }
        },
        {
          "alias": "mapType",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Standard"
          ]
        },
        {
          "alias": "mainTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EMap\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "31095fb6-f9a3-4bb1-b559-d353a1ff0e92",
      "key": "9e7697da-2d7e-4818-b85a-dbfa3113a0c8",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "38d28af9-85ee-41b1-9b31-233620b1b990",
      "key": "5e359d4b-c5a9-4739-8240-745fd6eb7d95",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "31095fb6-f9a3-4bb1-b559-d353a1ff0e92",
      "key": "e969e60b-6ac4-4090-84df-6107a68725b9",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "31095fb6-f9a3-4bb1-b559-d353a1ff0e92",
      "key": "72072b13-a413-4342-89df-e5f74e8a5551",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "31095fb6-f9a3-4bb1-b559-d353a1ff0e92",
      "key": "31bf7c87-a518-4aad-a8fd-84f282aa48ef",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "18b3a798-7076-47dc-8cef-da2c5dbd4ec1",
      "key": "078195e4-b156-4485-ba3e-ace90a25a16c",
      "udi": null,
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "fe6e6e78-4e4f-414a-93a5-16bcf636e5e2",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "68fe4d4d-bcd3-40d0-8ad5-422f509a4bcc",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "6e6136e7-c42f-4b37-a655-e993e894e38d",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "728cee8f-f55a-4586-8fa2-05a656a0aa1e",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "c76b58ca-b5ab-4803-bef7-1e30361102b9",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "02087930-2c64-4724-a298-0c708cb13cd8",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "c76b58ca-b5ab-4803-bef7-1e30361102b9",
        "contentUdi": null,
        "settingsKey": "31bf7c87-a518-4aad-a8fd-84f282aa48ef",
        "settingsUdi": null
      },
      {
        "contentKey": "728cee8f-f55a-4586-8fa2-05a656a0aa1e",
        "contentUdi": null,
        "settingsKey": "72072b13-a413-4342-89df-e5f74e8a5551",
        "settingsUdi": null
      },
      {
        "contentKey": "6e6136e7-c42f-4b37-a655-e993e894e38d",
        "contentUdi": null,
        "settingsKey": "e969e60b-6ac4-4090-84df-6107a68725b9",
        "settingsUdi": null
      },
      {
        "contentKey": "68fe4d4d-bcd3-40d0-8ad5-422f509a4bcc",
        "contentUdi": null,
        "settingsKey": "5e359d4b-c5a9-4739-8240-745fd6eb7d95",
        "settingsUdi": null
      },
      {
        "contentKey": "fe6e6e78-4e4f-414a-93a5-16bcf636e5e2",
        "contentUdi": null,
        "settingsKey": "9e7697da-2d7e-4818-b85a-dbfa3113a0c8",
        "settingsUdi": null
      },
      {
        "contentKey": "02087930-2c64-4724-a298-0c708cb13cd8",
        "contentUdi": null,
        "settingsKey": "078195e4-b156-4485-ba3e-ace90a25a16c",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </body>
    <categories>
      <Value><![CDATA[]]></Value>
    </categories>
    <furnitureBreadcrumbsColor>
      <Value><![CDATA[]]></Value>
    </furnitureBreadcrumbsColor>
    <furnitureBreadcrumbStatus>
      <Value><![CDATA[]]></Value>
    </furnitureBreadcrumbStatus>
    <furnitureBreadcrumbSubtheme>
      <Value><![CDATA[]]></Value>
    </furnitureBreadcrumbSubtheme>
    <furnitureBreadcrumbThemeShade>
      <Value><![CDATA[]]></Value>
    </furnitureBreadcrumbThemeShade>
    <furnitureFooterColor>
      <Value><![CDATA[]]></Value>
    </furnitureFooterColor>
    <furnitureFooterInformation>
      <Value><![CDATA[]]></Value>
    </furnitureFooterInformation>
    <furnitureFooterMenu>
      <Value><![CDATA[]]></Value>
    </furnitureFooterMenu>
    <furnitureFooterMessage>
      <Value><![CDATA[]]></Value>
    </furnitureFooterMessage>
    <furnitureFooterSocialMediaLinks>
      <Value><![CDATA[]]></Value>
    </furnitureFooterSocialMediaLinks>
    <furnitureFooterSubtheme>
      <Value><![CDATA[]]></Value>
    </furnitureFooterSubtheme>
    <furnitureFooterThemeShade>
      <Value><![CDATA[]]></Value>
    </furnitureFooterThemeShade>
    <furnitureHeaderColor>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderColor>
    <furnitureHeaderMenu>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderMenu>
    <furnitureHeaderMenuPosition>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderMenuPosition>
    <furnitureHeaderSticky>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderSticky>
    <furnitureHeaderSubtheme>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderSubtheme>
    <furnitureHeaderThemeShade>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderThemeShade>
    <furnitureLogoImage>
      <Value><![CDATA[]]></Value>
    </furnitureLogoImage>
    <furnitureLogoRatio>
      <Value><![CDATA[]]></Value>
    </furnitureLogoRatio>
    <furniturePageTitlePromote>
      <Value><![CDATA[]]></Value>
    </furniturePageTitlePromote>
    <furniturePageTitleSubtheme>
      <Value><![CDATA[]]></Value>
    </furniturePageTitleSubtheme>
    <furniturePageTitleThemeShade>
      <Value><![CDATA[]]></Value>
    </furniturePageTitleThemeShade>
    <furnitureShowAllServices>
      <Value><![CDATA[]]></Value>
    </furnitureShowAllServices>
    <furnitureShowHeaderMenuOnLargerDevices>
      <Value><![CDATA[]]></Value>
    </furnitureShowHeaderMenuOnLargerDevices>
    <furnitureShowHeaderMenuOnSmallerDevices>
      <Value><![CDATA[]]></Value>
    </furnitureShowHeaderMenuOnSmallerDevices>
    <furnitureShowSearchBar>
      <Value><![CDATA[]]></Value>
    </furnitureShowSearchBar>
    <furnitureStatus>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureStatus>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <pageHeader>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EClitheroe Registration Office\u003C/p\u003E"
}]]></Value>
    </pageHeader>
    <pageSubtheme>
      <Value><![CDATA[]]></Value>
    </pageSubtheme>
    <pageTheme>
      <Value><![CDATA[]]></Value>
    </pageTheme>
    <pageThemeShade>
      <Value><![CDATA[]]></Value>
    </pageThemeShade>
    <reviewComments>
      <Value><![CDATA[]]></Value>
    </reviewComments>
    <reviewDate>
      <Value><![CDATA[]]></Value>
    </reviewDate>
    <reviewGroup>
      <Value><![CDATA[]]></Value>
    </reviewGroup>
    <reviewStatus>
      <Value><![CDATA[Inherit]]></Value>
    </reviewStatus>
    <seoAbstract>
      <Value><![CDATA[]]></Value>
    </seoAbstract>
    <seoCanonicalUrl>
      <Value><![CDATA[]]></Value>
    </seoCanonicalUrl>
    <seoDatePublished>
      <Value><![CDATA[]]></Value>
    </seoDatePublished>
    <seoDescription>
      <Value><![CDATA[]]></Value>
    </seoDescription>
    <seoPriority>
      <Value><![CDATA[]]></Value>
    </seoPriority>
    <seoPromotedSearchTerms>
      <Value><![CDATA[]]></Value>
    </seoPromotedSearchTerms>
    <seoStatus>
      <Value><![CDATA[Inherit]]></Value>
    </seoStatus>
    <seoThumbnail>
      <Value><![CDATA[]]></Value>
    </seoThumbnail>
    <subfooterColor>
      <Value><![CDATA[]]></Value>
    </subfooterColor>
    <subfooterShowLastUpdatedDate>
      <Value><![CDATA[]]></Value>
    </subfooterShowLastUpdatedDate>
    <subfooterShowNextReviewDate>
      <Value><![CDATA[]]></Value>
    </subfooterShowNextReviewDate>
    <subfooterShowReturnToTopIcon>
      <Value><![CDATA[]]></Value>
    </subfooterShowReturnToTopIcon>
    <subfooterStatus>
      <Value><![CDATA[Inherit]]></Value>
    </subfooterStatus>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <virtualAgentInstall>
      <Value><![CDATA[]]></Value>
    </virtualAgentInstall>
    <virtualAgentStatus>
      <Value><![CDATA[]]></Value>
    </virtualAgentStatus>
  </Properties>
</Content>