<?xml version="1.0" encoding="utf-8"?>
<Content Key="12763572-4b8e-4a0f-a1e8-5e960a1aed98" Alias="Colne Registration Office" Level="5">
  <Info>
    <Parent Key="e85bad05-b859-4346-8351-9fa75f8721b7">Find a registration office</Parent>
    <Path>/lancashiregovuk/Home/BirthsMarriagesCivilPartnershipsAndDeaths/FindARegistrationOffice/ColneRegistrationOffice</Path>
    <Trashed>false</Trashed>
    <ContentType>editorPage</ContentType>
    <CreateDate>2025-08-27T19:19:47</CreateDate>
    <NodeName Default="Colne Registration Office" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cbebb994-250c-4f99-ab85-8e38616efb0c">Editor</Template>
  </Info>
  <Properties>
    <alertStatus>
      <Value><![CDATA[Inherit]]></Value>
    </alertStatus>
    <alertText>
      <Value><![CDATA[]]></Value>
    </alertText>
    <alertTitle>
      <Value><![CDATA[]]></Value>
    </alertTitle>
    <alertType>
      <Value><![CDATA[]]></Value>
    </alertType>
    <asideContent>
      <Value><![CDATA[]]></Value>
    </asideContent>
    <asideFixed>
      <Value><![CDATA[]]></Value>
    </asideFixed>
    <asideOffset>
      <Value><![CDATA[]]></Value>
    </asideOffset>
    <asideStatus>
      <Value><![CDATA[Inherit]]></Value>
    </asideStatus>
    <bannerContent>
      <Value><![CDATA[]]></Value>
    </bannerContent>
    <bannerHeroImage>
      <Value><![CDATA[]]></Value>
    </bannerHeroImage>
    <bannerStatus>
      <Value><![CDATA[Inherit]]></Value>
    </bannerStatus>
    <body>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "9cd1f41e-8db7-498b-a4f1-db27180a4728",
      "key": "12b65bdf-d08a-496c-96f8-e790f4d8364f",
      "udi": null,
      "values": [
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Text-book an appointment"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EBook an appointment at a Lancashire registration office for\u003C/p\u003E\u003Cul\u003E\u003Cli\u003E\u003Cp\u003Eregistering a birth (link)\u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003Eregistering a death (link)\u003C/p\u003E\u003C/li\u003E\u003C/ul\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "mainTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EHow to book an appointment\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "9cd1f41e-8db7-498b-a4f1-db27180a4728",
      "key": "e8602237-49cf-4843-988e-a57bd9ad3134",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EAt this office you can,\u003C/p\u003E\u003Cul\u003E\u003Cli\u003E\u003Cp\u003Eregister a birth\u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003Eregister death.\u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003Eyou cannot give notice of your marriage or civil partnership\u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003Eyou cannot have your ceremony\u003C/p\u003E\u003C/li\u003E\u003C/ul\u003E\u003Cp\u003EFor a marriage or civil partnership:\u003C/p\u003E\u003Cul\u003E\u003Cli\u003E\u003Cp\u003EContact the ceremonies officer to reserve the date of your ceremony\u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003Egive notice of marriage or civil partnership.\u003C/p\u003E\u003C/li\u003E\u003C/ul\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "mainTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EServices offered at this registration office\u003C/p\u003E"
          }
        },
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Text-Services"
        }
      ]
    },
    {
      "contentTypeKey": "9cd1f41e-8db7-498b-a4f1-db27180a4728",
      "key": "711d3498-5bc8-41f5-9d93-6830f61ecdcc",
      "udi": null,
      "values": [
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Text-Office information"
        },
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003C/p\u003E\u003Ch3\u003ECar parking information\u003C/h3\u003E\u003Cp\u003EThere are car parking facilities at the office. \u003C/p\u003E\u003Ch3\u003EHow to pay\u003C/h3\u003E\u003Cp\u003EYou can pay by cash or card.\u003C/p\u003E\u003Ch3\u003EContact details\u003C/h3\u003E\u003Cul\u003E\u003Cli\u003E\u003Cp\u003EAddress: Colne Family Hub\u003C/p\u003E\u003Cp\u003EWalton Street\u003C/p\u003E\u003Cp\u003EColne\u003C/p\u003E\u003Cp\u003EBB8 0EL\u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003ETel: 0300 123 6705 \u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003E Email: \u003Ca target=\u0022\u0022 data-router-slot=\u0022disabled\u0022 href=\u0022mailto:Burnley.Registrars@lancashire.gov.uk\u0022 type=\u0022external\u0022\u003EBurnley.Registrars@lancashire.gov.uk\u003C/a\u003E\u003C/p\u003E\u003C/li\u003E\u003C/ul\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "2ea5fd1d-c3fa-4161-befa-44e3a8ff88e2",
      "key": "c1fbe3ad-843a-416f-8956-fad08d0b483a",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EOpening times are by appointment only.\u003C/p\u003E"
          }
        },
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Opening-times-Colne-Registration"
        },
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "times",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "3ababe53-a528-4533-ba2d-e1c779bbdeaf",
                "key": "d244cd87-e83d-4dfd-9e9d-2636d606b960",
                "udi": null,
                "values": [
                  {
                    "alias": "day",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "Monday"
                    ]
                  },
                  {
                    "alias": "open",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "09:00"
                  },
                  {
                    "alias": "close",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "16:30"
                  }
                ]
              },
              {
                "contentTypeKey": "3ababe53-a528-4533-ba2d-e1c779bbdeaf",
                "key": "d1460010-b72c-4345-bc71-a75874272787",
                "udi": null,
                "values": [
                  {
                    "alias": "day",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "Friday"
                    ]
                  },
                  {
                    "alias": "open",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "09:00"
                  },
                  {
                    "alias": "close",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "16:30"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "d244cd87-e83d-4dfd-9e9d-2636d606b960",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "d1460010-b72c-4345-bc71-a75874272787",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "d244cd87-e83d-4dfd-9e9d-2636d606b960",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "d1460010-b72c-4345-bc71-a75874272787",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        },
        {
          "alias": "mainTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EOpening times\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "9cd1f41e-8db7-498b-a4f1-db27180a4728",
      "key": "80ff1b23-f2c1-4403-91a3-5564d0c43f88",
      "udi": null,
      "values": [
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EThe office is in the Colne Family Hub.\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "mainTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EAbout the venue\u003C/p\u003E"
          }
        },
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Intro-text"
        }
      ]
    },
    {
      "contentTypeKey": "55023e89-519f-47a1-b9ff-d4198467e6c5",
      "key": "8c08c9c4-6276-4bab-bf72-511193125d00",
      "udi": null,
      "values": [
        {
          "alias": "mapLocation",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "boundingBox": {
              "northEastCorner": {
                "latitude": 53.857475250877165,
                "longitude": -2.160551548004151
              },
              "southWestCorner": {
                "latitude": 53.85241268600517,
                "longitude": -2.1792411804199223
              }
            },
            "zoom": 16,
            "marker": {
              "latitude": 53.85494,
              "longitude": -2.1699
            }
          }
        },
        {
          "alias": "mapType",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Standard"
          ]
        },
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Map-Colne "
        },
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "31095fb6-f9a3-4bb1-b559-d353a1ff0e92",
      "key": "3e283210-743c-48c7-8110-0ffbb1be11a1",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "31095fb6-f9a3-4bb1-b559-d353a1ff0e92",
      "key": "8c0d74bf-597f-4f14-a71f-a757cf7f10db",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "31095fb6-f9a3-4bb1-b559-d353a1ff0e92",
      "key": "e5e0f90e-3b74-4952-85f7-9363bdb3964f",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "38d28af9-85ee-41b1-9b31-233620b1b990",
      "key": "02e03542-f9a9-4cbb-bb54-674f7f9a04f2",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "31095fb6-f9a3-4bb1-b559-d353a1ff0e92",
      "key": "49c3b6b1-507c-4bb9-a2d7-9aa8f52e7703",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "18b3a798-7076-47dc-8cef-da2c5dbd4ec1",
      "key": "3ecb9141-5716-4fa1-ab81-a5ddcc02cdba",
      "udi": null,
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "12b65bdf-d08a-496c-96f8-e790f4d8364f",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "e8602237-49cf-4843-988e-a57bd9ad3134",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "711d3498-5bc8-41f5-9d93-6830f61ecdcc",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "c1fbe3ad-843a-416f-8956-fad08d0b483a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "80ff1b23-f2c1-4403-91a3-5564d0c43f88",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "8c08c9c4-6276-4bab-bf72-511193125d00",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "80ff1b23-f2c1-4403-91a3-5564d0c43f88",
        "contentUdi": null,
        "settingsKey": "49c3b6b1-507c-4bb9-a2d7-9aa8f52e7703",
        "settingsUdi": null
      },
      {
        "contentKey": "e8602237-49cf-4843-988e-a57bd9ad3134",
        "contentUdi": null,
        "settingsKey": "8c0d74bf-597f-4f14-a71f-a757cf7f10db",
        "settingsUdi": null
      },
      {
        "contentKey": "12b65bdf-d08a-496c-96f8-e790f4d8364f",
        "contentUdi": null,
        "settingsKey": "3e283210-743c-48c7-8110-0ffbb1be11a1",
        "settingsUdi": null
      },
      {
        "contentKey": "c1fbe3ad-843a-416f-8956-fad08d0b483a",
        "contentUdi": null,
        "settingsKey": "02e03542-f9a9-4cbb-bb54-674f7f9a04f2",
        "settingsUdi": null
      },
      {
        "contentKey": "711d3498-5bc8-41f5-9d93-6830f61ecdcc",
        "contentUdi": null,
        "settingsKey": "e5e0f90e-3b74-4952-85f7-9363bdb3964f",
        "settingsUdi": null
      },
      {
        "contentKey": "8c08c9c4-6276-4bab-bf72-511193125d00",
        "contentUdi": null,
        "settingsKey": "3ecb9141-5716-4fa1-ab81-a5ddcc02cdba",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </body>
    <categories>
      <Value><![CDATA[]]></Value>
    </categories>
    <furnitureBreadcrumbsColor>
      <Value><![CDATA[]]></Value>
    </furnitureBreadcrumbsColor>
    <furnitureBreadcrumbStatus>
      <Value><![CDATA[]]></Value>
    </furnitureBreadcrumbStatus>
    <furnitureBreadcrumbSubtheme>
      <Value><![CDATA[]]></Value>
    </furnitureBreadcrumbSubtheme>
    <furnitureBreadcrumbThemeShade>
      <Value><![CDATA[]]></Value>
    </furnitureBreadcrumbThemeShade>
    <furnitureFooterColor>
      <Value><![CDATA[]]></Value>
    </furnitureFooterColor>
    <furnitureFooterInformation>
      <Value><![CDATA[]]></Value>
    </furnitureFooterInformation>
    <furnitureFooterMenu>
      <Value><![CDATA[]]></Value>
    </furnitureFooterMenu>
    <furnitureFooterMessage>
      <Value><![CDATA[]]></Value>
    </furnitureFooterMessage>
    <furnitureFooterSocialMediaLinks>
      <Value><![CDATA[]]></Value>
    </furnitureFooterSocialMediaLinks>
    <furnitureFooterSubtheme>
      <Value><![CDATA[]]></Value>
    </furnitureFooterSubtheme>
    <furnitureFooterThemeShade>
      <Value><![CDATA[]]></Value>
    </furnitureFooterThemeShade>
    <furnitureHeaderColor>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderColor>
    <furnitureHeaderMenu>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderMenu>
    <furnitureHeaderMenuPosition>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderMenuPosition>
    <furnitureHeaderSticky>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderSticky>
    <furnitureHeaderSubtheme>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderSubtheme>
    <furnitureHeaderThemeShade>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderThemeShade>
    <furnitureLogoImage>
      <Value><![CDATA[]]></Value>
    </furnitureLogoImage>
    <furnitureLogoRatio>
      <Value><![CDATA[]]></Value>
    </furnitureLogoRatio>
    <furniturePageTitlePromote>
      <Value><![CDATA[]]></Value>
    </furniturePageTitlePromote>
    <furniturePageTitleSubtheme>
      <Value><![CDATA[]]></Value>
    </furniturePageTitleSubtheme>
    <furniturePageTitleThemeShade>
      <Value><![CDATA[]]></Value>
    </furniturePageTitleThemeShade>
    <furnitureShowAllServices>
      <Value><![CDATA[]]></Value>
    </furnitureShowAllServices>
    <furnitureShowHeaderMenuOnLargerDevices>
      <Value><![CDATA[]]></Value>
    </furnitureShowHeaderMenuOnLargerDevices>
    <furnitureShowHeaderMenuOnSmallerDevices>
      <Value><![CDATA[]]></Value>
    </furnitureShowHeaderMenuOnSmallerDevices>
    <furnitureShowSearchBar>
      <Value><![CDATA[]]></Value>
    </furnitureShowSearchBar>
    <furnitureStatus>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureStatus>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <pageHeader>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EColne Registration Office\u003C/p\u003E"
}]]></Value>
    </pageHeader>
    <pageSubtheme>
      <Value><![CDATA[]]></Value>
    </pageSubtheme>
    <pageTheme>
      <Value><![CDATA[]]></Value>
    </pageTheme>
    <pageThemeShade>
      <Value><![CDATA[]]></Value>
    </pageThemeShade>
    <reviewComments>
      <Value><![CDATA[]]></Value>
    </reviewComments>
    <reviewDate>
      <Value><![CDATA[]]></Value>
    </reviewDate>
    <reviewGroup>
      <Value><![CDATA[]]></Value>
    </reviewGroup>
    <reviewStatus>
      <Value><![CDATA[Inherit]]></Value>
    </reviewStatus>
    <seoAbstract>
      <Value><![CDATA[]]></Value>
    </seoAbstract>
    <seoCanonicalUrl>
      <Value><![CDATA[]]></Value>
    </seoCanonicalUrl>
    <seoDatePublished>
      <Value><![CDATA[]]></Value>
    </seoDatePublished>
    <seoDescription>
      <Value><![CDATA[]]></Value>
    </seoDescription>
    <seoPriority>
      <Value><![CDATA[]]></Value>
    </seoPriority>
    <seoPromotedSearchTerms>
      <Value><![CDATA[]]></Value>
    </seoPromotedSearchTerms>
    <seoStatus>
      <Value><![CDATA[Inherit]]></Value>
    </seoStatus>
    <seoThumbnail>
      <Value><![CDATA[]]></Value>
    </seoThumbnail>
    <subfooterColor>
      <Value><![CDATA[]]></Value>
    </subfooterColor>
    <subfooterShowLastUpdatedDate>
      <Value><![CDATA[]]></Value>
    </subfooterShowLastUpdatedDate>
    <subfooterShowNextReviewDate>
      <Value><![CDATA[]]></Value>
    </subfooterShowNextReviewDate>
    <subfooterShowReturnToTopIcon>
      <Value><![CDATA[]]></Value>
    </subfooterShowReturnToTopIcon>
    <subfooterStatus>
      <Value><![CDATA[Inherit]]></Value>
    </subfooterStatus>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <virtualAgentInstall>
      <Value><![CDATA[]]></Value>
    </virtualAgentInstall>
    <virtualAgentStatus>
      <Value><![CDATA[]]></Value>
    </virtualAgentStatus>
  </Properties>
</Content>