<?xml version="1.0" encoding="utf-8"?>
<Content Key="7e7251d0-d4b6-43cd-802e-2bf69e3ac462" Alias="E" Level="3">
  <Info>
    <Parent Key="cc9afc30-be07-4a56-8beb-ce5b702bcec0">Categories</Parent>
    <Path>/GlobalData/Categories/E</Path>
    <Trashed>false</Trashed>
    <ContentType>categoryHeaderData</ContentType>
    <CreateDate>2025-10-15T21:18:14</CreateDate>
    <NodeName Default="E" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <headingDescription>
      <Value><![CDATA[]]></Value>
    </headingDescription>
    <headingDescriptionStatus>
      <Value><![CDATA[Inherit]]></Value>
    </headingDescriptionStatus>
  </Properties>
</Content>