<?xml version="1.0" encoding="utf-8"?>
<Content Key="67f1ce1a-4271-4b69-a680-7b8aa8188d78" Alias="Error404" Level="3">
  <Info>
    <Parent Key="5799dddd-b5f2-4fcc-b1d2-d4d86f98e26f">Home</Parent>
    <Path>/locallancashiregovuk/Home/Error404</Path>
    <Trashed>false</Trashed>
    <ContentType>editorPage</ContentType>
    <CreateDate>2025-05-02T00:30:57</CreateDate>
    <NodeName Default="Error404" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cbebb994-250c-4f99-ab85-8e38616efb0c">Editor</Template>
  </Info>
  <Properties>
    <alertStatus>
      <Value><![CDATA[Hide]]></Value>
    </alertStatus>
    <alertText>
      <Value><![CDATA[]]></Value>
    </alertText>
    <alertTitle>
      <Value><![CDATA[]]></Value>
    </alertTitle>
    <alertType>
      <Value><![CDATA[]]></Value>
    </alertType>
    <asideContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "3b381ffc-8be5-48b0-80ea-4c8ecc15a820",
      "key": "8d33a837-e618-4da2-9868-e58d2d21284e",
      "udi": null,
      "values": []
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "778aa5c7-7e1c-4141-9444-81f112e391cb",
      "key": "9f477174-c3ea-4d14-8a8c-d9a3a7c35554",
      "udi": null,
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "8d33a837-e618-4da2-9868-e58d2d21284e",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "8d33a837-e618-4da2-9868-e58d2d21284e",
        "contentUdi": null,
        "settingsKey": "9f477174-c3ea-4d14-8a8c-d9a3a7c35554",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </asideContent>
    <asideFixed>
      <Value><![CDATA[]]></Value>
    </asideFixed>
    <asideOffset>
      <Value><![CDATA[]]></Value>
    </asideOffset>
    <asideStatus>
      <Value><![CDATA[Hide]]></Value>
    </asideStatus>
    <bannerContent>
      <Value><![CDATA[]]></Value>
    </bannerContent>
    <bannerHeroImage>
      <Value><![CDATA[]]></Value>
    </bannerHeroImage>
    <bannerStatus>
      <Value><![CDATA[Hide]]></Value>
    </bannerStatus>
    <body>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "f3688870-05fb-4bdf-813f-dcca8a4acf99",
      "key": "d01f64c6-7684-464b-9969-e2d63547dc58",
      "udi": null,
      "values": [
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Accordion"
        },
        {
          "alias": "panelBlocks",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "d0edea87-162e-4fb1-9cd5-1f2dc86fcd76",
                "key": "90b0d135-d1b8-405f-9a88-c8fac2feabcc",
                "udi": null,
                "values": [
                  {
                    "alias": "panelName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EHeader\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003ELots of text\u003C/p\u003E"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "9927466a-2e87-411e-8dc9-4df330b06660",
                "key": "d389783b-0cd9-43e0-b94f-ffca8587dff1",
                "udi": null,
                "values": [
                  {
                    "alias": "panelName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003ESteps\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "steps",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "contentData": [
                        {
                          "contentTypeKey": "d8868e70-1361-475a-b72b-eade36553be6",
                          "key": "29e00d5f-be3d-47ba-8e57-57f5ba765b8f",
                          "udi": null,
                          "values": [
                            {
                              "alias": "icon",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": {
                                "contentData": [
                                  {
                                    "contentTypeKey": "90c6334b-aa51-48a9-a3e7-032af4cf59e3",
                                    "key": "3caa8a60-cdbe-4257-b8eb-22e4da3d40c1",
                                    "udi": null,
                                    "values": [
                                      {
                                        "alias": "text",
                                        "culture": null,
                                        "editorAlias": null,
                                        "segment": null,
                                        "value": "Text"
                                      }
                                    ]
                                  }
                                ],
                                "settingsData": [],
                                "expose": [
                                  {
                                    "contentKey": "3caa8a60-cdbe-4257-b8eb-22e4da3d40c1",
                                    "culture": null,
                                    "segment": null
                                  }
                                ],
                                "Layout": {
                                  "Umbraco.BlockList": [
                                    {
                                      "contentKey": "3caa8a60-cdbe-4257-b8eb-22e4da3d40c1",
                                      "contentUdi": null,
                                      "settingsKey": null,
                                      "settingsUdi": null
                                    }
                                  ]
                                }
                              }
                            },
                            {
                              "alias": "header",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": {
                                "blocks": {
                                  "contentData": [],
                                  "settingsData": [],
                                  "expose": [],
                                  "Layout": {}
                                },
                                "markup": "Headline for Step"
                              }
                            },
                            {
                              "alias": "text",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": {
                                "blocks": {
                                  "contentData": [],
                                  "settingsData": [],
                                  "expose": [],
                                  "Layout": {}
                                },
                                "markup": "\u003Cp\u003ELots of steps\u003C/p\u003E"
                              }
                            }
                          ]
                        }
                      ],
                      "settingsData": [
                        {
                          "contentTypeKey": "8c0e1a8e-5e8e-4a52-b2f7-2b847c83372a",
                          "key": "1f25f943-6065-45d1-a1bd-80d86b47ae29",
                          "udi": null,
                          "values": []
                        }
                      ],
                      "expose": [
                        {
                          "contentKey": "29e00d5f-be3d-47ba-8e57-57f5ba765b8f",
                          "culture": null,
                          "segment": null
                        }
                      ],
                      "Layout": {
                        "Umbraco.BlockList": [
                          {
                            "contentKey": "29e00d5f-be3d-47ba-8e57-57f5ba765b8f",
                            "contentUdi": null,
                            "settingsKey": "1f25f943-6065-45d1-a1bd-80d86b47ae29",
                            "settingsUdi": null
                          }
                        ]
                      }
                    }
                  }
                ]
              }
            ],
            "settingsData": [
              {
                "contentTypeKey": "514dd4b7-f4fe-4386-b3f0-fb1ecb39c1d3",
                "key": "3e68b4f7-0a94-44a1-a8f1-1b2ccbc8334a",
                "udi": null,
                "values": []
              },
              {
                "contentTypeKey": "a5957eb8-05c1-40f7-88c4-2c1dd7f7ee19",
                "key": "3a1e8f6e-9500-4660-ae60-916ff6fe29b9",
                "udi": null,
                "values": [
                  {
                    "alias": "iconCircle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              }
            ],
            "expose": [
              {
                "contentKey": "90b0d135-d1b8-405f-9a88-c8fac2feabcc",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "d389783b-0cd9-43e0-b94f-ffca8587dff1",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "90b0d135-d1b8-405f-9a88-c8fac2feabcc",
                  "contentUdi": null,
                  "settingsKey": "3e68b4f7-0a94-44a1-a8f1-1b2ccbc8334a",
                  "settingsUdi": null
                },
                {
                  "contentKey": "d389783b-0cd9-43e0-b94f-ffca8587dff1",
                  "contentUdi": null,
                  "settingsKey": "3a1e8f6e-9500-4660-ae60-916ff6fe29b9",
                  "settingsUdi": null
                }
              ]
            }
          }
        },
        {
          "alias": "mainTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EHello Accordion 7m\u003Csup\u003E2\u003C/sup\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "fdf673d8-8549-4d24-840b-f39da73d992c",
      "key": "8bf322ae-36e5-4adf-910f-6a614cea35cb",
      "udi": null,
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "d01f64c6-7684-464b-9969-e2d63547dc58",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "d01f64c6-7684-464b-9969-e2d63547dc58",
        "contentUdi": null,
        "settingsKey": "8bf322ae-36e5-4adf-910f-6a614cea35cb",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </body>
    <categories>
      <Value><![CDATA[]]></Value>
    </categories>
    <furnitureBreadcrumbsColor>
      <Value><![CDATA[]]></Value>
    </furnitureBreadcrumbsColor>
    <furnitureBreadcrumbStatus>
      <Value><![CDATA[]]></Value>
    </furnitureBreadcrumbStatus>
    <furnitureBreadcrumbSubtheme>
      <Value><![CDATA[]]></Value>
    </furnitureBreadcrumbSubtheme>
    <furnitureBreadcrumbThemeShade>
      <Value><![CDATA[]]></Value>
    </furnitureBreadcrumbThemeShade>
    <furnitureFooterColor>
      <Value><![CDATA[]]></Value>
    </furnitureFooterColor>
    <furnitureFooterInformation>
      <Value><![CDATA[]]></Value>
    </furnitureFooterInformation>
    <furnitureFooterMenu>
      <Value><![CDATA[]]></Value>
    </furnitureFooterMenu>
    <furnitureFooterMessage>
      <Value><![CDATA[]]></Value>
    </furnitureFooterMessage>
    <furnitureFooterSocialMediaLinks>
      <Value><![CDATA[]]></Value>
    </furnitureFooterSocialMediaLinks>
    <furnitureFooterSubtheme>
      <Value><![CDATA[]]></Value>
    </furnitureFooterSubtheme>
    <furnitureFooterThemeShade>
      <Value><![CDATA[]]></Value>
    </furnitureFooterThemeShade>
    <furnitureHeaderColor>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderColor>
    <furnitureHeaderMenu>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderMenu>
    <furnitureHeaderMenuPosition>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderMenuPosition>
    <furnitureHeaderSticky>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderSticky>
    <furnitureHeaderSubtheme>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderSubtheme>
    <furnitureHeaderThemeShade>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderThemeShade>
    <furnitureLogoImage>
      <Value><![CDATA[]]></Value>
    </furnitureLogoImage>
    <furnitureLogoRatio>
      <Value><![CDATA[]]></Value>
    </furnitureLogoRatio>
    <furniturePageTitlePromote>
      <Value><![CDATA[]]></Value>
    </furniturePageTitlePromote>
    <PageTitleSubtheme>
      <Value><![CDATA[]]></Value>
    </PageTitleSubtheme>
    <furniturePageTitleThemeShade>
      <Value><![CDATA[]]></Value>
    </furniturePageTitleThemeShade>
    <furnitureShowAllServices>
      <Value><![CDATA[]]></Value>
    </furnitureShowAllServices>
    <furnitureShowHeaderMenuOnLargerDevices>
      <Value><![CDATA[]]></Value>
    </furnitureShowHeaderMenuOnLargerDevices>
    <furnitureShowHeaderMenuOnSmallerDevices>
      <Value><![CDATA[]]></Value>
    </furnitureShowHeaderMenuOnSmallerDevices>
    <furnitureShowSearchBar>
      <Value><![CDATA[]]></Value>
    </furnitureShowSearchBar>
    <furnitureStatus>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureStatus>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <pageHeader>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EPage 404 Error\u003C/p\u003E"
}]]></Value>
    </pageHeader>
    <pageSubtheme>
      <Value><![CDATA[]]></Value>
    </pageSubtheme>
    <pageTheme>
      <Value><![CDATA[]]></Value>
    </pageTheme>
    <pageThemeShade>
      <Value><![CDATA[]]></Value>
    </pageThemeShade>
    <reviewComments>
      <Value><![CDATA[]]></Value>
    </reviewComments>
    <reviewDate>
      <Value><![CDATA[]]></Value>
    </reviewDate>
    <reviewGroup>
      <Value><![CDATA[]]></Value>
    </reviewGroup>
    <reviewStatus>
      <Value><![CDATA[]]></Value>
    </reviewStatus>
    <seoAbstract>
      <Value><![CDATA[]]></Value>
    </seoAbstract>
    <seoCanonicalUrl>
      <Value><![CDATA[]]></Value>
    </seoCanonicalUrl>
    <seoDatePublished>
      <Value><![CDATA[]]></Value>
    </seoDatePublished>
    <seoDescription>
      <Value><![CDATA[]]></Value>
    </seoDescription>
    <seoPriority>
      <Value><![CDATA[]]></Value>
    </seoPriority>
    <seoPromotedSearchTerms>
      <Value><![CDATA[]]></Value>
    </seoPromotedSearchTerms>
    <seoStatus>
      <Value><![CDATA[Disable]]></Value>
    </seoStatus>
    <seoThumbnail>
      <Value><![CDATA[]]></Value>
    </seoThumbnail>
    <subfooterColor>
      <Value><![CDATA[]]></Value>
    </subfooterColor>
    <subfooterShowLastUpdatedDate>
      <Value><![CDATA[]]></Value>
    </subfooterShowLastUpdatedDate>
    <subfooterShowNextReviewDate>
      <Value><![CDATA[]]></Value>
    </subfooterShowNextReviewDate>
    <subfooterShowReturnToTopIcon>
      <Value><![CDATA[]]></Value>
    </subfooterShowReturnToTopIcon>
    <subfooterStatus>
      <Value><![CDATA[Hide]]></Value>
    </subfooterStatus>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <virtualAgentInstall>
      <Value><![CDATA[]]></Value>
    </virtualAgentInstall>
    <virtualAgentStatus>
      <Value><![CDATA[]]></Value>
    </virtualAgentStatus>
  </Properties>
</Content>