<?xml version="1.0" encoding="utf-8"?>
<Content Key="da4154e6-aff4-4dc4-ac7a-e27d14d42277" Alias="Global" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Global</Path>
    <Trashed>false</Trashed>
    <ContentType>globalData</ContentType>
    <CreateDate>2026-04-23T18:18:59</CreateDate>
    <NodeName Default="Global" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <label>
      <Value><![CDATA[]]></Value>
    </label>
  </Properties>
</Content>