<?xml version="1.0" encoding="utf-8"?>
<Content Key="12998b46-2afb-4390-8c37-c8c5597622ed" Alias="H" Level="3">
  <Info>
    <Parent Key="cc9afc30-be07-4a56-8beb-ce5b702bcec0">Categories</Parent>
    <Path>/GlobalData/Categories/H</Path>
    <Trashed>false</Trashed>
    <ContentType>categoryHeaderData</ContentType>
    <CreateDate>2025-11-25T15:20:55</CreateDate>
    <NodeName Default="H" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <headingDescription>
      <Value><![CDATA[]]></Value>
    </headingDescription>
    <headingDescriptionStatus>
      <Value><![CDATA[Inherit]]></Value>
    </headingDescriptionStatus>
  </Properties>
</Content>