<?xml version="1.0" encoding="utf-8"?>
<Content Key="0ecc6882-c6da-4b02-8647-c4bd7ed9f8eb" Alias="Health" Level="4">
  <Info>
    <Parent Key="12998b46-2afb-4390-8c37-c8c5597622ed">H</Parent>
    <Path>/GlobalData/Categories/H/Health</Path>
    <Trashed>false</Trashed>
    <ContentType>categoryData</ContentType>
    <CreateDate>2025-11-25T15:21:06</CreateDate>
    <NodeName Default="Health" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
  </Properties>
</Content>