<?xml version="1.0" encoding="utf-8"?>
<Content Key="dc787c39-7564-472f-9195-90baef629d67" Alias="Home" Level="2">
  <Info>
    <Parent Key="c593a5c3-a13c-48f1-b428-9f8d5d1a403d">Protenacity</Parent>
    <Path>/Protenacity/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>editorPage</ContentType>
    <CreateDate>2026-02-13T17:55:11</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cbebb994-250c-4f99-ab85-8e38616efb0c">Editor</Template>
  </Info>
  <Properties>
    <alertStatus>
      <Value><![CDATA[Hide]]></Value>
    </alertStatus>
    <alertText>
      <Value><![CDATA[]]></Value>
    </alertText>
    <alertTitle>
      <Value><![CDATA[]]></Value>
    </alertTitle>
    <alertType>
      <Value><![CDATA[]]></Value>
    </alertType>
    <asideContent>
      <Value><![CDATA[]]></Value>
    </asideContent>
    <asideFixed>
      <Value><![CDATA[1]]></Value>
    </asideFixed>
    <asideOffset>
      <Value><![CDATA[1]]></Value>
    </asideOffset>
    <asideStatus>
      <Value><![CDATA[Hide]]></Value>
    </asideStatus>
    <bannerContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "22222d3f-e002-4059-b55b-4443ebf6e1a6",
      "key": "f54a380b-16f4-4dc8-85ac-00701ce192d8",
      "udi": null,
      "values": [
        {
          "alias": "Image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "3b30be56-1d60-4b8e-9257-2180648c01b3",
              "mediaKey": "234de583-5207-41cf-81fd-ad228e7ff1d6",
              "mediaTypeAlias": "editorImage",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003ETiger\u003C/p\u003E"
          }
        },
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Home",
              "target": null,
              "unique": null,
              "type": null,
              "udi": "umb://document/dc787c397564472f919590baef629d67",
              "url": null,
              "queryString": null
            }
          ]
        },
        {
          "alias": "description",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003ESome text here\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "7d07f6fb-d10f-4b1e-9a83-8d0a525d9f3a",
      "key": "fb88676d-b9bb-4067-91b6-dea446521695",
      "udi": null,
      "values": [
        {
          "alias": "darken",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "alignment",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Left Align Text"
          ]
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "f54a380b-16f4-4dc8-85ac-00701ce192d8",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "f54a380b-16f4-4dc8-85ac-00701ce192d8",
        "contentUdi": null,
        "settingsKey": "fb88676d-b9bb-4067-91b6-dea446521695",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </bannerContent>
    <bannerHeroImage>
      <Value><![CDATA[]]></Value>
    </bannerHeroImage>
    <bannerStatus>
      <Value><![CDATA[Show Hero Banners]]></Value>
    </bannerStatus>
    <body>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "9cd1f41e-8db7-498b-a4f1-db27180a4728",
      "key": "4fea2a5f-63b1-4931-8a5a-5e6ad308f571",
      "udi": null,
      "values": [
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Intro"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch5\u003EWelcome to Protenacity\u003C/h5\u003E\u003Cp\u003E\u003C/p\u003E\u003Cp\u003EHello world\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "55023e89-519f-47a1-b9ff-d4198467e6c5",
      "key": "f417e924-898a-4d1a-ad4b-46242b55e016",
      "udi": null,
      "values": [
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Map"
        },
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "31095fb6-f9a3-4bb1-b559-d353a1ff0e92",
      "key": "b978398f-ed83-415c-a7df-628b2ccd2f14",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "18b3a798-7076-47dc-8cef-da2c5dbd4ec1",
      "key": "84490d0b-379f-4db8-9574-a7c2a2731e9c",
      "udi": null,
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "4fea2a5f-63b1-4931-8a5a-5e6ad308f571",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "f417e924-898a-4d1a-ad4b-46242b55e016",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "4fea2a5f-63b1-4931-8a5a-5e6ad308f571",
        "contentUdi": null,
        "settingsKey": "b978398f-ed83-415c-a7df-628b2ccd2f14",
        "settingsUdi": null
      },
      {
        "contentKey": "f417e924-898a-4d1a-ad4b-46242b55e016",
        "contentUdi": null,
        "settingsKey": "84490d0b-379f-4db8-9574-a7c2a2731e9c",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </body>
    <categories>
      <Value><![CDATA[]]></Value>
    </categories>
    <furnitureBreadcrumbsColor>
      <Value><![CDATA[]]></Value>
    </furnitureBreadcrumbsColor>
    <furnitureBreadcrumbStatus>
      <Value><![CDATA[Show Breadcrumb]]></Value>
    </furnitureBreadcrumbStatus>
    <furnitureBreadcrumbSubtheme>
      <Value><![CDATA[Primary]]></Value>
    </furnitureBreadcrumbSubtheme>
    <furnitureBreadcrumbThemeShade>
      <Value><![CDATA[Light]]></Value>
    </furnitureBreadcrumbThemeShade>
    <furnitureFooterColor>
      <Value><![CDATA[]]></Value>
    </furnitureFooterColor>
    <furnitureFooterInformation>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [
      {
        "contentTypeKey": "bc470a04-8377-4fda-bdb5-beeb2e3b5fd9",
        "key": "9500dba3-c163-4461-800a-b9dd312df929",
        "udi": null,
        "values": [
          {
            "alias": "field",
            "culture": null,
            "editorAlias": null,
            "segment": null,
            "value": [
              "Year"
            ]
          }
        ]
      }
    ],
    "settingsData": [
      {
        "contentTypeKey": "76907976-1596-4f54-b40f-b728a46e4afc",
        "key": "d9d621c8-92aa-45ec-9f18-26a09a50e992",
        "udi": null,
        "values": []
      }
    ],
    "expose": [
      {
        "contentKey": "9500dba3-c163-4461-800a-b9dd312df929",
        "culture": null,
        "segment": null
      }
    ],
    "Layout": {
      "Umbraco.RichText": [
        {
          "contentKey": "9500dba3-c163-4461-800a-b9dd312df929",
          "contentUdi": null,
          "settingsKey": "d9d621c8-92aa-45ec-9f18-26a09a50e992",
          "settingsUdi": null
        }
      ]
    }
  },
  "markup": "\u003Cp\u003E\u00A9\u003Cumb-rte-block-inline data-content-key=\u00229500dba3-c163-4461-800a-b9dd312df929\u0022\u003E\u003C/umb-rte-block-inline\u003E\u0026nbsp;Protenacity\u003C/p\u003E"
}]]></Value>
    </furnitureFooterInformation>
    <furnitureFooterMenu>
      <Value><![CDATA[]]></Value>
    </furnitureFooterMenu>
    <furnitureFooterMessage>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EWelcome to Protenacity\u003C/p\u003E"
}]]></Value>
    </furnitureFooterMessage>
    <furnitureFooterSocialMediaLinks>
      <Value><![CDATA[]]></Value>
    </furnitureFooterSocialMediaLinks>
    <furnitureFooterSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureFooterSubtheme>
    <furnitureFooterThemeShade>
      <Value><![CDATA[Dark]]></Value>
    </furnitureFooterThemeShade>
    <furnitureHeaderColor>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderColor>
    <furnitureHeaderMenu>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "f480d8ea-7662-4bc1-8e69-050327d708b1",
      "key": "cc1abbd2-221e-4cee-b2b4-73839daa5966",
      "udi": null,
      "values": [
        {
          "alias": "topMenu",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Umbraco",
              "target": "_blank",
              "unique": null,
              "type": null,
              "udi": null,
              "url": "/umbraco",
              "queryString": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "f480d8ea-7662-4bc1-8e69-050327d708b1",
      "key": "023744c0-80f8-4ca1-b25e-dce876d4b46e",
      "udi": null,
      "values": [
        {
          "alias": "topMenu",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Test",
              "target": null,
              "unique": null,
              "type": null,
              "udi": "umb://document/100e64b285ee448b8a2fc0ad739dccf7",
              "url": null,
              "queryString": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "cc1abbd2-221e-4cee-b2b4-73839daa5966",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "023744c0-80f8-4ca1-b25e-dce876d4b46e",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "cc1abbd2-221e-4cee-b2b4-73839daa5966",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "023744c0-80f8-4ca1-b25e-dce876d4b46e",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </furnitureHeaderMenu>
    <furnitureHeaderMenuPosition>
      <Value><![CDATA[Below Header Right Justified]]></Value>
    </furnitureHeaderMenuPosition>
    <furnitureHeaderSticky>
      <Value><![CDATA[0]]></Value>
    </furnitureHeaderSticky>
    <furnitureHeaderSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureHeaderSubtheme>
    <furnitureHeaderThemeShade>
      <Value><![CDATA[Dark]]></Value>
    </furnitureHeaderThemeShade>
    <furnitureLogoImage>
      <Value><![CDATA[[
  {
    "key": "ee5b769e-a076-4287-84b0-9a8888898967",
    "mediaKey": "7196d829-8343-4569-9743-b7e2d3e9d7b8",
    "mediaTypeAlias": "editorImage",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </furnitureLogoImage>
    <furnitureLogoRatio>
      <Value><![CDATA[[
  "6:1"
]]]></Value>
    </furnitureLogoRatio>
    <furnitureShowHeaderMenuOnLargerDevices>
      <Value><![CDATA[1]]></Value>
    </furnitureShowHeaderMenuOnLargerDevices>
    <furnitureShowHeaderMenuOnSmallerDevices>
      <Value><![CDATA[1]]></Value>
    </furnitureShowHeaderMenuOnSmallerDevices>
    <furnitureShowHelp>
      <Value><![CDATA[0]]></Value>
    </furnitureShowHelp>
    <furnitureShowSearchBar>
      <Value><![CDATA[1]]></Value>
    </furnitureShowSearchBar>
    <furnitureStatus>
      <Value><![CDATA[Show]]></Value>
    </furnitureStatus>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <pageSubtheme>
      <Value><![CDATA[Primary]]></Value>
    </pageSubtheme>
    <pageSubtitle>
      <Value><![CDATA[]]></Value>
    </pageSubtitle>
    <pageTheme>
      <Value><![CDATA[Golden Sands]]></Value>
    </pageTheme>
    <pageThemeShade>
      <Value><![CDATA[Light]]></Value>
    </pageThemeShade>
    <pageTitleName>
      <Value><![CDATA[]]></Value>
    </pageTitleName>
    <pageTitlePromote>
      <Value><![CDATA[0]]></Value>
    </pageTitlePromote>
    <pageTitleSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </pageTitleSubtheme>
    <pageTitleThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </pageTitleThemeShade>
    <seoAbstract>
      <Value><![CDATA[]]></Value>
    </seoAbstract>
    <seoCanonicalUrl>
      <Value><![CDATA[]]></Value>
    </seoCanonicalUrl>
    <seoDatePublished>
      <Value><![CDATA[]]></Value>
    </seoDatePublished>
    <seoDescription>
      <Value><![CDATA[]]></Value>
    </seoDescription>
    <seoPriority>
      <Value><![CDATA[1]]></Value>
    </seoPriority>
    <seoPromotedSearchTerms>
      <Value><![CDATA[]]></Value>
    </seoPromotedSearchTerms>
    <seoStatus>
      <Value><![CDATA[Enable]]></Value>
    </seoStatus>
    <seoThumbnail>
      <Value><![CDATA[]]></Value>
    </seoThumbnail>
    <subfooterColor>
      <Value><![CDATA[]]></Value>
    </subfooterColor>
    <subfooterShowLastUpdatedDate>
      <Value><![CDATA[1]]></Value>
    </subfooterShowLastUpdatedDate>
    <subfooterShowNextReviewDate>
      <Value><![CDATA[0]]></Value>
    </subfooterShowNextReviewDate>
    <subfooterShowReturnToTopIcon>
      <Value><![CDATA[1]]></Value>
    </subfooterShowReturnToTopIcon>
    <subfooterStatus>
      <Value><![CDATA[Hide]]></Value>
    </subfooterStatus>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
  </Properties>
</Content>