<?xml version="1.0" encoding="utf-8"?>
<Content Key="ac7d6293-cf47-4499-9e64-542dc34803e2" Alias="Jobs" Level="4">
  <Info>
    <Parent Key="71386ab9-d366-45f4-b8db-efee2ba18fc8">J</Parent>
    <Path>/GlobalData/Categories/J/Jobs</Path>
    <Trashed>false</Trashed>
    <ContentType>categoryData</ContentType>
    <CreateDate>2025-11-25T15:21:52</CreateDate>
    <NodeName Default="Jobs" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
  </Properties>
</Content>