<?xml version="1.0" encoding="utf-8"?>
<Content Key="0b9c62b7-d4a0-48dc-9d3a-d508f0204701" Alias="Kerbs" Level="4">
  <Info>
    <Parent Key="109303db-dcf4-4380-8270-4c6c44fd06d5">K</Parent>
    <Path>/GlobalData/Categories/K/Kerbs</Path>
    <Trashed>false</Trashed>
    <ContentType>categoryData</ContentType>
    <CreateDate>2025-11-25T15:22:08</CreateDate>
    <NodeName Default="Kerbs" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
  </Properties>
</Content>