<?xml version="1.0" encoding="utf-8"?>
<Content Key="45dbd9d6-2ea7-4467-9b43-d3cb1d34a8b0" Alias="lancashire.gov.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/lancashiregovuk</Path>
    <Trashed>false</Trashed>
    <ContentType>domainPage</ContentType>
    <CreateDate>2025-08-27T19:19:47</CreateDate>
    <NodeName Default="lancashire.gov.uk" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <allServices>
      <Value><![CDATA[[
  {
    "name": "Services",
    "target": null,
    "udi": "umb://document/5b42c6410c7642088061336ff98720c8",
    "url": null,
    "queryString": null
  }
]]]></Value>
    </allServices>
    <bingVerification>
      <Value><![CDATA[]]></Value>
    </bingVerification>
    <configAsideLeftWidth>
      <Value><![CDATA[3]]></Value>
    </configAsideLeftWidth>
    <configAsideRightWidth>
      <Value><![CDATA[4]]></Value>
    </configAsideRightWidth>
    <configCardDateFormat>
      <Value><![CDATA[d]]></Value>
    </configCardDateFormat>
    <configCardTimeFormat>
      <Value><![CDATA[t]]></Value>
    </configCardTimeFormat>
    <configCategoryCache>
      <Value><![CDATA[60]]></Value>
    </configCategoryCache>
    <configCoronerDateFormat>
      <Value><![CDATA[dd/MM/yyyy]]></Value>
    </configCoronerDateFormat>
    <configCoronerTimeFormat>
      <Value><![CDATA[hh:mmtt]]></Value>
    </configCoronerTimeFormat>
    <configDefaultAsideBackground>
      <Value><![CDATA[]]></Value>
    </configDefaultAsideBackground>
    <configDefaultAsideBorderColor>
      <Value><![CDATA[]]></Value>
    </configDefaultAsideBorderColor>
    <configDefaultAsideBorderEdges>
      <Value><![CDATA[]]></Value>
    </configDefaultAsideBorderEdges>
    <configDefaultImageMissingColor>
      <Value><![CDATA[#D0D0D0]]></Value>
    </configDefaultImageMissingColor>
    <configFormFromEmail>
      <Value><![CDATA[]]></Value>
    </configFormFromEmail>
    <configImageQuality>
      <Value><![CDATA[70]]></Value>
    </configImageQuality>
    <configOpeningTimesCustomTimeFormat>
      <Value><![CDATA[hh:mmtt]]></Value>
    </configOpeningTimesCustomTimeFormat>
    <configPageMaximum>
      <Value><![CDATA[1000]]></Value>
    </configPageMaximum>
    <configPageSizeDefault>
      <Value><![CDATA[100]]></Value>
    </configPageSizeDefault>
    <configPageSizeMaximum>
      <Value><![CDATA[1000]]></Value>
    </configPageSizeMaximum>
    <configReviewEmailBody>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003ETHIS IS AN AUTOMATED EMAIL\u003Cbr\u003E\u003Cbr\u003EThere is content that requires reviewing on lancashire.gov.uk website\u003C/p\u003E"
}]]></Value>
    </configReviewEmailBody>
    <configReviewEmailFrequency>
      <Value><![CDATA[[
  "Monday"
]]]></Value>
    </configReviewEmailFrequency>
    <configReviewEmailFrom>
      <Value><![CDATA[]]></Value>
    </configReviewEmailFrom>
    <configReviewEmailSubject>
      <Value><![CDATA[You have content to review on lancashire.gov.uk]]></Value>
    </configReviewEmailSubject>
    <configRssFeedReaderCache>
      <Value><![CDATA[15]]></Value>
    </configRssFeedReaderCache>
    <configSearchFuzziness>
      <Value><![CDATA[90]]></Value>
    </configSearchFuzziness>
    <configSearchH1Boost>
      <Value><![CDATA[100]]></Value>
    </configSearchH1Boost>
    <configSearchH2Boost>
      <Value><![CDATA[30]]></Value>
    </configSearchH2Boost>
    <configSearchH3Boost>
      <Value><![CDATA[10]]></Value>
    </configSearchH3Boost>
    <configSearchH4Boost>
      <Value><![CDATA[6]]></Value>
    </configSearchH4Boost>
    <configSearchH5Boost>
      <Value><![CDATA[3]]></Value>
    </configSearchH5Boost>
    <configSearchH6Boost>
      <Value><![CDATA[2]]></Value>
    </configSearchH6Boost>
    <configSearchImplementFuzzyResults>
      <Value><![CDATA[10]]></Value>
    </configSearchImplementFuzzyResults>
    <configSearchKeywordsBoost>
      <Value><![CDATA[50]]></Value>
    </configSearchKeywordsBoost>
    <configSearchPromotedSearchTermsBoost>
      <Value><![CDATA[200]]></Value>
    </configSearchPromotedSearchTermsBoost>
    <configSearchSeoPriorities>
      <Value><![CDATA[20,18,16,14,12,10,8,6,4,2,1]]></Value>
    </configSearchSeoPriorities>
    <configTheme>
      <Value><![CDATA[lancashire-county-council]]></Value>
    </configTheme>
    <configUmbracoFormCacheLength>
      <Value><![CDATA[60]]></Value>
    </configUmbracoFormCacheLength>
    <configUmbracoFormFieldMessage>
      <Value><![CDATA[Message]]></Value>
    </configUmbracoFormFieldMessage>
    <configUmbracoFormFieldName>
      <Value><![CDATA[Name]]></Value>
    </configUmbracoFormFieldName>
    <configUmbracoFormFieldNameDefault>
      <Value><![CDATA[Anonymous]]></Value>
    </configUmbracoFormFieldNameDefault>
    <cookieConsentAnalyticCookieList>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "fa8af893-6d54-4794-9938-db592c148391",
      "key": "0305f491-e251-4467-b922-0f4052b3721d",
      "udi": null,
      "values": [
        {
          "alias": "cookieName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "_ga"
        },
        {
          "alias": "cookieDomain",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "www.google.com"
        },
        {
          "alias": "cookieExpiration",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "10 Years"
        },
        {
          "alias": "cookieDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EUsed by Google Analytics\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "bf3351ec-9aaa-4228-9733-3d0c4e1b2840",
      "key": "70f6f77b-6469-42f0-852e-93c50bf30733",
      "udi": null,
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "0305f491-e251-4467-b922-0f4052b3721d",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "0305f491-e251-4467-b922-0f4052b3721d",
        "contentUdi": null,
        "settingsKey": "70f6f77b-6469-42f0-852e-93c50bf30733",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </cookieConsentAnalyticCookieList>
    <cookieConsentAnalyticDescription>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EThese cookies collect information about how you use our website. All of the data is anonymized and cannot be used to identify you.\u003C/p\u003E"
}]]></Value>
    </cookieConsentAnalyticDescription>
    <cookieConsentAnalyticEnable>
      <Value><![CDATA[1]]></Value>
    </cookieConsentAnalyticEnable>
    <cookieConsentAnalyticGoogleTagManager>
      <Value><![CDATA[[
  "Analytics Storage",
  "Functionality Storage",
  "Personization Storage",
  "Security Storage"
]]]></Value>
    </cookieConsentAnalyticGoogleTagManager>
    <cookieConsentAnalyticScript>
      <Value><![CDATA[<!-- Put your GA code here -->]]></Value>
    </cookieConsentAnalyticScript>
    <cookieConsentAnalyticTitle>
      <Value><![CDATA[Performance and Analytics]]></Value>
    </cookieConsentAnalyticTitle>
    <cookieConsentBackgroundColor>
      <Value><![CDATA[{
  "label": "000000",
  "value": "#000000"
}]]></Value>
    </cookieConsentBackgroundColor>
    <cookieConsentBespokeCookieList>
      <Value><![CDATA[]]></Value>
    </cookieConsentBespokeCookieList>
    <cookieConsentBespokeDescription>
      <Value><![CDATA[]]></Value>
    </cookieConsentBespokeDescription>
    <cookieConsentBespokeEnable>
      <Value><![CDATA[]]></Value>
    </cookieConsentBespokeEnable>
    <cookieConsentBespokeGoogleTagManager>
      <Value><![CDATA[[
  "Ad Storage",
  "Ad User Data",
  "Ad Personalization",
  "Analytics Storage",
  "Functionality Storage",
  "Personization Storage",
  "Security Storage"
]]]></Value>
    </cookieConsentBespokeGoogleTagManager>
    <cookieConsentBespokeScript>
      <Value><![CDATA[]]></Value>
    </cookieConsentBespokeScript>
    <cookieConsentBespokeTitle>
      <Value><![CDATA[]]></Value>
    </cookieConsentBespokeTitle>
    <cookieConsentCustomClose>
      <Value><![CDATA[Close]]></Value>
    </cookieConsentCustomClose>
    <cookieConsentCustomMoreInfoDescription>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EFor more information please visit our Cookies page\u003C/p\u003E"
}]]></Value>
    </cookieConsentCustomMoreInfoDescription>
    <cookieConsentCustomMoreInfoTitle>
      <Value><![CDATA[More information]]></Value>
    </cookieConsentCustomMoreInfoTitle>
    <cookieConsentCustomSave>
      <Value><![CDATA[Save]]></Value>
    </cookieConsentCustomSave>
    <cookieConsentCustomSectionDescription>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EYou can view which cookies are used by the site\u003C/p\u003E"
}]]></Value>
    </cookieConsentCustomSectionDescription>
    <cookieConsentCustomSectionTitle>
      <Value><![CDATA[Your Privacy Choices]]></Value>
    </cookieConsentCustomSectionTitle>
    <cookieConsentCustomTitle>
      <Value><![CDATA[Manage cookie preferences]]></Value>
    </cookieConsentCustomTitle>
    <cookieConsentEnable>
      <Value><![CDATA[1]]></Value>
    </cookieConsentEnable>
    <cookieConsentIntegrateWithGoogleTagManager>
      <Value><![CDATA[1]]></Value>
    </cookieConsentIntegrateWithGoogleTagManager>
    <cookieConsentModalAcceptAll>
      <Value><![CDATA[Accept All]]></Value>
    </cookieConsentModalAcceptAll>
    <cookieConsentModalCustom>
      <Value><![CDATA[Manage preferences]]></Value>
    </cookieConsentModalCustom>
    <cookieConsentModalDescription>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EThis website uses cookies\u003C/p\u003E"
}]]></Value>
    </cookieConsentModalDescription>
    <cookieConsentModalPosition>
      <Value><![CDATA[[
  "Top Center"
]]]></Value>
    </cookieConsentModalPosition>
    <cookieConsentModalRejectAll>
      <Value><![CDATA[Reject All]]></Value>
    </cookieConsentModalRejectAll>
    <cookieConsentModalTitle>
      <Value><![CDATA[Cookies]]></Value>
    </cookieConsentModalTitle>
    <cookieConsentNecessaryCookieList>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "fa8af893-6d54-4794-9938-db592c148391",
      "key": "bbaf9063-d5ad-4a3e-aec8-84b39544380f",
      "udi": null,
      "values": [
        {
          "alias": "cookieName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "cc_cookie"
        },
        {
          "alias": "cookieDomain",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "lancashire.gov.uk"
        },
        {
          "alias": "cookieExpiration",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "6 Months"
        },
        {
          "alias": "cookieDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EUsed to store the cookie choices you make now\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "bf3351ec-9aaa-4228-9733-3d0c4e1b2840",
      "key": "1118879b-bdd7-4e97-891e-803d3b09fffa",
      "udi": null,
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "bbaf9063-d5ad-4a3e-aec8-84b39544380f",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "bbaf9063-d5ad-4a3e-aec8-84b39544380f",
        "contentUdi": null,
        "settingsKey": "1118879b-bdd7-4e97-891e-803d3b09fffa",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </cookieConsentNecessaryCookieList>
    <cookieConsentNecessaryDescription>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003ECookies that are required for the proper functionality of this website\u003C/p\u003E"
}]]></Value>
    </cookieConsentNecessaryDescription>
    <cookieConsentNecessaryGoogleTagManager>
      <Value><![CDATA[[
  "Ad Storage"
]]]></Value>
    </cookieConsentNecessaryGoogleTagManager>
    <cookieConsentNecessaryScript>
      <Value><![CDATA[]]></Value>
    </cookieConsentNecessaryScript>
    <cookieConsentNecessaryTitle>
      <Value><![CDATA[Strictly Necessary]]></Value>
    </cookieConsentNecessaryTitle>
    <enableIndexing>
      <Value><![CDATA[]]></Value>
    </enableIndexing>
    <enableSitemapxml>
      <Value><![CDATA[]]></Value>
    </enableSitemapxml>
    <enableSnippets>
      <Value><![CDATA[]]></Value>
    </enableSnippets>
    <errorPage>
      <Value><![CDATA[umb://document/cd35e58b956d4a33aa45772b2fe240f2]]></Value>
    </errorPage>
    <facebookVerification>
      <Value><![CDATA[]]></Value>
    </facebookVerification>
    <googleVerification>
      <Value><![CDATA[]]></Value>
    </googleVerification>
    <icon>
      <Value><![CDATA[[
  {
    "key": "33ca2881-2a0e-44f2-926d-9a5f87fc0c1a",
    "mediaKey": "0a8e685a-fe00-454e-989b-0c30d6015071",
    "mediaTypeAlias": "editorIcon",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </icon>
    <publisher>
      <Value><![CDATA[Lancashire County Council]]></Value>
    </publisher>
    <robotsTxt>
      <Value><![CDATA[]]></Value>
    </robotsTxt>
    <rssFeeds>
      <Value><![CDATA[]]></Value>
    </rssFeeds>
    <search>
      <Value><![CDATA[[
  {
    "name": "Search",
    "target": null,
    "udi": "umb://document/45874d7953a444508dae5930c9d2d716",
    "url": null,
    "queryString": null
  }
]]]></Value>
    </search>
    <securityAcknowledgments>
      <Value><![CDATA[]]></Value>
    </securityAcknowledgments>
    <securityContact>
      <Value><![CDATA[[
  {
    "name": "m",
    "target": null,
    "udi": null,
    "url": "mailto:cybersecurity@lancashire.gov.uk",
    "queryString": null
  }
]]]></Value>
    </securityContact>
    <securityDigitalSignature>
      <Value><![CDATA[]]></Value>
    </securityDigitalSignature>
    <securityEnable>
      <Value><![CDATA[1]]></Value>
    </securityEnable>
    <securityHiring>
      <Value><![CDATA[]]></Value>
    </securityHiring>
    <securityPolicy>
      <Value><![CDATA[]]></Value>
    </securityPolicy>
    <title>
      <Value><![CDATA[Lancashire County Council]]></Value>
    </title>
  </Properties>
</Content>