<?xml version="1.0" encoding="utf-8"?>
<Content Key="c097d60d-922a-4d3b-8b30-35fd64f2131d" Alias="List Days" Level="4">
  <Info>
    <Parent Key="d56a3dc8-855f-48ae-b312-13231a69cb92">Bus</Parent>
    <Path>/lancashiregovuk/Home/Bus/ListDays</Path>
    <Trashed>false</Trashed>
    <ContentType>editorPage</ContentType>
    <CreateDate>2026-01-15T19:30:14</CreateDate>
    <NodeName Default="List Days" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cbebb994-250c-4f99-ab85-8e38616efb0c">Editor</Template>
  </Info>
  <Properties>
    <alertStatus>
      <Value><![CDATA[Inherit]]></Value>
    </alertStatus>
    <alertText>
      <Value><![CDATA[]]></Value>
    </alertText>
    <alertTitle>
      <Value><![CDATA[]]></Value>
    </alertTitle>
    <alertType>
      <Value><![CDATA[]]></Value>
    </alertType>
    <asideContent>
      <Value><![CDATA[]]></Value>
    </asideContent>
    <asideFixed>
      <Value><![CDATA[1]]></Value>
    </asideFixed>
    <asideOffset>
      <Value><![CDATA[1]]></Value>
    </asideOffset>
    <asideStatus>
      <Value><![CDATA[Inherit]]></Value>
    </asideStatus>
    <bannerContent>
      <Value><![CDATA[]]></Value>
    </bannerContent>
    <bannerHeroImage>
      <Value><![CDATA[]]></Value>
    </bannerHeroImage>
    <bannerStatus>
      <Value><![CDATA[Inherit]]></Value>
    </bannerStatus>
    <body>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "9cd1f41e-8db7-498b-a4f1-db27180a4728",
      "key": "4d7bdfb5-e48e-447e-86a6-24cd66ec8635",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [
                {
                  "contentTypeKey": "bc470a04-8377-4fda-bdb5-beeb2e3b5fd9",
                  "key": "1c9a0949-8d1b-4913-bde0-41025b50bca9",
                  "udi": null,
                  "values": [
                    {
                      "alias": "field",
                      "culture": null,
                      "editorAlias": null,
                      "segment": null,
                      "value": [
                        "Bus Route"
                      ]
                    }
                  ]
                },
                {
                  "contentTypeKey": "bc470a04-8377-4fda-bdb5-beeb2e3b5fd9",
                  "key": "474da116-ca27-4d94-914d-2dbd5a99682e",
                  "udi": null,
                  "values": [
                    {
                      "alias": "field",
                      "culture": null,
                      "editorAlias": null,
                      "segment": null,
                      "value": [
                        "Bus Stop"
                      ]
                    }
                  ]
                },
                {
                  "contentTypeKey": "bc470a04-8377-4fda-bdb5-beeb2e3b5fd9",
                  "key": "6f64c2e8-f950-4bff-9da6-1de855fc1df9",
                  "udi": null,
                  "values": [
                    {
                      "alias": "field",
                      "culture": null,
                      "editorAlias": null,
                      "segment": null,
                      "value": [
                        "Bus Day"
                      ]
                    }
                  ]
                },
                {
                  "contentTypeKey": "bc470a04-8377-4fda-bdb5-beeb2e3b5fd9",
                  "key": "4109baa6-eade-425e-a516-d8e1bd9c463f",
                  "udi": null,
                  "values": [
                    {
                      "alias": "field",
                      "culture": null,
                      "editorAlias": null,
                      "segment": null,
                      "value": [
                        "Bus Route Description"
                      ]
                    }
                  ]
                }
              ],
              "settingsData": [
                {
                  "contentTypeKey": "76907976-1596-4f54-b40f-b728a46e4afc",
                  "key": "c0b16464-a0b7-4ffb-9fe3-197c524c918b",
                  "udi": null,
                  "values": []
                },
                {
                  "contentTypeKey": "76907976-1596-4f54-b40f-b728a46e4afc",
                  "key": "9a283355-73e3-42e6-b55c-4796e12fdf5d",
                  "udi": null,
                  "values": []
                },
                {
                  "contentTypeKey": "76907976-1596-4f54-b40f-b728a46e4afc",
                  "key": "932ac2bf-71e4-48e5-8d4c-2f0c9e952e4e",
                  "udi": null,
                  "values": []
                },
                {
                  "contentTypeKey": "76907976-1596-4f54-b40f-b728a46e4afc",
                  "key": "41fa7b8b-ed53-4ff6-9acb-4fe3923c74e2",
                  "udi": null,
                  "values": []
                }
              ],
              "expose": [
                {
                  "contentKey": "1c9a0949-8d1b-4913-bde0-41025b50bca9",
                  "culture": null,
                  "segment": null
                },
                {
                  "contentKey": "474da116-ca27-4d94-914d-2dbd5a99682e",
                  "culture": null,
                  "segment": null
                },
                {
                  "contentKey": "6f64c2e8-f950-4bff-9da6-1de855fc1df9",
                  "culture": null,
                  "segment": null
                },
                {
                  "contentKey": "4109baa6-eade-425e-a516-d8e1bd9c463f",
                  "culture": null,
                  "segment": null
                }
              ],
              "Layout": {
                "Umbraco.RichText": [
                  {
                    "contentKey": "1c9a0949-8d1b-4913-bde0-41025b50bca9",
                    "contentUdi": null,
                    "settingsKey": "c0b16464-a0b7-4ffb-9fe3-197c524c918b",
                    "settingsUdi": null
                  },
                  {
                    "contentKey": "474da116-ca27-4d94-914d-2dbd5a99682e",
                    "contentUdi": null,
                    "settingsKey": "9a283355-73e3-42e6-b55c-4796e12fdf5d",
                    "settingsUdi": null
                  },
                  {
                    "contentKey": "6f64c2e8-f950-4bff-9da6-1de855fc1df9",
                    "contentUdi": null,
                    "settingsKey": "932ac2bf-71e4-48e5-8d4c-2f0c9e952e4e",
                    "settingsUdi": null
                  },
                  {
                    "contentKey": "4109baa6-eade-425e-a516-d8e1bd9c463f",
                    "contentUdi": null,
                    "settingsKey": "41fa7b8b-ed53-4ff6-9acb-4fe3923c74e2",
                    "settingsUdi": null
                  }
                ]
              }
            },
            "markup": "\u003Cp\u003EBus Route =\u0026nbsp;\u003Cumb-rte-block-inline data-content-key=\u00221c9a0949-8d1b-4913-bde0-41025b50bca9\u0022\u003E\u003C/umb-rte-block-inline\u003E\u003C/p\u003E\u003Cp\u003EDescription =\u0026nbsp;\u003Cumb-rte-block-inline data-content-key=\u00224109baa6-eade-425e-a516-d8e1bd9c463f\u0022\u003E\u003C/umb-rte-block-inline\u003E\u003C/p\u003E\u003Cp\u003EBus Stop =\u0026nbsp;\u003Cumb-rte-block-inline data-content-key=\u0022474da116-ca27-4d94-914d-2dbd5a99682e\u0022\u003E\u003C/umb-rte-block-inline\u003E\u003C/p\u003E\u003Cp\u003EBus Day =\u0026nbsp;\u003Cumb-rte-block-inline data-content-key=\u00226f64c2e8-f950-4bff-9da6-1de855fc1df9\u0022\u003E\u003C/umb-rte-block-inline\u003E\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Introduction"
        }
      ]
    },
    {
      "contentTypeKey": "04be815f-6da6-4d8a-bec4-8631f8d3029b",
      "key": "7a593781-9b10-47b7-b5cf-de2a229f2226",
      "udi": null,
      "values": [
        {
          "alias": "busRouteApi",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://document/2a266658ddcc4730b23471778d2aea0f"
        },
        {
          "alias": "busTimeTableDataApi",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://document/1535387df97844ed832b1f6593bd7a17"
        },
        {
          "alias": "displayType",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "[\u0022List Days by Service at Bus Stop\u0022]"
        },
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Days"
        },
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": 1
        },
        {
          "alias": "detailsPage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "[{\u0022name\u0022:\u0022Bus Times Table\u0022,\u0022target\u0022:null,\u0022udi\u0022:\u0022umb://document/8a9317ed3c5246f99cdbe39bb5f9d05f\u0022,\u0022url\u0022:null,\u0022queryString\u0022:null}]"
        },
        {
          "alias": "mapPage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "[{\u0022name\u0022:\u0022Bus Route Map\u0022,\u0022target\u0022:null,\u0022udi\u0022:\u0022umb://document/785ec5c8891844bb8bda365dbfaf71bc\u0022,\u0022url\u0022:null,\u0022queryString\u0022:null}]"
        }
      ]
    },
    {
      "contentTypeKey": "793dcf15-687f-44f8-a4db-40364fdf27eb",
      "key": "994e6f9d-64c0-4a80-a6cb-81f13a4642d2",
      "udi": null,
      "values": [
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Map"
        },
        {
          "alias": "busRouteApi",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://document/2a266658ddcc4730b23471778d2aea0f"
        },
        {
          "alias": "displayType",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "[\u0022Map of Bus Route\u0022]"
        },
        {
          "alias": "detailsPage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "[{\u0022name\u0022:\u0022Bus Times Table\u0022,\u0022target\u0022:null,\u0022udi\u0022:\u0022umb://document/8a9317ed3c5246f99cdbe39bb5f9d05f\u0022,\u0022url\u0022:null,\u0022queryString\u0022:null}]"
        },
        {
          "alias": "mapPage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "[{\u0022name\u0022:\u0022Bus Stop Map\u0022,\u0022target\u0022:null,\u0022udi\u0022:\u0022umb://document/e05d3b84f0ec4136b3eb405781ab0784\u0022,\u0022url\u0022:null,\u0022queryString\u0022:null}]"
        },
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": 1
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "31095fb6-f9a3-4bb1-b559-d353a1ff0e92",
      "key": "b5c7f4b5-e23d-4f6a-b157-52a226b9e4ef",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "7a08cbfd-2040-493e-8433-b0b0eaa8bec6",
      "key": "b9f49388-a12a-4a0e-a654-66b62e71f0ef",
      "udi": null,
      "values": [
        {
          "alias": "showSearch",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "pageSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "ff9ad762-45f8-4755-88d7-25cb804e416e",
      "key": "28461d07-1692-45a0-8560-d7b5626cb9bc",
      "udi": null,
      "values": [
        {
          "alias": "showSearch",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "pageSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "4d7bdfb5-e48e-447e-86a6-24cd66ec8635",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7a593781-9b10-47b7-b5cf-de2a229f2226",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "994e6f9d-64c0-4a80-a6cb-81f13a4642d2",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "4d7bdfb5-e48e-447e-86a6-24cd66ec8635",
        "contentUdi": null,
        "settingsKey": "b5c7f4b5-e23d-4f6a-b157-52a226b9e4ef",
        "settingsUdi": null
      },
      {
        "contentKey": "7a593781-9b10-47b7-b5cf-de2a229f2226",
        "contentUdi": null,
        "settingsKey": "b9f49388-a12a-4a0e-a654-66b62e71f0ef",
        "settingsUdi": null
      },
      {
        "contentKey": "994e6f9d-64c0-4a80-a6cb-81f13a4642d2",
        "contentUdi": null,
        "settingsKey": "28461d07-1692-45a0-8560-d7b5626cb9bc",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </body>
    <categories>
      <Value><![CDATA[]]></Value>
    </categories>
    <furnitureBreadcrumbsColor>
      <Value><![CDATA[]]></Value>
    </furnitureBreadcrumbsColor>
    <furnitureBreadcrumbStatus>
      <Value><![CDATA[Inherit Breadcrumb Status]]></Value>
    </furnitureBreadcrumbStatus>
    <furnitureBreadcrumbSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureBreadcrumbSubtheme>
    <furnitureBreadcrumbThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureBreadcrumbThemeShade>
    <furnitureFooterColor>
      <Value><![CDATA[]]></Value>
    </furnitureFooterColor>
    <furnitureFooterInformation>
      <Value><![CDATA[]]></Value>
    </furnitureFooterInformation>
    <furnitureFooterMenu>
      <Value><![CDATA[]]></Value>
    </furnitureFooterMenu>
    <furnitureFooterMessage>
      <Value><![CDATA[]]></Value>
    </furnitureFooterMessage>
    <furnitureFooterSocialMediaLinks>
      <Value><![CDATA[]]></Value>
    </furnitureFooterSocialMediaLinks>
    <furnitureFooterSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureFooterSubtheme>
    <furnitureFooterThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureFooterThemeShade>
    <furnitureHeaderColor>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderColor>
    <furnitureHeaderMenu>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderMenu>
    <furnitureHeaderMenuPosition>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderMenuPosition>
    <furnitureHeaderSticky>
      <Value><![CDATA[1]]></Value>
    </furnitureHeaderSticky>
    <furnitureHeaderSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureHeaderSubtheme>
    <furnitureHeaderThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureHeaderThemeShade>
    <furnitureLogoImage>
      <Value><![CDATA[]]></Value>
    </furnitureLogoImage>
    <furnitureLogoRatio>
      <Value><![CDATA[]]></Value>
    </furnitureLogoRatio>
    <furniturePageTitlePromote>
      <Value><![CDATA[0]]></Value>
    </furniturePageTitlePromote>
    <furniturePageTitleSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </furniturePageTitleSubtheme>
    <furniturePageTitleThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </furniturePageTitleThemeShade>
    <furnitureShowAllServices>
      <Value><![CDATA[1]]></Value>
    </furnitureShowAllServices>
    <furnitureShowHeaderMenuOnLargerDevices>
      <Value><![CDATA[1]]></Value>
    </furnitureShowHeaderMenuOnLargerDevices>
    <furnitureShowHeaderMenuOnSmallerDevices>
      <Value><![CDATA[1]]></Value>
    </furnitureShowHeaderMenuOnSmallerDevices>
    <furnitureShowSearchBar>
      <Value><![CDATA[1]]></Value>
    </furnitureShowSearchBar>
    <furnitureStatus>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureStatus>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <pageHeader>
      <Value><![CDATA[]]></Value>
    </pageHeader>
    <pageSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </pageSubtheme>
    <pageTheme>
      <Value><![CDATA[Inherit]]></Value>
    </pageTheme>
    <pageThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </pageThemeShade>
    <reviewComments>
      <Value><![CDATA[]]></Value>
    </reviewComments>
    <reviewDate>
      <Value><![CDATA[]]></Value>
    </reviewDate>
    <reviewGroup>
      <Value><![CDATA[]]></Value>
    </reviewGroup>
    <reviewStatus>
      <Value><![CDATA[Inherit]]></Value>
    </reviewStatus>
    <seoAbstract>
      <Value><![CDATA[]]></Value>
    </seoAbstract>
    <seoCanonicalUrl>
      <Value><![CDATA[]]></Value>
    </seoCanonicalUrl>
    <seoDatePublished>
      <Value><![CDATA[]]></Value>
    </seoDatePublished>
    <seoDescription>
      <Value><![CDATA[]]></Value>
    </seoDescription>
    <seoPriority>
      <Value><![CDATA[1]]></Value>
    </seoPriority>
    <seoPromotedSearchTerms>
      <Value><![CDATA[]]></Value>
    </seoPromotedSearchTerms>
    <seoStatus>
      <Value><![CDATA[Inherit]]></Value>
    </seoStatus>
    <seoThumbnail>
      <Value><![CDATA[]]></Value>
    </seoThumbnail>
    <subfooterColor>
      <Value><![CDATA[]]></Value>
    </subfooterColor>
    <subfooterShowLastUpdatedDate>
      <Value><![CDATA[1]]></Value>
    </subfooterShowLastUpdatedDate>
    <subfooterShowNextReviewDate>
      <Value><![CDATA[0]]></Value>
    </subfooterShowNextReviewDate>
    <subfooterShowReturnToTopIcon>
      <Value><![CDATA[1]]></Value>
    </subfooterShowReturnToTopIcon>
    <subfooterStatus>
      <Value><![CDATA[Inherit]]></Value>
    </subfooterStatus>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <virtualAgentInstall>
      <Value><![CDATA[]]></Value>
    </virtualAgentInstall>
    <virtualAgentStatus>
      <Value><![CDATA[Inherit]]></Value>
    </virtualAgentStatus>
  </Properties>
</Content>