<?xml version="1.0" encoding="utf-8"?>
<Content Key="388d46aa-6c52-4321-ae08-a6a62d005b20" Alias="Lists" Level="4">
  <Info>
    <Parent Key="945cc2f0-d5eb-4356-9de9-48a9bc36e077">Test Content</Parent>
    <Path>/lancashiregovuk/Home/TestContent/Lists</Path>
    <Trashed>false</Trashed>
    <ContentType>editorPage</ContentType>
    <CreateDate>2025-02-07T14:16:26</CreateDate>
    <NodeName Default="Lists" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cbebb994-250c-4f99-ab85-8e38616efb0c">Editor</Template>
  </Info>
  <Properties>
    <alertStatus>
      <Value><![CDATA[Inherit]]></Value>
    </alertStatus>
    <alertText>
      <Value><![CDATA[]]></Value>
    </alertText>
    <alertTitle>
      <Value><![CDATA[]]></Value>
    </alertTitle>
    <alertType>
      <Value><![CDATA[]]></Value>
    </alertType>
    <asideContent>
      <Value><![CDATA[]]></Value>
    </asideContent>
    <asideFixed>
      <Value><![CDATA[]]></Value>
    </asideFixed>
    <asideOffset>
      <Value><![CDATA[]]></Value>
    </asideOffset>
    <asideStatus>
      <Value><![CDATA[Inherit]]></Value>
    </asideStatus>
    <bannerContent>
      <Value><![CDATA[]]></Value>
    </bannerContent>
    <bannerHeroImage>
      <Value><![CDATA[]]></Value>
    </bannerHeroImage>
    <bannerStatus>
      <Value><![CDATA[Inherit]]></Value>
    </bannerStatus>
    <body>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "69021ede-3114-43b4-96c8-5d2c66e7ebd1",
      "key": "06b4cbba-d387-43bc-ae58-7a1e48f86bcc",
      "udi": null,
      "values": [
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Standard List"
        },
        {
          "alias": "mainTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EPages (7m\u003Csup\u003E2 \u003C/sup\u003E Water H\u003Csub\u003E2\u003C/sub\u003EO)\u003C/p\u003E"
          }
        },
        {
          "alias": "listBlocks",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "a7d6bfa0-76ad-477c-b8be-a936c05eface",
                "key": "a10387da-888a-4720-bf87-1df0aab171e9",
                "udi": null,
                "values": [
                  {
                    "alias": "pages",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "umb://document/388d46aa6c524321ae08a6a62d005b20,umb://document/91f89d6489504dd0994c399a4a005eba,umb://document/5035cebea1314e08804519d16c472d65,umb://document/44124e81f1ef4b2aa8f122b64b4baf91,umb://document/690bfe294d634b9684565dd4217a8691,umb://document/880c9e603c2c49f9b45f74a178d3e323,umb://document/3f8af1eca53348d488640c3e11873f8d,umb://document/519eaefc2c0440b396476b7383d1cbc6,umb://document/aeaa3118aaea4573acc6db96adc70258"
                  }
                ]
              }
            ],
            "settingsData": [
              {
                "contentTypeKey": "05c5e544-b88c-497f-975c-60d95b83bd77",
                "key": "23ef41bb-e31b-4ddd-8462-5205108ab625",
                "udi": null,
                "values": [
                  {
                    "alias": "order",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "A to Z"
                    ]
                  },
                  {
                    "alias": "styleImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "Behind"
                    ]
                  },
                  {
                    "alias": "styleHeader",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "Hide"
                    ]
                  },
                  {
                    "alias": "styleText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "Hide"
                    ]
                  },
                  {
                    "alias": "styleAction",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "Link with Icon"
                    ]
                  }
                ]
              }
            ],
            "expose": [
              {
                "contentKey": "a10387da-888a-4720-bf87-1df0aab171e9",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "a10387da-888a-4720-bf87-1df0aab171e9",
                  "contentUdi": "umb://element/a10387da888a4720bf871df0aab171e9",
                  "settingsKey": "23ef41bb-e31b-4ddd-8462-5205108ab625",
                  "settingsUdi": "umb://element/23ef41bbe31b4ddd84625205108ab625"
                }
              ]
            }
          }
        },
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "mainLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "69021ede-3114-43b4-96c8-5d2c66e7ebd1",
      "key": "56f9d1fd-a2cc-4ff5-9289-77d9c169ce60",
      "udi": null,
      "values": [
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Carousel"
        },
        {
          "alias": "mainTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EMore Pages (7m\u003Csup\u003E2 \u003C/sup\u003E Water H\u003Csub\u003E2\u003C/sub\u003EO)\u003C/p\u003E"
          }
        },
        {
          "alias": "listBlocks",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "a7d6bfa0-76ad-477c-b8be-a936c05eface",
                "key": "b993f077-917c-497c-9c5a-686a1511c63a",
                "udi": null,
                "values": [
                  {
                    "alias": "pages",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "umb://document/388d46aa6c524321ae08a6a62d005b20,umb://document/91f89d6489504dd0994c399a4a005eba,umb://document/5035cebea1314e08804519d16c472d65,umb://document/44124e81f1ef4b2aa8f122b64b4baf91,umb://document/690bfe294d634b9684565dd4217a8691,umb://document/880c9e603c2c49f9b45f74a178d3e323,umb://document/3f8af1eca53348d488640c3e11873f8d,umb://document/519eaefc2c0440b396476b7383d1cbc6,umb://document/aeaa3118aaea4573acc6db96adc70258"
                  }
                ]
              }
            ],
            "settingsData": [
              {
                "contentTypeKey": "05c5e544-b88c-497f-975c-60d95b83bd77",
                "key": "fdda321b-6c0b-4600-8697-e591f5677645",
                "udi": null,
                "values": [
                  {
                    "alias": "order",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "Z to A"
                    ]
                  },
                  {
                    "alias": "styleImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "styleHeader",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "styleText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "styleAction",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  }
                ]
              }
            ],
            "expose": [
              {
                "contentKey": "b993f077-917c-497c-9c5a-686a1511c63a",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "b993f077-917c-497c-9c5a-686a1511c63a",
                  "contentUdi": "umb://element/b993f077917c497c9c5a686a1511c63a",
                  "settingsKey": "fdda321b-6c0b-4600-8697-e591f5677645",
                  "settingsUdi": "umb://element/fdda321b6c0b46008697e591f5677645"
                }
              ]
            }
          }
        },
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "mainLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "81e44a54-ba00-4100-b7a1-14d73a691ab9",
      "key": "86fc5115-0099-41d8-ae28-3579f7248278",
      "udi": null,
      "values": [
        {
          "alias": "maxColumns",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "styleAction",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "81e44a54-ba00-4100-b7a1-14d73a691ab9",
      "key": "8ee4e1c4-122d-4dc6-bab8-d74cf2d6b0d7",
      "udi": null,
      "values": [
        {
          "alias": "maxColumns",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "6"
        },
        {
          "alias": "styleAction",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "listType",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Carousel"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "06b4cbba-d387-43bc-ae58-7a1e48f86bcc",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "56f9d1fd-a2cc-4ff5-9289-77d9c169ce60",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "56f9d1fd-a2cc-4ff5-9289-77d9c169ce60",
        "contentUdi": "umb://element/56f9d1fda2cc4ff5928977d9c169ce60",
        "settingsKey": "8ee4e1c4-122d-4dc6-bab8-d74cf2d6b0d7",
        "settingsUdi": "umb://element/8ee4e1c4122d4dc6bab8d74cf2d6b0d7"
      },
      {
        "contentKey": "06b4cbba-d387-43bc-ae58-7a1e48f86bcc",
        "contentUdi": "umb://element/06b4cbbad38743bcae587a1e48f86bcc",
        "settingsKey": "86fc5115-0099-41d8-ae28-3579f7248278",
        "settingsUdi": "umb://element/86fc5115009941d8ae283579f7248278"
      }
    ]
  }
}]]></Value>
    </body>
    <categories>
      <Value><![CDATA[]]></Value>
    </categories>
    <furnitureBreadcrumbsColor>
      <Value><![CDATA[]]></Value>
    </furnitureBreadcrumbsColor>
    <furnitureBreadcrumbStatus>
      <Value><![CDATA[Inherit Breadcrumb Status]]></Value>
    </furnitureBreadcrumbStatus>
    <furnitureBreadcrumbSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureBreadcrumbSubtheme>
    <furnitureBreadcrumbThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureBreadcrumbThemeShade>
    <furnitureFooterColor>
      <Value><![CDATA[]]></Value>
    </furnitureFooterColor>
    <furnitureFooterInformation>
      <Value><![CDATA[]]></Value>
    </furnitureFooterInformation>
    <furnitureFooterMenu>
      <Value><![CDATA[]]></Value>
    </furnitureFooterMenu>
    <furnitureFooterMessage>
      <Value><![CDATA[]]></Value>
    </furnitureFooterMessage>
    <furnitureFooterSocialMediaLinks>
      <Value><![CDATA[]]></Value>
    </furnitureFooterSocialMediaLinks>
    <furnitureFooterSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureFooterSubtheme>
    <furnitureFooterThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureFooterThemeShade>
    <furnitureHeaderColor>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderColor>
    <furnitureHeaderMenu>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderMenu>
    <furnitureHeaderMenuPosition>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderMenuPosition>
    <furnitureHeaderSticky>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderSticky>
    <furnitureHeaderSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureHeaderSubtheme>
    <furnitureHeaderThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureHeaderThemeShade>
    <furnitureLogoImage>
      <Value><![CDATA[]]></Value>
    </furnitureLogoImage>
    <furnitureLogoRatio>
      <Value><![CDATA[]]></Value>
    </furnitureLogoRatio>
    <furniturePageTitlePromote>
      <Value><![CDATA[]]></Value>
    </furniturePageTitlePromote>
    <furniturePageTitleSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </furniturePageTitleSubtheme>
    <furniturePageTitleThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </furniturePageTitleThemeShade>
    <furnitureShowAllServices>
      <Value><![CDATA[1]]></Value>
    </furnitureShowAllServices>
    <furnitureShowHeaderMenuOnLargerDevices>
      <Value><![CDATA[]]></Value>
    </furnitureShowHeaderMenuOnLargerDevices>
    <furnitureShowHeaderMenuOnSmallerDevices>
      <Value><![CDATA[]]></Value>
    </furnitureShowHeaderMenuOnSmallerDevices>
    <furnitureShowSearchBar>
      <Value><![CDATA[1]]></Value>
    </furnitureShowSearchBar>
    <furnitureStatus>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureStatus>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <pageHeader>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003ELists (7m\u003Csup\u003E2 \u003C/sup\u003EWater H\u003Csub\u003E2\u003C/sub\u003EO) with lots of cool aid and a Christmas special \u003C/p\u003E"
}]]></Value>
    </pageHeader>
    <pageSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </pageSubtheme>
    <pageTheme>
      <Value><![CDATA[Inherit]]></Value>
    </pageTheme>
    <pageThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </pageThemeShade>
    <reviewComments>
      <Value><![CDATA[]]></Value>
    </reviewComments>
    <reviewDate>
      <Value><![CDATA[]]></Value>
    </reviewDate>
    <reviewGroup>
      <Value><![CDATA[]]></Value>
    </reviewGroup>
    <reviewStatus>
      <Value><![CDATA[Inherit]]></Value>
    </reviewStatus>
    <seoAbstract>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [
      {
        "contentTypeKey": "6c485594-0155-4427-9707-53266129226e",
        "key": "4b0b032c-35c4-4fa5-9396-254cd409b395",
        "udi": null,
        "values": [
          {
            "alias": "icon",
            "culture": null,
            "editorAlias": null,
            "segment": null,
            "value": [
              "Quote"
            ]
          },
          {
            "alias": "text",
            "culture": null,
            "editorAlias": null,
            "segment": null,
            "value": {
              "blocks": {
                "contentData": [],
                "settingsData": [],
                "expose": [],
                "Layout": {}
              },
              "markup": "\u003Cp\u003EI love lists\u003C/p\u003E"
            }
          }
        ]
      }
    ],
    "settingsData": [
      {
        "contentTypeKey": "dd4abd92-f709-47e2-ada6-b35569eb65b5",
        "key": "39e96fff-773f-4702-a15a-70681120c911",
        "udi": null,
        "values": []
      }
    ],
    "expose": [
      {
        "contentKey": "4b0b032c-35c4-4fa5-9396-254cd409b395",
        "culture": null,
        "segment": null
      }
    ],
    "Layout": {
      "Umbraco.RichText": [
        {
          "contentKey": "4b0b032c-35c4-4fa5-9396-254cd409b395",
          "contentUdi": null,
          "settingsKey": "39e96fff-773f-4702-a15a-70681120c911",
          "settingsUdi": null
        }
      ]
    }
  },
  "markup": "\u003Cp\u003EThis is lists (7m\u003Csup\u003E2 \u003C/sup\u003EWater H\u003Csub\u003E2\u003C/sub\u003EO)(7m\u003Csup\u003E2 \u003C/sup\u003EWater H\u003Csub\u003E2\u003C/sub\u003EO)(7m\u003Csup\u003E2 \u003C/sup\u003EWater H\u003Csub\u003E2\u003C/sub\u003EO)\u003C/p\u003E\u003Cumb-rte-block data-content-key=\u00224b0b032c-35c4-4fa5-9396-254cd409b395\u0022\u003E\u003C/umb-rte-block\u003E\u003Cp\u003E\u003C/p\u003E"
}]]></Value>
    </seoAbstract>
    <seoCanonicalUrl>
      <Value><![CDATA[]]></Value>
    </seoCanonicalUrl>
    <seoDatePublished>
      <Value><![CDATA[]]></Value>
    </seoDatePublished>
    <seoDescription>
      <Value><![CDATA[List of blocks]]></Value>
    </seoDescription>
    <seoPriority>
      <Value><![CDATA[]]></Value>
    </seoPriority>
    <seoPromotedSearchTerms>
      <Value><![CDATA[]]></Value>
    </seoPromotedSearchTerms>
    <seoStatus>
      <Value><![CDATA[Inherit]]></Value>
    </seoStatus>
    <seoThumbnail>
      <Value><![CDATA[[
  {
    "key": "abbd2ee7-c5c1-4f80-8c22-c5ebd02fe172",
    "mediaKey": "34d3ec74-2b62-4a14-82bc-57ff7658913b",
    "mediaTypeAlias": "editorImage",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </seoThumbnail>
    <subfooterColor>
      <Value><![CDATA[]]></Value>
    </subfooterColor>
    <subfooterShowLastUpdatedDate>
      <Value><![CDATA[]]></Value>
    </subfooterShowLastUpdatedDate>
    <subfooterShowNextReviewDate>
      <Value><![CDATA[]]></Value>
    </subfooterShowNextReviewDate>
    <subfooterShowReturnToTopIcon>
      <Value><![CDATA[]]></Value>
    </subfooterShowReturnToTopIcon>
    <subfooterStatus>
      <Value><![CDATA[Inherit]]></Value>
    </subfooterStatus>
    <title>
      <Value><![CDATA[Lists]]></Value>
    </title>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <virtualAgentInstall>
      <Value><![CDATA[]]></Value>
    </virtualAgentInstall>
    <virtualAgentStatus>
      <Value><![CDATA[Inherit]]></Value>
    </virtualAgentStatus>
  </Properties>
</Content>