<?xml version="1.0" encoding="utf-8"?>
<Content Key="0a182fe6-2c91-4d32-a562-cc7b32433b49" Alias="List Services" Level="4">
  <Info>
    <Parent Key="d56a3dc8-855f-48ae-b312-13231a69cb92">Bus</Parent>
    <Path>/lancashiregovuk/Home/Bus/ListServices</Path>
    <Trashed>false</Trashed>
    <ContentType>editorPage</ContentType>
    <CreateDate>2026-01-15T19:24:10</CreateDate>
    <NodeName Default="List Services" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cbebb994-250c-4f99-ab85-8e38616efb0c">Editor</Template>
  </Info>
  <Properties>
    <alertStatus>
      <Value><![CDATA[Inherit]]></Value>
    </alertStatus>
    <alertText>
      <Value><![CDATA[]]></Value>
    </alertText>
    <alertTitle>
      <Value><![CDATA[]]></Value>
    </alertTitle>
    <alertType>
      <Value><![CDATA[]]></Value>
    </alertType>
    <asideContent>
      <Value><![CDATA[]]></Value>
    </asideContent>
    <asideFixed>
      <Value><![CDATA[1]]></Value>
    </asideFixed>
    <asideOffset>
      <Value><![CDATA[1]]></Value>
    </asideOffset>
    <asideStatus>
      <Value><![CDATA[Inherit]]></Value>
    </asideStatus>
    <bannerContent>
      <Value><![CDATA[]]></Value>
    </bannerContent>
    <bannerHeroImage>
      <Value><![CDATA[]]></Value>
    </bannerHeroImage>
    <bannerStatus>
      <Value><![CDATA[Inherit]]></Value>
    </bannerStatus>
    <body>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "9cd1f41e-8db7-498b-a4f1-db27180a4728",
      "key": "e00c2065-f3cf-46a7-84b5-3dd9ff71a912",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [
                {
                  "contentTypeKey": "bc470a04-8377-4fda-bdb5-beeb2e3b5fd9",
                  "key": "f6ee6044-8d85-432c-a1ab-91e0e9934d8c",
                  "udi": null,
                  "values": [
                    {
                      "alias": "field",
                      "culture": null,
                      "editorAlias": null,
                      "segment": null,
                      "value": [
                        "Bus Route"
                      ]
                    }
                  ]
                },
                {
                  "contentTypeKey": "bc470a04-8377-4fda-bdb5-beeb2e3b5fd9",
                  "key": "42515a4f-a61f-4f53-9998-6364c9a54130",
                  "udi": null,
                  "values": [
                    {
                      "alias": "field",
                      "culture": null,
                      "editorAlias": null,
                      "segment": null,
                      "value": [
                        "Bus Stop"
                      ]
                    }
                  ]
                },
                {
                  "contentTypeKey": "bc470a04-8377-4fda-bdb5-beeb2e3b5fd9",
                  "key": "b928244c-c28a-4b36-9347-0b3d217eff60",
                  "udi": null,
                  "values": [
                    {
                      "alias": "field",
                      "culture": null,
                      "editorAlias": null,
                      "segment": null,
                      "value": [
                        "Bus Day"
                      ]
                    }
                  ]
                },
                {
                  "contentTypeKey": "bc470a04-8377-4fda-bdb5-beeb2e3b5fd9",
                  "key": "c6c53ffb-44dd-4160-a347-05e39be98f3e",
                  "udi": null,
                  "values": [
                    {
                      "alias": "field",
                      "culture": null,
                      "editorAlias": null,
                      "segment": null,
                      "value": [
                        "Bus Route Description"
                      ]
                    }
                  ]
                }
              ],
              "settingsData": [
                {
                  "contentTypeKey": "76907976-1596-4f54-b40f-b728a46e4afc",
                  "key": "567546f5-174b-4682-949f-6a423c1bff01",
                  "udi": null,
                  "values": []
                },
                {
                  "contentTypeKey": "76907976-1596-4f54-b40f-b728a46e4afc",
                  "key": "441522b0-45f3-4fd3-b0b4-97ee1d6ebd09",
                  "udi": null,
                  "values": []
                },
                {
                  "contentTypeKey": "76907976-1596-4f54-b40f-b728a46e4afc",
                  "key": "fb59939e-0d81-4e5e-8d83-d95e4c4e7847",
                  "udi": null,
                  "values": []
                },
                {
                  "contentTypeKey": "76907976-1596-4f54-b40f-b728a46e4afc",
                  "key": "0d4a7a02-c674-46f5-be2b-3393c132854d",
                  "udi": null,
                  "values": []
                }
              ],
              "expose": [
                {
                  "contentKey": "f6ee6044-8d85-432c-a1ab-91e0e9934d8c",
                  "culture": null,
                  "segment": null
                },
                {
                  "contentKey": "42515a4f-a61f-4f53-9998-6364c9a54130",
                  "culture": null,
                  "segment": null
                },
                {
                  "contentKey": "b928244c-c28a-4b36-9347-0b3d217eff60",
                  "culture": null,
                  "segment": null
                },
                {
                  "contentKey": "c6c53ffb-44dd-4160-a347-05e39be98f3e",
                  "culture": null,
                  "segment": null
                }
              ],
              "Layout": {
                "Umbraco.RichText": [
                  {
                    "contentKey": "f6ee6044-8d85-432c-a1ab-91e0e9934d8c",
                    "contentUdi": null,
                    "settingsKey": "567546f5-174b-4682-949f-6a423c1bff01",
                    "settingsUdi": null
                  },
                  {
                    "contentKey": "42515a4f-a61f-4f53-9998-6364c9a54130",
                    "contentUdi": null,
                    "settingsKey": "441522b0-45f3-4fd3-b0b4-97ee1d6ebd09",
                    "settingsUdi": null
                  },
                  {
                    "contentKey": "b928244c-c28a-4b36-9347-0b3d217eff60",
                    "contentUdi": null,
                    "settingsKey": "fb59939e-0d81-4e5e-8d83-d95e4c4e7847",
                    "settingsUdi": null
                  },
                  {
                    "contentKey": "c6c53ffb-44dd-4160-a347-05e39be98f3e",
                    "contentUdi": null,
                    "settingsKey": "0d4a7a02-c674-46f5-be2b-3393c132854d",
                    "settingsUdi": null
                  }
                ]
              }
            },
            "markup": "\u003Cp\u003EBus Route =\u0026nbsp;\u003Cumb-rte-block-inline data-content-key=\u0022f6ee6044-8d85-432c-a1ab-91e0e9934d8c\u0022\u003E\u003C/umb-rte-block-inline\u003E\u003C/p\u003E\u003Cp\u003EDescription =\u0026nbsp;\u003Cumb-rte-block-inline data-content-key=\u0022c6c53ffb-44dd-4160-a347-05e39be98f3e\u0022\u003E\u003C/umb-rte-block-inline\u003E\u003C/p\u003E\u003Cp\u003EBus Stop =\u0026nbsp;\u003Cumb-rte-block-inline data-content-key=\u002242515a4f-a61f-4f53-9998-6364c9a54130\u0022\u003E\u003C/umb-rte-block-inline\u003E\u003C/p\u003E\u003Cp\u003EBus Day =\u0026nbsp;\u003Cumb-rte-block-inline data-content-key=\u0022b928244c-c28a-4b36-9347-0b3d217eff60\u0022\u003E\u003C/umb-rte-block-inline\u003E\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Introduction"
        }
      ]
    },
    {
      "contentTypeKey": "04be815f-6da6-4d8a-bec4-8631f8d3029b",
      "key": "b43b25cf-3255-4b25-8a8f-bd96453ec7fd",
      "udi": null,
      "values": [
        {
          "alias": "busRouteApi",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://document/2a266658ddcc4730b23471778d2aea0f"
        },
        {
          "alias": "busTimeTableDataApi",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://document/1535387df97844ed832b1f6593bd7a17"
        },
        {
          "alias": "displayType",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "[\u0022List Services by Bus Stop\u0022]"
        },
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": 1
        },
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Services"
        },
        {
          "alias": "detailsPage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "[{\u0022name\u0022:\u0022List Days\u0022,\u0022target\u0022:null,\u0022udi\u0022:\u0022umb://document/c097d60d922a4d3b8b3035fd64f2131d\u0022,\u0022url\u0022:null,\u0022queryString\u0022:null}]"
        },
        {
          "alias": "mapPage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "[{\u0022name\u0022:\u0022Bus Route Map\u0022,\u0022target\u0022:null,\u0022udi\u0022:\u0022umb://document/785ec5c8891844bb8bda365dbfaf71bc\u0022,\u0022url\u0022:null,\u0022queryString\u0022:null}]"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "31095fb6-f9a3-4bb1-b559-d353a1ff0e92",
      "key": "2b4d198f-ce24-40db-8b26-8545d4ca80d5",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "7a08cbfd-2040-493e-8433-b0b0eaa8bec6",
      "key": "876cb7ff-3c72-4db7-a3f0-941ff4c131b8",
      "udi": null,
      "values": [
        {
          "alias": "showSearch",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "pageSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "e00c2065-f3cf-46a7-84b5-3dd9ff71a912",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "b43b25cf-3255-4b25-8a8f-bd96453ec7fd",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "e00c2065-f3cf-46a7-84b5-3dd9ff71a912",
        "contentUdi": null,
        "settingsKey": "2b4d198f-ce24-40db-8b26-8545d4ca80d5",
        "settingsUdi": null
      },
      {
        "contentKey": "b43b25cf-3255-4b25-8a8f-bd96453ec7fd",
        "contentUdi": null,
        "settingsKey": "876cb7ff-3c72-4db7-a3f0-941ff4c131b8",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </body>
    <categories>
      <Value><![CDATA[]]></Value>
    </categories>
    <furnitureBreadcrumbsColor>
      <Value><![CDATA[]]></Value>
    </furnitureBreadcrumbsColor>
    <furnitureBreadcrumbStatus>
      <Value><![CDATA[Inherit Breadcrumb Status]]></Value>
    </furnitureBreadcrumbStatus>
    <furnitureBreadcrumbSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureBreadcrumbSubtheme>
    <furnitureBreadcrumbThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureBreadcrumbThemeShade>
    <furnitureFooterColor>
      <Value><![CDATA[]]></Value>
    </furnitureFooterColor>
    <furnitureFooterInformation>
      <Value><![CDATA[]]></Value>
    </furnitureFooterInformation>
    <furnitureFooterMenu>
      <Value><![CDATA[]]></Value>
    </furnitureFooterMenu>
    <furnitureFooterMessage>
      <Value><![CDATA[]]></Value>
    </furnitureFooterMessage>
    <furnitureFooterSocialMediaLinks>
      <Value><![CDATA[]]></Value>
    </furnitureFooterSocialMediaLinks>
    <furnitureFooterSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureFooterSubtheme>
    <furnitureFooterThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureFooterThemeShade>
    <furnitureHeaderColor>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderColor>
    <furnitureHeaderMenu>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderMenu>
    <furnitureHeaderMenuPosition>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderMenuPosition>
    <furnitureHeaderSticky>
      <Value><![CDATA[1]]></Value>
    </furnitureHeaderSticky>
    <furnitureHeaderSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureHeaderSubtheme>
    <furnitureHeaderThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureHeaderThemeShade>
    <furnitureLogoImage>
      <Value><![CDATA[]]></Value>
    </furnitureLogoImage>
    <furnitureLogoRatio>
      <Value><![CDATA[]]></Value>
    </furnitureLogoRatio>
    <furniturePageTitlePromote>
      <Value><![CDATA[0]]></Value>
    </furniturePageTitlePromote>
    <PageTitleSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </PageTitleSubtheme>
    <furniturePageTitleThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </furniturePageTitleThemeShade>
    <furnitureShowAllServices>
      <Value><![CDATA[1]]></Value>
    </furnitureShowAllServices>
    <furnitureShowHeaderMenuOnLargerDevices>
      <Value><![CDATA[1]]></Value>
    </furnitureShowHeaderMenuOnLargerDevices>
    <furnitureShowHeaderMenuOnSmallerDevices>
      <Value><![CDATA[1]]></Value>
    </furnitureShowHeaderMenuOnSmallerDevices>
    <furnitureShowSearchBar>
      <Value><![CDATA[1]]></Value>
    </furnitureShowSearchBar>
    <furnitureStatus>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureStatus>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <pageHeader>
      <Value><![CDATA[]]></Value>
    </pageHeader>
    <pageSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </pageSubtheme>
    <pageTheme>
      <Value><![CDATA[Inherit]]></Value>
    </pageTheme>
    <pageThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </pageThemeShade>
    <reviewComments>
      <Value><![CDATA[]]></Value>
    </reviewComments>
    <reviewDate>
      <Value><![CDATA[]]></Value>
    </reviewDate>
    <reviewGroup>
      <Value><![CDATA[]]></Value>
    </reviewGroup>
    <reviewStatus>
      <Value><![CDATA[Inherit]]></Value>
    </reviewStatus>
    <seoAbstract>
      <Value><![CDATA[]]></Value>
    </seoAbstract>
    <seoCanonicalUrl>
      <Value><![CDATA[]]></Value>
    </seoCanonicalUrl>
    <seoDatePublished>
      <Value><![CDATA[]]></Value>
    </seoDatePublished>
    <seoDescription>
      <Value><![CDATA[]]></Value>
    </seoDescription>
    <seoPriority>
      <Value><![CDATA[1]]></Value>
    </seoPriority>
    <seoPromotedSearchTerms>
      <Value><![CDATA[]]></Value>
    </seoPromotedSearchTerms>
    <seoStatus>
      <Value><![CDATA[Inherit]]></Value>
    </seoStatus>
    <seoThumbnail>
      <Value><![CDATA[]]></Value>
    </seoThumbnail>
    <subfooterColor>
      <Value><![CDATA[]]></Value>
    </subfooterColor>
    <subfooterShowLastUpdatedDate>
      <Value><![CDATA[1]]></Value>
    </subfooterShowLastUpdatedDate>
    <subfooterShowNextReviewDate>
      <Value><![CDATA[0]]></Value>
    </subfooterShowNextReviewDate>
    <subfooterShowReturnToTopIcon>
      <Value><![CDATA[1]]></Value>
    </subfooterShowReturnToTopIcon>
    <subfooterStatus>
      <Value><![CDATA[Inherit]]></Value>
    </subfooterStatus>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <virtualAgentInstall>
      <Value><![CDATA[]]></Value>
    </virtualAgentInstall>
    <virtualAgentStatus>
      <Value><![CDATA[Inherit]]></Value>
    </virtualAgentStatus>
  </Properties>
</Content>