<?xml version="1.0" encoding="utf-8"?>
<Content Key="08fc4809-198a-4393-8ffd-3eb9a4a3349d" Alias="Live" Level="3">
  <Info>
    <Parent Key="a8a8bc27-0dcf-4324-ba30-0b5451332e28">Coroners</Parent>
    <Path>/GlobalData/Coroners/Live</Path>
    <Trashed>false</Trashed>
    <ContentType>coronerDataVersion2</ContentType>
    <CreateDate>2025-08-27T20:46:37</CreateDate>
    <NodeName Default="Live" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <endpoint>
      <Value><![CDATA[https://www9.apps.lancashire.gov.uk/api/GENERIC/coroners/1.0/]]></Value>
    </endpoint>
    <label>
      <Value><![CDATA[]]></Value>
    </label>
  </Properties>
</Content>