<?xml version="1.0" encoding="utf-8"?>
<Content Key="40bc7eca-00c7-49f3-9f67-f0c3ef86f062" Alias="local.lancashire.gov.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/locallancashiregovuk</Path>
    <Trashed>false</Trashed>
    <ContentType>domainPage</ContentType>
    <CreateDate>2025-02-07T14:13:58</CreateDate>
    <NodeName Default="local.lancashire.gov.uk" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <allServices>
      <Value><![CDATA[[
  {
    "name": null,
    "target": null,
    "udi": "umb://document/e1ae681727ce411caf0ba4c1aa27b250",
    "url": null,
    "queryString": null
  }
]]]></Value>
    </allServices>
    <bingVerification>
      <Value><![CDATA[]]></Value>
    </bingVerification>
    <configAsideLeftWidth>
      <Value><![CDATA[3]]></Value>
    </configAsideLeftWidth>
    <configAsideRightWidth>
      <Value><![CDATA[3]]></Value>
    </configAsideRightWidth>
    <configCardDateFormat>
      <Value><![CDATA[dd/MM/yyyy]]></Value>
    </configCardDateFormat>
    <configCardTimeFormat>
      <Value><![CDATA[hh:mmtt]]></Value>
    </configCardTimeFormat>
    <configCategoryCache>
      <Value><![CDATA[]]></Value>
    </configCategoryCache>
    <configCoronerDateFormat>
      <Value><![CDATA[dd/MM/yyyy]]></Value>
    </configCoronerDateFormat>
    <configCoronerTimeFormat>
      <Value><![CDATA[hh:mmtt]]></Value>
    </configCoronerTimeFormat>
    <configDefaultAsideBackground>
      <Value><![CDATA[]]></Value>
    </configDefaultAsideBackground>
    <configDefaultAsideBorderColor>
      <Value><![CDATA[{
  "label": "",
  "value": "#3b1e7c"
}]]></Value>
    </configDefaultAsideBorderColor>
    <configDefaultAsideBorderEdges>
      <Value><![CDATA[]]></Value>
    </configDefaultAsideBorderEdges>
    <configDefaultImageMissingColor>
      <Value><![CDATA[{
  "label": "",
  "value": "#3b1e7c"
}]]></Value>
    </configDefaultImageMissingColor>
    <configFormFromEmail>
      <Value><![CDATA[]]></Value>
    </configFormFromEmail>
    <configImageQuality>
      <Value><![CDATA[70]]></Value>
    </configImageQuality>
    <configOpeningTimesCustomTimeFormat>
      <Value><![CDATA[hh:mmtt]]></Value>
    </configOpeningTimesCustomTimeFormat>
    <configPageMaximum>
      <Value><![CDATA[]]></Value>
    </configPageMaximum>
    <configPageSizeDefault>
      <Value><![CDATA[]]></Value>
    </configPageSizeDefault>
    <configPageSizeMaximum>
      <Value><![CDATA[]]></Value>
    </configPageSizeMaximum>
    <configReviewEmailBody>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EThere is some content that requires content review {{url}}\u003C/p\u003E"
}]]></Value>
    </configReviewEmailBody>
    <configReviewEmailFrequency>
      <Value><![CDATA[[
  "Monday",
  "Tuesday",
  "Wednesday",
  "Thursday",
  "Friday",
  "Saturday",
  "Sunday"
]]]></Value>
    </configReviewEmailFrequency>
    <configReviewEmailFrom>
      <Value><![CDATA[]]></Value>
    </configReviewEmailFrom>
    <configReviewEmailSubject>
      <Value><![CDATA[Hello {{name}}]]></Value>
    </configReviewEmailSubject>
    <configRssFeedReaderCache>
      <Value><![CDATA[15]]></Value>
    </configRssFeedReaderCache>
    <configSearchFuzziness>
      <Value><![CDATA[50]]></Value>
    </configSearchFuzziness>
    <configSearchH1Boost>
      <Value><![CDATA[100]]></Value>
    </configSearchH1Boost>
    <configSearchH2Boost>
      <Value><![CDATA[30]]></Value>
    </configSearchH2Boost>
    <configSearchH3Boost>
      <Value><![CDATA[10]]></Value>
    </configSearchH3Boost>
    <configSearchH4Boost>
      <Value><![CDATA[6]]></Value>
    </configSearchH4Boost>
    <configSearchH5Boost>
      <Value><![CDATA[3]]></Value>
    </configSearchH5Boost>
    <configSearchH6Boost>
      <Value><![CDATA[2]]></Value>
    </configSearchH6Boost>
    <configSearchImplementFuzzyResults>
      <Value><![CDATA[1]]></Value>
    </configSearchImplementFuzzyResults>
    <configSearchKeywordsBoost>
      <Value><![CDATA[50]]></Value>
    </configSearchKeywordsBoost>
    <configSearchPromotedSearchTermsBoost>
      <Value><![CDATA[200]]></Value>
    </configSearchPromotedSearchTermsBoost>
    <configSearchSeoPriorities>
      <Value><![CDATA[20,18,16,14,12,10,8,6,4,2,1]]></Value>
    </configSearchSeoPriorities>
    <configTheme>
      <Value><![CDATA[lancashire-county-council]]></Value>
    </configTheme>
    <configUmbracoFormCacheLength>
      <Value><![CDATA[]]></Value>
    </configUmbracoFormCacheLength>
    <configUmbracoFormFieldMessage>
      <Value><![CDATA[Message]]></Value>
    </configUmbracoFormFieldMessage>
    <configUmbracoFormFieldName>
      <Value><![CDATA[Name]]></Value>
    </configUmbracoFormFieldName>
    <configUmbracoFormFieldNameDefault>
      <Value><![CDATA[Anonymous]]></Value>
    </configUmbracoFormFieldNameDefault>
    <cookieConsentAnalyticCookieList>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "fa8af893-6d54-4794-9938-db592c148391",
      "key": "d18004a3-8b36-48a8-8725-4e81d5abba8c",
      "udi": null,
      "values": [
        {
          "alias": "cookieName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "_ga"
        },
        {
          "alias": "cookieDomain",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "www.google.com"
        },
        {
          "alias": "cookieExpiration",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "10 Years"
        },
        {
          "alias": "cookieDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EUsed by Google Analytics\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "bf3351ec-9aaa-4228-9733-3d0c4e1b2840",
      "key": "41a4803e-de58-448a-953f-cb79a3bab113",
      "udi": null,
      "values": [
        {
          "alias": "cookieBackgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "d18004a3-8b36-48a8-8725-4e81d5abba8c",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "d18004a3-8b36-48a8-8725-4e81d5abba8c",
        "contentUdi": "umb://element/d18004a38b3648a887254e81d5abba8c",
        "settingsKey": "41a4803e-de58-448a-953f-cb79a3bab113",
        "settingsUdi": "umb://element/41a4803ede58448a953fcb79a3bab113"
      }
    ]
  }
}]]></Value>
    </cookieConsentAnalyticCookieList>
    <cookieConsentAnalyticDescription>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EThese cookies collect information about how you use our website. All of the data is anonymized and cannot be used to identify you.\u003C/p\u003E"
}]]></Value>
    </cookieConsentAnalyticDescription>
    <cookieConsentAnalyticEnable>
      <Value><![CDATA[1]]></Value>
    </cookieConsentAnalyticEnable>
    <cookieConsentAnalyticGoogleTagManager>
      <Value><![CDATA[]]></Value>
    </cookieConsentAnalyticGoogleTagManager>
    <cookieConsentAnalyticScript>
      <Value><![CDATA[]]></Value>
    </cookieConsentAnalyticScript>
    <cookieConsentAnalyticTitle>
      <Value><![CDATA[Performance and Analytics]]></Value>
    </cookieConsentAnalyticTitle>
    <cookieConsentBackgroundColor>
      <Value><![CDATA[{
  "value": "000000",
  "label": "000000",
  "sortOrder": 0,
  "id": "1"
}]]></Value>
    </cookieConsentBackgroundColor>
    <cookieConsentBespokeCookieList>
      <Value><![CDATA[]]></Value>
    </cookieConsentBespokeCookieList>
    <cookieConsentBespokeDescription>
      <Value><![CDATA[]]></Value>
    </cookieConsentBespokeDescription>
    <cookieConsentBespokeEnable>
      <Value><![CDATA[0]]></Value>
    </cookieConsentBespokeEnable>
    <cookieConsentBespokeGoogleTagManager>
      <Value><![CDATA[]]></Value>
    </cookieConsentBespokeGoogleTagManager>
    <cookieConsentBespokeScript>
      <Value><![CDATA[]]></Value>
    </cookieConsentBespokeScript>
    <cookieConsentBespokeTitle>
      <Value><![CDATA[]]></Value>
    </cookieConsentBespokeTitle>
    <cookieConsentCustomClose>
      <Value><![CDATA[Close]]></Value>
    </cookieConsentCustomClose>
    <cookieConsentCustomMoreInfoDescription>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EFor more information please visit our \u003Ca href=\u0022/{localLink:5557e532-ec4b-44cc-b3e9-aa306d108c61}\u0022 type=\u0022document\u0022 title=\u0022About\u0022\u003ECookies\u003C/a\u003E page\u003C/p\u003E"
}]]></Value>
    </cookieConsentCustomMoreInfoDescription>
    <cookieConsentCustomMoreInfoTitle>
      <Value><![CDATA[More information]]></Value>
    </cookieConsentCustomMoreInfoTitle>
    <cookieConsentCustomSave>
      <Value><![CDATA[Save]]></Value>
    </cookieConsentCustomSave>
    <cookieConsentCustomSectionDescription>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EYou can view which cookies are used by the site\u003C/p\u003E"
}]]></Value>
    </cookieConsentCustomSectionDescription>
    <cookieConsentCustomSectionTitle>
      <Value><![CDATA[Your Privacy Choices]]></Value>
    </cookieConsentCustomSectionTitle>
    <cookieConsentCustomTitle>
      <Value><![CDATA[Manage cookie preferences]]></Value>
    </cookieConsentCustomTitle>
    <cookieConsentEnable>
      <Value><![CDATA[1]]></Value>
    </cookieConsentEnable>
    <cookieConsentIntegrateWithGoogleTagManager>
      <Value><![CDATA[]]></Value>
    </cookieConsentIntegrateWithGoogleTagManager>
    <cookieConsentModalAcceptAll>
      <Value><![CDATA[Accept All]]></Value>
    </cookieConsentModalAcceptAll>
    <cookieConsentModalCustom>
      <Value><![CDATA[Manage preferences]]></Value>
    </cookieConsentModalCustom>
    <cookieConsentModalDescription>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EThis website uses cookies\u003C/p\u003E"
}]]></Value>
    </cookieConsentModalDescription>
    <cookieConsentModalPosition>
      <Value><![CDATA[[
  "Top Center"
]]]></Value>
    </cookieConsentModalPosition>
    <cookieConsentModalRejectAll>
      <Value><![CDATA[Reject All]]></Value>
    </cookieConsentModalRejectAll>
    <cookieConsentModalTitle>
      <Value><![CDATA[Cookies]]></Value>
    </cookieConsentModalTitle>
    <cookieConsentNecessaryCookieList>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "fa8af893-6d54-4794-9938-db592c148391",
      "key": "aa0bc13d-4861-47ec-952b-d6f621fc14a5",
      "udi": null,
      "values": [
        {
          "alias": "cookieName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "cc_cookie"
        },
        {
          "alias": "cookieDomain",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "lancashire.gov.uk"
        },
        {
          "alias": "cookieExpiration",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "6 Months"
        },
        {
          "alias": "cookieDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EUsed to store the cookie choices you make now\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "bf3351ec-9aaa-4228-9733-3d0c4e1b2840",
      "key": "5094e0e0-3bd8-49c4-bb93-8b4c3427670a",
      "udi": null,
      "values": [
        {
          "alias": "cookieBackgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "aa0bc13d-4861-47ec-952b-d6f621fc14a5",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "aa0bc13d-4861-47ec-952b-d6f621fc14a5",
        "contentUdi": "umb://element/aa0bc13d486147ec952bd6f621fc14a5",
        "settingsKey": "5094e0e0-3bd8-49c4-bb93-8b4c3427670a",
        "settingsUdi": "umb://element/5094e0e03bd849c4bb938b4c3427670a"
      }
    ]
  }
}]]></Value>
    </cookieConsentNecessaryCookieList>
    <cookieConsentNecessaryDescription>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003ECookies that are required for the proper functionality of this website\u003C/p\u003E"
}]]></Value>
    </cookieConsentNecessaryDescription>
    <cookieConsentNecessaryGoogleTagManager>
      <Value><![CDATA[]]></Value>
    </cookieConsentNecessaryGoogleTagManager>
    <cookieConsentNecessaryScript>
      <Value><![CDATA[]]></Value>
    </cookieConsentNecessaryScript>
    <cookieConsentNecessaryTitle>
      <Value><![CDATA[Strictly Necessary]]></Value>
    </cookieConsentNecessaryTitle>
    <enableIndexing>
      <Value><![CDATA[1]]></Value>
    </enableIndexing>
    <enableSitemapxml>
      <Value><![CDATA[1]]></Value>
    </enableSitemapxml>
    <enableSnippets>
      <Value><![CDATA[1]]></Value>
    </enableSnippets>
    <errorPage>
      <Value><![CDATA[umb://document/67f1ce1a42714b69a6807b8aa8188d78]]></Value>
    </errorPage>
    <facebookVerification>
      <Value><![CDATA[h7frmh8fgq0jnj8c17cnoo26x9iijo]]></Value>
    </facebookVerification>
    <googleVerification>
      <Value><![CDATA[]]></Value>
    </googleVerification>
    <icon>
      <Value><![CDATA[[
  {
    "key": "d5540d6f-d316-4aa8-bd61-a77f91853990",
    "mediaKey": "76b759c4-6518-416f-a62b-4a1a21121301",
    "mediaTypeAlias": "editorIcon",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </icon>
    <publisher>
      <Value><![CDATA[Lancashire County Council]]></Value>
    </publisher>
    <robotsTxt>
      <Value><![CDATA[Custom content]]></Value>
    </robotsTxt>
    <rssFeeds>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "6883ae62-f20e-4075-b300-885546dbf76b",
      "key": "06c5c0bb-8e92-40e9-b742-18466ebd897a",
      "udi": null,
      "values": [
        {
          "alias": "url",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "fred.rss"
        },
        {
          "alias": "source",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://document/5799ddddb5f24fccb1d2d4d86f98e26f"
        },
        {
          "alias": "includeAllDescendants",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Fred"
        },
        {
          "alias": "description",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Here is fred"
        },
        {
          "alias": "copyright",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "(C) Fred 2025"
        },
        {
          "alias": "cache",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "06c5c0bb-8e92-40e9-b742-18466ebd897a",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "06c5c0bb-8e92-40e9-b742-18466ebd897a",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </rssFeeds>
    <search>
      <Value><![CDATA[[
  {
    "name": null,
    "target": null,
    "udi": "umb://document/f790c702994d49698a6f3fb34a38f676",
    "url": null,
    "queryString": null
  }
]]]></Value>
    </search>
    <securityAcknowledgments>
      <Value><![CDATA[[
  {
    "name": null,
    "target": null,
    "udi": "umb://document/e1ae681727ce411caf0ba4c1aa27b250",
    "url": null,
    "queryString": null
  }
]]]></Value>
    </securityAcknowledgments>
    <securityContact>
      <Value><![CDATA[[
  {
    "name": null,
    "target": null,
    "udi": "umb://document/5557e532ec4b44ccb3e9aa306d108c61",
    "url": null,
    "queryString": null
  }
]]]></Value>
    </securityContact>
    <securityDigitalSignature>
      <Value><![CDATA[]]></Value>
    </securityDigitalSignature>
    <securityEnable>
      <Value><![CDATA[1]]></Value>
    </securityEnable>
    <securityHiring>
      <Value><![CDATA[[
  {
    "name": null,
    "target": null,
    "udi": "umb://document/388d46aa6c524321ae08a6a62d005b20",
    "url": null,
    "queryString": null
  }
]]]></Value>
    </securityHiring>
    <securityPolicy>
      <Value><![CDATA[[
  {
    "name": null,
    "target": null,
    "udi": "umb://document/f790c702994d49698a6f3fb34a38f676",
    "url": null,
    "queryString": null
  }
]]]></Value>
    </securityPolicy>
    <title>
      <Value><![CDATA[Lancashire County Council]]></Value>
    </title>
  </Properties>
</Content>