<?xml version="1.0" encoding="utf-8"?>
<Content Key="79c214e0-fa0b-4101-a2ca-f3e6df8aa40c" Alias="Map" Level="4">
  <Info>
    <Parent Key="945cc2f0-d5eb-4356-9de9-48a9bc36e077">Test Content</Parent>
    <Path>/lancashiregovuk/Home/TestContent/Map</Path>
    <Trashed>false</Trashed>
    <ContentType>editorPage</ContentType>
    <CreateDate>2025-05-14T10:34:11</CreateDate>
    <NodeName Default="Map" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cbebb994-250c-4f99-ab85-8e38616efb0c">Editor</Template>
  </Info>
  <Properties>
    <alertStatus>
      <Value><![CDATA[Inherit]]></Value>
    </alertStatus>
    <alertText>
      <Value><![CDATA[]]></Value>
    </alertText>
    <alertTitle>
      <Value><![CDATA[]]></Value>
    </alertTitle>
    <alertType>
      <Value><![CDATA[]]></Value>
    </alertType>
    <asideContent>
      <Value><![CDATA[]]></Value>
    </asideContent>
    <asideFixed>
      <Value><![CDATA[]]></Value>
    </asideFixed>
    <asideOffset>
      <Value><![CDATA[]]></Value>
    </asideOffset>
    <asideStatus>
      <Value><![CDATA[Inherit]]></Value>
    </asideStatus>
    <bannerContent>
      <Value><![CDATA[]]></Value>
    </bannerContent>
    <bannerHeroImage>
      <Value><![CDATA[]]></Value>
    </bannerHeroImage>
    <bannerStatus>
      <Value><![CDATA[Inherit]]></Value>
    </bannerStatus>
    <body>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "55023e89-519f-47a1-b9ff-d4198467e6c5",
      "key": "f79033d2-3668-41d1-8330-fb3fddcf7ea4",
      "udi": null,
      "values": [
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Bridgwater"
        },
        {
          "alias": "mainTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EBridgwater\u003C/p\u003E"
          }
        },
        {
          "alias": "mapName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Preston"
        },
        {
          "alias": "mapType",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Standard"
          ]
        },
        {
          "alias": "mapLocation",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "boundingBox": {
              "northEastCorner": {
                "latitude": 54.00913105728344,
                "longitude": -2.7507020357715466
              },
              "southWestCorner": {
                "latitude": 53.98895058765103,
                "longitude": -2.825288904057679
              }
            },
            "zoom": 14,
            "marker": {
              "latitude": 53.99883726282934,
              "longitude": -2.7961646570297427
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "34385df6-0f18-4856-ae99-0017c6df4598",
      "key": "502dca52-e835-4680-819e-47b9e9be30a9",
      "udi": null,
      "values": [
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Bamber Bridge"
        },
        {
          "alias": "mainTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EBamber Bridge\u003C/p\u003E"
          }
        },
        {
          "alias": "panelBlocks",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "d0edea87-162e-4fb1-9cd5-1f2dc86fcd76",
                "key": "477f8798-70ae-4eeb-ae4f-2153b4656b4e",
                "udi": null,
                "values": [
                  {
                    "alias": "panelName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EInfo\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EBamber Bridge is a large village in Lancashire, England, 3 miles (5 km) south-east of Preston, in the borough of South Ribble. The name derives from the Old English \u0022b\u0113am\u0022 and \u0022brycg\u0022, which probably means \u0022tree-trunk bridge\u0022. People who live in Bamber Bridge like to be known as Briggers.\u003C/p\u003E"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "beb8b1ca-f2d7-4b65-9c2a-e8590d6ae4f8",
                "key": "c010b52f-2211-4f51-b459-fb9ae089f4a8",
                "udi": null,
                "values": [
                  {
                    "alias": "panelName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EMap\u003C/p\u003E"
                    }
                  }
                ]
              }
            ],
            "settingsData": [
              {
                "contentTypeKey": "514dd4b7-f4fe-4386-b3f0-fb1ecb39c1d3",
                "key": "01144b64-6d9b-4f11-8f32-9fc69241bbaa",
                "udi": null,
                "values": []
              },
              {
                "contentTypeKey": "3b58a3b3-6253-4028-a320-0452f1752abf",
                "key": "d944608f-bbad-4088-8be8-0d203c75e489",
                "udi": null,
                "values": []
              }
            ],
            "expose": [
              {
                "contentKey": "477f8798-70ae-4eeb-ae4f-2153b4656b4e",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "c010b52f-2211-4f51-b459-fb9ae089f4a8",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "477f8798-70ae-4eeb-ae4f-2153b4656b4e",
                  "contentUdi": "umb://element/4d88d0128014429ba334f4fb83c0fc15",
                  "settingsKey": "01144b64-6d9b-4f11-8f32-9fc69241bbaa",
                  "settingsUdi": "umb://element/7e83bda1d9d54f2683c94a9279e01e8c"
                },
                {
                  "contentKey": "c010b52f-2211-4f51-b459-fb9ae089f4a8",
                  "contentUdi": null,
                  "settingsKey": "d944608f-bbad-4088-8be8-0d203c75e489",
                  "settingsUdi": null
                }
              ]
            }
          }
        },
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "mainLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "18b3a798-7076-47dc-8cef-da2c5dbd4ec1",
      "key": "e9286e10-b5fb-4e26-a830-350310f5d6fe",
      "udi": null,
      "values": [
        {
          "alias": "ratio",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "21 : 9"
          ]
        },
        {
          "alias": "icon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Yellow Pin"
          ]
        }
      ]
    },
    {
      "contentTypeKey": "b9781603-9043-4dac-a5af-d92e74cb8539",
      "key": "9a62679b-f852-4e78-86c9-57b80f6f007d",
      "udi": null,
      "values": [
        {
          "alias": "style",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Tabs"
          ]
        },
        {
          "alias": "placement",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Tap strip down Right hand side"
          ]
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "f79033d2-3668-41d1-8330-fb3fddcf7ea4",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "502dca52-e835-4680-819e-47b9e9be30a9",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "f79033d2-3668-41d1-8330-fb3fddcf7ea4",
        "contentUdi": null,
        "settingsKey": "e9286e10-b5fb-4e26-a830-350310f5d6fe",
        "settingsUdi": null
      },
      {
        "contentKey": "502dca52-e835-4680-819e-47b9e9be30a9",
        "contentUdi": "umb://element/eed0bd1548924e42996a5360b4cdc823",
        "settingsKey": "9a62679b-f852-4e78-86c9-57b80f6f007d",
        "settingsUdi": "umb://element/80fda3e44a2a42a5b057d0957f0cc1b0"
      }
    ]
  }
}]]></Value>
    </body>
    <categories>
      <Value><![CDATA[]]></Value>
    </categories>
    <furnitureBreadcrumbsColor>
      <Value><![CDATA[]]></Value>
    </furnitureBreadcrumbsColor>
    <furnitureBreadcrumbStatus>
      <Value><![CDATA[Inherit Breadcrumb Status]]></Value>
    </furnitureBreadcrumbStatus>
    <furnitureBreadcrumbSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureBreadcrumbSubtheme>
    <furnitureBreadcrumbThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureBreadcrumbThemeShade>
    <furnitureFooterColor>
      <Value><![CDATA[]]></Value>
    </furnitureFooterColor>
    <furnitureFooterInformation>
      <Value><![CDATA[]]></Value>
    </furnitureFooterInformation>
    <furnitureFooterMenu>
      <Value><![CDATA[]]></Value>
    </furnitureFooterMenu>
    <furnitureFooterMessage>
      <Value><![CDATA[]]></Value>
    </furnitureFooterMessage>
    <furnitureFooterSocialMediaLinks>
      <Value><![CDATA[]]></Value>
    </furnitureFooterSocialMediaLinks>
    <furnitureFooterSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureFooterSubtheme>
    <furnitureFooterThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureFooterThemeShade>
    <furnitureHeaderColor>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderColor>
    <furnitureHeaderMenu>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderMenu>
    <furnitureHeaderMenuPosition>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderMenuPosition>
    <furnitureHeaderSticky>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderSticky>
    <furnitureHeaderSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureHeaderSubtheme>
    <furnitureHeaderThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureHeaderThemeShade>
    <furnitureLogoImage>
      <Value><![CDATA[]]></Value>
    </furnitureLogoImage>
    <furnitureLogoRatio>
      <Value><![CDATA[]]></Value>
    </furnitureLogoRatio>
    <furniturePageTitlePromote>
      <Value><![CDATA[]]></Value>
    </furniturePageTitlePromote>
    <furniturePageTitleSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </furniturePageTitleSubtheme>
    <furniturePageTitleThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </furniturePageTitleThemeShade>
    <furnitureShowAllServices>
      <Value><![CDATA[]]></Value>
    </furnitureShowAllServices>
    <furnitureShowHeaderMenuOnLargerDevices>
      <Value><![CDATA[]]></Value>
    </furnitureShowHeaderMenuOnLargerDevices>
    <furnitureShowHeaderMenuOnSmallerDevices>
      <Value><![CDATA[]]></Value>
    </furnitureShowHeaderMenuOnSmallerDevices>
    <furnitureShowSearchBar>
      <Value><![CDATA[]]></Value>
    </furnitureShowSearchBar>
    <furnitureStatus>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureStatus>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <pageHeader>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EOpen Street Map\u003C/p\u003E"
}]]></Value>
    </pageHeader>
    <pageSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </pageSubtheme>
    <pageTheme>
      <Value><![CDATA[Inherit]]></Value>
    </pageTheme>
    <pageThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </pageThemeShade>
    <reviewComments>
      <Value><![CDATA[]]></Value>
    </reviewComments>
    <reviewDate>
      <Value><![CDATA[]]></Value>
    </reviewDate>
    <reviewGroup>
      <Value><![CDATA[]]></Value>
    </reviewGroup>
    <reviewStatus>
      <Value><![CDATA[Inherit]]></Value>
    </reviewStatus>
    <seoAbstract>
      <Value><![CDATA[]]></Value>
    </seoAbstract>
    <seoCanonicalUrl>
      <Value><![CDATA[]]></Value>
    </seoCanonicalUrl>
    <seoDatePublished>
      <Value><![CDATA[]]></Value>
    </seoDatePublished>
    <seoDescription>
      <Value><![CDATA[]]></Value>
    </seoDescription>
    <seoPriority>
      <Value><![CDATA[]]></Value>
    </seoPriority>
    <seoPromotedSearchTerms>
      <Value><![CDATA[]]></Value>
    </seoPromotedSearchTerms>
    <seoStatus>
      <Value><![CDATA[Inherit]]></Value>
    </seoStatus>
    <seoThumbnail>
      <Value><![CDATA[]]></Value>
    </seoThumbnail>
    <subfooterColor>
      <Value><![CDATA[]]></Value>
    </subfooterColor>
    <subfooterShowLastUpdatedDate>
      <Value><![CDATA[]]></Value>
    </subfooterShowLastUpdatedDate>
    <subfooterShowNextReviewDate>
      <Value><![CDATA[]]></Value>
    </subfooterShowNextReviewDate>
    <subfooterShowReturnToTopIcon>
      <Value><![CDATA[]]></Value>
    </subfooterShowReturnToTopIcon>
    <subfooterStatus>
      <Value><![CDATA[Inherit]]></Value>
    </subfooterStatus>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <virtualAgentInstall>
      <Value><![CDATA[]]></Value>
    </virtualAgentInstall>
    <virtualAgentStatus>
      <Value><![CDATA[Inherit]]></Value>
    </virtualAgentStatus>
  </Properties>
</Content>