<?xml version="1.0" encoding="utf-8"?>
<Content Key="84e4038c-37fe-4d02-85c3-0527a4280d3a" Alias="New" Level="3">
  <Info>
    <Parent Key="5799dddd-b5f2-4fcc-b1d2-d4d86f98e26f">Home</Parent>
    <Path>/locallancashiregovuk/Home/New</Path>
    <Trashed>false</Trashed>
    <ContentType>editorPage</ContentType>
    <CreateDate>2025-04-04T14:07:29</CreateDate>
    <NodeName Default="New" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cbebb994-250c-4f99-ab85-8e38616efb0c">Editor</Template>
  </Info>
  <Properties>
    <alertStatus>
      <Value><![CDATA[Inherit]]></Value>
    </alertStatus>
    <alertText>
      <Value><![CDATA[]]></Value>
    </alertText>
    <alertTitle>
      <Value><![CDATA[]]></Value>
    </alertTitle>
    <alertType>
      <Value><![CDATA[]]></Value>
    </alertType>
    <asideContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "4c52cefa-aa55-4d1b-8879-c650ec995071",
      "key": "c4979c91-0d8b-43bc-84ef-2e2792453c9b",
      "udi": null,
      "values": [
        {
          "alias": "header",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EMy Group\u003C/p\u003E"
          }
        },
        {
          "alias": "contents",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "ddc6ed43-5815-4f58-a925-2f455ec37331",
                "key": "0839137b-6fd4-498d-a301-04150b734f6d",
                "udi": null,
                "values": [
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EJust text block\u003C/p\u003E"
                    }
                  }
                ]
              }
            ],
            "settingsData": [
              {
                "contentTypeKey": "578ea88f-577b-4dec-98bb-bccbb961092d",
                "key": "fc4d2ba8-7b2c-46bb-a26d-4abcc7e64e59",
                "udi": null,
                "values": []
              }
            ],
            "expose": [
              {
                "contentKey": "0839137b-6fd4-498d-a301-04150b734f6d",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "0839137b-6fd4-498d-a301-04150b734f6d",
                  "contentUdi": null,
                  "settingsKey": "fc4d2ba8-7b2c-46bb-a26d-4abcc7e64e59",
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "731a4986-c229-49d9-a708-340e97ae1bd8",
      "key": "9862dad9-20f7-4a87-a274-09abce92cbaf",
      "udi": null,
      "values": [
        {
          "alias": "background",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "{\u0022contentData\u0022:[{\u0022contentTypeKey\u0022:\u002272f67d58-f26f-4b19-a319-ba88effde3ba\u0022,\u0022udi\u0022:null,\u0022key\u0022:\u0022934a0268-5848-40fb-b8c5-4ea07098721e\u0022,\u0022values\u0022:[{\u0022editorAlias\u0022:\u0022Umbraco.ColorPicker\u0022,\u0022culture\u0022:null,\u0022segment\u0022:null,\u0022alias\u0022:\u0022color\u0022,\u0022value\u0022:\u0022{\\r\\n  \\u0022label\\u0022: \\u0022d5a6bd\\u0022,\\r\\n  \\u0022value\\u0022: \\u0022#d5a6bd\\u0022\\r\\n}\u0022}]}],\u0022settingsData\u0022:[],\u0022expose\u0022:[{\u0022contentKey\u0022:\u0022934a0268-5848-40fb-b8c5-4ea07098721e\u0022,\u0022culture\u0022:null,\u0022segment\u0022:null}],\u0022Layout\u0022:{\u0022Umbraco.BlockList\u0022:[{\u0022contentUdi\u0022:null,\u0022settingsUdi\u0022:null,\u0022contentKey\u0022:\u0022934a0268-5848-40fb-b8c5-4ea07098721e\u0022,\u0022settingsKey\u0022:null}]}}"
        },
        {
          "alias": "borderColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "0b5394",
            "value": "#0b5394"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "c4979c91-0d8b-43bc-84ef-2e2792453c9b",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "c4979c91-0d8b-43bc-84ef-2e2792453c9b",
        "contentUdi": null,
        "settingsKey": "9862dad9-20f7-4a87-a274-09abce92cbaf",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </asideContent>
    <asideFixed>
      <Value><![CDATA[]]></Value>
    </asideFixed>
    <asideOffset>
      <Value><![CDATA[]]></Value>
    </asideOffset>
    <asideStatus>
      <Value><![CDATA[Left]]></Value>
    </asideStatus>
    <bannerContent>
      <Value><![CDATA[]]></Value>
    </bannerContent>
    <bannerHeroImage>
      <Value><![CDATA[]]></Value>
    </bannerHeroImage>
    <bannerStatus>
      <Value><![CDATA[Inherit]]></Value>
    </bannerStatus>
    <body>
      <Value><![CDATA[]]></Value>
    </body>
    <categories>
      <Value><![CDATA[]]></Value>
    </categories>
    <furnitureBreadcrumbsColor>
      <Value><![CDATA[]]></Value>
    </furnitureBreadcrumbsColor>
    <furnitureBreadcrumbStatus>
      <Value><![CDATA[]]></Value>
    </furnitureBreadcrumbStatus>
    <furnitureBreadcrumbSubtheme>
      <Value><![CDATA[]]></Value>
    </furnitureBreadcrumbSubtheme>
    <furnitureBreadcrumbThemeShade>
      <Value><![CDATA[]]></Value>
    </furnitureBreadcrumbThemeShade>
    <furnitureFooterColor>
      <Value><![CDATA[]]></Value>
    </furnitureFooterColor>
    <furnitureFooterInformation>
      <Value><![CDATA[]]></Value>
    </furnitureFooterInformation>
    <furnitureFooterMenu>
      <Value><![CDATA[]]></Value>
    </furnitureFooterMenu>
    <furnitureFooterMessage>
      <Value><![CDATA[]]></Value>
    </furnitureFooterMessage>
    <furnitureFooterSocialMediaLinks>
      <Value><![CDATA[]]></Value>
    </furnitureFooterSocialMediaLinks>
    <furnitureFooterSubtheme>
      <Value><![CDATA[]]></Value>
    </furnitureFooterSubtheme>
    <furnitureFooterThemeShade>
      <Value><![CDATA[]]></Value>
    </furnitureFooterThemeShade>
    <furnitureHeaderColor>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderColor>
    <furnitureHeaderMenu>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderMenu>
    <furnitureHeaderMenuPosition>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderMenuPosition>
    <furnitureHeaderSticky>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderSticky>
    <furnitureHeaderSubtheme>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderSubtheme>
    <furnitureHeaderThemeShade>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderThemeShade>
    <furnitureLogoImage>
      <Value><![CDATA[]]></Value>
    </furnitureLogoImage>
    <furnitureLogoRatio>
      <Value><![CDATA[]]></Value>
    </furnitureLogoRatio>
    <furniturePageTitlePromote>
      <Value><![CDATA[]]></Value>
    </furniturePageTitlePromote>
    <PageTitleSubtheme>
      <Value><![CDATA[]]></Value>
    </PageTitleSubtheme>
    <furniturePageTitleThemeShade>
      <Value><![CDATA[]]></Value>
    </furniturePageTitleThemeShade>
    <furnitureShowAllServices>
      <Value><![CDATA[]]></Value>
    </furnitureShowAllServices>
    <furnitureShowHeaderMenuOnLargerDevices>
      <Value><![CDATA[]]></Value>
    </furnitureShowHeaderMenuOnLargerDevices>
    <furnitureShowHeaderMenuOnSmallerDevices>
      <Value><![CDATA[]]></Value>
    </furnitureShowHeaderMenuOnSmallerDevices>
    <furnitureShowSearchBar>
      <Value><![CDATA[]]></Value>
    </furnitureShowSearchBar>
    <furnitureStatus>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureStatus>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <pageHeader>
      <Value><![CDATA[]]></Value>
    </pageHeader>
    <pageSubtheme>
      <Value><![CDATA[]]></Value>
    </pageSubtheme>
    <pageTheme>
      <Value><![CDATA[]]></Value>
    </pageTheme>
    <pageThemeShade>
      <Value><![CDATA[]]></Value>
    </pageThemeShade>
    <reviewComments>
      <Value><![CDATA[]]></Value>
    </reviewComments>
    <reviewDate>
      <Value><![CDATA[]]></Value>
    </reviewDate>
    <reviewGroup>
      <Value><![CDATA[]]></Value>
    </reviewGroup>
    <reviewStatus>
      <Value><![CDATA[]]></Value>
    </reviewStatus>
    <seoAbstract>
      <Value><![CDATA[]]></Value>
    </seoAbstract>
    <seoCanonicalUrl>
      <Value><![CDATA[]]></Value>
    </seoCanonicalUrl>
    <seoDatePublished>
      <Value><![CDATA[]]></Value>
    </seoDatePublished>
    <seoDescription>
      <Value><![CDATA[]]></Value>
    </seoDescription>
    <seoPriority>
      <Value><![CDATA[]]></Value>
    </seoPriority>
    <seoPromotedSearchTerms>
      <Value><![CDATA[]]></Value>
    </seoPromotedSearchTerms>
    <seoStatus>
      <Value><![CDATA[Inherit]]></Value>
    </seoStatus>
    <seoThumbnail>
      <Value><![CDATA[]]></Value>
    </seoThumbnail>
    <subfooterColor>
      <Value><![CDATA[]]></Value>
    </subfooterColor>
    <subfooterShowLastUpdatedDate>
      <Value><![CDATA[]]></Value>
    </subfooterShowLastUpdatedDate>
    <subfooterShowNextReviewDate>
      <Value><![CDATA[]]></Value>
    </subfooterShowNextReviewDate>
    <subfooterShowReturnToTopIcon>
      <Value><![CDATA[]]></Value>
    </subfooterShowReturnToTopIcon>
    <subfooterStatus>
      <Value><![CDATA[Inherit]]></Value>
    </subfooterStatus>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <virtualAgentInstall>
      <Value><![CDATA[]]></Value>
    </virtualAgentInstall>
    <virtualAgentStatus>
      <Value><![CDATA[]]></Value>
    </virtualAgentStatus>
  </Properties>
</Content>