<?xml version="1.0" encoding="utf-8"?>
<Content Key="d3ad3fc9-0df3-4d7c-a0a3-3bfe5ba81082" Alias="news.lancashire.gov.uk" Level="3">
  <Info>
    <Parent Key="afffc6f4-28cb-4de6-ae67-0400f8b4c7c5">Feeds</Parent>
    <Path>/GlobalData/Feeds/newslancashiregovuk</Path>
    <Trashed>false</Trashed>
    <ContentType>rssFeedData</ContentType>
    <CreateDate>2025-08-27T20:46:37</CreateDate>
    <NodeName Default="news.lancashire.gov.uk" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <endpoint>
      <Value><![CDATA[https://news.lancashire.gov.uk/feed/rss]]></Value>
    </endpoint>
  </Properties>
</Content>