<?xml version="1.0" encoding="utf-8"?>
<Content Key="904248d2-a186-46ed-a2ad-8129342dfc52" Alias="No Image Card List" Level="4">
  <Info>
    <Parent Key="945cc2f0-d5eb-4356-9de9-48a9bc36e077">Test Content</Parent>
    <Path>/lancashiregovuk/Home/TestContent/NoImageCardList</Path>
    <Trashed>false</Trashed>
    <ContentType>editorPage</ContentType>
    <CreateDate>2025-06-20T13:46:10</CreateDate>
    <NodeName Default="No Image Card List" />
    <SortOrder>13</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cbebb994-250c-4f99-ab85-8e38616efb0c">Editor</Template>
  </Info>
  <Properties>
    <alertStatus>
      <Value><![CDATA[Inherit]]></Value>
    </alertStatus>
    <alertText>
      <Value><![CDATA[]]></Value>
    </alertText>
    <alertTitle>
      <Value><![CDATA[]]></Value>
    </alertTitle>
    <alertType>
      <Value><![CDATA[]]></Value>
    </alertType>
    <asideContent>
      <Value><![CDATA[]]></Value>
    </asideContent>
    <asideFixed>
      <Value><![CDATA[]]></Value>
    </asideFixed>
    <asideOffset>
      <Value><![CDATA[]]></Value>
    </asideOffset>
    <asideStatus>
      <Value><![CDATA[Inherit]]></Value>
    </asideStatus>
    <bannerContent>
      <Value><![CDATA[]]></Value>
    </bannerContent>
    <bannerHeroImage>
      <Value><![CDATA[]]></Value>
    </bannerHeroImage>
    <bannerStatus>
      <Value><![CDATA[Inherit]]></Value>
    </bannerStatus>
    <body>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "69021ede-3114-43b4-96c8-5d2c66e7ebd1",
      "key": "ce3b5d9b-ad53-4209-a96d-b559c5f371eb",
      "udi": null,
      "values": [
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "FlexiGrid Top"
        },
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "mainTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EFlexiGrid Top\u003C/p\u003E"
          }
        },
        {
          "alias": "listBlocks",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "105a7e47-f799-4969-9e0e-2914050cb5d5",
                "key": "81268913-3684-4ff2-a9e2-4b645195e937",
                "udi": null,
                "values": [
                  {
                    "alias": "header",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EMonday\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EFirst day of the week\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "About",
                        "target": null,
                        "udi": "umb://document/5557e532ec4b44ccb3e9aa306d108c61",
                        "url": null,
                        "queryString": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "105a7e47-f799-4969-9e0e-2914050cb5d5",
                "key": "45456e08-76c3-47ef-991c-d782898f85e5",
                "udi": null,
                "values": [
                  {
                    "alias": "header",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003ETuesday\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EGod of twigs or something\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Privacy Policy",
                        "target": null,
                        "udi": "umb://document/6cd8a84df9b24db8aee4c66dc299a07f",
                        "url": null,
                        "queryString": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "105a7e47-f799-4969-9e0e-2914050cb5d5",
                "key": "a1c54a7d-94f5-4b3e-9b31-b97fe59891fc",
                "udi": null,
                "values": [
                  {
                    "alias": "header",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EWednesday\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EGodfather\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Condolences",
                        "target": null,
                        "udi": "umb://document/9fb0716ecf0e4d9587e62b853d45c9e7",
                        "url": null,
                        "queryString": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "105a7e47-f799-4969-9e0e-2914050cb5d5",
                "key": "6728ae80-b55a-4269-be78-37601ce91173",
                "udi": null,
                "values": [
                  {
                    "alias": "header",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EThursday\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EGod of Thunder\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "New",
                        "target": null,
                        "udi": "umb://document/84e4038c37fe4d0285c30527a4280d3a",
                        "url": null,
                        "queryString": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [
              {
                "contentTypeKey": "28f582a5-f4bd-45c4-9c33-ee78977565c6",
                "key": "d5eb7c4e-4340-492e-b524-8b0b6ba65984",
                "udi": null,
                "values": []
              },
              {
                "contentTypeKey": "28f582a5-f4bd-45c4-9c33-ee78977565c6",
                "key": "61629693-05d0-4ee2-9b64-981ff62591ad",
                "udi": null,
                "values": []
              },
              {
                "contentTypeKey": "28f582a5-f4bd-45c4-9c33-ee78977565c6",
                "key": "a4571426-2892-4027-876f-f76e0e6928d0",
                "udi": null,
                "values": []
              },
              {
                "contentTypeKey": "28f582a5-f4bd-45c4-9c33-ee78977565c6",
                "key": "c24e969a-cbe0-4cbe-a32f-28674f35d29a",
                "udi": null,
                "values": []
              }
            ],
            "expose": [
              {
                "contentKey": "81268913-3684-4ff2-a9e2-4b645195e937",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "45456e08-76c3-47ef-991c-d782898f85e5",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "a1c54a7d-94f5-4b3e-9b31-b97fe59891fc",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "6728ae80-b55a-4269-be78-37601ce91173",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "81268913-3684-4ff2-a9e2-4b645195e937",
                  "contentUdi": null,
                  "settingsKey": "d5eb7c4e-4340-492e-b524-8b0b6ba65984",
                  "settingsUdi": null
                },
                {
                  "contentKey": "45456e08-76c3-47ef-991c-d782898f85e5",
                  "contentUdi": null,
                  "settingsKey": "61629693-05d0-4ee2-9b64-981ff62591ad",
                  "settingsUdi": null
                },
                {
                  "contentKey": "a1c54a7d-94f5-4b3e-9b31-b97fe59891fc",
                  "contentUdi": null,
                  "settingsKey": "a4571426-2892-4027-876f-f76e0e6928d0",
                  "settingsUdi": null
                },
                {
                  "contentKey": "6728ae80-b55a-4269-be78-37601ce91173",
                  "contentUdi": null,
                  "settingsKey": "c24e969a-cbe0-4cbe-a32f-28674f35d29a",
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "69021ede-3114-43b4-96c8-5d2c66e7ebd1",
      "key": "599126f0-16be-426a-9913-f94f5ae57cf0",
      "udi": null,
      "values": [
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Carousel Bottom"
        },
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "mainTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EFlexiGrid Bottom\u003C/p\u003E"
          }
        },
        {
          "alias": "listBlocks",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "105a7e47-f799-4969-9e0e-2914050cb5d5",
                "key": "63d9fa43-2e37-42d0-89f0-39fe6baed4c1",
                "udi": null,
                "values": [
                  {
                    "alias": "header",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EMonday\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EFirst day of the week\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "About",
                        "target": null,
                        "udi": "umb://document/5557e532ec4b44ccb3e9aa306d108c61",
                        "url": null,
                        "queryString": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "105a7e47-f799-4969-9e0e-2914050cb5d5",
                "key": "2ae7ca63-fa48-4b9f-b335-8673e923253c",
                "udi": null,
                "values": [
                  {
                    "alias": "header",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003ETuesday\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EGod of twigs or something\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Privacy Policy",
                        "target": null,
                        "udi": "umb://document/6cd8a84df9b24db8aee4c66dc299a07f",
                        "url": null,
                        "queryString": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "105a7e47-f799-4969-9e0e-2914050cb5d5",
                "key": "7f52d68f-3b35-4aeb-99f6-8eea2bbc05be",
                "udi": null,
                "values": [
                  {
                    "alias": "header",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EWednesday\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EGodfather\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Condolences",
                        "target": null,
                        "udi": "umb://document/9fb0716ecf0e4d9587e62b853d45c9e7",
                        "url": null,
                        "queryString": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "105a7e47-f799-4969-9e0e-2914050cb5d5",
                "key": "100b414f-6a0f-492e-ad4a-db1b5610a9cc",
                "udi": null,
                "values": [
                  {
                    "alias": "header",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EThursday\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EGod of Thunder\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "New",
                        "target": null,
                        "udi": "umb://document/84e4038c37fe4d0285c30527a4280d3a",
                        "url": null,
                        "queryString": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [
              {
                "contentTypeKey": "28f582a5-f4bd-45c4-9c33-ee78977565c6",
                "key": "12afd7a0-52a4-4587-a107-d318004fe999",
                "udi": null,
                "values": []
              },
              {
                "contentTypeKey": "28f582a5-f4bd-45c4-9c33-ee78977565c6",
                "key": "cd8ff622-1f9c-46eb-9cfc-ee23c64f3ca5",
                "udi": null,
                "values": []
              },
              {
                "contentTypeKey": "28f582a5-f4bd-45c4-9c33-ee78977565c6",
                "key": "fb6cabf8-a8ee-4910-9f4e-e48ebbe893a9",
                "udi": null,
                "values": []
              },
              {
                "contentTypeKey": "28f582a5-f4bd-45c4-9c33-ee78977565c6",
                "key": "04afb18c-9665-4089-aefa-19108df2b74e",
                "udi": null,
                "values": []
              }
            ],
            "expose": [
              {
                "contentKey": "63d9fa43-2e37-42d0-89f0-39fe6baed4c1",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "2ae7ca63-fa48-4b9f-b335-8673e923253c",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "7f52d68f-3b35-4aeb-99f6-8eea2bbc05be",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "100b414f-6a0f-492e-ad4a-db1b5610a9cc",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "63d9fa43-2e37-42d0-89f0-39fe6baed4c1",
                  "contentUdi": null,
                  "settingsKey": "12afd7a0-52a4-4587-a107-d318004fe999",
                  "settingsUdi": null
                },
                {
                  "contentKey": "2ae7ca63-fa48-4b9f-b335-8673e923253c",
                  "contentUdi": null,
                  "settingsKey": "cd8ff622-1f9c-46eb-9cfc-ee23c64f3ca5",
                  "settingsUdi": null
                },
                {
                  "contentKey": "7f52d68f-3b35-4aeb-99f6-8eea2bbc05be",
                  "contentUdi": null,
                  "settingsKey": "fb6cabf8-a8ee-4910-9f4e-e48ebbe893a9",
                  "settingsUdi": null
                },
                {
                  "contentKey": "100b414f-6a0f-492e-ad4a-db1b5610a9cc",
                  "contentUdi": null,
                  "settingsKey": "04afb18c-9665-4089-aefa-19108df2b74e",
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "81e44a54-ba00-4100-b7a1-14d73a691ab9",
      "key": "6009e0bb-e3ea-4bcc-ab84-bd4465d9d086",
      "udi": null,
      "values": [
        {
          "alias": "listType",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Flexible grid"
        },
        {
          "alias": "maxColumns",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "3"
        }
      ]
    },
    {
      "contentTypeKey": "81e44a54-ba00-4100-b7a1-14d73a691ab9",
      "key": "84a0fa3f-a953-4f03-bda8-1cb7cbe018c9",
      "udi": null,
      "values": [
        {
          "alias": "styleCardImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Bottom"
          ]
        },
        {
          "alias": "listType",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Carousel"
        },
        {
          "alias": "maxColumns",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "3"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "ce3b5d9b-ad53-4209-a96d-b559c5f371eb",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "599126f0-16be-426a-9913-f94f5ae57cf0",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "ce3b5d9b-ad53-4209-a96d-b559c5f371eb",
        "contentUdi": null,
        "settingsKey": "6009e0bb-e3ea-4bcc-ab84-bd4465d9d086",
        "settingsUdi": null
      },
      {
        "contentKey": "599126f0-16be-426a-9913-f94f5ae57cf0",
        "contentUdi": null,
        "settingsKey": "84a0fa3f-a953-4f03-bda8-1cb7cbe018c9",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </body>
    <categories>
      <Value><![CDATA[]]></Value>
    </categories>
    <furnitureBreadcrumbsColor>
      <Value><![CDATA[]]></Value>
    </furnitureBreadcrumbsColor>
    <furnitureBreadcrumbStatus>
      <Value><![CDATA[Inherit Breadcrumb Status]]></Value>
    </furnitureBreadcrumbStatus>
    <furnitureBreadcrumbSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureBreadcrumbSubtheme>
    <furnitureBreadcrumbThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureBreadcrumbThemeShade>
    <furnitureFooterColor>
      <Value><![CDATA[]]></Value>
    </furnitureFooterColor>
    <furnitureFooterInformation>
      <Value><![CDATA[]]></Value>
    </furnitureFooterInformation>
    <furnitureFooterMenu>
      <Value><![CDATA[]]></Value>
    </furnitureFooterMenu>
    <furnitureFooterMessage>
      <Value><![CDATA[]]></Value>
    </furnitureFooterMessage>
    <furnitureFooterSocialMediaLinks>
      <Value><![CDATA[]]></Value>
    </furnitureFooterSocialMediaLinks>
    <furnitureFooterSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureFooterSubtheme>
    <furnitureFooterThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureFooterThemeShade>
    <furnitureHeaderColor>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderColor>
    <furnitureHeaderMenu>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderMenu>
    <furnitureHeaderMenuPosition>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderMenuPosition>
    <furnitureHeaderSticky>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderSticky>
    <furnitureHeaderSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureHeaderSubtheme>
    <furnitureHeaderThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureHeaderThemeShade>
    <furnitureLogoImage>
      <Value><![CDATA[]]></Value>
    </furnitureLogoImage>
    <furnitureLogoRatio>
      <Value><![CDATA[]]></Value>
    </furnitureLogoRatio>
    <furniturePageTitlePromote>
      <Value><![CDATA[]]></Value>
    </furniturePageTitlePromote>
    <PageTitleSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </PageTitleSubtheme>
    <furniturePageTitleThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </furniturePageTitleThemeShade>
    <furnitureShowAllServices>
      <Value><![CDATA[]]></Value>
    </furnitureShowAllServices>
    <furnitureShowHeaderMenuOnLargerDevices>
      <Value><![CDATA[]]></Value>
    </furnitureShowHeaderMenuOnLargerDevices>
    <furnitureShowHeaderMenuOnSmallerDevices>
      <Value><![CDATA[]]></Value>
    </furnitureShowHeaderMenuOnSmallerDevices>
    <furnitureShowSearchBar>
      <Value><![CDATA[]]></Value>
    </furnitureShowSearchBar>
    <furnitureStatus>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureStatus>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <pageHeader>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EList of Cards with No Images\u003C/p\u003E"
}]]></Value>
    </pageHeader>
    <pageSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </pageSubtheme>
    <pageTheme>
      <Value><![CDATA[Inherit]]></Value>
    </pageTheme>
    <pageThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </pageThemeShade>
    <reviewComments>
      <Value><![CDATA[]]></Value>
    </reviewComments>
    <reviewDate>
      <Value><![CDATA[]]></Value>
    </reviewDate>
    <reviewGroup>
      <Value><![CDATA[]]></Value>
    </reviewGroup>
    <reviewStatus>
      <Value><![CDATA[Inherit]]></Value>
    </reviewStatus>
    <seoAbstract>
      <Value><![CDATA[]]></Value>
    </seoAbstract>
    <seoCanonicalUrl>
      <Value><![CDATA[]]></Value>
    </seoCanonicalUrl>
    <seoDatePublished>
      <Value><![CDATA[]]></Value>
    </seoDatePublished>
    <seoDescription>
      <Value><![CDATA[]]></Value>
    </seoDescription>
    <seoPriority>
      <Value><![CDATA[]]></Value>
    </seoPriority>
    <seoPromotedSearchTerms>
      <Value><![CDATA[]]></Value>
    </seoPromotedSearchTerms>
    <seoStatus>
      <Value><![CDATA[Inherit]]></Value>
    </seoStatus>
    <seoThumbnail>
      <Value><![CDATA[]]></Value>
    </seoThumbnail>
    <subfooterColor>
      <Value><![CDATA[]]></Value>
    </subfooterColor>
    <subfooterShowLastUpdatedDate>
      <Value><![CDATA[]]></Value>
    </subfooterShowLastUpdatedDate>
    <subfooterShowNextReviewDate>
      <Value><![CDATA[]]></Value>
    </subfooterShowNextReviewDate>
    <subfooterShowReturnToTopIcon>
      <Value><![CDATA[]]></Value>
    </subfooterShowReturnToTopIcon>
    <subfooterStatus>
      <Value><![CDATA[Inherit]]></Value>
    </subfooterStatus>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <virtualAgentInstall>
      <Value><![CDATA[]]></Value>
    </virtualAgentInstall>
    <virtualAgentStatus>
      <Value><![CDATA[Inherit]]></Value>
    </virtualAgentStatus>
  </Properties>
</Content>