<?xml version="1.0" encoding="utf-8"?>
<Content Key="e6f2856c-0744-4d22-9460-047f9b0ffcae" Alias="Opening Times" Level="4">
  <Info>
    <Parent Key="945cc2f0-d5eb-4356-9de9-48a9bc36e077">Test Content</Parent>
    <Path>/lancashiregovuk/Home/TestContent/OpeningTimes</Path>
    <Trashed>false</Trashed>
    <ContentType>editorPage</ContentType>
    <CreateDate>2025-04-09T18:25:05</CreateDate>
    <NodeName Default="Opening Times" />
    <SortOrder>14</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cbebb994-250c-4f99-ab85-8e38616efb0c">Editor</Template>
  </Info>
  <Properties>
    <alertStatus>
      <Value><![CDATA[Inherit]]></Value>
    </alertStatus>
    <alertText>
      <Value><![CDATA[]]></Value>
    </alertText>
    <alertTitle>
      <Value><![CDATA[]]></Value>
    </alertTitle>
    <alertType>
      <Value><![CDATA[]]></Value>
    </alertType>
    <asideContent>
      <Value><![CDATA[]]></Value>
    </asideContent>
    <asideFixed>
      <Value><![CDATA[]]></Value>
    </asideFixed>
    <asideOffset>
      <Value><![CDATA[]]></Value>
    </asideOffset>
    <asideStatus>
      <Value><![CDATA[Inherit]]></Value>
    </asideStatus>
    <bannerContent>
      <Value><![CDATA[]]></Value>
    </bannerContent>
    <bannerHeroImage>
      <Value><![CDATA[]]></Value>
    </bannerHeroImage>
    <bannerStatus>
      <Value><![CDATA[Inherit]]></Value>
    </bannerStatus>
    <body>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "2ea5fd1d-c3fa-4161-befa-44e3a8ff88e2",
      "key": "3e5fbab8-f177-4633-9a4d-cc5508065dcd",
      "udi": null,
      "values": [
        {
          "alias": "header",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "My Business"
          }
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EThis is above\u003C/p\u003E"
          }
        },
        {
          "alias": "footer",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EThis is below\u003C/p\u003E"
          }
        },
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Hello"
        },
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "times",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "3ababe53-a528-4533-ba2d-e1c779bbdeaf",
                "key": "9c1d7b70-b841-4687-ae45-2149086d50d9",
                "udi": null,
                "values": [
                  {
                    "alias": "close",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "17:30"
                  },
                  {
                    "alias": "open",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "09:00"
                  },
                  {
                    "alias": "day",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "Monday"
                    ]
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EYeti\u003C/p\u003E"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "3ababe53-a528-4533-ba2d-e1c779bbdeaf",
                "key": "582c9a7f-4e85-496a-965e-dccd2b6982a3",
                "udi": null,
                "values": [
                  {
                    "alias": "day",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "Tuesday"
                    ]
                  },
                  {
                    "alias": "open",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "09:00"
                  },
                  {
                    "alias": "close",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "12:30"
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EBertha is a big lass\u003C/p\u003E"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "3ababe53-a528-4533-ba2d-e1c779bbdeaf",
                "key": "df32a620-4033-4db4-aeba-0c69a178bce4",
                "udi": null,
                "values": [
                  {
                    "alias": "day",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "Tuesday"
                    ]
                  },
                  {
                    "alias": "open",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "13:30"
                  },
                  {
                    "alias": "close",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "17:30"
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003Eand in the afternoon she laughs\u003C/p\u003E"
                    }
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "9c1d7b70-b841-4687-ae45-2149086d50d9",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "582c9a7f-4e85-496a-965e-dccd2b6982a3",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "df32a620-4033-4db4-aeba-0c69a178bce4",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "9c1d7b70-b841-4687-ae45-2149086d50d9",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "582c9a7f-4e85-496a-965e-dccd2b6982a3",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "df32a620-4033-4db4-aeba-0c69a178bce4",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "69021ede-3114-43b4-96c8-5d2c66e7ebd1",
      "key": "4c6bb45e-aae0-4554-b541-878a9d4cf056",
      "udi": null,
      "values": [
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Standard List"
        },
        {
          "alias": "mainTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "Pages"
          }
        },
        {
          "alias": "listBlocks",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "a7d6bfa0-76ad-477c-b8be-a936c05eface",
                "key": "4b10ed4f-0f1b-4166-9cc4-3cf5f1b07b28",
                "udi": null,
                "values": [
                  {
                    "alias": "pages",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "umb://document/388d46aa6c524321ae08a6a62d005b20,umb://document/91f89d6489504dd0994c399a4a005eba,umb://document/5035cebea1314e08804519d16c472d65,umb://document/44124e81f1ef4b2aa8f122b64b4baf91,umb://document/690bfe294d634b9684565dd4217a8691,umb://document/880c9e603c2c49f9b45f74a178d3e323,umb://document/3f8af1eca53348d488640c3e11873f8d,umb://document/519eaefc2c0440b396476b7383d1cbc6,umb://document/aeaa3118aaea4573acc6db96adc70258"
                  }
                ]
              },
              {
                "contentTypeKey": "43568e89-0812-4c65-8584-76c4618286fd",
                "key": "79e624a0-f75c-438d-a31c-2dc4c778098b",
                "udi": null,
                "values": [
                  {
                    "alias": "header",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "Open"
                    }
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003Esdfsdfsdfd\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "times",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "contentData": [
                        {
                          "contentTypeKey": "3ababe53-a528-4533-ba2d-e1c779bbdeaf",
                          "key": "d4ee8971-9dad-45f8-983e-b55cc375f8c9",
                          "udi": null,
                          "values": [
                            {
                              "alias": "day",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": [
                                "Friday"
                              ]
                            },
                            {
                              "alias": "open",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "01:01"
                            },
                            {
                              "alias": "close",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "23:02"
                            }
                          ]
                        }
                      ],
                      "settingsData": [],
                      "expose": [
                        {
                          "contentKey": "d4ee8971-9dad-45f8-983e-b55cc375f8c9",
                          "culture": null,
                          "segment": null
                        }
                      ],
                      "Layout": {
                        "Umbraco.BlockList": [
                          {
                            "contentKey": "d4ee8971-9dad-45f8-983e-b55cc375f8c9",
                            "contentUdi": null,
                            "settingsKey": null,
                            "settingsUdi": null
                          }
                        ]
                      }
                    }
                  }
                ]
              }
            ],
            "settingsData": [
              {
                "contentTypeKey": "05c5e544-b88c-497f-975c-60d95b83bd77",
                "key": "75e63338-51c6-4d8f-8242-35ad36098e5a",
                "udi": null,
                "values": [
                  {
                    "alias": "order",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "A to Z"
                    ]
                  },
                  {
                    "alias": "styleImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "Behind"
                    ]
                  },
                  {
                    "alias": "styleHeader",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "Hide"
                    ]
                  },
                  {
                    "alias": "styleText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "Hide"
                    ]
                  },
                  {
                    "alias": "styleAction",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "Link with Icon"
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "d5554606-8d6d-45d1-819b-449a3915e91a",
                "key": "a540b781-3633-4970-8f0a-f20d1988b38f",
                "udi": null,
                "values": []
              }
            ],
            "expose": [
              {
                "contentKey": "4b10ed4f-0f1b-4166-9cc4-3cf5f1b07b28",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "79e624a0-f75c-438d-a31c-2dc4c778098b",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "4b10ed4f-0f1b-4166-9cc4-3cf5f1b07b28",
                  "contentUdi": "umb://element/a10387da888a4720bf871df0aab171e9",
                  "settingsKey": "75e63338-51c6-4d8f-8242-35ad36098e5a",
                  "settingsUdi": "umb://element/23ef41bbe31b4ddd84625205108ab625"
                },
                {
                  "contentKey": "79e624a0-f75c-438d-a31c-2dc4c778098b",
                  "contentUdi": null,
                  "settingsKey": "a540b781-3633-4970-8f0a-f20d1988b38f",
                  "settingsUdi": null
                }
              ]
            }
          }
        },
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "mainLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "38d28af9-85ee-41b1-9b31-233620b1b990",
      "key": "6830ba0d-59ed-4640-91f8-cfbae30bde86",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "81e44a54-ba00-4100-b7a1-14d73a691ab9",
      "key": "c876cb84-209a-46c7-8f64-8bbe525ec6f5",
      "udi": null,
      "values": [
        {
          "alias": "maxColumns",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "3"
        },
        {
          "alias": "styleAction",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "listType",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Flexible grid"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "3e5fbab8-f177-4633-9a4d-cc5508065dcd",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "4c6bb45e-aae0-4554-b541-878a9d4cf056",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "3e5fbab8-f177-4633-9a4d-cc5508065dcd",
        "contentUdi": null,
        "settingsKey": "6830ba0d-59ed-4640-91f8-cfbae30bde86",
        "settingsUdi": null
      },
      {
        "contentKey": "4c6bb45e-aae0-4554-b541-878a9d4cf056",
        "contentUdi": "umb://element/06b4cbbad38743bcae587a1e48f86bcc",
        "settingsKey": "c876cb84-209a-46c7-8f64-8bbe525ec6f5",
        "settingsUdi": "umb://element/86fc5115009941d8ae283579f7248278"
      }
    ]
  }
}]]></Value>
    </body>
    <categories>
      <Value><![CDATA[]]></Value>
    </categories>
    <furnitureBreadcrumbsColor>
      <Value><![CDATA[]]></Value>
    </furnitureBreadcrumbsColor>
    <furnitureBreadcrumbStatus>
      <Value><![CDATA[Inherit Breadcrumb Status]]></Value>
    </furnitureBreadcrumbStatus>
    <furnitureBreadcrumbSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureBreadcrumbSubtheme>
    <furnitureBreadcrumbThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureBreadcrumbThemeShade>
    <furnitureFooterColor>
      <Value><![CDATA[]]></Value>
    </furnitureFooterColor>
    <furnitureFooterInformation>
      <Value><![CDATA[]]></Value>
    </furnitureFooterInformation>
    <furnitureFooterMenu>
      <Value><![CDATA[]]></Value>
    </furnitureFooterMenu>
    <furnitureFooterMessage>
      <Value><![CDATA[]]></Value>
    </furnitureFooterMessage>
    <furnitureFooterSocialMediaLinks>
      <Value><![CDATA[]]></Value>
    </furnitureFooterSocialMediaLinks>
    <furnitureFooterSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureFooterSubtheme>
    <furnitureFooterThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureFooterThemeShade>
    <furnitureHeaderColor>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderColor>
    <furnitureHeaderMenu>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderMenu>
    <furnitureHeaderMenuPosition>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderMenuPosition>
    <furnitureHeaderSticky>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderSticky>
    <furnitureHeaderSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureHeaderSubtheme>
    <furnitureHeaderThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureHeaderThemeShade>
    <furnitureLogoImage>
      <Value><![CDATA[]]></Value>
    </furnitureLogoImage>
    <furnitureLogoRatio>
      <Value><![CDATA[]]></Value>
    </furnitureLogoRatio>
    <furniturePageTitlePromote>
      <Value><![CDATA[]]></Value>
    </furniturePageTitlePromote>
    <PageTitleSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </PageTitleSubtheme>
    <furniturePageTitleThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </furniturePageTitleThemeShade>
    <furnitureShowAllServices>
      <Value><![CDATA[]]></Value>
    </furnitureShowAllServices>
    <furnitureShowHeaderMenuOnLargerDevices>
      <Value><![CDATA[]]></Value>
    </furnitureShowHeaderMenuOnLargerDevices>
    <furnitureShowHeaderMenuOnSmallerDevices>
      <Value><![CDATA[]]></Value>
    </furnitureShowHeaderMenuOnSmallerDevices>
    <furnitureShowSearchBar>
      <Value><![CDATA[]]></Value>
    </furnitureShowSearchBar>
    <furnitureStatus>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureStatus>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <pageHeader>
      <Value><![CDATA[]]></Value>
    </pageHeader>
    <pageSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </pageSubtheme>
    <pageTheme>
      <Value><![CDATA[Inherit]]></Value>
    </pageTheme>
    <pageThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </pageThemeShade>
    <reviewComments>
      <Value><![CDATA[]]></Value>
    </reviewComments>
    <reviewDate>
      <Value><![CDATA[]]></Value>
    </reviewDate>
    <reviewGroup>
      <Value><![CDATA[]]></Value>
    </reviewGroup>
    <reviewStatus>
      <Value><![CDATA[Inherit]]></Value>
    </reviewStatus>
    <seoAbstract>
      <Value><![CDATA[]]></Value>
    </seoAbstract>
    <seoCanonicalUrl>
      <Value><![CDATA[]]></Value>
    </seoCanonicalUrl>
    <seoDatePublished>
      <Value><![CDATA[]]></Value>
    </seoDatePublished>
    <seoDescription>
      <Value><![CDATA[]]></Value>
    </seoDescription>
    <seoPriority>
      <Value><![CDATA[]]></Value>
    </seoPriority>
    <seoPromotedSearchTerms>
      <Value><![CDATA[]]></Value>
    </seoPromotedSearchTerms>
    <seoStatus>
      <Value><![CDATA[Inherit]]></Value>
    </seoStatus>
    <seoThumbnail>
      <Value><![CDATA[]]></Value>
    </seoThumbnail>
    <subfooterColor>
      <Value><![CDATA[]]></Value>
    </subfooterColor>
    <subfooterShowLastUpdatedDate>
      <Value><![CDATA[]]></Value>
    </subfooterShowLastUpdatedDate>
    <subfooterShowNextReviewDate>
      <Value><![CDATA[]]></Value>
    </subfooterShowNextReviewDate>
    <subfooterShowReturnToTopIcon>
      <Value><![CDATA[]]></Value>
    </subfooterShowReturnToTopIcon>
    <subfooterStatus>
      <Value><![CDATA[Inherit]]></Value>
    </subfooterStatus>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <virtualAgentInstall>
      <Value><![CDATA[]]></Value>
    </virtualAgentInstall>
    <virtualAgentStatus>
      <Value><![CDATA[Inherit]]></Value>
    </virtualAgentStatus>
  </Properties>
</Content>