<?xml version="1.0" encoding="utf-8"?>
<Content Key="c593a5c3-a13c-48f1-b428-9f8d5d1a403d" Alias="Protenacity" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Protenacity</Path>
    <Trashed>false</Trashed>
    <ContentType>domainPage</ContentType>
    <CreateDate>2026-02-13T15:03:22</CreateDate>
    <NodeName Default="Protenacity" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <allServices>
      <Value><![CDATA[]]></Value>
    </allServices>
    <bingVerification>
      <Value><![CDATA[]]></Value>
    </bingVerification>
    <configAsideLeftWidth>
      <Value><![CDATA[3]]></Value>
    </configAsideLeftWidth>
    <configAsideRightWidth>
      <Value><![CDATA[3]]></Value>
    </configAsideRightWidth>
    <configCardDateFormat>
      <Value><![CDATA[d]]></Value>
    </configCardDateFormat>
    <configCardTimeFormat>
      <Value><![CDATA[t]]></Value>
    </configCardTimeFormat>
    <configCategoryCache>
      <Value><![CDATA[60]]></Value>
    </configCategoryCache>
    <configCoronerDateFormat>
      <Value><![CDATA[d]]></Value>
    </configCoronerDateFormat>
    <configCoronerTimeFormat>
      <Value><![CDATA[t]]></Value>
    </configCoronerTimeFormat>
    <configDefaultAsideBackground>
      <Value><![CDATA[]]></Value>
    </configDefaultAsideBackground>
    <configDefaultAsideBorderEdges>
      <Value><![CDATA[]]></Value>
    </configDefaultAsideBorderEdges>
    <configDefaultImageMissingColor>
      <Value><![CDATA[#D0D0D0]]></Value>
    </configDefaultImageMissingColor>
    <configFormFromEmail>
      <Value><![CDATA[]]></Value>
    </configFormFromEmail>
    <configImageQuality>
      <Value><![CDATA[70]]></Value>
    </configImageQuality>
    <configOpeningTimesCustomTimeFormat>
      <Value><![CDATA[t]]></Value>
    </configOpeningTimesCustomTimeFormat>
    <configPageMaximum>
      <Value><![CDATA[1000]]></Value>
    </configPageMaximum>
    <configPageSizeDefault>
      <Value><![CDATA[100]]></Value>
    </configPageSizeDefault>
    <configPageSizeMaximum>
      <Value><![CDATA[1000]]></Value>
    </configPageSizeMaximum>
    <configReviewEmailBody>
      <Value><![CDATA[]]></Value>
    </configReviewEmailBody>
    <configReviewEmailFrequency>
      <Value><![CDATA[]]></Value>
    </configReviewEmailFrequency>
    <configReviewEmailFrom>
      <Value><![CDATA[]]></Value>
    </configReviewEmailFrom>
    <configReviewEmailSubject>
      <Value><![CDATA[]]></Value>
    </configReviewEmailSubject>
    <configRssFeedReaderCache>
      <Value><![CDATA[15]]></Value>
    </configRssFeedReaderCache>
    <configSearchFuzziness>
      <Value><![CDATA[50]]></Value>
    </configSearchFuzziness>
    <configSearchH1Boost>
      <Value><![CDATA[100]]></Value>
    </configSearchH1Boost>
    <configSearchH2Boost>
      <Value><![CDATA[30]]></Value>
    </configSearchH2Boost>
    <configSearchH3Boost>
      <Value><![CDATA[10]]></Value>
    </configSearchH3Boost>
    <configSearchH4Boost>
      <Value><![CDATA[6]]></Value>
    </configSearchH4Boost>
    <configSearchH5Boost>
      <Value><![CDATA[3]]></Value>
    </configSearchH5Boost>
    <configSearchH6Boost>
      <Value><![CDATA[2]]></Value>
    </configSearchH6Boost>
    <configSearchImplementFuzzyResults>
      <Value><![CDATA[1]]></Value>
    </configSearchImplementFuzzyResults>
    <configSearchKeywordsBoost>
      <Value><![CDATA[50]]></Value>
    </configSearchKeywordsBoost>
    <configSearchPromotedSearchTermsBoost>
      <Value><![CDATA[200]]></Value>
    </configSearchPromotedSearchTermsBoost>
    <configSearchSeoPriorities>
      <Value><![CDATA[20,18,16,14,12,10,8,6,4,2,1]]></Value>
    </configSearchSeoPriorities>
    <configTheme>
      <Value><![CDATA[lancashire-county-council]]></Value>
    </configTheme>
    <configUmbracoFormCacheLength>
      <Value><![CDATA[0]]></Value>
    </configUmbracoFormCacheLength>
    <configUmbracoFormFieldMessage>
      <Value><![CDATA[Message]]></Value>
    </configUmbracoFormFieldMessage>
    <configUmbracoFormFieldName>
      <Value><![CDATA[Name]]></Value>
    </configUmbracoFormFieldName>
    <configUmbracoFormFieldNameDefault>
      <Value><![CDATA[Anonymous]]></Value>
    </configUmbracoFormFieldNameDefault>
    <cookieConsentAnalyticCookieList>
      <Value><![CDATA[]]></Value>
    </cookieConsentAnalyticCookieList>
    <cookieConsentAnalyticDescription>
      <Value><![CDATA[]]></Value>
    </cookieConsentAnalyticDescription>
    <cookieConsentAnalyticEnable>
      <Value><![CDATA[1]]></Value>
    </cookieConsentAnalyticEnable>
    <cookieConsentAnalyticGoogleTagManager>
      <Value><![CDATA[]]></Value>
    </cookieConsentAnalyticGoogleTagManager>
    <cookieConsentAnalyticScript>
      <Value><![CDATA[]]></Value>
    </cookieConsentAnalyticScript>
    <cookieConsentAnalyticTitle>
      <Value><![CDATA[]]></Value>
    </cookieConsentAnalyticTitle>
    <cookieConsentBackgroundColor>
      <Value><![CDATA[]]></Value>
    </cookieConsentBackgroundColor>
    <cookieConsentBespokeCookieList>
      <Value><![CDATA[]]></Value>
    </cookieConsentBespokeCookieList>
    <cookieConsentBespokeDescription>
      <Value><![CDATA[]]></Value>
    </cookieConsentBespokeDescription>
    <cookieConsentBespokeEnable>
      <Value><![CDATA[0]]></Value>
    </cookieConsentBespokeEnable>
    <cookieConsentBespokeGoogleTagManager>
      <Value><![CDATA[]]></Value>
    </cookieConsentBespokeGoogleTagManager>
    <cookieConsentBespokeScript>
      <Value><![CDATA[]]></Value>
    </cookieConsentBespokeScript>
    <cookieConsentBespokeTitle>
      <Value><![CDATA[]]></Value>
    </cookieConsentBespokeTitle>
    <cookieConsentCustomClose>
      <Value><![CDATA[]]></Value>
    </cookieConsentCustomClose>
    <cookieConsentCustomMoreInfoDescription>
      <Value><![CDATA[]]></Value>
    </cookieConsentCustomMoreInfoDescription>
    <cookieConsentCustomMoreInfoTitle>
      <Value><![CDATA[]]></Value>
    </cookieConsentCustomMoreInfoTitle>
    <cookieConsentCustomSave>
      <Value><![CDATA[]]></Value>
    </cookieConsentCustomSave>
    <cookieConsentCustomSectionDescription>
      <Value><![CDATA[]]></Value>
    </cookieConsentCustomSectionDescription>
    <cookieConsentCustomSectionTitle>
      <Value><![CDATA[]]></Value>
    </cookieConsentCustomSectionTitle>
    <cookieConsentCustomTitle>
      <Value><![CDATA[]]></Value>
    </cookieConsentCustomTitle>
    <cookieConsentEnable>
      <Value><![CDATA[1]]></Value>
    </cookieConsentEnable>
    <cookieConsentIntegrateWithGoogleTagManager>
      <Value><![CDATA[0]]></Value>
    </cookieConsentIntegrateWithGoogleTagManager>
    <cookieConsentModalAcceptAll>
      <Value><![CDATA[]]></Value>
    </cookieConsentModalAcceptAll>
    <cookieConsentModalCustom>
      <Value><![CDATA[]]></Value>
    </cookieConsentModalCustom>
    <cookieConsentModalDescription>
      <Value><![CDATA[]]></Value>
    </cookieConsentModalDescription>
    <cookieConsentModalPosition>
      <Value><![CDATA[]]></Value>
    </cookieConsentModalPosition>
    <cookieConsentModalRejectAll>
      <Value><![CDATA[]]></Value>
    </cookieConsentModalRejectAll>
    <cookieConsentModalTitle>
      <Value><![CDATA[]]></Value>
    </cookieConsentModalTitle>
    <cookieConsentNecessaryCookieList>
      <Value><![CDATA[]]></Value>
    </cookieConsentNecessaryCookieList>
    <cookieConsentNecessaryDescription>
      <Value><![CDATA[]]></Value>
    </cookieConsentNecessaryDescription>
    <cookieConsentNecessaryGoogleTagManager>
      <Value><![CDATA[]]></Value>
    </cookieConsentNecessaryGoogleTagManager>
    <cookieConsentNecessaryScript>
      <Value><![CDATA[]]></Value>
    </cookieConsentNecessaryScript>
    <cookieConsentNecessaryTitle>
      <Value><![CDATA[]]></Value>
    </cookieConsentNecessaryTitle>
    <enableIndexing>
      <Value><![CDATA[1]]></Value>
    </enableIndexing>
    <enableSitemapxml>
      <Value><![CDATA[1]]></Value>
    </enableSitemapxml>
    <enableSnippets>
      <Value><![CDATA[1]]></Value>
    </enableSnippets>
    <errorPage>
      <Value><![CDATA[]]></Value>
    </errorPage>
    <facebookVerification>
      <Value><![CDATA[]]></Value>
    </facebookVerification>
    <googleVerification>
      <Value><![CDATA[]]></Value>
    </googleVerification>
    <icon>
      <Value><![CDATA[]]></Value>
    </icon>
    <publisher>
      <Value><![CDATA[]]></Value>
    </publisher>
    <robotsTxt>
      <Value><![CDATA[]]></Value>
    </robotsTxt>
    <rssFeeds>
      <Value><![CDATA[]]></Value>
    </rssFeeds>
    <search>
      <Value><![CDATA[]]></Value>
    </search>
    <securityAcknowledgments>
      <Value><![CDATA[]]></Value>
    </securityAcknowledgments>
    <securityContact>
      <Value><![CDATA[]]></Value>
    </securityContact>
    <securityDigitalSignature>
      <Value><![CDATA[]]></Value>
    </securityDigitalSignature>
    <securityEnable>
      <Value><![CDATA[1]]></Value>
    </securityEnable>
    <securityHiring>
      <Value><![CDATA[]]></Value>
    </securityHiring>
    <securityPolicy>
      <Value><![CDATA[]]></Value>
    </securityPolicy>
    <title>
      <Value><![CDATA[Protenacity]]></Value>
    </title>
  </Properties>
</Content>