<?xml version="1.0" encoding="utf-8"?>
<Content Key="bdf5314e-6945-4ed4-9daf-f729ea04bd58" Alias="Publish me" Level="3">
  <Info>
    <Parent Key="5799dddd-b5f2-4fcc-b1d2-d4d86f98e26f">Home</Parent>
    <Path>/locallancashiregovuk/Home/PublishMe</Path>
    <Trashed>false</Trashed>
    <ContentType>editorPage</ContentType>
    <CreateDate>2025-08-13T12:46:55</CreateDate>
    <NodeName Default="Publish me" />
    <SortOrder>18</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cbebb994-250c-4f99-ab85-8e38616efb0c">Editor</Template>
  </Info>
  <Properties>
    <alertStatus>
      <Value><![CDATA[Hide]]></Value>
    </alertStatus>
    <alertText>
      <Value><![CDATA[]]></Value>
    </alertText>
    <alertTitle>
      <Value><![CDATA[]]></Value>
    </alertTitle>
    <alertType>
      <Value><![CDATA[]]></Value>
    </alertType>
    <asideContent>
      <Value><![CDATA[]]></Value>
    </asideContent>
    <asideFixed>
      <Value><![CDATA[]]></Value>
    </asideFixed>
    <asideOffset>
      <Value><![CDATA[]]></Value>
    </asideOffset>
    <asideStatus>
      <Value><![CDATA[Hide]]></Value>
    </asideStatus>
    <bannerContent>
      <Value><![CDATA[]]></Value>
    </bannerContent>
    <bannerHeroImage>
      <Value><![CDATA[]]></Value>
    </bannerHeroImage>
    <bannerStatus>
      <Value><![CDATA[Hide]]></Value>
    </bannerStatus>
    <body>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "9cd1f41e-8db7-498b-a4f1-db27180a4728",
      "key": "119fc29f-d265-4913-9e4c-6ad695f8e88d",
      "udi": null,
      "values": [
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "January"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EThis is the first month\u003C/p\u003E"
          }
        },
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "31095fb6-f9a3-4bb1-b559-d353a1ff0e92",
      "key": "3a301f67-100f-4017-a786-d418e3547942",
      "udi": null,
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "119fc29f-d265-4913-9e4c-6ad695f8e88d",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "119fc29f-d265-4913-9e4c-6ad695f8e88d",
        "contentUdi": null,
        "settingsKey": "3a301f67-100f-4017-a786-d418e3547942",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </body>
    <categories>
      <Value><![CDATA[]]></Value>
    </categories>
    <furnitureBreadcrumbsColor>
      <Value><![CDATA[]]></Value>
    </furnitureBreadcrumbsColor>
    <furnitureBreadcrumbStatus>
      <Value><![CDATA[]]></Value>
    </furnitureBreadcrumbStatus>
    <furnitureBreadcrumbSubtheme>
      <Value><![CDATA[]]></Value>
    </furnitureBreadcrumbSubtheme>
    <furnitureBreadcrumbThemeShade>
      <Value><![CDATA[]]></Value>
    </furnitureBreadcrumbThemeShade>
    <furnitureFooterColor>
      <Value><![CDATA[]]></Value>
    </furnitureFooterColor>
    <furnitureFooterInformation>
      <Value><![CDATA[]]></Value>
    </furnitureFooterInformation>
    <furnitureFooterMenu>
      <Value><![CDATA[]]></Value>
    </furnitureFooterMenu>
    <furnitureFooterMessage>
      <Value><![CDATA[]]></Value>
    </furnitureFooterMessage>
    <furnitureFooterSocialMediaLinks>
      <Value><![CDATA[]]></Value>
    </furnitureFooterSocialMediaLinks>
    <furnitureFooterSubtheme>
      <Value><![CDATA[]]></Value>
    </furnitureFooterSubtheme>
    <furnitureFooterThemeShade>
      <Value><![CDATA[]]></Value>
    </furnitureFooterThemeShade>
    <furnitureHeaderColor>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderColor>
    <furnitureHeaderMenu>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderMenu>
    <furnitureHeaderMenuPosition>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderMenuPosition>
    <furnitureHeaderSticky>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderSticky>
    <furnitureHeaderSubtheme>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderSubtheme>
    <furnitureHeaderThemeShade>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderThemeShade>
    <furnitureLogoImage>
      <Value><![CDATA[]]></Value>
    </furnitureLogoImage>
    <furnitureLogoRatio>
      <Value><![CDATA[]]></Value>
    </furnitureLogoRatio>
    <furniturePageTitlePromote>
      <Value><![CDATA[]]></Value>
    </furniturePageTitlePromote>
    <furniturePageTitleSubtheme>
      <Value><![CDATA[]]></Value>
    </furniturePageTitleSubtheme>
    <furniturePageTitleThemeShade>
      <Value><![CDATA[]]></Value>
    </furniturePageTitleThemeShade>
    <furnitureShowAllServices>
      <Value><![CDATA[]]></Value>
    </furnitureShowAllServices>
    <furnitureShowHeaderMenuOnLargerDevices>
      <Value><![CDATA[]]></Value>
    </furnitureShowHeaderMenuOnLargerDevices>
    <furnitureShowHeaderMenuOnSmallerDevices>
      <Value><![CDATA[]]></Value>
    </furnitureShowHeaderMenuOnSmallerDevices>
    <furnitureShowSearchBar>
      <Value><![CDATA[]]></Value>
    </furnitureShowSearchBar>
    <furnitureStatus>
      <Value><![CDATA[Show]]></Value>
    </furnitureStatus>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <pageHeader>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EVersion 1\u003C/p\u003E"
}]]></Value>
    </pageHeader>
    <pageSubtheme>
      <Value><![CDATA[Primary]]></Value>
    </pageSubtheme>
    <pageTheme>
      <Value><![CDATA[Venice]]></Value>
    </pageTheme>
    <pageThemeShade>
      <Value><![CDATA[Light]]></Value>
    </pageThemeShade>
    <reviewComments>
      <Value><![CDATA[]]></Value>
    </reviewComments>
    <reviewDate>
      <Value><![CDATA[]]></Value>
    </reviewDate>
    <reviewGroup>
      <Value><![CDATA[]]></Value>
    </reviewGroup>
    <reviewStatus>
      <Value><![CDATA[Disable]]></Value>
    </reviewStatus>
    <seoAbstract>
      <Value><![CDATA[]]></Value>
    </seoAbstract>
    <seoCanonicalUrl>
      <Value><![CDATA[]]></Value>
    </seoCanonicalUrl>
    <seoDatePublished>
      <Value><![CDATA[]]></Value>
    </seoDatePublished>
    <seoDescription>
      <Value><![CDATA[]]></Value>
    </seoDescription>
    <seoPriority>
      <Value><![CDATA[]]></Value>
    </seoPriority>
    <seoPromotedSearchTerms>
      <Value><![CDATA[]]></Value>
    </seoPromotedSearchTerms>
    <seoStatus>
      <Value><![CDATA[Disable]]></Value>
    </seoStatus>
    <seoThumbnail>
      <Value><![CDATA[]]></Value>
    </seoThumbnail>
    <subfooterColor>
      <Value><![CDATA[]]></Value>
    </subfooterColor>
    <subfooterShowLastUpdatedDate>
      <Value><![CDATA[]]></Value>
    </subfooterShowLastUpdatedDate>
    <subfooterShowNextReviewDate>
      <Value><![CDATA[]]></Value>
    </subfooterShowNextReviewDate>
    <subfooterShowReturnToTopIcon>
      <Value><![CDATA[]]></Value>
    </subfooterShowReturnToTopIcon>
    <subfooterStatus>
      <Value><![CDATA[Hide]]></Value>
    </subfooterStatus>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <virtualAgentInstall>
      <Value><![CDATA[]]></Value>
    </virtualAgentInstall>
    <virtualAgentStatus>
      <Value><![CDATA[Disable]]></Value>
    </virtualAgentStatus>
  </Properties>
</Content>