<?xml version="1.0" encoding="utf-8"?>
<Content Key="8c84deda-e986-4eee-87fe-af2830f1e2f4" Alias="Ribbon" Level="4">
  <Info>
    <Parent Key="100e64b2-85ee-448b-8a2f-c0ad739dccf7">Test</Parent>
    <Path>/Protenacity/Home/Test/Ribbon</Path>
    <Trashed>false</Trashed>
    <ContentType>editorPage</ContentType>
    <CreateDate>2026-03-11T16:47:36</CreateDate>
    <NodeName Default="Ribbon" />
    <SortOrder>17</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cbebb994-250c-4f99-ab85-8e38616efb0c">Editor</Template>
  </Info>
  <Properties>
    <alertStatus>
      <Value><![CDATA[Inherit]]></Value>
    </alertStatus>
    <alertText>
      <Value><![CDATA[]]></Value>
    </alertText>
    <alertTitle>
      <Value><![CDATA[]]></Value>
    </alertTitle>
    <alertType>
      <Value><![CDATA[]]></Value>
    </alertType>
    <asideContent>
      <Value><![CDATA[]]></Value>
    </asideContent>
    <asideFixed>
      <Value><![CDATA[1]]></Value>
    </asideFixed>
    <asideOffset>
      <Value><![CDATA[1]]></Value>
    </asideOffset>
    <asideStatus>
      <Value><![CDATA[Inherit]]></Value>
    </asideStatus>
    <bannerContent>
      <Value><![CDATA[]]></Value>
    </bannerContent>
    <bannerHeroImage>
      <Value><![CDATA[]]></Value>
    </bannerHeroImage>
    <bannerStatus>
      <Value><![CDATA[Inherit]]></Value>
    </bannerStatus>
    <body>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "9cd1f41e-8db7-498b-a4f1-db27180a4728",
      "key": "4a716648-7db3-4aa3-a8b0-ed01033f4eb8",
      "udi": null,
      "values": [
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Intro Text"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003ESome intro text\u003C/p\u003E"
          }
        },
        {
          "alias": "mainTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EIntro\u003C/p\u003E"
          }
        },
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "1545b9a1-f5ef-4b3d-8611-ff457337714f",
      "key": "82dc2fcf-bed9-4fde-bad3-02f454a08891",
      "udi": null,
      "values": [
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Circle"
        },
        {
          "alias": "mainTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003ECircle\u003C/p\u003E"
          }
        },
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "badges",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "21451094-03e6-4008-9408-b9d70ab6ae77",
                "key": "30574dbb-238d-44f1-90d0-7d3aad7dfc57",
                "udi": null,
                "values": [
                  {
                    "alias": "header",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003ESparkle image\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EThis is some text\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "0c5bf7d4-9ae3-4023-8ef3-8758bd8bee95",
                        "mediaKey": "09ecbd18-8e6c-4eee-9bac-185b8c128014",
                        "mediaTypeAlias": "editorVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "21451094-03e6-4008-9408-b9d70ab6ae77",
                "key": "e33c5966-3da6-427f-8aca-094be2054956",
                "udi": null,
                "values": [
                  {
                    "alias": "header",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EWackywoo\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EFacepaint website\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "ce1e65c4-4edd-4e8d-9f25-1e126469afe5",
                        "mediaKey": "7196d829-8343-4569-9743-b7e2d3e9d7b8",
                        "mediaTypeAlias": "editorImage",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [
              {
                "contentTypeKey": "d7809f1c-e31a-42d9-877b-cc1be44a0b98",
                "key": "1508286d-1536-422d-9cbb-167d535f0872",
                "udi": null,
                "values": []
              },
              {
                "contentTypeKey": "d7809f1c-e31a-42d9-877b-cc1be44a0b98",
                "key": "a63222cd-3b59-4da2-a2a2-864da7a0a0d1",
                "udi": null,
                "values": []
              }
            ],
            "expose": [
              {
                "contentKey": "30574dbb-238d-44f1-90d0-7d3aad7dfc57",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "e33c5966-3da6-427f-8aca-094be2054956",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "30574dbb-238d-44f1-90d0-7d3aad7dfc57",
                  "contentUdi": null,
                  "settingsKey": "1508286d-1536-422d-9cbb-167d535f0872",
                  "settingsUdi": null
                },
                {
                  "contentKey": "e33c5966-3da6-427f-8aca-094be2054956",
                  "contentUdi": null,
                  "settingsKey": "a63222cd-3b59-4da2-a2a2-864da7a0a0d1",
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "1545b9a1-f5ef-4b3d-8611-ff457337714f",
      "key": "2150e353-6505-4bc0-8964-c209020a9680",
      "udi": null,
      "values": [
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Triangles"
        },
        {
          "alias": "mainTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003ETriangles\u003C/p\u003E"
          }
        },
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "badges",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "21451094-03e6-4008-9408-b9d70ab6ae77",
                "key": "474f8fe3-b061-44d8-96cc-00cff45a305a",
                "udi": null,
                "values": [
                  {
                    "alias": "header",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003ESparkle image\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EThis is some text\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "0c5bf7d4-9ae3-4023-8ef3-8758bd8bee95",
                        "mediaKey": "09ecbd18-8e6c-4eee-9bac-185b8c128014",
                        "mediaTypeAlias": "editorVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "21451094-03e6-4008-9408-b9d70ab6ae77",
                "key": "79d12017-67f0-4f64-88ee-963d311af890",
                "udi": null,
                "values": [
                  {
                    "alias": "header",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EWackywoo\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EFacepaint website\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "ce1e65c4-4edd-4e8d-9f25-1e126469afe5",
                        "mediaKey": "7196d829-8343-4569-9743-b7e2d3e9d7b8",
                        "mediaTypeAlias": "editorImage",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [
              {
                "contentTypeKey": "d7809f1c-e31a-42d9-877b-cc1be44a0b98",
                "key": "11dd14e5-7333-4101-af37-2a8b84038225",
                "udi": null,
                "values": [
                  {
                    "alias": "themeShade",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Dark"
                  },
                  {
                    "alias": "subtheme",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Quaternary"
                  }
                ]
              },
              {
                "contentTypeKey": "d7809f1c-e31a-42d9-877b-cc1be44a0b98",
                "key": "d4963d30-6140-433b-b0cb-a10d52cbc930",
                "udi": null,
                "values": [
                  {
                    "alias": "subtheme",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Quaternary"
                  },
                  {
                    "alias": "themeShade",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Dark"
                  }
                ]
              }
            ],
            "expose": [
              {
                "contentKey": "474f8fe3-b061-44d8-96cc-00cff45a305a",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "79d12017-67f0-4f64-88ee-963d311af890",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "474f8fe3-b061-44d8-96cc-00cff45a305a",
                  "contentUdi": null,
                  "settingsKey": "11dd14e5-7333-4101-af37-2a8b84038225",
                  "settingsUdi": null
                },
                {
                  "contentKey": "79d12017-67f0-4f64-88ee-963d311af890",
                  "contentUdi": null,
                  "settingsKey": "d4963d30-6140-433b-b0cb-a10d52cbc930",
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "1545b9a1-f5ef-4b3d-8611-ff457337714f",
      "key": "95a6ce48-df7d-497b-a7e6-10b2a99e37b8",
      "udi": null,
      "values": [
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Hexagon"
        },
        {
          "alias": "mainTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EHexagon\u003C/p\u003E"
          }
        },
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "badges",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "21451094-03e6-4008-9408-b9d70ab6ae77",
                "key": "99dd71ad-f38a-4467-bc53-b1352a43176d",
                "udi": null,
                "values": [
                  {
                    "alias": "header",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003ESparkle image\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EThis is some text\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "0c5bf7d4-9ae3-4023-8ef3-8758bd8bee95",
                        "mediaKey": "09ecbd18-8e6c-4eee-9bac-185b8c128014",
                        "mediaTypeAlias": "editorVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "21451094-03e6-4008-9408-b9d70ab6ae77",
                "key": "5150f293-5506-4f54-8d48-1b73e74b203a",
                "udi": null,
                "values": [
                  {
                    "alias": "header",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EWackywoo\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EFacepaint website\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "ce1e65c4-4edd-4e8d-9f25-1e126469afe5",
                        "mediaKey": "7196d829-8343-4569-9743-b7e2d3e9d7b8",
                        "mediaTypeAlias": "editorImage",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [
              {
                "contentTypeKey": "d7809f1c-e31a-42d9-877b-cc1be44a0b98",
                "key": "6de7d668-d6e2-48cd-9e48-77f93979f5d5",
                "udi": null,
                "values": []
              },
              {
                "contentTypeKey": "d7809f1c-e31a-42d9-877b-cc1be44a0b98",
                "key": "6359a837-2c83-4882-aca9-9f7f0a9a01bf",
                "udi": null,
                "values": []
              }
            ],
            "expose": [
              {
                "contentKey": "99dd71ad-f38a-4467-bc53-b1352a43176d",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "5150f293-5506-4f54-8d48-1b73e74b203a",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "99dd71ad-f38a-4467-bc53-b1352a43176d",
                  "contentUdi": null,
                  "settingsKey": "6de7d668-d6e2-48cd-9e48-77f93979f5d5",
                  "settingsUdi": null
                },
                {
                  "contentKey": "5150f293-5506-4f54-8d48-1b73e74b203a",
                  "contentUdi": null,
                  "settingsKey": "6359a837-2c83-4882-aca9-9f7f0a9a01bf",
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "1545b9a1-f5ef-4b3d-8611-ff457337714f",
      "key": "26d6d54e-e736-48ec-8be2-7afa0b8fbe33",
      "udi": null,
      "values": [
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Star"
        },
        {
          "alias": "mainTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EStar\u003C/p\u003E"
          }
        },
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "badges",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "21451094-03e6-4008-9408-b9d70ab6ae77",
                "key": "0f66e0ef-f629-4eb1-8c95-e32ed2be69f3",
                "udi": null,
                "values": [
                  {
                    "alias": "header",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003ESparkle image\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EThis is some text\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "0c5bf7d4-9ae3-4023-8ef3-8758bd8bee95",
                        "mediaKey": "09ecbd18-8e6c-4eee-9bac-185b8c128014",
                        "mediaTypeAlias": "editorVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "21451094-03e6-4008-9408-b9d70ab6ae77",
                "key": "f954dca1-7358-4e78-920c-39510c93eb0c",
                "udi": null,
                "values": [
                  {
                    "alias": "header",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EWackywoo\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EFacepaint website\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "ce1e65c4-4edd-4e8d-9f25-1e126469afe5",
                        "mediaKey": "7196d829-8343-4569-9743-b7e2d3e9d7b8",
                        "mediaTypeAlias": "editorImage",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [
              {
                "contentTypeKey": "d7809f1c-e31a-42d9-877b-cc1be44a0b98",
                "key": "92e06e79-1d02-4604-874e-9337c805f4aa",
                "udi": null,
                "values": []
              },
              {
                "contentTypeKey": "d7809f1c-e31a-42d9-877b-cc1be44a0b98",
                "key": "4d854239-ad02-485e-8e07-9d146f0fc70f",
                "udi": null,
                "values": []
              }
            ],
            "expose": [
              {
                "contentKey": "0f66e0ef-f629-4eb1-8c95-e32ed2be69f3",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "f954dca1-7358-4e78-920c-39510c93eb0c",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "0f66e0ef-f629-4eb1-8c95-e32ed2be69f3",
                  "contentUdi": null,
                  "settingsKey": "92e06e79-1d02-4604-874e-9337c805f4aa",
                  "settingsUdi": null
                },
                {
                  "contentKey": "f954dca1-7358-4e78-920c-39510c93eb0c",
                  "contentUdi": null,
                  "settingsKey": "4d854239-ad02-485e-8e07-9d146f0fc70f",
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "1545b9a1-f5ef-4b3d-8611-ff457337714f",
      "key": "110cf238-5b2f-45e8-a73f-efe111e569f6",
      "udi": null,
      "values": [
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Diamond"
        },
        {
          "alias": "mainTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EDiamond\u003C/p\u003E"
          }
        },
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "badges",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "21451094-03e6-4008-9408-b9d70ab6ae77",
                "key": "dd5e9e2e-e3ac-435d-8aa6-d92cdc9e88c5",
                "udi": null,
                "values": [
                  {
                    "alias": "header",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003ESparkle image\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EThis is some text\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "0c5bf7d4-9ae3-4023-8ef3-8758bd8bee95",
                        "mediaKey": "09ecbd18-8e6c-4eee-9bac-185b8c128014",
                        "mediaTypeAlias": "editorVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "21451094-03e6-4008-9408-b9d70ab6ae77",
                "key": "5cc26fa1-50e6-420a-a742-dc7f4bcfbf46",
                "udi": null,
                "values": [
                  {
                    "alias": "header",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EWackywoo\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EFacepaint website\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "ce1e65c4-4edd-4e8d-9f25-1e126469afe5",
                        "mediaKey": "7196d829-8343-4569-9743-b7e2d3e9d7b8",
                        "mediaTypeAlias": "editorImage",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [
              {
                "contentTypeKey": "d7809f1c-e31a-42d9-877b-cc1be44a0b98",
                "key": "29284bef-ff81-44b9-988f-b6804c652bab",
                "udi": null,
                "values": []
              },
              {
                "contentTypeKey": "d7809f1c-e31a-42d9-877b-cc1be44a0b98",
                "key": "efb35649-69b5-4009-aedf-9ccd0e6e4cfe",
                "udi": null,
                "values": []
              }
            ],
            "expose": [
              {
                "contentKey": "dd5e9e2e-e3ac-435d-8aa6-d92cdc9e88c5",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "5cc26fa1-50e6-420a-a742-dc7f4bcfbf46",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "dd5e9e2e-e3ac-435d-8aa6-d92cdc9e88c5",
                  "contentUdi": null,
                  "settingsKey": "29284bef-ff81-44b9-988f-b6804c652bab",
                  "settingsUdi": null
                },
                {
                  "contentKey": "5cc26fa1-50e6-420a-a742-dc7f4bcfbf46",
                  "contentUdi": null,
                  "settingsKey": "efb35649-69b5-4009-aedf-9ccd0e6e4cfe",
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "31095fb6-f9a3-4bb1-b559-d353a1ff0e92",
      "key": "cfd03962-b956-4900-9b8c-cb4a923077cf",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "e3f8cd2f-0b8b-477d-8e65-b90890e23a7a",
      "key": "0d08df4e-52db-47f4-bca6-483c15148119",
      "udi": null,
      "values": [
        {
          "alias": "defaultImageShape",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Circle"
          ]
        },
        {
          "alias": "subtheme",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Primary"
        },
        {
          "alias": "themeShade",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Light"
        }
      ]
    },
    {
      "contentTypeKey": "e3f8cd2f-0b8b-477d-8e65-b90890e23a7a",
      "key": "0231b7a9-2556-4091-9bc1-926803e0c7d5",
      "udi": null,
      "values": [
        {
          "alias": "defaultImageShape",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Triangle"
          ]
        },
        {
          "alias": "subtheme",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Secondary"
        },
        {
          "alias": "themeShade",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Light"
        }
      ]
    },
    {
      "contentTypeKey": "e3f8cd2f-0b8b-477d-8e65-b90890e23a7a",
      "key": "3b9f2cb2-40d6-4c8d-90e8-b75969c7f383",
      "udi": null,
      "values": [
        {
          "alias": "defaultImageShape",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Hexagon"
          ]
        }
      ]
    },
    {
      "contentTypeKey": "e3f8cd2f-0b8b-477d-8e65-b90890e23a7a",
      "key": "222882e9-3816-4870-b7df-800d30ab1df6",
      "udi": null,
      "values": [
        {
          "alias": "defaultImageShape",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Star"
          ]
        }
      ]
    },
    {
      "contentTypeKey": "e3f8cd2f-0b8b-477d-8e65-b90890e23a7a",
      "key": "25c2c4ab-328c-43f9-a020-76b7b2d1f17a",
      "udi": null,
      "values": [
        {
          "alias": "defaultImageShape",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Diamond"
          ]
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "4a716648-7db3-4aa3-a8b0-ed01033f4eb8",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "82dc2fcf-bed9-4fde-bad3-02f454a08891",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "2150e353-6505-4bc0-8964-c209020a9680",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "95a6ce48-df7d-497b-a7e6-10b2a99e37b8",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "26d6d54e-e736-48ec-8be2-7afa0b8fbe33",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "110cf238-5b2f-45e8-a73f-efe111e569f6",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "4a716648-7db3-4aa3-a8b0-ed01033f4eb8",
        "contentUdi": null,
        "settingsKey": "cfd03962-b956-4900-9b8c-cb4a923077cf",
        "settingsUdi": null
      },
      {
        "contentKey": "82dc2fcf-bed9-4fde-bad3-02f454a08891",
        "contentUdi": null,
        "settingsKey": "0d08df4e-52db-47f4-bca6-483c15148119",
        "settingsUdi": null
      },
      {
        "contentKey": "2150e353-6505-4bc0-8964-c209020a9680",
        "contentUdi": null,
        "settingsKey": "0231b7a9-2556-4091-9bc1-926803e0c7d5",
        "settingsUdi": null
      },
      {
        "contentKey": "95a6ce48-df7d-497b-a7e6-10b2a99e37b8",
        "contentUdi": null,
        "settingsKey": "3b9f2cb2-40d6-4c8d-90e8-b75969c7f383",
        "settingsUdi": null
      },
      {
        "contentKey": "26d6d54e-e736-48ec-8be2-7afa0b8fbe33",
        "contentUdi": null,
        "settingsKey": "222882e9-3816-4870-b7df-800d30ab1df6",
        "settingsUdi": null
      },
      {
        "contentKey": "110cf238-5b2f-45e8-a73f-efe111e569f6",
        "contentUdi": null,
        "settingsKey": "25c2c4ab-328c-43f9-a020-76b7b2d1f17a",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </body>
    <categories>
      <Value><![CDATA[]]></Value>
    </categories>
    <furnitureBreadcrumbsColor>
      <Value><![CDATA[]]></Value>
    </furnitureBreadcrumbsColor>
    <furnitureBreadcrumbStatus>
      <Value><![CDATA[Inherit Breadcrumb Status]]></Value>
    </furnitureBreadcrumbStatus>
    <furnitureBreadcrumbSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureBreadcrumbSubtheme>
    <furnitureBreadcrumbThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureBreadcrumbThemeShade>
    <furnitureFooterColor>
      <Value><![CDATA[]]></Value>
    </furnitureFooterColor>
    <furnitureFooterInformation>
      <Value><![CDATA[]]></Value>
    </furnitureFooterInformation>
    <furnitureFooterMenu>
      <Value><![CDATA[]]></Value>
    </furnitureFooterMenu>
    <furnitureFooterMessage>
      <Value><![CDATA[]]></Value>
    </furnitureFooterMessage>
    <furnitureFooterSocialMediaLinks>
      <Value><![CDATA[]]></Value>
    </furnitureFooterSocialMediaLinks>
    <furnitureFooterSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureFooterSubtheme>
    <furnitureFooterThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureFooterThemeShade>
    <furnitureHeaderColor>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderColor>
    <furnitureHeaderMenu>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderMenu>
    <furnitureHeaderMenuPosition>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderMenuPosition>
    <furnitureHeaderSticky>
      <Value><![CDATA[1]]></Value>
    </furnitureHeaderSticky>
    <furnitureHeaderSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureHeaderSubtheme>
    <furnitureHeaderThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureHeaderThemeShade>
    <furnitureLogoImage>
      <Value><![CDATA[]]></Value>
    </furnitureLogoImage>
    <furnitureLogoRatio>
      <Value><![CDATA[]]></Value>
    </furnitureLogoRatio>
    <furnitureShowHeaderMenuOnLargerDevices>
      <Value><![CDATA[1]]></Value>
    </furnitureShowHeaderMenuOnLargerDevices>
    <furnitureShowHeaderMenuOnSmallerDevices>
      <Value><![CDATA[1]]></Value>
    </furnitureShowHeaderMenuOnSmallerDevices>
    <furnitureShowHelp>
      <Value><![CDATA[1]]></Value>
    </furnitureShowHelp>
    <furnitureShowSearchBar>
      <Value><![CDATA[1]]></Value>
    </furnitureShowSearchBar>
    <furnitureStatus>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureStatus>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <pageSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </pageSubtheme>
    <pageSubtitle>
      <Value><![CDATA[]]></Value>
    </pageSubtitle>
    <pageTheme>
      <Value><![CDATA[Inherit]]></Value>
    </pageTheme>
    <pageThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </pageThemeShade>
    <pageTitleName>
      <Value><![CDATA[]]></Value>
    </pageTitleName>
    <pageTitlePromote>
      <Value><![CDATA[0]]></Value>
    </pageTitlePromote>
    <pageTitleSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </pageTitleSubtheme>
    <pageTitleThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </pageTitleThemeShade>
    <seoAbstract>
      <Value><![CDATA[]]></Value>
    </seoAbstract>
    <seoCanonicalUrl>
      <Value><![CDATA[]]></Value>
    </seoCanonicalUrl>
    <seoDatePublished>
      <Value><![CDATA[]]></Value>
    </seoDatePublished>
    <seoDescription>
      <Value><![CDATA[]]></Value>
    </seoDescription>
    <seoPriority>
      <Value><![CDATA[1]]></Value>
    </seoPriority>
    <seoPromotedSearchTerms>
      <Value><![CDATA[]]></Value>
    </seoPromotedSearchTerms>
    <seoStatus>
      <Value><![CDATA[Inherit]]></Value>
    </seoStatus>
    <seoThumbnail>
      <Value><![CDATA[]]></Value>
    </seoThumbnail>
    <subfooterColor>
      <Value><![CDATA[]]></Value>
    </subfooterColor>
    <subfooterShowLastUpdatedDate>
      <Value><![CDATA[1]]></Value>
    </subfooterShowLastUpdatedDate>
    <subfooterShowNextReviewDate>
      <Value><![CDATA[0]]></Value>
    </subfooterShowNextReviewDate>
    <subfooterShowReturnToTopIcon>
      <Value><![CDATA[1]]></Value>
    </subfooterShowReturnToTopIcon>
    <subfooterStatus>
      <Value><![CDATA[Inherit]]></Value>
    </subfooterStatus>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
  </Properties>
</Content>