<?xml version="1.0" encoding="utf-8"?>
<Content Key="519eaefc-2c04-40b3-9647-6b7383d1cbc6" Alias="Script" Level="4">
  <Info>
    <Parent Key="945cc2f0-d5eb-4356-9de9-48a9bc36e077">Test Content</Parent>
    <Path>/lancashiregovuk/Home/TestContent/Script</Path>
    <Trashed>false</Trashed>
    <ContentType>editorPage</ContentType>
    <CreateDate>2025-03-20T11:02:46</CreateDate>
    <NodeName Default="Script" />
    <SortOrder>16</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cbebb994-250c-4f99-ab85-8e38616efb0c">Editor</Template>
  </Info>
  <Properties>
    <alertStatus>
      <Value><![CDATA[Inherit]]></Value>
    </alertStatus>
    <alertText>
      <Value><![CDATA[]]></Value>
    </alertText>
    <alertTitle>
      <Value><![CDATA[]]></Value>
    </alertTitle>
    <alertType>
      <Value><![CDATA[]]></Value>
    </alertType>
    <asideContent>
      <Value><![CDATA[]]></Value>
    </asideContent>
    <asideFixed>
      <Value><![CDATA[]]></Value>
    </asideFixed>
    <asideOffset>
      <Value><![CDATA[]]></Value>
    </asideOffset>
    <asideStatus>
      <Value><![CDATA[Inherit]]></Value>
    </asideStatus>
    <bannerContent>
      <Value><![CDATA[]]></Value>
    </bannerContent>
    <bannerHeroImage>
      <Value><![CDATA[]]></Value>
    </bannerHeroImage>
    <bannerStatus>
      <Value><![CDATA[Inherit]]></Value>
    </bannerStatus>
    <body>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "9410cad4-5e54-4972-97a0-5113edfaf7b3",
      "key": "9bc10a91-d02e-4211-85ae-2011eb5dcaa3",
      "udi": null,
      "values": [
        {
          "alias": "dangerous",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Say Hi"
        },
        {
          "alias": "mainTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "Hi"
          }
        },
        {
          "alias": "code",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u003Ch1\u003EHi\u003C/h1\u003E"
        }
      ]
    },
    {
      "contentTypeKey": "69021ede-3114-43b4-96c8-5d2c66e7ebd1",
      "key": "8decc71b-880f-4fb9-885b-520af5d61190",
      "udi": null,
      "values": [
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "List"
        },
        {
          "alias": "mainTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "Text, Script, Text"
          }
        },
        {
          "alias": "listBlocks",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "ddc6ed43-5815-4f58-a925-2f455ec37331",
                "key": "2e910ea3-f26d-42ae-b4ad-17739a012ebb",
                "udi": null,
                "values": [
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EAs all the ModelsBuilder models depend on that, they will fail to build, once you have upgraded the necessary NuGet packages to Umbraco.\u003C/p\u003E\n\u003Cp\u003EI think the official advice is to uncomment all models and code that uses them. As a lazy dev, this is not what I want.\u003C/p\u003E"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "54b71d5f-1062-479c-87c5-e1aef9c78b34",
                "key": "7a9a816c-b1b0-4323-a568-eac13ff07fad",
                "udi": null,
                "values": [
                  {
                    "alias": "dangerous",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "code",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "\u003Cspan style=\u0022color:red;\u0022\u003ERED\u003C/span\u003E"
                  }
                ]
              },
              {
                "contentTypeKey": "ddc6ed43-5815-4f58-a925-2f455ec37331",
                "key": "6d2b53e2-9e85-411a-b215-435c433749ee",
                "udi": null,
                "values": [
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EIn stead, you can piggy back the interface back into Umbraco.\u003C/p\u003E\n\u003Cp\u003ESimply, add the following snippet to one of your\u0026nbsp;\u003Ccode\u003E.generated.cs\u003C/code\u003E model files, and your project can build again.\u003C/p\u003E"
                    }
                  }
                ]
              }
            ],
            "settingsData": [
              {
                "contentTypeKey": "578ea88f-577b-4dec-98bb-bccbb961092d",
                "key": "a568ae6a-8ddd-4600-b374-f9e0731fa827",
                "udi": null,
                "values": []
              },
              {
                "contentTypeKey": "a196d96c-b789-4fa8-83e0-59f17f56b1da",
                "key": "03bbfb8f-3f93-48da-8789-04817fc91c95",
                "udi": null,
                "values": [
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  }
                ]
              },
              {
                "contentTypeKey": "578ea88f-577b-4dec-98bb-bccbb961092d",
                "key": "bd89ae27-2d44-477e-ab16-d0f7f8340566",
                "udi": null,
                "values": []
              }
            ],
            "expose": [
              {
                "contentKey": "2e910ea3-f26d-42ae-b4ad-17739a012ebb",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "7a9a816c-b1b0-4323-a568-eac13ff07fad",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "6d2b53e2-9e85-411a-b215-435c433749ee",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "2e910ea3-f26d-42ae-b4ad-17739a012ebb",
                  "contentUdi": "umb://element/2e910ea3f26d42aeb4ad17739a012ebb",
                  "settingsKey": "a568ae6a-8ddd-4600-b374-f9e0731fa827",
                  "settingsUdi": "umb://element/a568ae6a8ddd4600b374f9e0731fa827"
                },
                {
                  "contentKey": "7a9a816c-b1b0-4323-a568-eac13ff07fad",
                  "contentUdi": "umb://element/7a9a816cb1b04323a568eac13ff07fad",
                  "settingsKey": "03bbfb8f-3f93-48da-8789-04817fc91c95",
                  "settingsUdi": "umb://element/03bbfb8f3f9348da878904817fc91c95"
                },
                {
                  "contentKey": "6d2b53e2-9e85-411a-b215-435c433749ee",
                  "contentUdi": "umb://element/6d2b53e29e85411ab215435c433749ee",
                  "settingsKey": "bd89ae27-2d44-477e-ab16-d0f7f8340566",
                  "settingsUdi": "umb://element/bd89ae272d44477eab16d0f7f8340566"
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "f3688870-05fb-4bdf-813f-dcca8a4acf99",
      "key": "53ca3727-8c9f-4bd8-890a-baae34355e59",
      "udi": null,
      "values": [
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Accordion"
        },
        {
          "alias": "mainTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "panelBlocks",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "3347987c-809a-45bc-acbc-aa41c8f12c1a",
                "key": "30a0f88c-44d1-4d7f-ace3-dcd1770be90c",
                "udi": null,
                "values": [
                  {
                    "alias": "dangerous",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "panelName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "Console Log"
                    }
                  },
                  {
                    "alias": "code",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "\u003Cscript\u003E\nconsole.log(\u0027Quick fix for IPublishedSnapshotAccessor issues when upgrading to Umbraco 15\u0027);\n\u003C/script\u003E\nSome Text"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "9581f677-21ca-4495-8248-2a7de5b03611",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "30a0f88c-44d1-4d7f-ace3-dcd1770be90c",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "9581f677-21ca-4495-8248-2a7de5b03611",
                  "contentUdi": "umb://element/9581f67721ca449582482a7de5b03611",
                  "settingsKey": "11c63ed0-3d61-423b-8ac0-61f72676e3e2",
                  "settingsUdi": "umb://element/11c63ed03d61423b8ac061f72676e3e2"
                },
                {
                  "contentKey": "30a0f88c-44d1-4d7f-ace3-dcd1770be90c",
                  "contentUdi": "umb://element/30a0f88c44d14d7face3dcd1770be90c",
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "966b24e5-650b-4a31-b8a5-d1ead8bc675c",
      "key": "00b49c2e-62e7-4648-a692-c19c276fa87c",
      "udi": null,
      "values": [
        {
          "alias": "label",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "81e44a54-ba00-4100-b7a1-14d73a691ab9",
      "key": "18148659-ebd7-4c4a-89d8-4a9cbcbff09b",
      "udi": null,
      "values": [
        {
          "alias": "maxColumns",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "fdf673d8-8549-4d24-840b-f39da73d992c",
      "key": "8cb8e90e-5d58-4a7b-8e34-92cfe900d00e",
      "udi": null,
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "9bc10a91-d02e-4211-85ae-2011eb5dcaa3",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "8decc71b-880f-4fb9-885b-520af5d61190",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "53ca3727-8c9f-4bd8-890a-baae34355e59",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "9bc10a91-d02e-4211-85ae-2011eb5dcaa3",
        "contentUdi": "umb://element/9bc10a91d02e421185ae2011eb5dcaa3",
        "settingsKey": "00b49c2e-62e7-4648-a692-c19c276fa87c",
        "settingsUdi": "umb://element/00b49c2e62e74648a692c19c276fa87c"
      },
      {
        "contentKey": "8decc71b-880f-4fb9-885b-520af5d61190",
        "contentUdi": "umb://element/8decc71b880f4fb9885b520af5d61190",
        "settingsKey": "18148659-ebd7-4c4a-89d8-4a9cbcbff09b",
        "settingsUdi": "umb://element/18148659ebd74c4a89d84a9cbcbff09b"
      },
      {
        "contentKey": "53ca3727-8c9f-4bd8-890a-baae34355e59",
        "contentUdi": "umb://element/53ca37278c9f4bd8890abaae34355e59",
        "settingsKey": "8cb8e90e-5d58-4a7b-8e34-92cfe900d00e",
        "settingsUdi": "umb://element/8cb8e90e5d584a7b8e3492cfe900d00e"
      }
    ]
  }
}]]></Value>
    </body>
    <categories>
      <Value><![CDATA[]]></Value>
    </categories>
    <furnitureBreadcrumbsColor>
      <Value><![CDATA[]]></Value>
    </furnitureBreadcrumbsColor>
    <furnitureBreadcrumbStatus>
      <Value><![CDATA[Inherit Breadcrumb Status]]></Value>
    </furnitureBreadcrumbStatus>
    <furnitureBreadcrumbSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureBreadcrumbSubtheme>
    <furnitureBreadcrumbThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureBreadcrumbThemeShade>
    <furnitureFooterColor>
      <Value><![CDATA[]]></Value>
    </furnitureFooterColor>
    <furnitureFooterInformation>
      <Value><![CDATA[]]></Value>
    </furnitureFooterInformation>
    <furnitureFooterMenu>
      <Value><![CDATA[]]></Value>
    </furnitureFooterMenu>
    <furnitureFooterMessage>
      <Value><![CDATA[]]></Value>
    </furnitureFooterMessage>
    <furnitureFooterSocialMediaLinks>
      <Value><![CDATA[]]></Value>
    </furnitureFooterSocialMediaLinks>
    <furnitureFooterSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureFooterSubtheme>
    <furnitureFooterThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureFooterThemeShade>
    <furnitureHeaderColor>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderColor>
    <furnitureHeaderMenu>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderMenu>
    <furnitureHeaderMenuPosition>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderMenuPosition>
    <furnitureHeaderSticky>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderSticky>
    <furnitureHeaderSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureHeaderSubtheme>
    <furnitureHeaderThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureHeaderThemeShade>
    <furnitureLogoImage>
      <Value><![CDATA[]]></Value>
    </furnitureLogoImage>
    <furnitureLogoRatio>
      <Value><![CDATA[]]></Value>
    </furnitureLogoRatio>
    <furniturePageTitlePromote>
      <Value><![CDATA[]]></Value>
    </furniturePageTitlePromote>
    <PageTitleSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </PageTitleSubtheme>
    <furniturePageTitleThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </furniturePageTitleThemeShade>
    <furnitureShowAllServices>
      <Value><![CDATA[1]]></Value>
    </furnitureShowAllServices>
    <furnitureShowHeaderMenuOnLargerDevices>
      <Value><![CDATA[]]></Value>
    </furnitureShowHeaderMenuOnLargerDevices>
    <furnitureShowHeaderMenuOnSmallerDevices>
      <Value><![CDATA[]]></Value>
    </furnitureShowHeaderMenuOnSmallerDevices>
    <furnitureShowSearchBar>
      <Value><![CDATA[1]]></Value>
    </furnitureShowSearchBar>
    <furnitureStatus>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureStatus>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <pageHeader>
      <Value><![CDATA[]]></Value>
    </pageHeader>
    <pageSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </pageSubtheme>
    <pageTheme>
      <Value><![CDATA[Inherit]]></Value>
    </pageTheme>
    <pageThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </pageThemeShade>
    <reviewComments>
      <Value><![CDATA[]]></Value>
    </reviewComments>
    <reviewDate>
      <Value><![CDATA[]]></Value>
    </reviewDate>
    <reviewGroup>
      <Value><![CDATA[]]></Value>
    </reviewGroup>
    <reviewStatus>
      <Value><![CDATA[Inherit]]></Value>
    </reviewStatus>
    <seoAbstract>
      <Value><![CDATA[]]></Value>
    </seoAbstract>
    <seoCanonicalUrl>
      <Value><![CDATA[]]></Value>
    </seoCanonicalUrl>
    <seoDatePublished>
      <Value><![CDATA[]]></Value>
    </seoDatePublished>
    <seoDescription>
      <Value><![CDATA[]]></Value>
    </seoDescription>
    <seoPriority>
      <Value><![CDATA[]]></Value>
    </seoPriority>
    <seoPromotedSearchTerms>
      <Value><![CDATA[]]></Value>
    </seoPromotedSearchTerms>
    <seoStatus>
      <Value><![CDATA[Inherit]]></Value>
    </seoStatus>
    <seoThumbnail>
      <Value><![CDATA[]]></Value>
    </seoThumbnail>
    <subfooterColor>
      <Value><![CDATA[]]></Value>
    </subfooterColor>
    <subfooterShowLastUpdatedDate>
      <Value><![CDATA[]]></Value>
    </subfooterShowLastUpdatedDate>
    <subfooterShowNextReviewDate>
      <Value><![CDATA[]]></Value>
    </subfooterShowNextReviewDate>
    <subfooterShowReturnToTopIcon>
      <Value><![CDATA[]]></Value>
    </subfooterShowReturnToTopIcon>
    <subfooterStatus>
      <Value><![CDATA[Inherit]]></Value>
    </subfooterStatus>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <virtualAgentInstall>
      <Value><![CDATA[]]></Value>
    </virtualAgentInstall>
    <virtualAgentStatus>
      <Value><![CDATA[Inherit]]></Value>
    </virtualAgentStatus>
  </Properties>
</Content>