<?xml version="1.0" encoding="utf-8"?>
<Content Key="22dffbb6-4589-4f65-ade9-84cb848bec6d" Alias="Section Links" Level="4">
  <Info>
    <Parent Key="945cc2f0-d5eb-4356-9de9-48a9bc36e077">Test Content</Parent>
    <Path>/lancashiregovuk/Home/TestContent/SectionLinks</Path>
    <Trashed>false</Trashed>
    <ContentType>editorPage</ContentType>
    <CreateDate>2025-08-29T13:47:03</CreateDate>
    <NodeName Default="Section Links" />
    <SortOrder>17</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cbebb994-250c-4f99-ab85-8e38616efb0c">Editor</Template>
  </Info>
  <Properties>
    <alertStatus>
      <Value><![CDATA[Inherit]]></Value>
    </alertStatus>
    <alertText>
      <Value><![CDATA[]]></Value>
    </alertText>
    <alertTitle>
      <Value><![CDATA[]]></Value>
    </alertTitle>
    <alertType>
      <Value><![CDATA[]]></Value>
    </alertType>
    <asideContent>
      <Value><![CDATA[]]></Value>
    </asideContent>
    <asideFixed>
      <Value><![CDATA[]]></Value>
    </asideFixed>
    <asideOffset>
      <Value><![CDATA[]]></Value>
    </asideOffset>
    <asideStatus>
      <Value><![CDATA[Inherit]]></Value>
    </asideStatus>
    <bannerContent>
      <Value><![CDATA[]]></Value>
    </bannerContent>
    <bannerHeroImage>
      <Value><![CDATA[]]></Value>
    </bannerHeroImage>
    <bannerStatus>
      <Value><![CDATA[Inherit]]></Value>
    </bannerStatus>
    <body>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "89a912cd-5da9-4920-a1d4-18eced9a23a8",
      "key": "ed37f77d-acc7-4544-b67e-c36dd2a63cbe",
      "udi": null,
      "values": [
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Section Links"
        }
      ]
    },
    {
      "contentTypeKey": "9cd1f41e-8db7-498b-a4f1-db27180a4728",
      "key": "97e0d691-3879-4aef-b01c-ee16ef36e885",
      "udi": null,
      "values": [
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Text Section "
        },
        {
          "alias": "mainTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EText Section \u003C/p\u003E"
          }
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EThis is a text section\u003C/p\u003E"
          }
        },
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "e9058913-5ad9-494c-8f25-f9271a2a1984",
      "key": "67f3f006-2462-456e-ac1d-2e24d56faaae",
      "udi": null,
      "values": [
        {
          "alias": "images",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "b03309ef-0eb9-47d6-b5aa-fbe2101a93d0",
              "mediaKey": "92590f2f-3051-4178-b7cb-2e1880e029b9",
              "mediaTypeAlias": "editorImage",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Yak"
        },
        {
          "alias": "mainTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EPicture of a Yak\u003C/p\u003E"
          }
        },
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "42ed1955-59f5-4b55-82c3-ad9caf875002",
      "key": "95aa9361-43bf-41c4-8774-dbddd79f2c8e",
      "udi": null,
      "values": [
        {
          "alias": "subtheme",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Inherit"
        },
        {
          "alias": "themeShade",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Inherit"
        },
        {
          "alias": "borderColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "",
            "value": "#a93d6a"
          }
        },
        {
          "alias": "enableThisSection",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "31095fb6-f9a3-4bb1-b559-d353a1ff0e92",
      "key": "9324e733-acb0-4209-bf75-b33e71c932f8",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "0f53ff8d-b10a-47b0-934e-fe60130e07f4",
      "key": "362c31b5-5df2-44a7-803a-4514b1112dd9",
      "udi": null,
      "values": [
        {
          "alias": "fullscreen",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "ed37f77d-acc7-4544-b67e-c36dd2a63cbe",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "97e0d691-3879-4aef-b01c-ee16ef36e885",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "67f3f006-2462-456e-ac1d-2e24d56faaae",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "ed37f77d-acc7-4544-b67e-c36dd2a63cbe",
        "contentUdi": null,
        "settingsKey": "95aa9361-43bf-41c4-8774-dbddd79f2c8e",
        "settingsUdi": null
      },
      {
        "contentKey": "97e0d691-3879-4aef-b01c-ee16ef36e885",
        "contentUdi": null,
        "settingsKey": "9324e733-acb0-4209-bf75-b33e71c932f8",
        "settingsUdi": null
      },
      {
        "contentKey": "67f3f006-2462-456e-ac1d-2e24d56faaae",
        "contentUdi": null,
        "settingsKey": "362c31b5-5df2-44a7-803a-4514b1112dd9",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </body>
    <categories>
      <Value><![CDATA[]]></Value>
    </categories>
    <furnitureBreadcrumbsColor>
      <Value><![CDATA[]]></Value>
    </furnitureBreadcrumbsColor>
    <furnitureBreadcrumbStatus>
      <Value><![CDATA[Inherit Breadcrumb Status]]></Value>
    </furnitureBreadcrumbStatus>
    <furnitureBreadcrumbSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureBreadcrumbSubtheme>
    <furnitureBreadcrumbThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureBreadcrumbThemeShade>
    <furnitureFooterColor>
      <Value><![CDATA[]]></Value>
    </furnitureFooterColor>
    <furnitureFooterInformation>
      <Value><![CDATA[]]></Value>
    </furnitureFooterInformation>
    <furnitureFooterMenu>
      <Value><![CDATA[]]></Value>
    </furnitureFooterMenu>
    <furnitureFooterMessage>
      <Value><![CDATA[]]></Value>
    </furnitureFooterMessage>
    <furnitureFooterSocialMediaLinks>
      <Value><![CDATA[]]></Value>
    </furnitureFooterSocialMediaLinks>
    <furnitureFooterSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureFooterSubtheme>
    <furnitureFooterThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureFooterThemeShade>
    <furnitureHeaderColor>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderColor>
    <furnitureHeaderMenu>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderMenu>
    <furnitureHeaderMenuPosition>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderMenuPosition>
    <furnitureHeaderSticky>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderSticky>
    <furnitureHeaderSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureHeaderSubtheme>
    <furnitureHeaderThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureHeaderThemeShade>
    <furnitureLogoImage>
      <Value><![CDATA[]]></Value>
    </furnitureLogoImage>
    <furnitureLogoRatio>
      <Value><![CDATA[]]></Value>
    </furnitureLogoRatio>
    <furniturePageTitlePromote>
      <Value><![CDATA[]]></Value>
    </furniturePageTitlePromote>
    <furniturePageTitleSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </furniturePageTitleSubtheme>
    <furniturePageTitleThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </furniturePageTitleThemeShade>
    <furnitureShowAllServices>
      <Value><![CDATA[]]></Value>
    </furnitureShowAllServices>
    <furnitureShowHeaderMenuOnLargerDevices>
      <Value><![CDATA[]]></Value>
    </furnitureShowHeaderMenuOnLargerDevices>
    <furnitureShowHeaderMenuOnSmallerDevices>
      <Value><![CDATA[]]></Value>
    </furnitureShowHeaderMenuOnSmallerDevices>
    <furnitureShowSearchBar>
      <Value><![CDATA[]]></Value>
    </furnitureShowSearchBar>
    <furnitureStatus>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureStatus>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <pageHeader>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003ESection Links\u003C/p\u003E"
}]]></Value>
    </pageHeader>
    <pageSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </pageSubtheme>
    <pageTheme>
      <Value><![CDATA[Inherit]]></Value>
    </pageTheme>
    <pageThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </pageThemeShade>
    <reviewComments>
      <Value><![CDATA[]]></Value>
    </reviewComments>
    <reviewDate>
      <Value><![CDATA[]]></Value>
    </reviewDate>
    <reviewGroup>
      <Value><![CDATA[]]></Value>
    </reviewGroup>
    <reviewStatus>
      <Value><![CDATA[Inherit]]></Value>
    </reviewStatus>
    <seoAbstract>
      <Value><![CDATA[]]></Value>
    </seoAbstract>
    <seoCanonicalUrl>
      <Value><![CDATA[]]></Value>
    </seoCanonicalUrl>
    <seoDatePublished>
      <Value><![CDATA[]]></Value>
    </seoDatePublished>
    <seoDescription>
      <Value><![CDATA[]]></Value>
    </seoDescription>
    <seoPriority>
      <Value><![CDATA[]]></Value>
    </seoPriority>
    <seoPromotedSearchTerms>
      <Value><![CDATA[]]></Value>
    </seoPromotedSearchTerms>
    <seoStatus>
      <Value><![CDATA[Inherit]]></Value>
    </seoStatus>
    <seoThumbnail>
      <Value><![CDATA[]]></Value>
    </seoThumbnail>
    <subfooterColor>
      <Value><![CDATA[]]></Value>
    </subfooterColor>
    <subfooterShowLastUpdatedDate>
      <Value><![CDATA[]]></Value>
    </subfooterShowLastUpdatedDate>
    <subfooterShowNextReviewDate>
      <Value><![CDATA[]]></Value>
    </subfooterShowNextReviewDate>
    <subfooterShowReturnToTopIcon>
      <Value><![CDATA[]]></Value>
    </subfooterShowReturnToTopIcon>
    <subfooterStatus>
      <Value><![CDATA[Inherit]]></Value>
    </subfooterStatus>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <virtualAgentInstall>
      <Value><![CDATA[]]></Value>
    </virtualAgentInstall>
    <virtualAgentStatus>
      <Value><![CDATA[Inherit]]></Value>
    </virtualAgentStatus>
  </Properties>
</Content>