<?xml version="1.0" encoding="utf-8"?>
<Content Key="2a266658-ddcc-4730-b234-71778d2aea0f" Alias="services-eu1.arcgis.com" Level="3">
  <Info>
    <Parent Key="d860070f-dbc5-497d-9c21-8894269f42b2">Bus Routes</Parent>
    <Path>/GlobalData/BusRoutes/servicesEu1arcgiscom</Path>
    <Trashed>false</Trashed>
    <ContentType>busRouteData</ContentType>
    <CreateDate>2026-01-24T16:10:23</CreateDate>
    <NodeName Default="services-eu1.arcgis.com" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <endpointAddress>
      <Value><![CDATA[https://services-eu1.arcgis.com/9MmxkLJT84uEwsJx/arcgis/rest/services/Road_Status/FeatureServer/0/query]]></Value>
    </endpointAddress>
    <endpointBusRoute>
      <Value><![CDATA[https://services-eu1.arcgis.com/9MmxkLJT84uEwsJx/arcgis/rest/services/Bus_Routes/FeatureServer/0/query]]></Value>
    </endpointBusRoute>
    <endpointBusStop>
      <Value><![CDATA[https://services-eu1.arcgis.com/9MmxkLJT84uEwsJx/arcgis/rest/services/Bus_Stops/FeatureServer/0/query]]></Value>
    </endpointBusStop>
    <endpointLocality>
      <Value><![CDATA[https://services-eu1.arcgis.com/9MmxkLJT84uEwsJx/arcgis/rest/services/Localities/FeatureServer/0/query]]></Value>
    </endpointLocality>
    <endpointPostcode>
      <Value><![CDATA[https://services-eu1.arcgis.com/9MmxkLJT84uEwsJx/arcgis/rest/services/PostcodesBoundaries/FeatureServer/0/query]]></Value>
    </endpointPostcode>
  </Properties>
</Content>