<?xml version="1.0" encoding="utf-8"?>
<Content Key="690bfe29-4d63-4b96-8456-5dd4217a8691" Alias="Table" Level="4">
  <Info>
    <Parent Key="945cc2f0-d5eb-4356-9de9-48a9bc36e077">Test Content</Parent>
    <Path>/lancashiregovuk/Home/TestContent/Table</Path>
    <Trashed>false</Trashed>
    <ContentType>editorPage</ContentType>
    <CreateDate>2025-03-05T17:55:47</CreateDate>
    <NodeName Default="Table" />
    <SortOrder>19</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cbebb994-250c-4f99-ab85-8e38616efb0c">Editor</Template>
  </Info>
  <Properties>
    <alertStatus>
      <Value><![CDATA[Inherit]]></Value>
    </alertStatus>
    <alertText>
      <Value><![CDATA[]]></Value>
    </alertText>
    <alertTitle>
      <Value><![CDATA[]]></Value>
    </alertTitle>
    <alertType>
      <Value><![CDATA[]]></Value>
    </alertType>
    <asideContent>
      <Value><![CDATA[]]></Value>
    </asideContent>
    <asideFixed>
      <Value><![CDATA[]]></Value>
    </asideFixed>
    <asideOffset>
      <Value><![CDATA[]]></Value>
    </asideOffset>
    <asideStatus>
      <Value><![CDATA[Inherit]]></Value>
    </asideStatus>
    <bannerContent>
      <Value><![CDATA[]]></Value>
    </bannerContent>
    <bannerHeroImage>
      <Value><![CDATA[]]></Value>
    </bannerHeroImage>
    <bannerStatus>
      <Value><![CDATA[Inherit]]></Value>
    </bannerStatus>
    <body>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "b34da64b-ee0c-471a-ae76-fe3799c17e82",
      "key": "ea4be419-499a-471c-8a77-32254a00f1d1",
      "udi": null,
      "values": [
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Text Source"
        },
        {
          "alias": "mainTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "Text Source"
          }
        },
        {
          "alias": "source",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "fae2dbdd-05d1-4ded-8374-ed54aefc6e6f",
                "key": "2fb4ec4d-d7d9-4b74-a308-231867323431",
                "udi": null,
                "values": [
                  {
                    "alias": "contents",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Username,Identifier,One time password,Recovery code,First name,Lastname,Department,Location\nbooker12,9012,12se74,rb9012,Rachel,Booker,Sales,Manchester\ngrey07,2070,04ap67,lg2070,Laura,Grey,Depot,London\njohnson81,4081,30no86,cj4081,Craig,Johnson,Depot,London\njenkins46,9346,14ju73,mj9346,Mary,Jenkins,Engineering,Manchester\nsmith79,5079,09ja61,js5079,Jamie,Smith,Engineering,Manchester\n"
                  },
                  {
                    "alias": "separator",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "2fb4ec4d-d7d9-4b74-a308-231867323431",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "2fb4ec4d-d7d9-4b74-a308-231867323431",
                  "contentUdi": "umb://element/2fb4ec4dd7d94b74a308231867323431",
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        },
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "mainLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "b34da64b-ee0c-471a-ae76-fe3799c17e82",
      "key": "ebfc31da-41ec-464d-87ac-276e65b507e5",
      "udi": null,
      "values": [
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Text Source with Header"
        },
        {
          "alias": "mainTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "Text Source with Header"
          }
        },
        {
          "alias": "source",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "fae2dbdd-05d1-4ded-8374-ed54aefc6e6f",
                "key": "76d956f2-6c5d-4518-95c7-200deaebef6f",
                "udi": null,
                "values": [
                  {
                    "alias": "contents",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Username\tIdentifier\tOne time password\tRecovery code\tFirst name\tLast name\tDepartment\tLocation\nbooker12\t9012\t12se74\trb9012\tRachel\tBooker\tSales\tManchester\ngrey07\t2070\t04ap67\tlg2070\tLaura\tGrey\tDepot\tLondon\njohnson81\t4081\t30no86\tcj4081\tCraig\tJohnson\tDepot\tLondon\njenkins46\t9346\t14ju73\tmj9346\tMary\tJenkins\tEngineering\tManchester\nsmith79\t5079\t09ja61\tjs5079\tJamie\tSmith\tEngineering\tManchester\n"
                  },
                  {
                    "alias": "separator",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "Tab ( \t )"
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "76d956f2-6c5d-4518-95c7-200deaebef6f",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "76d956f2-6c5d-4518-95c7-200deaebef6f",
                  "contentUdi": "umb://element/76d956f26c5d451895c7200deaebef6f",
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        },
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "mainLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "b34da64b-ee0c-471a-ae76-fe3799c17e82",
      "key": "61f300dd-8bd9-4c92-b1f8-2ab7300118c7",
      "udi": null,
      "values": [
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Media File"
        },
        {
          "alias": "mainTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "Csv data from Media File"
          }
        },
        {
          "alias": "source",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "a0c08459-b028-46a3-813d-6a34b230e90a",
                "key": "62933ac1-7df5-4f3e-af4b-e1e60ad14d2e",
                "udi": null,
                "values": [
                  {
                    "alias": "file",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "6b8e5390-7551-4b1f-a510-8cd2dc545041",
                        "mediaKey": "18f7a22d-590a-42dc-b5c1-dcefefd230e8",
                        "mediaTypeAlias": "editorTableSource",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "separator",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "Semicolon ( ; )"
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "62933ac1-7df5-4f3e-af4b-e1e60ad14d2e",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "62933ac1-7df5-4f3e-af4b-e1e60ad14d2e",
                  "contentUdi": "umb://element/62933ac17df54f3eaf4be1e60ad14d2e",
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        },
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "mainLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "b34da64b-ee0c-471a-ae76-fe3799c17e82",
      "key": "47203c55-121b-4eaa-9344-e0f7424e3a8d",
      "udi": null,
      "values": [
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "xls"
        },
        {
          "alias": "mainTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "Xls"
          }
        },
        {
          "alias": "source",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "a0c08459-b028-46a3-813d-6a34b230e90a",
                "key": "7ce209da-795f-4998-b011-d43e4f1c4613",
                "udi": null,
                "values": [
                  {
                    "alias": "file",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "a60120e5-e3dd-40bb-9e0c-c8ffbcaae01e",
                        "mediaKey": "0f53a373-2e0d-4b53-88fc-3b4ce5a34267",
                        "mediaTypeAlias": "editorTableSource",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "separator",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "7ce209da-795f-4998-b011-d43e4f1c4613",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "7ce209da-795f-4998-b011-d43e4f1c4613",
                  "contentUdi": "umb://element/7ce209da795f4998b011d43e4f1c4613",
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        },
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "mainLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "b34da64b-ee0c-471a-ae76-fe3799c17e82",
      "key": "ad98ac67-0996-45ad-9fa0-4c585a7c4658",
      "udi": null,
      "values": [
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "xlsx"
        },
        {
          "alias": "mainTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "xlsx"
          }
        },
        {
          "alias": "source",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "a0c08459-b028-46a3-813d-6a34b230e90a",
                "key": "25b5cd65-d5a7-4764-b898-efc4c8f05caa",
                "udi": null,
                "values": [
                  {
                    "alias": "file",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "cea330b1-032e-4b67-8ccd-278248cb9d06",
                        "mediaKey": "7f235d5a-d56e-4014-99d5-d1b22e1a3bab",
                        "mediaTypeAlias": "editorTableSource",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "separator",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "25b5cd65-d5a7-4764-b898-efc4c8f05caa",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "25b5cd65-d5a7-4764-b898-efc4c8f05caa",
                  "contentUdi": "umb://element/25b5cd65d5a74764b898efc4c8f05caa",
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        },
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "mainLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "f3688870-05fb-4bdf-813f-dcca8a4acf99",
      "key": "45602ee9-1cbc-49bd-88ea-a339d86786f8",
      "udi": null,
      "values": [
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Table inside an accordion"
        },
        {
          "alias": "mainTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "Table inside an accordion"
          }
        },
        {
          "alias": "panelBlocks",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "488654de-7666-4165-8509-efd91723a2c8",
                "key": "7e36653a-bedf-4614-9ce1-8c839846519c",
                "udi": null,
                "values": [
                  {
                    "alias": "panelName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "xlsx"
                    }
                  },
                  {
                    "alias": "source",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "contentData": [
                        {
                          "contentTypeKey": "a0c08459-b028-46a3-813d-6a34b230e90a",
                          "key": "e8838877-8af2-4fea-8453-4766aa8bba68",
                          "udi": null,
                          "values": [
                            {
                              "alias": "file",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": [
                                {
                                  "key": "55a6b306-fa0c-4982-aafa-8251b8a8f5fc",
                                  "mediaKey": "7f235d5a-d56e-4014-99d5-d1b22e1a3bab",
                                  "mediaTypeAlias": "editorTableSource",
                                  "crops": [],
                                  "focalPoint": null
                                }
                              ]
                            },
                            {
                              "alias": "separator",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": ""
                            }
                          ]
                        }
                      ],
                      "settingsData": [],
                      "expose": [
                        {
                          "contentKey": "e8838877-8af2-4fea-8453-4766aa8bba68",
                          "culture": null,
                          "segment": null
                        }
                      ],
                      "Layout": {
                        "Umbraco.BlockList": [
                          {
                            "contentKey": "e8838877-8af2-4fea-8453-4766aa8bba68",
                            "contentUdi": "umb://element/e88388778af24fea84534766aa8bba68",
                            "settingsKey": null,
                            "settingsUdi": null
                          }
                        ]
                      }
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "488654de-7666-4165-8509-efd91723a2c8",
                "key": "82fe5e01-83dc-4e29-b3f0-e6968f5f2491",
                "udi": null,
                "values": [
                  {
                    "alias": "panelName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "Blocks"
                    }
                  },
                  {
                    "alias": "source",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "contentData": [
                        {
                          "contentTypeKey": "f170f3bb-eb8c-45d0-9774-35ee23f25233",
                          "key": "9a02377f-ec5d-48d1-a14e-08fc2f1e701c",
                          "udi": null,
                          "values": [
                            {
                              "alias": "listBlocks",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": {
                                "contentData": [
                                  {
                                    "contentTypeKey": "ddc6ed43-5815-4f58-a925-2f455ec37331",
                                    "key": "16f83bef-00c7-4739-bc75-77c88a3251fc",
                                    "udi": null,
                                    "values": [
                                      {
                                        "alias": "text",
                                        "culture": null,
                                        "editorAlias": null,
                                        "segment": null,
                                        "value": {
                                          "blocks": {
                                            "contentData": [],
                                            "settingsData": [],
                                            "expose": [],
                                            "Layout": {}
                                          },
                                          "markup": "\u003Cp\u003EThis is a text block\u003C/p\u003E"
                                        }
                                      }
                                    ]
                                  },
                                  {
                                    "contentTypeKey": "b21e635e-eaec-41c4-911e-3f4b0d228b8c",
                                    "key": "ba81a8b9-cd10-4031-9803-2d80e6023eda",
                                    "udi": null,
                                    "values": [
                                      {
                                        "alias": "images",
                                        "culture": null,
                                        "editorAlias": null,
                                        "segment": null,
                                        "value": [
                                          {
                                            "key": "ac2b44eb-700a-423f-8d16-4e4df3c11b2c",
                                            "mediaKey": "1294db93-d60f-424b-a255-5a7a11353f29",
                                            "mediaTypeAlias": "editorImage",
                                            "crops": [],
                                            "focalPoint": null
                                          }
                                        ]
                                      }
                                    ]
                                  },
                                  {
                                    "contentTypeKey": "c34f79bb-ca79-40a2-ad47-7bbdec24ae07",
                                    "key": "26d3bcae-78e1-4501-8bfe-30dcc492a2cc",
                                    "udi": null,
                                    "values": [
                                      {
                                        "alias": "source",
                                        "culture": null,
                                        "editorAlias": null,
                                        "segment": null,
                                        "value": {
                                          "contentData": [
                                            {
                                              "contentTypeKey": "fae2dbdd-05d1-4ded-8374-ed54aefc6e6f",
                                              "key": "b18e172e-e598-452c-a149-f823144a00b2",
                                              "udi": null,
                                              "values": [
                                                {
                                                  "alias": "contents",
                                                  "culture": null,
                                                  "editorAlias": null,
                                                  "segment": null,
                                                  "value": "1,2,3,4\n5,6,7,8"
                                                },
                                                {
                                                  "alias": "separator",
                                                  "culture": null,
                                                  "editorAlias": null,
                                                  "segment": null,
                                                  "value": [
                                                    "Comma ( , )"
                                                  ]
                                                }
                                              ]
                                            }
                                          ],
                                          "settingsData": [],
                                          "expose": [
                                            {
                                              "contentKey": "b18e172e-e598-452c-a149-f823144a00b2",
                                              "culture": null,
                                              "segment": null
                                            }
                                          ],
                                          "Layout": {
                                            "Umbraco.BlockList": [
                                              {
                                                "contentKey": "b18e172e-e598-452c-a149-f823144a00b2",
                                                "contentUdi": "umb://element/b18e172ee598452ca149f823144a00b2",
                                                "settingsKey": null,
                                                "settingsUdi": null
                                              }
                                            ]
                                          }
                                        }
                                      }
                                    ]
                                  }
                                ],
                                "settingsData": [
                                  {
                                    "contentTypeKey": "578ea88f-577b-4dec-98bb-bccbb961092d",
                                    "key": "eb6795f4-1628-46f6-9e3a-26b7dff1495f",
                                    "udi": null,
                                    "values": []
                                  },
                                  {
                                    "contentTypeKey": "384ded8e-0d66-4e5f-844f-58d63e0f47cd",
                                    "key": "ab2331ac-f599-4d11-90d4-9bc6a970c6e6",
                                    "udi": null,
                                    "values": [
                                      {
                                        "alias": "fullscreen",
                                        "culture": null,
                                        "editorAlias": null,
                                        "segment": null,
                                        "value": "1"
                                      }
                                    ]
                                  },
                                  {
                                    "contentTypeKey": "e2a1e522-68a7-4b39-9bd6-c9de1383d9d6",
                                    "key": "fac9674d-e844-4ad0-a2c2-31c09d9357a1",
                                    "udi": null,
                                    "values": [
                                      {
                                        "alias": "firstRowIsHeader",
                                        "culture": null,
                                        "editorAlias": null,
                                        "segment": null,
                                        "value": "0"
                                      }
                                    ]
                                  }
                                ],
                                "expose": [
                                  {
                                    "contentKey": "16f83bef-00c7-4739-bc75-77c88a3251fc",
                                    "culture": null,
                                    "segment": null
                                  },
                                  {
                                    "contentKey": "ba81a8b9-cd10-4031-9803-2d80e6023eda",
                                    "culture": null,
                                    "segment": null
                                  },
                                  {
                                    "contentKey": "7a9bcf0f-71e1-4116-80af-c7976e395d31",
                                    "culture": null,
                                    "segment": null
                                  },
                                  {
                                    "contentKey": "26d3bcae-78e1-4501-8bfe-30dcc492a2cc",
                                    "culture": null,
                                    "segment": null
                                  }
                                ],
                                "Layout": {
                                  "Umbraco.BlockList": [
                                    {
                                      "contentKey": "16f83bef-00c7-4739-bc75-77c88a3251fc",
                                      "contentUdi": "umb://element/16f83bef00c74739bc7577c88a3251fc",
                                      "settingsKey": "eb6795f4-1628-46f6-9e3a-26b7dff1495f",
                                      "settingsUdi": "umb://element/eb6795f4162846f69e3a26b7dff1495f"
                                    },
                                    {
                                      "contentKey": "ba81a8b9-cd10-4031-9803-2d80e6023eda",
                                      "contentUdi": "umb://element/ba81a8b9cd10403198032d80e6023eda",
                                      "settingsKey": "ab2331ac-f599-4d11-90d4-9bc6a970c6e6",
                                      "settingsUdi": "umb://element/ab2331acf5994d1190d49bc6a970c6e6"
                                    },
                                    {
                                      "contentKey": "7a9bcf0f-71e1-4116-80af-c7976e395d31",
                                      "contentUdi": "umb://element/7a9bcf0f71e1411680afc7976e395d31",
                                      "settingsKey": "03795a5d-49d3-49fa-9b6b-b9d6a8c734c5",
                                      "settingsUdi": "umb://element/03795a5d49d349fa9b6bb9d6a8c734c5"
                                    },
                                    {
                                      "contentKey": "26d3bcae-78e1-4501-8bfe-30dcc492a2cc",
                                      "contentUdi": "umb://element/26d3bcae78e145018bfe30dcc492a2cc",
                                      "settingsKey": "fac9674d-e844-4ad0-a2c2-31c09d9357a1",
                                      "settingsUdi": "umb://element/fac9674de8444ad0a2c231c09d9357a1"
                                    }
                                  ]
                                }
                              }
                            }
                          ]
                        }
                      ],
                      "settingsData": [
                        {
                          "contentTypeKey": "0e84b563-bd71-44e0-8e86-594939c0f7b0",
                          "key": "6003260b-fd60-4a89-a4b9-2ea51f411ba9",
                          "udi": null,
                          "values": [
                            {
                              "alias": "columns",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "2"
                            }
                          ]
                        }
                      ],
                      "expose": [
                        {
                          "contentKey": "9a02377f-ec5d-48d1-a14e-08fc2f1e701c",
                          "culture": null,
                          "segment": null
                        }
                      ],
                      "Layout": {
                        "Umbraco.BlockList": [
                          {
                            "contentKey": "9a02377f-ec5d-48d1-a14e-08fc2f1e701c",
                            "contentUdi": "umb://element/9a02377fec5d48d1a14e08fc2f1e701c",
                            "settingsKey": "6003260b-fd60-4a89-a4b9-2ea51f411ba9",
                            "settingsUdi": "umb://element/6003260bfd604a89a4b92ea51f411ba9"
                          }
                        ]
                      }
                    }
                  }
                ]
              }
            ],
            "settingsData": [
              {
                "contentTypeKey": "cffeb07d-e649-421f-ae9f-9392237bf214",
                "key": "3ed39928-5f5e-41ad-8f56-bd8e3150e759",
                "udi": null,
                "values": [
                  {
                    "alias": "firstRowIsHeader",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "0"
                  }
                ]
              },
              {
                "contentTypeKey": "cffeb07d-e649-421f-ae9f-9392237bf214",
                "key": "a49e7994-4f14-4a5b-88a5-986704af51a7",
                "udi": null,
                "values": [
                  {
                    "alias": "firstRowIsHeader",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              }
            ],
            "expose": [
              {
                "contentKey": "7e36653a-bedf-4614-9ce1-8c839846519c",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "82fe5e01-83dc-4e29-b3f0-e6968f5f2491",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "7e36653a-bedf-4614-9ce1-8c839846519c",
                  "contentUdi": "umb://element/7e36653abedf46149ce18c839846519c",
                  "settingsKey": "3ed39928-5f5e-41ad-8f56-bd8e3150e759",
                  "settingsUdi": "umb://element/3ed399285f5e41ad8f56bd8e3150e759"
                },
                {
                  "contentKey": "82fe5e01-83dc-4e29-b3f0-e6968f5f2491",
                  "contentUdi": "umb://element/82fe5e0183dc4e29b3f0e6968f5f2491",
                  "settingsKey": "a49e7994-4f14-4a5b-88a5-986704af51a7",
                  "settingsUdi": "umb://element/a49e79944f144a5b88a5986704af51a7"
                }
              ]
            }
          }
        },
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "mainLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "e2a1e522-68a7-4b39-9bd6-c9de1383d9d6",
      "key": "eaad73d8-e65a-47d9-b8d4-4c656434d557",
      "udi": null,
      "values": [
        {
          "alias": "firstRowIsHeader",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "e2a1e522-68a7-4b39-9bd6-c9de1383d9d6",
      "key": "eac5218d-faff-4e16-b761-ceac44c9248f",
      "udi": null,
      "values": [
        {
          "alias": "firstRowIsHeader",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "e2a1e522-68a7-4b39-9bd6-c9de1383d9d6",
      "key": "f7c987a2-7b42-4f95-99c2-ae683095102e",
      "udi": null,
      "values": [
        {
          "alias": "firstRowIsHeader",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "firstColumnIsHeader",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "themeShade",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Light"
        }
      ]
    },
    {
      "contentTypeKey": "e2a1e522-68a7-4b39-9bd6-c9de1383d9d6",
      "key": "3cb5fe43-1d05-4879-8894-1dc24f175f29",
      "udi": null,
      "values": [
        {
          "alias": "firstRowIsHeader",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "e2a1e522-68a7-4b39-9bd6-c9de1383d9d6",
      "key": "517fdb31-c6d2-4473-b848-a5c5eb17d107",
      "udi": null,
      "values": [
        {
          "alias": "firstRowIsHeader",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "fdf673d8-8549-4d24-840b-f39da73d992c",
      "key": "620ab6d1-f979-4abe-adb0-42febb6dcd52",
      "udi": null,
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "ea4be419-499a-471c-8a77-32254a00f1d1",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "ebfc31da-41ec-464d-87ac-276e65b507e5",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "61f300dd-8bd9-4c92-b1f8-2ab7300118c7",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "47203c55-121b-4eaa-9344-e0f7424e3a8d",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "ad98ac67-0996-45ad-9fa0-4c585a7c4658",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "45602ee9-1cbc-49bd-88ea-a339d86786f8",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "ea4be419-499a-471c-8a77-32254a00f1d1",
        "contentUdi": "umb://element/ea4be419499a471c8a7732254a00f1d1",
        "settingsKey": "eaad73d8-e65a-47d9-b8d4-4c656434d557",
        "settingsUdi": "umb://element/eaad73d8e65a47d9b8d44c656434d557"
      },
      {
        "contentKey": "ebfc31da-41ec-464d-87ac-276e65b507e5",
        "contentUdi": "umb://element/ebfc31da41ec464d87ac276e65b507e5",
        "settingsKey": "eac5218d-faff-4e16-b761-ceac44c9248f",
        "settingsUdi": "umb://element/eac5218dfaff4e16b761ceac44c9248f"
      },
      {
        "contentKey": "61f300dd-8bd9-4c92-b1f8-2ab7300118c7",
        "contentUdi": "umb://element/61f300dd8bd94c92b1f82ab7300118c7",
        "settingsKey": "f7c987a2-7b42-4f95-99c2-ae683095102e",
        "settingsUdi": "umb://element/f7c987a27b424f9599c2ae683095102e"
      },
      {
        "contentKey": "47203c55-121b-4eaa-9344-e0f7424e3a8d",
        "contentUdi": "umb://element/47203c55121b4eaa9344e0f7424e3a8d",
        "settingsKey": "3cb5fe43-1d05-4879-8894-1dc24f175f29",
        "settingsUdi": "umb://element/3cb5fe431d05487988941dc24f175f29"
      },
      {
        "contentKey": "ad98ac67-0996-45ad-9fa0-4c585a7c4658",
        "contentUdi": "umb://element/ad98ac67099645ad9fa04c585a7c4658",
        "settingsKey": "517fdb31-c6d2-4473-b848-a5c5eb17d107",
        "settingsUdi": "umb://element/517fdb31c6d24473b848a5c5eb17d107"
      },
      {
        "contentKey": "45602ee9-1cbc-49bd-88ea-a339d86786f8",
        "contentUdi": "umb://element/45602ee91cbc49bd88eaa339d86786f8",
        "settingsKey": "620ab6d1-f979-4abe-adb0-42febb6dcd52",
        "settingsUdi": "umb://element/620ab6d1f9794abeadb042febb6dcd52"
      }
    ]
  }
}]]></Value>
    </body>
    <categories>
      <Value><![CDATA[]]></Value>
    </categories>
    <furnitureBreadcrumbsColor>
      <Value><![CDATA[]]></Value>
    </furnitureBreadcrumbsColor>
    <furnitureBreadcrumbStatus>
      <Value><![CDATA[Inherit Breadcrumb Status]]></Value>
    </furnitureBreadcrumbStatus>
    <furnitureBreadcrumbSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureBreadcrumbSubtheme>
    <furnitureBreadcrumbThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureBreadcrumbThemeShade>
    <furnitureFooterColor>
      <Value><![CDATA[]]></Value>
    </furnitureFooterColor>
    <furnitureFooterInformation>
      <Value><![CDATA[]]></Value>
    </furnitureFooterInformation>
    <furnitureFooterMenu>
      <Value><![CDATA[]]></Value>
    </furnitureFooterMenu>
    <furnitureFooterMessage>
      <Value><![CDATA[]]></Value>
    </furnitureFooterMessage>
    <furnitureFooterSocialMediaLinks>
      <Value><![CDATA[]]></Value>
    </furnitureFooterSocialMediaLinks>
    <furnitureFooterSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureFooterSubtheme>
    <furnitureFooterThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureFooterThemeShade>
    <furnitureHeaderColor>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderColor>
    <furnitureHeaderMenu>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderMenu>
    <furnitureHeaderMenuPosition>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderMenuPosition>
    <furnitureHeaderSticky>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderSticky>
    <furnitureHeaderSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureHeaderSubtheme>
    <furnitureHeaderThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureHeaderThemeShade>
    <furnitureLogoImage>
      <Value><![CDATA[]]></Value>
    </furnitureLogoImage>
    <furnitureLogoRatio>
      <Value><![CDATA[]]></Value>
    </furnitureLogoRatio>
    <furniturePageTitlePromote>
      <Value><![CDATA[]]></Value>
    </furniturePageTitlePromote>
    <furniturePageTitleSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </furniturePageTitleSubtheme>
    <furniturePageTitleThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </furniturePageTitleThemeShade>
    <furnitureShowAllServices>
      <Value><![CDATA[1]]></Value>
    </furnitureShowAllServices>
    <furnitureShowHeaderMenuOnLargerDevices>
      <Value><![CDATA[]]></Value>
    </furnitureShowHeaderMenuOnLargerDevices>
    <furnitureShowHeaderMenuOnSmallerDevices>
      <Value><![CDATA[]]></Value>
    </furnitureShowHeaderMenuOnSmallerDevices>
    <furnitureShowSearchBar>
      <Value><![CDATA[1]]></Value>
    </furnitureShowSearchBar>
    <furnitureStatus>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureStatus>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <pageHeader>
      <Value><![CDATA[]]></Value>
    </pageHeader>
    <pageSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </pageSubtheme>
    <pageTheme>
      <Value><![CDATA[Inherit]]></Value>
    </pageTheme>
    <pageThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </pageThemeShade>
    <reviewComments>
      <Value><![CDATA[]]></Value>
    </reviewComments>
    <reviewDate>
      <Value><![CDATA[]]></Value>
    </reviewDate>
    <reviewGroup>
      <Value><![CDATA[]]></Value>
    </reviewGroup>
    <reviewStatus>
      <Value><![CDATA[Inherit]]></Value>
    </reviewStatus>
    <seoAbstract>
      <Value><![CDATA[]]></Value>
    </seoAbstract>
    <seoCanonicalUrl>
      <Value><![CDATA[]]></Value>
    </seoCanonicalUrl>
    <seoDatePublished>
      <Value><![CDATA[]]></Value>
    </seoDatePublished>
    <seoDescription>
      <Value><![CDATA[]]></Value>
    </seoDescription>
    <seoPriority>
      <Value><![CDATA[]]></Value>
    </seoPriority>
    <seoPromotedSearchTerms>
      <Value><![CDATA[]]></Value>
    </seoPromotedSearchTerms>
    <seoStatus>
      <Value><![CDATA[Inherit]]></Value>
    </seoStatus>
    <seoThumbnail>
      <Value><![CDATA[]]></Value>
    </seoThumbnail>
    <subfooterColor>
      <Value><![CDATA[]]></Value>
    </subfooterColor>
    <subfooterShowLastUpdatedDate>
      <Value><![CDATA[]]></Value>
    </subfooterShowLastUpdatedDate>
    <subfooterShowNextReviewDate>
      <Value><![CDATA[]]></Value>
    </subfooterShowNextReviewDate>
    <subfooterShowReturnToTopIcon>
      <Value><![CDATA[]]></Value>
    </subfooterShowReturnToTopIcon>
    <subfooterStatus>
      <Value><![CDATA[Inherit]]></Value>
    </subfooterStatus>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <virtualAgentInstall>
      <Value><![CDATA[]]></Value>
    </virtualAgentInstall>
    <virtualAgentStatus>
      <Value><![CDATA[Inherit]]></Value>
    </virtualAgentStatus>
  </Properties>
</Content>