<?xml version="1.0" encoding="utf-8"?>
<Content Key="5d65861b-a2d6-469e-97b6-0ac796fc3690" Alias="Weddings" Level="3">
  <Info>
    <Parent Key="5799dddd-b5f2-4fcc-b1d2-d4d86f98e26f">Home</Parent>
    <Path>/locallancashiregovuk/Home/Weddings</Path>
    <Trashed>false</Trashed>
    <ContentType>editorPage</ContentType>
    <CreateDate>2025-06-03T21:04:30</CreateDate>
    <NodeName Default="Weddings" />
    <SortOrder>17</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cbebb994-250c-4f99-ab85-8e38616efb0c">Editor</Template>
  </Info>
  <Properties>
    <alertStatus>
      <Value><![CDATA[Inherit]]></Value>
    </alertStatus>
    <alertText>
      <Value><![CDATA[]]></Value>
    </alertText>
    <alertTitle>
      <Value><![CDATA[]]></Value>
    </alertTitle>
    <alertType>
      <Value><![CDATA[]]></Value>
    </alertType>
    <asideContent>
      <Value><![CDATA[]]></Value>
    </asideContent>
    <asideFixed>
      <Value><![CDATA[]]></Value>
    </asideFixed>
    <asideOffset>
      <Value><![CDATA[]]></Value>
    </asideOffset>
    <asideStatus>
      <Value><![CDATA[Inherit]]></Value>
    </asideStatus>
    <bannerContent>
      <Value><![CDATA[]]></Value>
    </bannerContent>
    <bannerHeroImage>
      <Value><![CDATA[]]></Value>
    </bannerHeroImage>
    <bannerStatus>
      <Value><![CDATA[Inherit]]></Value>
    </bannerStatus>
    <body>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "e9058913-5ad9-494c-8f25-f9271a2a1984",
      "key": "23d80830-81d4-4915-9e25-3c2be88f9bfe",
      "udi": null,
      "values": [
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Gallery"
        },
        {
          "alias": "mainTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EHere are my pictures\u003C/p\u003E"
          }
        },
        {
          "alias": "images",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "df6eeb82-af60-4b3a-9e80-085bd9950066",
              "mediaKey": "5e70c081-223e-460a-bde9-19cacc053289",
              "mediaTypeAlias": "editorImage",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "6bb033c2-1e2d-4727-b3a2-768544e201b5",
              "mediaKey": "6c989992-a0bb-42ba-9ff5-576127966def",
              "mediaTypeAlias": "editorImage",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "2ba5d7b1-30d9-4f39-ac4d-7df5bf8d177e",
              "mediaKey": "b5d367f9-0765-4e34-8413-2c2a90f226f6",
              "mediaTypeAlias": "editorImage",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "7ed8bac8-ead0-43f2-8167-dd05b4c8b65a",
              "mediaKey": "e28eb103-13f5-423e-bfdb-4932aacf06bd",
              "mediaTypeAlias": "editorImage",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "4bcd5d9f-a304-4e99-ab2d-a4038e88dc5d",
              "mediaKey": "e0192306-e9d6-44e3-8924-a41be8780758",
              "mediaTypeAlias": "editorImage",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "e958ce98-1c8c-4ab1-9a48-a3159a25a9e6",
              "mediaKey": "589dfad0-22f2-42cb-98cb-b3af337b6897",
              "mediaTypeAlias": "editorImage",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "69021ede-3114-43b4-96c8-5d2c66e7ebd1",
      "key": "9a7ab45e-9da1-4ae8-ad46-2ade1ca07e85",
      "udi": null,
      "values": [
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "flxible list"
        },
        {
          "alias": "mainTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EJemma section\u003C/p\u003E"
          }
        },
        {
          "alias": "listBlocks",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "105a7e47-f799-4969-9e0e-2914050cb5d5",
                "key": "bc760d5d-9856-460b-8b4a-3ff9a415e5db",
                "udi": null,
                "values": [
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "2603f365-fcf3-4a2d-b8b9-a0a6d3cceaea",
                        "mediaKey": "92590f2f-3051-4178-b7cb-2e1880e029b9",
                        "mediaTypeAlias": "editorImage",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "header",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EMy first customer\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EShe was great top face paint\u003C/p\u003E"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "b21e635e-eaec-41c4-911e-3f4b0d228b8c",
                "key": "1d31bd52-9453-4700-978a-f4cb192b49b9",
                "udi": null,
                "values": [
                  {
                    "alias": "images",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "4a7551f2-1542-424a-9cea-3b798244de29",
                        "mediaKey": "49e91563-ce9b-4212-9827-aecb0f3f4b37",
                        "mediaTypeAlias": "editorImage",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "ddc6ed43-5815-4f58-a925-2f455ec37331",
                "key": "e9e891a9-4166-4adb-b85a-d92828131cea",
                "udi": null,
                "values": [
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003Edfgbfdfdgvdfg\u003C/p\u003E\u003Cp\u003Egdfg\u003C/p\u003E\u003Cp\u003Efdg\u003C/p\u003E\u003Cp\u003Efdg\u003C/p\u003E\u003Cp\u003Efd\u003C/p\u003E\u003Cp\u003Egfdgfd\u003C/p\u003E\u003Cp\u003Egfdg\u003C/p\u003E"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "1a447faf-085b-49a9-be40-0d0f66d9e23b",
                "key": "d5991fed-cf33-4e65-830c-ca874e5b4255",
                "udi": null,
                "values": [
                  {
                    "alias": "poster",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "aad696f4-0c39-46fb-b60c-1777113a64d9",
                        "mediaKey": "b616805f-fb64-4ccb-acfa-731d5f126e40",
                        "mediaTypeAlias": "editorImage",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "header",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EPlay movie\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "source",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "contentData": [
                        {
                          "contentTypeKey": "b0f71909-9d2d-46ca-8a5b-1ed27376a868",
                          "key": "471b8724-9431-4373-82fc-600ba01e487a",
                          "udi": null,
                          "values": [
                            {
                              "alias": "url",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "https://www.youtube.com/watch?v=2Re6VrlcvAE"
                            }
                          ]
                        }
                      ],
                      "settingsData": [],
                      "expose": [
                        {
                          "contentKey": "471b8724-9431-4373-82fc-600ba01e487a",
                          "culture": null,
                          "segment": null
                        }
                      ],
                      "Layout": {
                        "Umbraco.BlockList": [
                          {
                            "contentKey": "471b8724-9431-4373-82fc-600ba01e487a",
                            "contentUdi": null,
                            "settingsKey": null,
                            "settingsUdi": null
                          }
                        ]
                      }
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "b21e635e-eaec-41c4-911e-3f4b0d228b8c",
                "key": "05cb2faf-66b3-4633-b95a-c98a49217415",
                "udi": null,
                "values": [
                  {
                    "alias": "images",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "edef2c3d-5ca9-47de-8b00-e9032ebdaafe",
                        "mediaKey": "5d12379c-3409-433c-8881-b32554c72c19",
                        "mediaTypeAlias": "editorImage",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "c34f79bb-ca79-40a2-ad47-7bbdec24ae07",
                "key": "bf44b980-bf52-4455-99ce-d6993fd93546",
                "udi": null,
                "values": [
                  {
                    "alias": "source",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "contentData": [
                        {
                          "contentTypeKey": "fae2dbdd-05d1-4ded-8374-ed54aefc6e6f",
                          "key": "c093666f-5c5e-4469-8ce8-69fa10feda77",
                          "udi": null,
                          "values": [
                            {
                              "alias": "separator",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": [
                                "Comma ( , )"
                              ]
                            },
                            {
                              "alias": "contents",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "4,5,jemma,hello"
                            }
                          ]
                        }
                      ],
                      "settingsData": [],
                      "expose": [
                        {
                          "contentKey": "c093666f-5c5e-4469-8ce8-69fa10feda77",
                          "culture": null,
                          "segment": null
                        }
                      ],
                      "Layout": {
                        "Umbraco.BlockList": [
                          {
                            "contentKey": "c093666f-5c5e-4469-8ce8-69fa10feda77",
                            "contentUdi": null,
                            "settingsKey": null,
                            "settingsUdi": null
                          }
                        ]
                      }
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "bf80d0b0-c726-4f75-89ea-92b24a209261",
                "key": "b3e9b433-d5ef-41ae-9987-8fd4c089808a",
                "udi": null,
                "values": []
              },
              {
                "contentTypeKey": "a7d6bfa0-76ad-477c-b8be-a936c05eface",
                "key": "83695396-35e5-4ff2-8a91-1e95c1485fa3",
                "udi": null,
                "values": [
                  {
                    "alias": "pages",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "umb://document/5035cebea1314e08804519d16c472d65,umb://document/44124e81f1ef4b2aa8f122b64b4baf91,umb://document/880c9e603c2c49f9b45f74a178d3e323,umb://document/dbcaed24e96248b183607e683f0b456a,umb://document/aeaa3118aaea4573acc6db96adc70258"
                  }
                ]
              },
              {
                "contentTypeKey": "1b640ac6-7d39-40a9-99e3-bc1a78cd5f7f",
                "key": "b1145f84-5627-4acb-aae6-161b469c8511",
                "udi": null,
                "values": [
                  {
                    "alias": "mediaItems",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "07007dbe-0ba4-4dcc-b3f9-298d6d9e2633",
                        "mediaKey": "c2f07ad7-e0a9-4648-abcc-92106c27f36f",
                        "mediaTypeAlias": "editorImage",
                        "crops": [],
                        "focalPoint": null
                      },
                      {
                        "key": "a2448375-4555-48dc-af9b-eab20d9a958c",
                        "mediaKey": "5d12379c-3409-433c-8881-b32554c72c19",
                        "mediaTypeAlias": "editorImage",
                        "crops": [],
                        "focalPoint": null
                      },
                      {
                        "key": "713e09a5-a57e-4249-9b1e-f2d6413c5071",
                        "mediaKey": "92590f2f-3051-4178-b7cb-2e1880e029b9",
                        "mediaTypeAlias": "editorImage",
                        "crops": [],
                        "focalPoint": null
                      },
                      {
                        "key": "4cf2a56f-ad10-4b4d-8dfa-9325c28ea2de",
                        "mediaKey": "07f2ef62-bdfe-419e-85ed-70968899eadf",
                        "mediaTypeAlias": "editorImage",
                        "crops": [],
                        "focalPoint": null
                      },
                      {
                        "key": "df22d5ff-d383-4dba-9be9-84163e612646",
                        "mediaKey": "c1efb283-1187-4fbd-a4c3-07497a871253",
                        "mediaTypeAlias": "editorImage",
                        "crops": [],
                        "focalPoint": null
                      },
                      {
                        "key": "e2158f44-53df-43fe-958b-0b81ae527896",
                        "mediaKey": "5e70c081-223e-460a-bde9-19cacc053289",
                        "mediaTypeAlias": "editorImage",
                        "crops": [],
                        "focalPoint": null
                      },
                      {
                        "key": "c2caf9a3-cae9-4835-996f-3736f15f034e",
                        "mediaKey": "977d9dd3-3ff1-4e74-988c-7270e837fc13",
                        "mediaTypeAlias": "editorImage",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "f3a7ab0b-0f81-4dd1-8480-ba2c28eb2fd0",
                "key": "c4f36d6b-9143-4129-b261-b194b8d90124",
                "udi": null,
                "values": [
                  {
                    "alias": "source",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "454f3dfa-c079-43fc-86ea-ba24c7b75c59"
                  },
                  {
                    "alias": "maximum",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "40"
                  }
                ]
              }
            ],
            "settingsData": [
              {
                "contentTypeKey": "28f582a5-f4bd-45c4-9c33-ee78977565c6",
                "key": "a27ef73a-ae49-42b1-912c-d3aeecd5ca79",
                "udi": null,
                "values": []
              },
              {
                "contentTypeKey": "384ded8e-0d66-4e5f-844f-58d63e0f47cd",
                "key": "c84ef753-081a-41b1-ab6e-a1357388187d",
                "udi": null,
                "values": [
                  {
                    "alias": "fullscreen",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "578ea88f-577b-4dec-98bb-bccbb961092d",
                "key": "6308fc02-407d-4544-9692-41f92c56705f",
                "udi": null,
                "values": []
              },
              {
                "contentTypeKey": "f09cdf0d-01c6-47bf-ad6b-4fffe573b57c",
                "key": "124f23e5-a1f5-4478-9407-749c0f42dd6b",
                "udi": null,
                "values": [
                  {
                    "alias": "showControls",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "384ded8e-0d66-4e5f-844f-58d63e0f47cd",
                "key": "92a246c7-4288-418d-9b08-c313dc2a3a83",
                "udi": null,
                "values": [
                  {
                    "alias": "fullscreen",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "e2a1e522-68a7-4b39-9bd6-c9de1383d9d6",
                "key": "99d02c35-6797-4507-a6ad-0a82463b62b7",
                "udi": null,
                "values": []
              },
              {
                "contentTypeKey": "bfe5180f-2d1f-495f-bdf1-5ce8467774fc",
                "key": "aa73d4d6-8b8c-43e8-9e7e-3a28b3dd4086",
                "udi": null,
                "values": []
              },
              {
                "contentTypeKey": "05c5e544-b88c-497f-975c-60d95b83bd77",
                "key": "5b493e17-ab65-4fff-a823-aa37eb4bea6f",
                "udi": null,
                "values": [
                  {
                    "alias": "styleImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "Behind"
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "f1e9424a-1d32-44e4-8ded-23259205ec36",
                "key": "a47bed3f-43e8-45b4-9921-e42b437ddb2b",
                "udi": null,
                "values": [
                  {
                    "alias": "download",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "f93d3439-d1bc-4c72-9161-b650fc977ef3",
                "key": "50648a2b-4d9c-4976-b088-33e6aaa8c9f0",
                "udi": null,
                "values": []
              }
            ],
            "expose": [
              {
                "contentKey": "bc760d5d-9856-460b-8b4a-3ff9a415e5db",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "1d31bd52-9453-4700-978a-f4cb192b49b9",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "e9e891a9-4166-4adb-b85a-d92828131cea",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "d5991fed-cf33-4e65-830c-ca874e5b4255",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "05cb2faf-66b3-4633-b95a-c98a49217415",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "bf44b980-bf52-4455-99ce-d6993fd93546",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "b3e9b433-d5ef-41ae-9987-8fd4c089808a",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "83695396-35e5-4ff2-8a91-1e95c1485fa3",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "b1145f84-5627-4acb-aae6-161b469c8511",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "c4f36d6b-9143-4129-b261-b194b8d90124",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "bc760d5d-9856-460b-8b4a-3ff9a415e5db",
                  "contentUdi": null,
                  "settingsKey": "a27ef73a-ae49-42b1-912c-d3aeecd5ca79",
                  "settingsUdi": null
                },
                {
                  "contentKey": "1d31bd52-9453-4700-978a-f4cb192b49b9",
                  "contentUdi": null,
                  "settingsKey": "c84ef753-081a-41b1-ab6e-a1357388187d",
                  "settingsUdi": null
                },
                {
                  "contentKey": "e9e891a9-4166-4adb-b85a-d92828131cea",
                  "contentUdi": null,
                  "settingsKey": "6308fc02-407d-4544-9692-41f92c56705f",
                  "settingsUdi": null
                },
                {
                  "contentKey": "d5991fed-cf33-4e65-830c-ca874e5b4255",
                  "contentUdi": null,
                  "settingsKey": "124f23e5-a1f5-4478-9407-749c0f42dd6b",
                  "settingsUdi": null
                },
                {
                  "contentKey": "05cb2faf-66b3-4633-b95a-c98a49217415",
                  "contentUdi": null,
                  "settingsKey": "92a246c7-4288-418d-9b08-c313dc2a3a83",
                  "settingsUdi": null
                },
                {
                  "contentKey": "bf44b980-bf52-4455-99ce-d6993fd93546",
                  "contentUdi": null,
                  "settingsKey": "99d02c35-6797-4507-a6ad-0a82463b62b7",
                  "settingsUdi": null
                },
                {
                  "contentKey": "b3e9b433-d5ef-41ae-9987-8fd4c089808a",
                  "contentUdi": null,
                  "settingsKey": "aa73d4d6-8b8c-43e8-9e7e-3a28b3dd4086",
                  "settingsUdi": null
                },
                {
                  "contentKey": "83695396-35e5-4ff2-8a91-1e95c1485fa3",
                  "contentUdi": null,
                  "settingsKey": "5b493e17-ab65-4fff-a823-aa37eb4bea6f",
                  "settingsUdi": null
                },
                {
                  "contentKey": "b1145f84-5627-4acb-aae6-161b469c8511",
                  "contentUdi": null,
                  "settingsKey": "a47bed3f-43e8-45b4-9921-e42b437ddb2b",
                  "settingsUdi": null
                },
                {
                  "contentKey": "c4f36d6b-9143-4129-b261-b194b8d90124",
                  "contentUdi": null,
                  "settingsKey": "50648a2b-4d9c-4976-b088-33e6aaa8c9f0",
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "0f53ff8d-b10a-47b0-934e-fe60130e07f4",
      "key": "6793e3ae-4b70-4590-837c-61a67a6683bb",
      "udi": null,
      "values": [
        {
          "alias": "fullscreen",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "81e44a54-ba00-4100-b7a1-14d73a691ab9",
      "key": "9b4748d1-45ac-4b58-be8c-61771679c567",
      "udi": null,
      "values": [
        {
          "alias": "listType",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Flexible grid"
        },
        {
          "alias": "maxColumns",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "4"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "23d80830-81d4-4915-9e25-3c2be88f9bfe",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "9a7ab45e-9da1-4ae8-ad46-2ade1ca07e85",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "23d80830-81d4-4915-9e25-3c2be88f9bfe",
        "contentUdi": null,
        "settingsKey": "6793e3ae-4b70-4590-837c-61a67a6683bb",
        "settingsUdi": null
      },
      {
        "contentKey": "9a7ab45e-9da1-4ae8-ad46-2ade1ca07e85",
        "contentUdi": null,
        "settingsKey": "9b4748d1-45ac-4b58-be8c-61771679c567",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </body>
    <categories>
      <Value><![CDATA[]]></Value>
    </categories>
    <furnitureBreadcrumbsColor>
      <Value><![CDATA[]]></Value>
    </furnitureBreadcrumbsColor>
    <furnitureBreadcrumbStatus>
      <Value><![CDATA[]]></Value>
    </furnitureBreadcrumbStatus>
    <furnitureBreadcrumbSubtheme>
      <Value><![CDATA[]]></Value>
    </furnitureBreadcrumbSubtheme>
    <furnitureBreadcrumbThemeShade>
      <Value><![CDATA[]]></Value>
    </furnitureBreadcrumbThemeShade>
    <furnitureFooterColor>
      <Value><![CDATA[]]></Value>
    </furnitureFooterColor>
    <furnitureFooterInformation>
      <Value><![CDATA[]]></Value>
    </furnitureFooterInformation>
    <furnitureFooterMenu>
      <Value><![CDATA[]]></Value>
    </furnitureFooterMenu>
    <furnitureFooterMessage>
      <Value><![CDATA[]]></Value>
    </furnitureFooterMessage>
    <furnitureFooterSocialMediaLinks>
      <Value><![CDATA[]]></Value>
    </furnitureFooterSocialMediaLinks>
    <furnitureFooterSubtheme>
      <Value><![CDATA[]]></Value>
    </furnitureFooterSubtheme>
    <furnitureFooterThemeShade>
      <Value><![CDATA[]]></Value>
    </furnitureFooterThemeShade>
    <furnitureHeaderColor>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderColor>
    <furnitureHeaderMenu>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderMenu>
    <furnitureHeaderMenuPosition>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderMenuPosition>
    <furnitureHeaderSticky>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderSticky>
    <furnitureHeaderSubtheme>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderSubtheme>
    <furnitureHeaderThemeShade>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderThemeShade>
    <furnitureLogoImage>
      <Value><![CDATA[]]></Value>
    </furnitureLogoImage>
    <furnitureLogoRatio>
      <Value><![CDATA[]]></Value>
    </furnitureLogoRatio>
    <furniturePageTitlePromote>
      <Value><![CDATA[]]></Value>
    </furniturePageTitlePromote>
    <furniturePageTitleSubtheme>
      <Value><![CDATA[]]></Value>
    </furniturePageTitleSubtheme>
    <furniturePageTitleThemeShade>
      <Value><![CDATA[]]></Value>
    </furniturePageTitleThemeShade>
    <furnitureShowAllServices>
      <Value><![CDATA[]]></Value>
    </furnitureShowAllServices>
    <furnitureShowHeaderMenuOnLargerDevices>
      <Value><![CDATA[]]></Value>
    </furnitureShowHeaderMenuOnLargerDevices>
    <furnitureShowHeaderMenuOnSmallerDevices>
      <Value><![CDATA[]]></Value>
    </furnitureShowHeaderMenuOnSmallerDevices>
    <furnitureShowSearchBar>
      <Value><![CDATA[]]></Value>
    </furnitureShowSearchBar>
    <furnitureStatus>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureStatus>
    <keywords>
      <Value><![CDATA[Hello
kitty]]></Value>
    </keywords>
    <pageHeader>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EWeddings\u003C/p\u003E"
}]]></Value>
    </pageHeader>
    <pageSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </pageSubtheme>
    <pageTheme>
      <Value><![CDATA[Inherit]]></Value>
    </pageTheme>
    <pageThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </pageThemeShade>
    <reviewComments>
      <Value><![CDATA[]]></Value>
    </reviewComments>
    <reviewDate>
      <Value><![CDATA[]]></Value>
    </reviewDate>
    <reviewGroup>
      <Value><![CDATA[]]></Value>
    </reviewGroup>
    <reviewStatus>
      <Value><![CDATA[Inherit]]></Value>
    </reviewStatus>
    <seoAbstract>
      <Value><![CDATA[]]></Value>
    </seoAbstract>
    <seoCanonicalUrl>
      <Value><![CDATA[]]></Value>
    </seoCanonicalUrl>
    <seoDatePublished>
      <Value><![CDATA[]]></Value>
    </seoDatePublished>
    <seoDescription>
      <Value><![CDATA[]]></Value>
    </seoDescription>
    <seoPriority>
      <Value><![CDATA[]]></Value>
    </seoPriority>
    <seoPromotedSearchTerms>
      <Value><![CDATA[monday
tuesday]]></Value>
    </seoPromotedSearchTerms>
    <seoStatus>
      <Value><![CDATA[Enable]]></Value>
    </seoStatus>
    <seoThumbnail>
      <Value><![CDATA[]]></Value>
    </seoThumbnail>
    <subfooterColor>
      <Value><![CDATA[]]></Value>
    </subfooterColor>
    <subfooterShowLastUpdatedDate>
      <Value><![CDATA[]]></Value>
    </subfooterShowLastUpdatedDate>
    <subfooterShowNextReviewDate>
      <Value><![CDATA[]]></Value>
    </subfooterShowNextReviewDate>
    <subfooterShowReturnToTopIcon>
      <Value><![CDATA[]]></Value>
    </subfooterShowReturnToTopIcon>
    <subfooterStatus>
      <Value><![CDATA[Inherit]]></Value>
    </subfooterStatus>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <virtualAgentInstall>
      <Value><![CDATA[]]></Value>
    </virtualAgentInstall>
    <virtualAgentStatus>
      <Value><![CDATA[]]></Value>
    </virtualAgentStatus>
  </Properties>
</Content>