<?xml version="1.0" encoding="utf-8"?>
<Content Key="1535387d-f978-44ed-832b-1f6593bd7a17" Alias="www3-build.apps.lancashire.gov.uk" Level="3">
  <Info>
    <Parent Key="d860070f-dbc5-497d-9c21-8894269f42b2">Bus Routes</Parent>
    <Path>/GlobalData/BusRoutes/www3Buildappslancashiregovuk</Path>
    <Trashed>false</Trashed>
    <ContentType>busTimeTableData</ContentType>
    <CreateDate>2026-01-24T16:11:08</CreateDate>
    <NodeName Default="www3-build.apps.lancashire.gov.uk" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <endpointListBusTimesByServiceBusStopAndDay>
      <Value><![CDATA[https://www3-build.apps.lancashire.gov.uk/api/GENERIC/bustimetables/1.0/stop_service_times]]></Value>
    </endpointListBusTimesByServiceBusStopAndDay>
    <endpointListDaysByServiceAndBusStop>
      <Value><![CDATA[https://www3-build.apps.lancashire.gov.uk/api/GENERIC/bustimetables/1.0/stop_service_operationaldays]]></Value>
    </endpointListDaysByServiceAndBusStop>
    <endpointListServicesByStop>
      <Value><![CDATA[https://www3-build.apps.lancashire.gov.uk/api/GENERIC/bustimetables/1.0/stop_services]]></Value>
    </endpointListServicesByStop>
  </Properties>
</Content>