<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2450a8a0-dfeb-45d5-b0a2-d8f26fc1e436" Alias="Aside Offset" Level="2">
  <Info>
    <Name>Aside Offset</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Slider</EditorUIAlias>
    <Folder>Furniture</Folder>
  </Info>
  <Config><![CDATA[{
  "initVal1": 1,
  "initVal2": 0,
  "maxVal": 5,
  "minVal": 1,
  "step": 1
}]]></Config>
</DataType>