<?xml version="1.0" encoding="utf-8"?>
<DataType Key="abd569d3-a127-433b-91d3-70dd8eae283c" Alias="Banner Status" Level="2">
  <Info>
    <Name>Banner Status</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.RadioButtonList</EditorUIAlias>
    <Folder>Furniture</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Inherit",
    "Hide",
    "Show Hero Banners",
    "Show Single Image"
  ]
}]]></Config>
</DataType>