<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dc237a2a-0d1e-4e46-8f37-d2e35aaa907e" Alias="Cookie Consent Google Tag Manager Services" Level="2">
  <Info>
    <Name>Cookie Consent Google Tag Manager Services</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>Furniture</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Ad Storage",
    "Ad User Data",
    "Ad Personalization",
    "Analytics Storage",
    "Functionality Storage",
    "Personization Storage",
    "Security Storage"
  ],
  "multiple": true
}]]></Config>
</DataType>