<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3aefdf77-41a5-4266-8b49-e4022f610faa" Alias="Cookie Consent Color" Level="2">
  <Info>
    <Name>Cookie Consent Color</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
    <Folder>Furniture</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "000000",
      "label": "000000"
    },
    {
      "value": "ffffff",
      "label": "ffffff"
    }
  ],
  "umbMigrationV14": "2025-04-01T10:00:43.1240811\u002B00:00",
  "useLabel": false
}]]></Config>
</DataType>