<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2f53eec1-a21d-4ef9-a295-a4bd6cee3926" Alias="Editor Card Image Size" Level="2">
  <Info>
    <Name>Editor Card Image Size</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "XX Small",
    "X Small",
    "Small",
    "Medium",
    "Large",
    "X Large",
    "XX Large",
    "XXX Large"
  ],
  "multiple": false,
  "umbMigrationV14": "2025-04-01T10:00:43.1269785\u002B00:00"
}]]></Config>
</DataType>