<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2c457913-dddd-4ebc-9134-fc3e4c60cad4" Alias="Editor Link" Level="2">
  <Info>
    <Name>Editor Link</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultiUrlPicker</EditorUIAlias>
    <Folder>Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "hideAnchor": false,
  "ignoreUserStartNodes": false,
  "maxNumber": 1,
  "minNumber": 0,
  "overlaySize": "small"
}]]></Config>
</DataType>