<?xml version="1.0" encoding="utf-8"?>
<DataType Key="921816ce-7022-4ea2-9f7e-a6929f396a3a" Alias="Editor Card Action Click Area" Level="2">
  <Info>
    <Name>Editor Card Action Click Area</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Link or Button",
    "Card"
  ],
  "multiple": false,
  "umbMigrationV14": "2025-04-01T10:00:43.1275658\u002B00:00"
}]]></Config>
</DataType>