<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b7638229-7783-423c-a493-57b490999b82" Alias="Editor Form Picker" Level="2">
  <Info>
    <Name>Editor Form Picker</Name>
    <EditorAlias>UmbracoForms.FormPicker</EditorAlias>
    <EditorUIAlias>Forms.PropertyEditorUi.FormPicker.Single</EditorUIAlias>
    <Folder>Editor</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>