<?xml version="1.0" encoding="utf-8"?>
<DataType Key="25b27223-2fc5-4eec-94ce-a1e337afdb5a" Alias="Editor Tab Strip Style" Level="2">
  <Info>
    <Name>Editor Tab Strip Style</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Tabs",
    "Pills"
  ],
  "multiple": false,
  "umbMigrationV14": "2025-04-01T10:00:43.1185231\u002B00:00"
}]]></Config>
</DataType>