<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f239838d-cce9-4ffa-892b-5702eae5d186" Alias="Editor Hero Banner Text Alignment" Level="2">
  <Info>
    <Name>Editor Hero Banner Text Alignment</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Left Align Text",
    "Centre Text",
    "Right Align Text"
  ],
  "multiple": false,
  "umbMigrationV14": "2025-04-01T10:00:43.1178867\u002B00:00"
}]]></Config>
</DataType>