<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fa11330b-1985-45d8-9a07-2a2c6b283afb" Alias="Editor Text Restrict" Level="2">
  <Info>
    <Name>Editor Text Restrict</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.RadioButtonList</EditorUIAlias>
    <Folder>Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Truncate",
    "Word Wrap"
  ]
}]]></Config>
</DataType>