<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8b919d6c-05ad-4aff-8d63-17d3cf24390f" Alias="Editor Expandable Section Collapse Size Unit" Level="2">
  <Info>
    <Name>Editor Expandable Section Collapse Size Unit</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.RadioButtonList</EditorUIAlias>
    <Folder>Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Screen Percentage",
    "Section Percentage",
    "Fixed Height"
  ]
}]]></Config>
</DataType>