<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9f491752-52f5-4c0b-b664-b46987e53013" Alias="Editor Step List" Level="2">
  <Info>
    <Name>Editor Step List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "d8868e70-1361-475a-b72b-eade36553be6",
      "label": "{% header }",
      "editorSize": "large",
      "settingsElementTypeKey": "8c0e1a8e-5e8e-4a52-b2f7-2b847c83372a"
    }
  ],
  "useSingleBlockMode": true
}]]></Config>
</DataType>