<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3424554f-b9e1-4bcb-84a3-8f3224a026d9" Alias="Editor Order" Level="2">
  <Info>
    <Name>Editor Order</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Default",
    "Latest First",
    "Oldest First",
    "A to Z",
    "Z to A"
  ],
  "multiple": false,
  "umbMigrationV14": "2025-04-01T10:00:43.1059757\u002B00:00"
}]]></Config>
</DataType>