<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1f7aa925-3ce0-48ec-a8e6-cb44ba2c7137" Alias="Editor All Colors" Level="2">
  <Info>
    <Name>Editor All Colors</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
    <Folder>Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "ffffff",
      "label": ""
    }
  ]
}]]></Config>
</DataType>