<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d19af56c-4648-4f91-b72a-1739f08ebf16" Alias="Editor Background Picker" Level="2">
  <Info>
    <Name>Editor Background Picker</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "72f67d58-f26f-4b19-a319-ba88effde3ba",
      "label": "Colour"
    },
    {
      "contentElementTypeKey": "46f29692-9570-4a76-9634-d028eb4914f4",
      "label": "Image"
    },
    {
      "contentElementTypeKey": "8ecc7010-ff02-474f-8b4f-03a5e6c26f90",
      "label": "Two Colour Gradient"
    },
    {
      "contentElementTypeKey": "4b0a9eca-f542-4b42-82f8-8582a25fb867",
      "label": "Three Colour Gradient"
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "validationLimit": {
    "max": 1
  }
}]]></Config>
</DataType>