<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a962315a-3f58-4e8b-a43c-c29c318e2ef8" Alias="Editor Text Expandable Initial State" Level="2">
  <Info>
    <Name>Editor Text Expandable Initial State</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.RadioButtonList</EditorUIAlias>
    <Folder>Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Collapsed",
    "Expanded"
  ]
}]]></Config>
</DataType>