<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1c07e8fb-4b8f-4fe0-bd24-23fbc77254ec" Alias="Editor Video Picker" Level="2">
  <Info>
    <Name>Editor Video Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
    <Folder>Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "enableLocalFocalPoint": false,
  "filter": "57405335-9e59-4ed7-8be7-b56dbb542668",
  "ignoreUserStartNodes": false,
  "multiple": false,
  "umbMigrationV14": "2025-04-01T10:00:43.125526\u002B00:00",
  "validationLimit": {}
}]]></Config>
</DataType>