<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fda76680-e3a0-4627-8ce5-8d0c032cf755" Alias="Editor Table Source" Level="2">
  <Info>
    <Name>Editor Table Source</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "fae2dbdd-05d1-4ded-8374-ed54aefc6e6f",
      "label": "Text",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "contentElementTypeKey": "a0c08459-b028-46a3-813d-6a34b230e90a",
      "label": "File",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "contentElementTypeKey": "f170f3bb-eb8c-45d0-9774-35ee23f25233",
      "settingsElementTypeKey": "0e84b563-bd71-44e0-8e86-594939c0f7b0",
      "label": "Blocks",
      "editorSize": "large",
      "forceHideContentEditorInOverlay": false
    },
    {
      "contentElementTypeKey": "54c0e34c-6346-4b1a-9f8b-5e6e306768a2",
      "label": "Coroners Inquest Api"
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {
    "min": 1,
    "max": 1
  }
}]]></Config>
</DataType>