<?xml version="1.0" encoding="utf-8"?>
<DataType Key="aaef3ba0-b5cf-41c4-9075-23aaeb5dcca4" Alias="Editor Accordion Expand" Level="2">
  <Info>
    <Name>Editor Accordion Expand</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.RadioButtonList</EditorUIAlias>
    <Folder>Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "All Collapsed",
    "First Panel Expanded",
    "All Panels Expanded"
  ]
}]]></Config>
</DataType>