<?xml version="1.0" encoding="utf-8"?>
<DataType Key="22a3a197-8889-48e0-9a51-823e4b61d9c3" Alias="Editor Border Edges" Level="2">
  <Info>
    <Name>Editor Border Edges</Name>
    <EditorAlias>Umbraco.CheckBoxList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.CheckBoxList</EditorUIAlias>
    <Folder>Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Top",
    "Bottom",
    "Left",
    "Right"
  ]
}]]></Config>
</DataType>