<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4da727f7-4746-4177-b5a0-8398497863b9" Alias="Editor Form Theme Picker" Level="2">
  <Info>
    <Name>Editor Form Theme Picker</Name>
    <EditorAlias>UmbracoForms.ThemePicker</EditorAlias>
    <EditorUIAlias>Forms.PropertyEditorUi.ThemePicker</EditorUIAlias>
    <Folder>Editor</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>