<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d6bfa31a-6c63-45c5-8d19-06ac62aa8384" Alias="Editor Icon Cropper" Level="2">
  <Info>
    <Name>Editor Icon Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ImageCropper</EditorUIAlias>
    <Folder>Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "crops": [
    {
      "alias": "Large",
      "width": 96,
      "height": 96
    },
    {
      "alias": "Medium",
      "width": 32,
      "height": 32
    },
    {
      "alias": "Small",
      "width": 16,
      "height": 16
    }
  ]
}]]></Config>
</DataType>