<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dd519066-a7b6-4834-9a00-a09bc10ab580" Alias="Editor Text Color" Level="2">
  <Info>
    <Name>Editor Text Color</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Default",
    "Alternate"
  ]
}]]></Config>
</DataType>