<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e7403b92-3841-414b-af68-fb9be798b2c6" Alias="Editor Card Text Style" Level="2">
  <Info>
    <Name>Editor Card Text Style</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Show",
    "Hide"
  ],
  "multiple": false,
  "umbMigrationV14": "2025-04-01T10:00:43.1287386\u002B00:00"
}]]></Config>
</DataType>