<?xml version="1.0" encoding="utf-8"?>
<DataType Key="053a651e-aa43-4035-b5ae-b8569b32756d" Alias="Editor Named Icon" Level="2">
  <Info>
    <Name>Editor Named Icon</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Address",
    "Aeroplane",
    "Alarm",
    "Asterisk",
    "At",
    "Ban",
    "Bookmark",
    "Bus",
    "Cross",
    "Currency",
    "Date",
    "Email",
    "Error",
    "Idea",
    "Information",
    "Note",
    "Link",
    "Location",
    "Pedestrian",
    "Person",
    "Pin",
    "Quote",
    "Tag",
    "Telephone",
    "Tick",
    "Time",
    "Train",
    "Warning"
  ]
}]]></Config>
</DataType>