<?xml version="1.0" encoding="utf-8"?>
<DataType Key="323a3aa6-e3b5-4d5a-9ba9-08951bf87625" Alias="Furniture Social Links" Level="2">
  <Info>
    <Name>Furniture Social Links</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Furniture</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "7add1b5c-2866-4e4a-9c8e-34a4ad5e29db",
      "label": "{=socialType}",
      "editorSize": "large",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": true,
  "validationLimit": {}
}]]></Config>
</DataType>