<?xml version="1.0" encoding="utf-8"?>
<DataType Key="66540ff1-5947-45cd-a3d9-bf1c205cc94a" Alias="Furniture Menu" Level="2">
  <Info>
    <Name>Furniture Menu</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Furniture</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "f480d8ea-7662-4bc1-8e69-050327d708b1",
      "label": "{% topMenu[0].name }",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": true,
  "validationLimit": {}
}]]></Config>
</DataType>