<?xml version="1.0" encoding="utf-8"?>
<DataType Key="794c23a4-3516-429b-bb9f-d393c0eb7925" Alias="Seo Priority" Level="2">
  <Info>
    <Name>Seo Priority</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Integer</EditorUIAlias>
    <Folder>Furniture</Folder>
  </Info>
  <Config><![CDATA[{
  "max": 10,
  "min": 1
}]]></Config>
</DataType>