<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7905c1d5-5cc3-4b7c-80b5-91c084917a9e" Alias="Seo Status" Level="2">
  <Info>
    <Name>Seo Status</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.RadioButtonList</EditorUIAlias>
    <Folder>Furniture</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Inherit",
    "Enable",
    "Disable"
  ]
}]]></Config>
</DataType>