<?xml version="1.0" encoding="utf-8"?>
<Media Key="11bcd096-1534-40a3-afbc-3e556ed780ef" Alias="1" Level="2">
  <Info>
    <Parent Key="2e215365-6487-4176-941e-95d1fd613e7f">Umbraco</Parent>
    <Path>/Umbraco/</Path>
    <Trashed>false</Trashed>
    <ContentType>editorImage</ContentType>
    <CreateDate>2025-04-01T09:38:15</CreateDate>
    <NodeName Default="1" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fwppfm1z/1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>