<?xml version="1.0" encoding="utf-8"?>
<Media Key="e0192306-e9d6-44e3-8924-a41be8780758" Alias="Aardvark 1 600X380" Level="2">
  <Info>
    <Parent Key="5686c6a2-5eb9-43f1-aa68-53e2e54b617c">Mammals</Parent>
    <Path>/Mammals/Aardvark1600X380</Path>
    <Trashed>false</Trashed>
    <ContentType>editorImage</ContentType>
    <CreateDate>2025-04-01T09:37:39</CreateDate>
    <NodeName Default="Aardvark 1 600X380" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xvwfoqu1/aardvark-1-600x380.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>