<?xml version="1.0" encoding="utf-8"?>
<Media Key="589dfad0-22f2-42cb-98cb-b3af337b6897" Alias="Andean Cat 1 Jim Sanderson" Level="2">
  <Info>
    <Parent Key="5686c6a2-5eb9-43f1-aa68-53e2e54b617c">Mammals</Parent>
    <Path>/Mammals/AndeanCat1JimSanderson</Path>
    <Trashed>false</Trashed>
    <ContentType>editorImage</ContentType>
    <CreateDate>2025-04-01T09:37:39</CreateDate>
    <NodeName Default="Andean Cat 1 Jim Sanderson" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/no0nh4v5/andean_cat_1_jim_sanderson.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>