<?xml version="1.0" encoding="utf-8"?>
<Media Key="3e9cf101-48cb-42d4-a2dd-d9905382e14a" Alias="Banteng Domesticated Bali Bull" Level="2">
  <Info>
    <Parent Key="5686c6a2-5eb9-43f1-aa68-53e2e54b617c">Mammals</Parent>
    <Path>/Mammals/BantengDomesticatedBaliBull</Path>
    <Trashed>false</Trashed>
    <ContentType>editorImage</ContentType>
    <CreateDate>2025-04-01T09:37:39</CreateDate>
    <NodeName Default="Banteng Domesticated Bali Bull" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xk5nfheg/banteng_domesticated_bali_bull.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>