<?xml version="1.0" encoding="utf-8"?>
<Media Key="b5d367f9-0765-4e34-8413-2c2a90f226f6" Alias="Capra, Crete 4" Level="2">
  <Info>
    <Parent Key="5686c6a2-5eb9-43f1-aa68-53e2e54b617c">Mammals</Parent>
    <Path>/Mammals/CapraCrete4</Path>
    <Trashed>false</Trashed>
    <ContentType>editorImage</ContentType>
    <CreateDate>2025-04-01T09:37:39</CreateDate>
    <NodeName Default="Capra, Crete 4" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/iiuj0fzi/capra-_crete_4.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>