<?xml version="1.0" encoding="utf-8"?>
<Media Key="6c989992-a0bb-42ba-9ff5-576127966def" Alias="Caviaklein" Level="2">
  <Info>
    <Parent Key="5686c6a2-5eb9-43f1-aa68-53e2e54b617c">Mammals</Parent>
    <Path>/Mammals/Caviaklein</Path>
    <Trashed>false</Trashed>
    <ContentType>editorImage</ContentType>
    <CreateDate>2025-04-01T09:37:39</CreateDate>
    <NodeName Default="Caviaklein" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fhlnntxw/caviaklein.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>