<?xml version="1.0" encoding="utf-8"?>
<Media Key="e3f42943-5cb9-4653-be6a-bd7b66afe600" Alias="Corazon Full" Level="2">
  <Info>
    <Parent Key="5686c6a2-5eb9-43f1-aa68-53e2e54b617c">Mammals</Parent>
    <Path>/Mammals/CorazonFull</Path>
    <Trashed>false</Trashed>
    <ContentType>editorImage</ContentType>
    <CreateDate>2025-04-01T09:37:39</CreateDate>
    <NodeName Default="Corazon Full" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5btluqpu/corazon_full.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>