<?xml version="1.0" encoding="utf-8"?>
<Media Key="c3312396-1485-4c9d-aa6c-a4f8868f6698" Alias="Donkey In Clovelly, North Devon, England" Level="2">
  <Info>
    <Parent Key="5686c6a2-5eb9-43f1-aa68-53e2e54b617c">Mammals</Parent>
    <Path>/Mammals/DonkeyInClovellyNorthDevonEngland</Path>
    <Trashed>false</Trashed>
    <ContentType>editorImage</ContentType>
    <CreateDate>2025-04-01T09:37:39</CreateDate>
    <NodeName Default="Donkey In Clovelly, North Devon, England" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fvwh4yoi/donkey_in_clovelly-_north_devon-_england.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>