<?xml version="1.0" encoding="utf-8"?>
<Media Key="7d5ca0d0-5603-42f9-9a23-67c27788e6bb" Alias="Earth" Level="2">
  <Info>
    <Parent Key="6703dd57-a416-44c3-be20-e39332124bfe">Sample</Parent>
    <Path>/Sample/Earth</Path>
    <Trashed>false</Trashed>
    <ContentType>editorVideo</ContentType>
    <CreateDate>2025-03-18T09:05:08</CreateDate>
    <NodeName Default="Earth" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ukchuvhc/file_example_mp4_480_1_5mg.mp4]]></Value>
    </umbracoFile>
  </Properties>
</Media>