<?xml version="1.0" encoding="utf-8"?>
<Media Key="40d373e7-f0e9-41de-8288-98fcad885621" Alias="Female Zebu Cattle" Level="2">
  <Info>
    <Parent Key="5686c6a2-5eb9-43f1-aa68-53e2e54b617c">Mammals</Parent>
    <Path>/Mammals/FemaleZebuCattle</Path>
    <Trashed>false</Trashed>
    <ContentType>editorImage</ContentType>
    <CreateDate>2025-04-01T09:37:39</CreateDate>
    <NodeName Default="Female Zebu Cattle" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lq4j1yve/female_zebu_cattle.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>