<?xml version="1.0" encoding="utf-8"?>
<Media Key="0f53a373-2e0d-4b53-88fc-3b4ce5a34267" Alias="File Example XLS 10" Level="2">
  <Info>
    <Parent Key="6703dd57-a416-44c3-be20-e39332124bfe">Sample</Parent>
    <Path>/Sample/FileExampleXLS10</Path>
    <Trashed>false</Trashed>
    <ContentType>editorTableSource</ContentType>
    <CreateDate>2025-03-11T11:10:51</CreateDate>
    <NodeName Default="File Example XLS 10" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4okb4l03/file_example_xls_10.xls]]></Value>
    </umbracoFile>
  </Properties>
</Media>