<?xml version="1.0" encoding="utf-8"?>
<Media Key="7f235d5a-d56e-4014-99d5-d1b22e1a3bab" Alias="File Example XLSX 100" Level="2">
  <Info>
    <Parent Key="6703dd57-a416-44c3-be20-e39332124bfe">Sample</Parent>
    <Path>/Sample/FileExampleXLSX100</Path>
    <Trashed>false</Trashed>
    <ContentType>editorTableSource</ContentType>
    <CreateDate>2025-03-11T11:11:09</CreateDate>
    <NodeName Default="File Example XLSX 100" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1jvh4xz4/file_example_xlsx_100.xlsx]]></Value>
    </umbracoFile>
  </Properties>
</Media>