<?xml version="1.0" encoding="utf-8"?>
<Media Key="1294db93-d60f-424b-a255-5a7a11353f29" Alias="Gorille Des Plaines De Louest À Lespace Zoologique" Level="2">
  <Info>
    <Parent Key="6703dd57-a416-44c3-be20-e39332124bfe">Sample</Parent>
    <Path>/Sample/GorilleDesPlainesDeLouestALespaceZoologique</Path>
    <Trashed>false</Trashed>
    <ContentType>editorImage</ContentType>
    <CreateDate>2025-03-06T19:30:20</CreateDate>
    <NodeName Default="Gorille Des Plaines De Louest À Lespace Zoologique" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fcknvmcc/gorille_des_plaines_de_louest_\u00E0_lespace_zoologique.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>