<?xml version="1.0" encoding="utf-8"?>
<Media Key="c1efb283-1187-4fbd-a4c3-07497a871253" Alias="Jammlich Crop" Level="2">
  <Info>
    <Parent Key="3877847b-99fb-401c-9ee5-75ab3e8ed226">Mammals 2</Parent>
    <Path>/Mammals2/JammlichCrop</Path>
    <Trashed>false</Trashed>
    <ContentType>editorImage</ContentType>
    <CreateDate>2025-04-01T09:38:28</CreateDate>
    <NodeName Default="Jammlich Crop" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hd4lcy4k/jammlich_crop.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>