<?xml version="1.0" encoding="utf-8"?>
<Media Key="8d5933c2-2220-405b-881c-22f0b76f96e3" Alias="Josh" Level="2">
  <Info>
    <Parent Key="6703dd57-a416-44c3-be20-e39332124bfe">Sample</Parent>
    <Path>/Sample/Josh</Path>
    <Trashed>false</Trashed>
    <ContentType>editorDownload</ContentType>
    <CreateDate>2026-01-12T15:28:46</CreateDate>
    <NodeName Default="Josh" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rffmdktl/joshua-richards-cv-2021.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>