<?xml version="1.0" encoding="utf-8"?>
<Media Key="15c43033-1afe-45c5-8cab-fe4ab70fb966" Alias="Koe In Weiland Bij Gorssel" Level="2">
  <Info>
    <Parent Key="3877847b-99fb-401c-9ee5-75ab3e8ed226">Mammals 2</Parent>
    <Path>/Mammals2/KoeInWeilandBijGorssel</Path>
    <Trashed>false</Trashed>
    <ContentType>editorImage</ContentType>
    <CreateDate>2025-04-01T09:38:28</CreateDate>
    <NodeName Default="Koe In Weiland Bij Gorssel" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rb5jvn3t/koe_in_weiland_bij_gorssel.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>