<?xml version="1.0" encoding="utf-8"?>
<Media Key="b616805f-fb64-4ccb-acfa-731d5f126e40" Alias="Lancashire County Council Logo" Level="2">
  <Info>
    <Parent Key="f4e4b50d-47e9-4f81-bd0a-f0f5595aa8eb">Lancashire County Council</Parent>
    <Path>/LancashireCountyCouncil/LancashireCountyCouncilLogo</Path>
    <Trashed>false</Trashed>
    <ContentType>editorImage</ContentType>
    <CreateDate>2025-02-20T12:38:59</CreateDate>
    <NodeName Default="Lancashire County Council Logo" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2thfqfbj/images.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>