<?xml version="1.0" encoding="utf-8"?>
<Media Key="9918e87c-dddd-41d3-bed0-02ee2f0d0d02" Alias="Logo" Level="2">
  <Info>
    <Parent Key="455c37a6-e92d-4d45-ae13-e4c276ac305c">lancashire.gov.uk</Parent>
    <Path>/lancashiregovuk/Logo</Path>
    <Trashed>false</Trashed>
    <ContentType>editorImage</ContentType>
    <CreateDate>2025-04-01T09:37:01</CreateDate>
    <NodeName Default="Logo" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/y4tfmo2q/images.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>