<?xml version="1.0" encoding="utf-8"?>
<Media Key="f6d32dc2-a523-44ce-9682-867f672408b0" Alias="Logo Svg" Level="2">
  <Info>
    <Parent Key="455c37a6-e92d-4d45-ae13-e4c276ac305c">lancashire.gov.uk</Parent>
    <Path>/lancashiregovuk/LogoSvg</Path>
    <Trashed>false</Trashed>
    <ContentType>editorVectorGraphics</ContentType>
    <CreateDate>2025-05-30T11:57:44</CreateDate>
    <NodeName Default="Logo Svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/trmfhqt4/lancashire-county-council-seeklogo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>