<?xml version="1.0" encoding="utf-8"?>
<Media Key="2d2b5b3c-3804-4edb-aef7-e278adf402fa" Alias="Logo Svg 2" Level="2">
  <Info>
    <Parent Key="455c37a6-e92d-4d45-ae13-e4c276ac305c">lancashire.gov.uk</Parent>
    <Path>/lancashiregovuk/LogoSvg2</Path>
    <Trashed>false</Trashed>
    <ContentType>editorVectorGraphics</ContentType>
    <CreateDate>2025-06-18T14:55:57</CreateDate>
    <NodeName Default="Logo Svg 2" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mixkwgkz/lcc-logo-2024-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>