<?xml version="1.0" encoding="utf-8"?>
<Media Key="9cdc69fa-c2eb-415e-8115-0a6ee65f1076" Alias="Nokota Horses Cropped" Level="2">
  <Info>
    <Parent Key="3877847b-99fb-401c-9ee5-75ab3e8ed226">Mammals 2</Parent>
    <Path>/Mammals2/NokotaHorsesCropped</Path>
    <Trashed>false</Trashed>
    <ContentType>editorImage</ContentType>
    <CreateDate>2025-04-01T09:38:28</CreateDate>
    <NodeName Default="Nokota Horses Cropped" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ietjepvg/nokota_horses_cropped.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>