<?xml version="1.0" encoding="utf-8"?>
<Media Key="1b4ddfa2-21fe-4c8a-bad0-bfa4e0cd1579" Alias="Ojiya Nishikigoi No Sato Ac (3)" Level="2">
  <Info>
    <Parent Key="a0073438-8588-42c9-9413-c68e6954fd2c">Animals</Parent>
    <Path>/Animals/OjiyaNishikigoiNoSatoAc3</Path>
    <Trashed>false</Trashed>
    <ContentType>editorImage</ContentType>
    <CreateDate>2025-04-01T09:37:52</CreateDate>
    <NodeName Default="Ojiya Nishikigoi No Sato Ac (3)" />
    <SortOrder>38</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/dgiahont/ojiya_nishikigoi_no_sato_ac_-3.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>