<?xml version="1.0" encoding="utf-8"?>
<Media Key="613684dd-71ad-4100-aebd-2e5e8634b45b" Alias="Pack Llamas Posing Near Muir Trail" Level="2">
  <Info>
    <Parent Key="3877847b-99fb-401c-9ee5-75ab3e8ed226">Mammals 2</Parent>
    <Path>/Mammals2/PackLlamasPosingNearMuirTrail</Path>
    <Trashed>false</Trashed>
    <ContentType>editorImage</ContentType>
    <CreateDate>2025-04-01T09:38:28</CreateDate>
    <NodeName Default="Pack Llamas Posing Near Muir Trail" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/m1fhrq5a/pack_llamas_posing_near_muir_trail.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>