<?xml version="1.0" encoding="utf-8"?>
<Media Key="977d9dd3-3ff1-4e74-988c-7270e837fc13" Alias="Pembroke Welsh Corgi 600" Level="2">
  <Info>
    <Parent Key="3877847b-99fb-401c-9ee5-75ab3e8ed226">Mammals 2</Parent>
    <Path>/Mammals2/PembrokeWelshCorgi600</Path>
    <Trashed>false</Trashed>
    <ContentType>editorImage</ContentType>
    <CreateDate>2025-04-01T09:38:28</CreateDate>
    <NodeName Default="Pembroke Welsh Corgi 600" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ndjdgnn2/pembroke_welsh_corgi_600.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>