<?xml version="1.0" encoding="utf-8"?>
<Media Key="2d200019-ac47-41e6-8be0-e7d7ecbdaef2" Alias="Quiz" Level="2">
  <Info>
    <Parent Key="6703dd57-a416-44c3-be20-e39332124bfe">Sample</Parent>
    <Path>/Sample/Quiz</Path>
    <Trashed>false</Trashed>
    <ContentType>editorDownload</ContentType>
    <CreateDate>2026-01-12T15:32:33</CreateDate>
    <NodeName Default="Quiz" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kj2lqcqm/umbristol-quiz-december-2020.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>