<?xml version="1.0" encoding="utf-8"?>
<Media Key="ab6fe5de-c118-4d0a-9e65-6f248c490ffb" Alias="Red Logo" Level="2">
  <Info>
    <Parent Key="455c37a6-e92d-4d45-ae13-e4c276ac305c">lancashire.gov.uk</Parent>
    <Path>/lancashiregovuk/RedLogo</Path>
    <Trashed>false</Trashed>
    <ContentType>editorVectorGraphics</ContentType>
    <CreateDate>2025-06-18T14:54:32</CreateDate>
    <NodeName Default="Red Logo" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qcio5h0f/lcc-logo-2024-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>