<?xml version="1.0" encoding="utf-8"?>
<Media Key="6703dd57-a416-44c3-be20-e39332124bfe" Alias="Sample" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Sample</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-02-13T10:11:40</CreateDate>
    <NodeName Default="Sample" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>