<?xml version="1.0" encoding="utf-8"?>
<Media Key="d51bcc3e-feea-4791-a138-1346dc682184" Alias="Sow With Piglet" Level="2">
  <Info>
    <Parent Key="3877847b-99fb-401c-9ee5-75ab3e8ed226">Mammals 2</Parent>
    <Path>/Mammals2/SowWithPiglet</Path>
    <Trashed>false</Trashed>
    <ContentType>editorImage</ContentType>
    <CreateDate>2025-04-01T09:38:28</CreateDate>
    <NodeName Default="Sow With Piglet" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qwbfk33h/sow_with_piglet.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>