<?xml version="1.0" encoding="utf-8"?>
<Media Key="09ecbd18-8e6c-4eee-9bac-185b8c128014" Alias="Sparkle" Level="3">
  <Info>
    <Parent Key="daa43c55-bdc7-4dc3-9302-5e86503abcd8">Logos</Parent>
    <Path>/Protenacity/Logos/Sparkle</Path>
    <Trashed>false</Trashed>
    <ContentType>editorVectorGraphics</ContentType>
    <CreateDate>2026-02-15T15:26:52</CreateDate>
    <NodeName Default="Sparkle" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/i1egypjr/sparkle.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>