<?xml version="1.0" encoding="utf-8"?>
<Media Key="2e215365-6487-4176-941e-95d1fd613e7f" Alias="Umbraco" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Umbraco</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-04-01T09:38:15</CreateDate>
    <NodeName Default="Umbraco" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>