<?xml version="1.0" encoding="utf-8"?>
<Media Key="5d12379c-3409-433c-8881-b32554c72c19" Alias="Water Buffalo, Phayao Lake (1)" Level="2">
  <Info>
    <Parent Key="3877847b-99fb-401c-9ee5-75ab3e8ed226">Mammals 2</Parent>
    <Path>/Mammals2/WaterBuffaloPhayaoLake1</Path>
    <Trashed>false</Trashed>
    <ContentType>editorImage</ContentType>
    <CreateDate>2025-04-01T09:38:28</CreateDate>
    <NodeName Default="Water Buffalo, Phayao Lake (1)" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/e32fz50e/water_buffalo-_phayao_lake.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>