@model Tuple<bool, IEnumerable<IEditorContent>?>

@if (Model.Item2?.Any() == true)
{
    <div class="position-fixed d-sm-block d-md-none @(Model.Item1 ? "" : "end-0") z-1">
        <a class="border-0 navbar-toggler text-bg-dark fs-1" data-bs-toggle="offcanvas" data-bs-target="#offcanvas@(Model.GetHashCode())" aria-controls="offcanvas@(Model.GetHashCode())">
            <i class="bi @(Model.Item1 ? "bi-caret-right" : "bi-caret-left") pt-5 pb-5"></i>
        </a>
    </div>

    <div class="offcanvas @(Model.Item1 ? "offcanvas-start" : "offcanvas-end") text-bg-dark" tabindex="-1" id="offcanvas@(Model.GetHashCode())" aria-labelledby="offcanvas@(Model.GetHashCode())Label">
        <div class="offcanvas-header">
            <button type="button" class="btn-close text-reset btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="navbar-nav flex-grow-1 pe-3">
                @foreach (var group in Model.Item2)
                {
                    @(await Component.InvokeAsync(Protenacity.Cake.Web.Presentation.Editor.Group.GroupViewComponent.Name, group))
                }
            </div>
        </div>
    </div>
}
