<?xml version="1.0" encoding="utf-8"?>
<MediaType Key="149d1022-8255-4a7a-b472-3104ff44d384" Alias="editorTableSource" Level="1">
  <Info>
    <Name>Table Source</Name>
    <Icon>icon-grid color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Source for a table</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
  </Info>
  <GenericProperties>
    <GenericProperty>
      <Key>c9220941-c578-4d73-95a3-f1f6bda888f3</Key>
      <Name>Size</Name>
      <Alias>umbracoBytes</Alias>
      <Definition>930861bf-e262-4ead-a704-f99453565708</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[File size in bytes]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="contents">Contents</Tab>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9941544f-a115-413f-82e7-8147eddd33bb</Key>
      <Name>Type</Name>
      <Alias>umbracoExtension</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[File extension]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="contents">Contents</Tab>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>204c3680-6d50-441c-b16d-60b9508cbbca</Key>
      <Name>File</Name>
      <Alias>umbracoFile</Alias>
      <Definition>6cb66faf-b957-4f61-993d-50d671bb8691</Definition>
      <Type>Umbraco.UploadField</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Upload data file]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="contents">Contents</Tab>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Structure />
  <Tabs>
    <Tab>
      <Key>b2a226c8-ada1-4e9f-a164-93b73410edb6</Key>
      <Caption>Contents</Caption>
      <Alias>contents</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</MediaType>