<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4e3c623e-f124-4765-a7b4-57a88e58a966" Alias="Domain Meta Tags" Level="2">
  <Info>
    <Name>Domain Meta Tags</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Furniture</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "1cbc9930-6eae-4405-adf7-c66504a8ceb3",
      "label": "{% named }",
      "editorSize": "large",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": true,
  "validationLimit": {}
}]]></Config>
</DataType>