<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9c679421-c4a2-4850-b3e0-fd8122f9c84c" Alias="Editor Video Source" Level="2">
  <Info>
    <Name>Editor Video Source</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "898aa9d3-a6d4-4e2b-950c-c05c085f2727",
      "label": "Media {% name }",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "contentElementTypeKey": "b0f71909-9d2d-46ca-8a5b-1ed27376a868",
      "label": "YouTube {% url }",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "contentElementTypeKey": "af1d0ec1-ae3f-4a9c-9c36-d737b1c82910",
      "editorSize": "medium",
      "label": "Vimeo {% url }"
    },
    {
      "contentElementTypeKey": "095be6f4-5ac0-4538-a8d7-505af16dd9f3",
      "label": "Mp4 {% url }",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {
    "min": 1,
    "max": 1
  }
}]]></Config>
</DataType>