<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6cb66faf-b957-4f61-993d-50d671bb8691" Alias="Editor Upload Table Source" Level="2">
  <Info>
    <Name>Editor Upload Table Source</Name>
    <EditorAlias>Umbraco.UploadField</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.UploadField</EditorUIAlias>
    <Folder>Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "fileExtensions": [
    "csv",
    "txt",
    "xls",
    "xlsx"
  ],
  "umbMigrationV14": "2025-04-01T10:00:43.1210746\u002B00:00"
}]]></Config>
</DataType>