<?xml version="1.0" encoding="utf-8"?>
<DataType Key="67527ceb-0518-4a55-963b-27acab8970f6" Alias="Editor Table Source File Separator" Level="2">
  <Info>
    <Name>Editor Table Source File Separator</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Comma ( , )",
    "Semicolon ( ; )",
    "Tab ( \\t )",
    "Pipe ( | )"
  ],
  "multiple": false,
  "umbMigrationV14": "2025-04-01T10:00:43.1248775\u002B00:00"
}]]></Config>
</DataType>