<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6a29331e-4b15-4787-811c-a97a13f0502e" Alias="Editor Map" Level="2">
  <Info>
    <Name>Editor Map</Name>
    <EditorAlias>Protenacity.Web.OpenStreetMap</EditorAlias>
    <EditorUIAlias>Protenacity.PropertyEditorUi.OpenStreetMap</EditorUIAlias>
    <Folder>Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "showCoordinates": true,
  "showSearch": true,
  "showSetMarkerByCoordinates": true
}]]></Config>
</DataType>