<?xml version="1.0" encoding="utf-8"?>
<DataType Key="18d8be67-b233-4b1c-b962-1297220341c2" Alias="Editor Expandable Section Expand Collapse Method" Level="2">
  <Info>
    <Name>Editor Expandable Section Expand Collapse Method</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.RadioButtonList</EditorUIAlias>
    <Folder>Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Arrow",
    "Button"
  ]
}]]></Config>
</DataType>