<?xml version="1.0" encoding="utf-8"?>
<DataType Key="be52f0dc-506c-4bfc-aad8-f09a1d50f28e" Alias="Editor Expandable Section Initial State" Level="2">
  <Info>
    <Name>Editor Expandable Section Initial State</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.RadioButtonList</EditorUIAlias>
    <Folder>Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Collapsed",
    "Expanded"
  ]
}]]></Config>
</DataType>