<?xml version="1.0" encoding="utf-8"?>
<DataType Key="48937cd9-d490-4fa7-9c6d-634d3a816946" Alias="Editor False" Level="2">
  <Info>
    <Name>Editor False</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Toggle</EditorUIAlias>
    <Folder>Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "default": false,
  "showLabels": false
}]]></Config>
</DataType>