<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1c4631f8-c869-480f-8d69-3efaa0fa6d29" Alias="Editor Icon Picker" Level="2">
  <Info>
    <Name>Editor Icon Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
    <Folder>Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "enableLocalFocalPoint": false,
  "filter": "bc1ee548-966c-4a8c-aa8c-2d7267d483a3",
  "ignoreUserStartNodes": false,
  "multiple": false,
  "umbMigrationV14": "2025-04-01T10:00:43.1223605\u002B00:00",
  "validationLimit": {}
}]]></Config>
</DataType>