<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e48f6c2a-f411-4285-bdeb-73c08541cd51" Alias="Editor Tab Strip Placement" Level="2">
  <Info>
    <Name>Editor Tab Strip Placement</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Tab strip along Top",
    "Tab strip down Left hand side",
    "Tab strip along Bottom",
    "Tap strip down Right hand side"
  ],
  "multiple": false,
  "umbMigrationV14": "2025-04-01T10:00:43.1185231\u002B00:00"
}]]></Config>
</DataType>