<?xml version="1.0" encoding="utf-8"?>
<DataType Key="aa9c1698-a9d9-4ec6-9aff-b98556785b3f" Alias="Editor Card Action Style" Level="2">
  <Info>
    <Name>Editor Card Action Style</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Button",
    "Link",
    "Link with Icon",
    "Header",
    "Hide",
    "Button (Primary)",
    "Button (Secondary)",
    "Button (Success)",
    "Button (Danger)",
    "Button (Warning)",
    "Button (Info)",
    "Button (Light)",
    "Button (Dark)"
  ],
  "multiple": false,
  "umbMigrationV14": "2025-04-01T10:00:43.1275658\u002B00:00"
}]]></Config>
</DataType>