<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d843226e-8c8e-488b-acda-094832ed8050" Alias="Editor Stepper Orientation" Level="2">
  <Info>
    <Name>Editor Stepper Orientation</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.RadioButtonList</EditorUIAlias>
    <Folder>Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Vertical",
    "Horizontal"
  ]
}]]></Config>
</DataType>