<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b7b544b6-5942-4f3d-beef-81b8b989d0b0" Alias="Global Rss Feed Picker" Level="2">
  <Info>
    <Name>Global Rss Feed Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
    <Folder>Global</Folder>
  </Info>
  <Config><![CDATA[{
  "filter": "f9d05ee3-a300-48b4-9626-8736ccf62f19",
  "ignoreUserStartNodes": true,
  "maxNumber": 1,
  "minNumber": 0,
  "startNode": {
    "type": "content",
    "dynamicRoot": {
      "originAlias": "Root",
      "querySteps": [
        {
          "unique": "79d34c8e-5925-474a-b101-392b32871827",
          "alias": "NearestAncestorOrSelf",
          "anyOfDocTypeKeys": [
            "bbe97008-6f87-4752-9a09-bcdb5a7cb752"
          ]
        },
        {
          "unique": "f1452dd6-4754-440e-b644-002c31c869a4",
          "alias": "NearestDescendantOrSelf",
          "anyOfDocTypeKeys": [
            "294e0676-4e12-4bb8-8a53-47e58437c5ef"
          ]
        }
      ]
    }
  }
}]]></Config>
</DataType>