<?xml version="1.0" encoding="utf-8"?>
<DataType Key="84e88f16-91e3-4241-8edc-82030b5fed17" Alias="Redirect Type" Level="2">
  <Info>
    <Name>Redirect Type</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.RadioButtonList</EditorUIAlias>
    <Folder>Furniture</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Redirect",
    "Rewrite"
  ]
}]]></Config>
</DataType>