<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cf44450a-96b0-40a1-9a7f-5087cdef5b84" Alias="Subfooter Status" Level="2">
  <Info>
    <Name>Subfooter Status</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.RadioButtonList</EditorUIAlias>
    <Folder>Furniture</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Inherit",
    "Show",
    "Hide"
  ]
}]]></Config>
</DataType>