<?xml version="1.0" encoding="utf-8"?>
<Content Key="18a0cbdd-c6e5-4c4e-b42d-f257826c6034" Alias="... Register Office (1)" Level="5">
  <Info>
    <Parent Key="e85bad05-b859-4346-8351-9fa75f8721b7">Find a registration office</Parent>
    <Path>/lancashiregovuk/Home/BirthsMarriagesCivilPartnershipsAndDeaths/FindARegistrationOffice/RegisterOffice1</Path>
    <Trashed>false</Trashed>
    <ContentType>editorPage</ContentType>
    <CreateDate>2025-08-27T19:19:47</CreateDate>
    <NodeName Default="... Register Office (1)" />
    <SortOrder>11</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="cbebb994-250c-4f99-ab85-8e38616efb0c">Editor</Template>
  </Info>
  <Properties>
    <alertStatus>
      <Value><![CDATA[Inherit]]></Value>
    </alertStatus>
    <alertText>
      <Value><![CDATA[]]></Value>
    </alertText>
    <alertTitle>
      <Value><![CDATA[]]></Value>
    </alertTitle>
    <alertType>
      <Value><![CDATA[]]></Value>
    </alertType>
    <asideContent>
      <Value><![CDATA[]]></Value>
    </asideContent>
    <asideFixed>
      <Value><![CDATA[1]]></Value>
    </asideFixed>
    <asideOffset>
      <Value><![CDATA[]]></Value>
    </asideOffset>
    <asideStatus>
      <Value><![CDATA[Inherit]]></Value>
    </asideStatus>
    <bannerContent>
      <Value><![CDATA[]]></Value>
    </bannerContent>
    <bannerHeroImage>
      <Value><![CDATA[]]></Value>
    </bannerHeroImage>
    <bannerStatus>
      <Value><![CDATA[Inherit]]></Value>
    </bannerStatus>
    <body>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "9cd1f41e-8db7-498b-a4f1-db27180a4728",
      "key": "a498b75d-c4f6-4c60-a7ac-32658283345d",
      "udi": null,
      "values": [
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003ELancashire Rose Suite (link text) has a ceremony room with seats for 74 guests.\u003C/p\u003E\u003Cp\u003EThis ceremony room has accessible access.\u003C/p\u003E\u003Ch3\u003ERegistration Office information\u003C/h3\u003E\u003Cp\u003EYou can register a birth, a civil partnership and death.\u003C/p\u003E\u003Cp\u003EYou can also give notice of your marriage as well as have your ceremony.\u003C/p\u003E\u003Cp\u003EFor a marriage or civil partnership,\u003C/p\u003E\u003Cp\u003E1. contact the ceremonies officer to reserve the date of your ceremony\u003C/p\u003E\u003Cp\u003E2. give notice of marriage or civil partnership\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "f3688870-05fb-4bdf-813f-dcca8a4acf99",
      "key": "373ebf53-5fcb-44aa-96d2-cd093525d7ca",
      "udi": null,
      "values": [
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Accordion"
        },
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "mainTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EDetails for Lancashire Rose Suite\u003C/p\u003E"
          }
        },
        {
          "alias": "panelBlocks",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "d0edea87-162e-4fb1-9cd5-1f2dc86fcd76",
                "key": "d8bef538-81f6-4db9-84bc-0991df3cd0e4",
                "udi": null,
                "values": [
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EOpening times are by appointment only.\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "panelName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EOpening times\u003C/p\u003E"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "b0dc0e1e-7115-416e-bb7a-4e228d760bc0",
                "key": "30ce6370-7b91-440a-b47a-03dce578a2ac",
                "udi": null,
                "values": [
                  {
                    "alias": "header",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EOpening hours\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EOpening times are by appointment only.\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "times",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "contentData": [
                        {
                          "contentTypeKey": "3ababe53-a528-4533-ba2d-e1c779bbdeaf",
                          "key": "3631f98b-3ae0-4edd-9915-84673b44fbb6",
                          "udi": null,
                          "values": [
                            {
                              "alias": "day",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": [
                                "Monday"
                              ]
                            },
                            {
                              "alias": "open",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "09:00"
                            },
                            {
                              "alias": "close",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "16:30"
                            }
                          ]
                        },
                        {
                          "contentTypeKey": "3ababe53-a528-4533-ba2d-e1c779bbdeaf",
                          "key": "f1f8ef1f-5c81-4466-9de2-54fa753c26fd",
                          "udi": null,
                          "values": [
                            {
                              "alias": "day",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": [
                                "Tuesday"
                              ]
                            },
                            {
                              "alias": "open",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "09:00"
                            },
                            {
                              "alias": "close",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "16:30"
                            }
                          ]
                        },
                        {
                          "contentTypeKey": "3ababe53-a528-4533-ba2d-e1c779bbdeaf",
                          "key": "a28059ba-e2e1-4511-92c6-35f43b371ff3",
                          "udi": null,
                          "values": [
                            {
                              "alias": "day",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": [
                                "Thursday"
                              ]
                            },
                            {
                              "alias": "open",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "09:00"
                            },
                            {
                              "alias": "close",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "16:30"
                            }
                          ]
                        },
                        {
                          "contentTypeKey": "3ababe53-a528-4533-ba2d-e1c779bbdeaf",
                          "key": "98dffc70-d2eb-4f2c-a7f9-e1cdf4e02939",
                          "udi": null,
                          "values": [
                            {
                              "alias": "day",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": [
                                "Friday"
                              ]
                            },
                            {
                              "alias": "open",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "09:00"
                            },
                            {
                              "alias": "close",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "16:30"
                            }
                          ]
                        },
                        {
                          "contentTypeKey": "3ababe53-a528-4533-ba2d-e1c779bbdeaf",
                          "key": "c1dd5c93-595d-47ea-bd28-e128b0ee5acf",
                          "udi": null,
                          "values": [
                            {
                              "alias": "day",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": [
                                "Wednesday"
                              ]
                            },
                            {
                              "alias": "open",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "09:00"
                            },
                            {
                              "alias": "close",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "16:30"
                            }
                          ]
                        }
                      ],
                      "settingsData": [],
                      "expose": [
                        {
                          "contentKey": "3631f98b-3ae0-4edd-9915-84673b44fbb6",
                          "culture": null,
                          "segment": null
                        },
                        {
                          "contentKey": "f1f8ef1f-5c81-4466-9de2-54fa753c26fd",
                          "culture": null,
                          "segment": null
                        },
                        {
                          "contentKey": "a28059ba-e2e1-4511-92c6-35f43b371ff3",
                          "culture": null,
                          "segment": null
                        },
                        {
                          "contentKey": "98dffc70-d2eb-4f2c-a7f9-e1cdf4e02939",
                          "culture": null,
                          "segment": null
                        },
                        {
                          "contentKey": "c1dd5c93-595d-47ea-bd28-e128b0ee5acf",
                          "culture": null,
                          "segment": null
                        }
                      ],
                      "Layout": {
                        "Umbraco.BlockList": [
                          {
                            "contentKey": "3631f98b-3ae0-4edd-9915-84673b44fbb6",
                            "contentUdi": null,
                            "settingsKey": null,
                            "settingsUdi": null
                          },
                          {
                            "contentKey": "f1f8ef1f-5c81-4466-9de2-54fa753c26fd",
                            "contentUdi": null,
                            "settingsKey": null,
                            "settingsUdi": null
                          },
                          {
                            "contentKey": "a28059ba-e2e1-4511-92c6-35f43b371ff3",
                            "contentUdi": null,
                            "settingsKey": null,
                            "settingsUdi": null
                          },
                          {
                            "contentKey": "98dffc70-d2eb-4f2c-a7f9-e1cdf4e02939",
                            "contentUdi": null,
                            "settingsKey": null,
                            "settingsUdi": null
                          },
                          {
                            "contentKey": "c1dd5c93-595d-47ea-bd28-e128b0ee5acf",
                            "contentUdi": null,
                            "settingsKey": null,
                            "settingsUdi": null
                          }
                        ]
                      }
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "beb8b1ca-f2d7-4b65-9c2a-e8590d6ae4f8",
                "key": "a6c91002-18c0-4e21-a963-4b3adb8fea5f",
                "udi": null,
                "values": [
                  {
                    "alias": "mapType",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "Standard"
                    ]
                  },
                  {
                    "alias": "panelName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EMap\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "mapLocation",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "boundingBox": {
                        "northEastCorner": {
                          "latitude": 53.84077912325223,
                          "longitude": -2.592086791992188
                        },
                        "southWestCorner": {
                          "latitude": 53.678408424664795,
                          "longitude": -3.1901550292968754
                        }
                      },
                      "zoom": 11,
                      "marker": {
                        "latitude": 3307.0866136524273,
                        "longitude": null
                      }
                    }
                  }
                ]
              }
            ],
            "settingsData": [
              {
                "contentTypeKey": "514dd4b7-f4fe-4386-b3f0-fb1ecb39c1d3",
                "key": "24efda7c-5807-4a59-8369-c5821b2f4d9d",
                "udi": null,
                "values": []
              },
              {
                "contentTypeKey": "6b459aec-5124-4a5c-b397-6e2341434c9b",
                "key": "7deb27a6-3dcd-4e15-958b-a9a59a4033ec",
                "udi": null,
                "values": []
              },
              {
                "contentTypeKey": "3b58a3b3-6253-4028-a320-0452f1752abf",
                "key": "be7a6ee4-60b4-4cc1-954f-663d21a47e45",
                "udi": null,
                "values": []
              }
            ],
            "expose": [
              {
                "contentKey": "d8bef538-81f6-4db9-84bc-0991df3cd0e4",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "30ce6370-7b91-440a-b47a-03dce578a2ac",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "a6c91002-18c0-4e21-a963-4b3adb8fea5f",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "d8bef538-81f6-4db9-84bc-0991df3cd0e4",
                  "contentUdi": null,
                  "settingsKey": "24efda7c-5807-4a59-8369-c5821b2f4d9d",
                  "settingsUdi": null
                },
                {
                  "contentKey": "30ce6370-7b91-440a-b47a-03dce578a2ac",
                  "contentUdi": null,
                  "settingsKey": "7deb27a6-3dcd-4e15-958b-a9a59a4033ec",
                  "settingsUdi": null
                },
                {
                  "contentKey": "a6c91002-18c0-4e21-a963-4b3adb8fea5f",
                  "contentUdi": null,
                  "settingsKey": "be7a6ee4-60b4-4cc1-954f-663d21a47e45",
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "f3688870-05fb-4bdf-813f-dcca8a4acf99",
      "key": "fd5b42e1-5191-4b34-b106-8b226d16a3e1",
      "udi": null,
      "values": [
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Accordion "
        },
        {
          "alias": "mainTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003ELancashire Rose Suite information\u003C/p\u003E"
          }
        },
        {
          "alias": "panelBlocks",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "d0edea87-162e-4fb1-9cd5-1f2dc86fcd76",
                "key": "0b3daff0-e87d-4932-9d22-0cb0ee42f794",
                "udi": null,
                "values": [
                  {
                    "alias": "panelName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EHow to book an appointment\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cul\u003E\u003Cli\u003E\u003Cp\u003ERegister a birth\u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003ERegister a death\u003C/p\u003E\u003C/li\u003E\u003C/ul\u003E\u003Cp\u003EFor a marriage or civil partnership,\u003C/p\u003E\u003Cp\u003E1. contact the ceremonies officer to reserve the date of your ceremony\u003C/p\u003E\u003Cp\u003E2. give notice of marriage or civil partnership\u003C/p\u003E"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "d0edea87-162e-4fb1-9cd5-1f2dc86fcd76",
                "key": "0d849037-52e8-4385-8c85-f3ea9fb33673",
                "udi": null,
                "values": [
                  {
                    "alias": "panelName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003ECar parking information\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EThe following pay and display charges apply Monday to Saturday, any time the building is in use:\u003C/p\u003E\u003Cp\u003E\u2022\tUp to 1 hour \u00A31\u003C/p\u003E\u003Cp\u003E\u2022\tUp to 2 hours \u00A31.60\u003C/p\u003E"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "d0edea87-162e-4fb1-9cd5-1f2dc86fcd76",
                "key": "6c82d9a7-c2b4-4a58-90d5-9871423169a9",
                "udi": null,
                "values": [
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003ETo pay by phone or by card there is a small additional fee.\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "panelName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EHow to pay\u003C/p\u003E"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "d0edea87-162e-4fb1-9cd5-1f2dc86fcd76",
                "key": "e5fb6567-85e5-43b6-b7a3-3e2d28ca8b6e",
                "udi": null,
                "values": [
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003E\u003C/p\u003E\u003Cp\u003E\u2022\tDisplaying a blue badge permit.\u003C/p\u003E\u003Cp\u003E\u2022\tThe first three hours of parking are free, after the three hours charges will apply.\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "panelName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EParking for Blue Badge holders\u003C/p\u003E"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "d0edea87-162e-4fb1-9cd5-1f2dc86fcd76",
                "key": "e6870686-707f-49f8-8fa0-2cebb4022348",
                "udi": null,
                "values": [
                  {
                    "alias": "panelName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EContact details for Lancashire Rose Suite\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EAddress: Lancashire Rose Suite, Bow Lane , Preston , Lancashire, PR1 8SE (for post) PR1 8RL (for navigation)\u003C/p\u003E\u003Cp\u003ETelephone Number: 0300 123 6705\u003C/p\u003E\u003Cp\u003EEmail: \u003Ca target=\u0022\u0022 data-router-slot=\u0022disabled\u0022 href=\u0022mailto:lancashire.registrars@lancashire.gov.uk\u0022 type=\u0022external\u0022\u003Elancashire.registrars@lancashire.gov.uk\u003C/a\u003E\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E"
                    }
                  }
                ]
              }
            ],
            "settingsData": [
              {
                "contentTypeKey": "514dd4b7-f4fe-4386-b3f0-fb1ecb39c1d3",
                "key": "08c15709-b7b3-4b2a-9098-04e6aad2fa15",
                "udi": null,
                "values": []
              },
              {
                "contentTypeKey": "514dd4b7-f4fe-4386-b3f0-fb1ecb39c1d3",
                "key": "ebc5b076-6f69-40a9-b6b9-dcd753518eb6",
                "udi": null,
                "values": []
              },
              {
                "contentTypeKey": "514dd4b7-f4fe-4386-b3f0-fb1ecb39c1d3",
                "key": "223318c4-0c18-44b9-81c2-54812e83f330",
                "udi": null,
                "values": []
              },
              {
                "contentTypeKey": "514dd4b7-f4fe-4386-b3f0-fb1ecb39c1d3",
                "key": "72575028-19c1-4b2e-9ffb-aed4250757b1",
                "udi": null,
                "values": []
              },
              {
                "contentTypeKey": "514dd4b7-f4fe-4386-b3f0-fb1ecb39c1d3",
                "key": "7e1d7591-f4f2-41df-a983-a1a2f2db70c6",
                "udi": null,
                "values": []
              }
            ],
            "expose": [
              {
                "contentKey": "0b3daff0-e87d-4932-9d22-0cb0ee42f794",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "0d849037-52e8-4385-8c85-f3ea9fb33673",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "6c82d9a7-c2b4-4a58-90d5-9871423169a9",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "e5fb6567-85e5-43b6-b7a3-3e2d28ca8b6e",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "e6870686-707f-49f8-8fa0-2cebb4022348",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "0b3daff0-e87d-4932-9d22-0cb0ee42f794",
                  "contentUdi": null,
                  "settingsKey": "08c15709-b7b3-4b2a-9098-04e6aad2fa15",
                  "settingsUdi": null
                },
                {
                  "contentKey": "6c82d9a7-c2b4-4a58-90d5-9871423169a9",
                  "contentUdi": null,
                  "settingsKey": "223318c4-0c18-44b9-81c2-54812e83f330",
                  "settingsUdi": null
                },
                {
                  "contentKey": "0d849037-52e8-4385-8c85-f3ea9fb33673",
                  "contentUdi": null,
                  "settingsKey": "ebc5b076-6f69-40a9-b6b9-dcd753518eb6",
                  "settingsUdi": null
                },
                {
                  "contentKey": "e5fb6567-85e5-43b6-b7a3-3e2d28ca8b6e",
                  "contentUdi": null,
                  "settingsKey": "72575028-19c1-4b2e-9ffb-aed4250757b1",
                  "settingsUdi": null
                },
                {
                  "contentKey": "e6870686-707f-49f8-8fa0-2cebb4022348",
                  "contentUdi": null,
                  "settingsKey": "7e1d7591-f4f2-41df-a983-a1a2f2db70c6",
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "9cd1f41e-8db7-498b-a4f1-db27180a4728",
      "key": "7eda0df1-ed2b-4168-8298-4abd7a7cfa28",
      "udi": null,
      "values": [
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "31095fb6-f9a3-4bb1-b559-d353a1ff0e92",
      "key": "b34c5cec-e8e2-4a5c-b9c7-6f35097892ae",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "fdf673d8-8549-4d24-840b-f39da73d992c",
      "key": "1ac324ac-5ed8-4e66-9c3c-8cbd15b853d9",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "fdf673d8-8549-4d24-840b-f39da73d992c",
      "key": "205016e3-7f3b-40a0-9470-e8c4b3a01fa0",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "31095fb6-f9a3-4bb1-b559-d353a1ff0e92",
      "key": "c97adc87-fb27-4334-85fb-8900a2db66c2",
      "udi": null,
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "a498b75d-c4f6-4c60-a7ac-32658283345d",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "373ebf53-5fcb-44aa-96d2-cd093525d7ca",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "fd5b42e1-5191-4b34-b106-8b226d16a3e1",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7eda0df1-ed2b-4168-8298-4abd7a7cfa28",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "a498b75d-c4f6-4c60-a7ac-32658283345d",
        "contentUdi": null,
        "settingsKey": "b34c5cec-e8e2-4a5c-b9c7-6f35097892ae",
        "settingsUdi": null
      },
      {
        "contentKey": "373ebf53-5fcb-44aa-96d2-cd093525d7ca",
        "contentUdi": null,
        "settingsKey": "1ac324ac-5ed8-4e66-9c3c-8cbd15b853d9",
        "settingsUdi": null
      },
      {
        "contentKey": "fd5b42e1-5191-4b34-b106-8b226d16a3e1",
        "contentUdi": null,
        "settingsKey": "205016e3-7f3b-40a0-9470-e8c4b3a01fa0",
        "settingsUdi": null
      },
      {
        "contentKey": "7eda0df1-ed2b-4168-8298-4abd7a7cfa28",
        "contentUdi": null,
        "settingsKey": "c97adc87-fb27-4334-85fb-8900a2db66c2",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </body>
    <categories>
      <Value><![CDATA[]]></Value>
    </categories>
    <furnitureBreadcrumbsColor>
      <Value><![CDATA[]]></Value>
    </furnitureBreadcrumbsColor>
    <furnitureBreadcrumbStatus>
      <Value><![CDATA[]]></Value>
    </furnitureBreadcrumbStatus>
    <furnitureBreadcrumbSubtheme>
      <Value><![CDATA[]]></Value>
    </furnitureBreadcrumbSubtheme>
    <furnitureBreadcrumbThemeShade>
      <Value><![CDATA[]]></Value>
    </furnitureBreadcrumbThemeShade>
    <furnitureFooterColor>
      <Value><![CDATA[]]></Value>
    </furnitureFooterColor>
    <furnitureFooterInformation>
      <Value><![CDATA[]]></Value>
    </furnitureFooterInformation>
    <furnitureFooterMenu>
      <Value><![CDATA[]]></Value>
    </furnitureFooterMenu>
    <furnitureFooterMessage>
      <Value><![CDATA[]]></Value>
    </furnitureFooterMessage>
    <furnitureFooterSocialMediaLinks>
      <Value><![CDATA[]]></Value>
    </furnitureFooterSocialMediaLinks>
    <furnitureFooterSubtheme>
      <Value><![CDATA[]]></Value>
    </furnitureFooterSubtheme>
    <furnitureFooterThemeShade>
      <Value><![CDATA[]]></Value>
    </furnitureFooterThemeShade>
    <furnitureHeaderColor>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderColor>
    <furnitureHeaderMenu>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderMenu>
    <furnitureHeaderMenuPosition>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderMenuPosition>
    <furnitureHeaderSticky>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderSticky>
    <furnitureHeaderSubtheme>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderSubtheme>
    <furnitureHeaderThemeShade>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderThemeShade>
    <furnitureLogoImage>
      <Value><![CDATA[]]></Value>
    </furnitureLogoImage>
    <furnitureLogoRatio>
      <Value><![CDATA[]]></Value>
    </furnitureLogoRatio>
    <furniturePageTitlePromote>
      <Value><![CDATA[]]></Value>
    </furniturePageTitlePromote>
    <PageTitleSubtheme>
      <Value><![CDATA[]]></Value>
    </PageTitleSubtheme>
    <furniturePageTitleThemeShade>
      <Value><![CDATA[]]></Value>
    </furniturePageTitleThemeShade>
    <furnitureShowAllServices>
      <Value><![CDATA[]]></Value>
    </furnitureShowAllServices>
    <furnitureShowHeaderMenuOnLargerDevices>
      <Value><![CDATA[]]></Value>
    </furnitureShowHeaderMenuOnLargerDevices>
    <furnitureShowHeaderMenuOnSmallerDevices>
      <Value><![CDATA[]]></Value>
    </furnitureShowHeaderMenuOnSmallerDevices>
    <furnitureShowSearchBar>
      <Value><![CDATA[]]></Value>
    </furnitureShowSearchBar>
    <furnitureStatus>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureStatus>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <pageHeader>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003E... Register Office\u003C/p\u003E"
}]]></Value>
    </pageHeader>
    <pageSubtheme>
      <Value><![CDATA[]]></Value>
    </pageSubtheme>
    <pageTheme>
      <Value><![CDATA[]]></Value>
    </pageTheme>
    <pageThemeShade>
      <Value><![CDATA[]]></Value>
    </pageThemeShade>
    <reviewComments>
      <Value><![CDATA[]]></Value>
    </reviewComments>
    <reviewDate>
      <Value><![CDATA[]]></Value>
    </reviewDate>
    <reviewGroup>
      <Value><![CDATA[]]></Value>
    </reviewGroup>
    <reviewStatus>
      <Value><![CDATA[Inherit]]></Value>
    </reviewStatus>
    <seoAbstract>
      <Value><![CDATA[]]></Value>
    </seoAbstract>
    <seoCanonicalUrl>
      <Value><![CDATA[]]></Value>
    </seoCanonicalUrl>
    <seoDatePublished>
      <Value><![CDATA[]]></Value>
    </seoDatePublished>
    <seoDescription>
      <Value><![CDATA[]]></Value>
    </seoDescription>
    <seoPriority>
      <Value><![CDATA[]]></Value>
    </seoPriority>
    <seoPromotedSearchTerms>
      <Value><![CDATA[]]></Value>
    </seoPromotedSearchTerms>
    <seoStatus>
      <Value><![CDATA[Inherit]]></Value>
    </seoStatus>
    <seoThumbnail>
      <Value><![CDATA[]]></Value>
    </seoThumbnail>
    <subfooterColor>
      <Value><![CDATA[]]></Value>
    </subfooterColor>
    <subfooterShowLastUpdatedDate>
      <Value><![CDATA[]]></Value>
    </subfooterShowLastUpdatedDate>
    <subfooterShowNextReviewDate>
      <Value><![CDATA[]]></Value>
    </subfooterShowNextReviewDate>
    <subfooterShowReturnToTopIcon>
      <Value><![CDATA[]]></Value>
    </subfooterShowReturnToTopIcon>
    <subfooterStatus>
      <Value><![CDATA[Inherit]]></Value>
    </subfooterStatus>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <virtualAgentInstall>
      <Value><![CDATA[]]></Value>
    </virtualAgentInstall>
    <virtualAgentStatus>
      <Value><![CDATA[]]></Value>
    </virtualAgentStatus>
  </Properties>
</Content>