<?xml version="1.0" encoding="utf-8"?>
<Content Key="5557e532-ec4b-44cc-b3e9-aa306d108c61" Alias="About" Level="3">
  <Info>
    <Parent Key="5799dddd-b5f2-4fcc-b1d2-d4d86f98e26f">Home</Parent>
    <Path>/locallancashiregovuk/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>editorPage</ContentType>
    <CreateDate>2025-02-07T14:16:10</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cbebb994-250c-4f99-ab85-8e38616efb0c">Editor</Template>
  </Info>
  <Properties>
    <alertStatus>
      <Value><![CDATA[Inherit]]></Value>
    </alertStatus>
    <alertText>
      <Value><![CDATA[]]></Value>
    </alertText>
    <alertTitle>
      <Value><![CDATA[]]></Value>
    </alertTitle>
    <alertType>
      <Value><![CDATA[]]></Value>
    </alertType>
    <asideContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "3b381ffc-8be5-48b0-80ea-4c8ecc15a820",
      "key": "0f72b59d-c8b0-4042-8a6f-71e037829d3c",
      "udi": null,
      "values": []
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "778aa5c7-7e1c-4141-9444-81f112e391cb",
      "key": "43b05d00-b693-4420-bbaa-1c208617ded7",
      "udi": null,
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "0f72b59d-c8b0-4042-8a6f-71e037829d3c",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "0f72b59d-c8b0-4042-8a6f-71e037829d3c",
        "contentUdi": null,
        "settingsKey": "43b05d00-b693-4420-bbaa-1c208617ded7",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </asideContent>
    <asideFixed>
      <Value><![CDATA[]]></Value>
    </asideFixed>
    <asideOffset>
      <Value><![CDATA[]]></Value>
    </asideOffset>
    <asideStatus>
      <Value><![CDATA[Inherit]]></Value>
    </asideStatus>
    <bannerContent>
      <Value><![CDATA[]]></Value>
    </bannerContent>
    <bannerHeroImage>
      <Value><![CDATA[]]></Value>
    </bannerHeroImage>
    <bannerStatus>
      <Value><![CDATA[Inherit]]></Value>
    </bannerStatus>
    <body>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "69021ede-3114-43b4-96c8-5d2c66e7ebd1",
      "key": "130a33bf-7038-4c99-aa1d-d94507745839",
      "udi": null,
      "values": [
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Title for card"
        },
        {
          "alias": "mainTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "mainLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "listBlocks",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "9cd1f41e-8db7-498b-a4f1-db27180a4728",
      "key": "55678c49-2b88-452b-af85-f117ac5f4fb9",
      "udi": null,
      "values": [
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Devon Blurb"
        },
        {
          "alias": "mainTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "Devon"
          }
        },
        {
          "alias": "mainLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EDevon is lovely this time of year\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "69021ede-3114-43b4-96c8-5d2c66e7ebd1",
      "key": "abaf1e71-2ec4-4211-b71c-1e7429674848",
      "udi": null,
      "values": [
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "My List Of Cards"
        },
        {
          "alias": "mainTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "Do you like my blocks?"
          }
        },
        {
          "alias": "mainLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "listBlocks",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "69021ede-3114-43b4-96c8-5d2c66e7ebd1",
      "key": "91fe82e4-085e-4c6a-8bd3-cc2365b66a83",
      "udi": null,
      "values": [
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "My list of places"
        },
        {
          "alias": "mainTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "Lancashire"
          }
        },
        {
          "alias": "listBlocks",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "b21e635e-eaec-41c4-911e-3f4b0d228b8c",
                "key": "cd3385fb-af62-46fc-b62e-09bde2a23dd8",
                "udi": null,
                "values": [
                  {
                    "alias": "images",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "ae83ebbb-5d70-44f2-a58f-19eef39cc4b0",
                        "mediaKey": "3ebc41f4-4c27-4de6-89b8-d6608e3785d8",
                        "mediaTypeAlias": "editorImage",
                        "crops": [],
                        "focalPoint": null
                      },
                      {
                        "key": "1097dffe-5897-4471-8acd-062b96eea200",
                        "mediaKey": "54d9be0d-bd3c-490c-9bfd-0336f0d2eb74",
                        "mediaTypeAlias": "editorImage",
                        "crops": [],
                        "focalPoint": null
                      },
                      {
                        "key": "69915f4e-fc22-4a13-bf49-9c928a44f725",
                        "mediaKey": "1bfe2c58-c055-4d11-9a72-ac1dd2aaad94",
                        "mediaTypeAlias": "editorImage",
                        "crops": [],
                        "focalPoint": null
                      },
                      {
                        "key": "cfc975fe-a940-493f-82fc-e4bd18ce2929",
                        "mediaKey": "9c702a25-95b0-4478-a13f-1a8ad2460a18",
                        "mediaTypeAlias": "editorImage",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [
              {
                "contentTypeKey": "384ded8e-0d66-4e5f-844f-58d63e0f47cd",
                "key": "f5f3da2c-c623-4dbb-abee-cd68a5d17ff9",
                "udi": null,
                "values": [
                  {
                    "alias": "fullscreen",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              }
            ],
            "expose": [
              {
                "contentKey": "cd3385fb-af62-46fc-b62e-09bde2a23dd8",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "cd3385fb-af62-46fc-b62e-09bde2a23dd8",
                  "contentUdi": "umb://element/cd3385fbaf6246fcb62e09bde2a23dd8",
                  "settingsKey": "f5f3da2c-c623-4dbb-abee-cd68a5d17ff9",
                  "settingsUdi": "umb://element/f5f3da2cc6234dbbabeecd68a5d17ff9"
                }
              ]
            }
          }
        },
        {
          "alias": "mainLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "69021ede-3114-43b4-96c8-5d2c66e7ebd1",
      "key": "1cd12638-d9d4-4b36-8b46-457eed35a546",
      "udi": null,
      "values": [
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Somerset"
        },
        {
          "alias": "mainTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "mainLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "listBlocks",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "a7d6bfa0-76ad-477c-b8be-a936c05eface",
                "key": "f0f00ea6-170c-4339-ae74-541cb4ae0dd4",
                "udi": null,
                "values": []
              }
            ],
            "settingsData": [
              {
                "contentTypeKey": "05c5e544-b88c-497f-975c-60d95b83bd77",
                "key": "a92d2e28-6d29-49e7-9289-b174d11c0a8f",
                "udi": null,
                "values": [
                  {
                    "alias": "order",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  }
                ]
              }
            ],
            "expose": [
              {
                "contentKey": "f0f00ea6-170c-4339-ae74-541cb4ae0dd4",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "f0f00ea6-170c-4339-ae74-541cb4ae0dd4",
                  "contentUdi": "umb://element/f0f00ea6170c4339ae74541cb4ae0dd4",
                  "settingsKey": "a92d2e28-6d29-49e7-9289-b174d11c0a8f",
                  "settingsUdi": "umb://element/a92d2e286d2949e79289b174d11c0a8f"
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "81e44a54-ba00-4100-b7a1-14d73a691ab9",
      "key": "18e5e602-3a27-4089-9078-231984edf696",
      "udi": null,
      "values": [
        {
          "alias": "maxColumns",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "styleAction",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "31095fb6-f9a3-4bb1-b559-d353a1ff0e92",
      "key": "9206c377-9960-42b8-9ac5-6bc036ff69c7",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "81e44a54-ba00-4100-b7a1-14d73a691ab9",
      "key": "7673c33f-3da5-4094-8e2a-739b07367844",
      "udi": null,
      "values": [
        {
          "alias": "maxColumns",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "4"
        },
        {
          "alias": "styleAction",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "81e44a54-ba00-4100-b7a1-14d73a691ab9",
      "key": "6da7a720-7046-45fc-95ea-a9abf25cf440",
      "udi": null,
      "values": [
        {
          "alias": "maxColumns",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "styleAction",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "81e44a54-ba00-4100-b7a1-14d73a691ab9",
      "key": "f1b0a655-716e-4c4c-bd17-50f8a5a5e9cd",
      "udi": null,
      "values": [
        {
          "alias": "maxColumns",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "5"
        },
        {
          "alias": "styleAction",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "130a33bf-7038-4c99-aa1d-d94507745839",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "55678c49-2b88-452b-af85-f117ac5f4fb9",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "abaf1e71-2ec4-4211-b71c-1e7429674848",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "91fe82e4-085e-4c6a-8bd3-cc2365b66a83",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "1cd12638-d9d4-4b36-8b46-457eed35a546",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "130a33bf-7038-4c99-aa1d-d94507745839",
        "contentUdi": "umb://element/130a33bf70384c99aa1dd94507745839",
        "settingsKey": "18e5e602-3a27-4089-9078-231984edf696",
        "settingsUdi": "umb://element/18e5e6023a2740899078231984edf696"
      },
      {
        "contentKey": "55678c49-2b88-452b-af85-f117ac5f4fb9",
        "contentUdi": "umb://element/55678c492b88452baf85f117ac5f4fb9",
        "settingsKey": "9206c377-9960-42b8-9ac5-6bc036ff69c7",
        "settingsUdi": "umb://element/9206c377996042b89ac56bc036ff69c7"
      },
      {
        "contentKey": "abaf1e71-2ec4-4211-b71c-1e7429674848",
        "contentUdi": "umb://element/abaf1e712ec44211b71c1e7429674848",
        "settingsKey": "7673c33f-3da5-4094-8e2a-739b07367844",
        "settingsUdi": "umb://element/7673c33f3da540948e2a739b07367844"
      },
      {
        "contentKey": "91fe82e4-085e-4c6a-8bd3-cc2365b66a83",
        "contentUdi": "umb://element/91fe82e4085e4c6a8bd3cc2365b66a83",
        "settingsKey": "6da7a720-7046-45fc-95ea-a9abf25cf440",
        "settingsUdi": "umb://element/6da7a720704645fc95eaa9abf25cf440"
      },
      {
        "contentKey": "1cd12638-d9d4-4b36-8b46-457eed35a546",
        "contentUdi": "umb://element/1cd12638d9d44b368b46457eed35a546",
        "settingsKey": "f1b0a655-716e-4c4c-bd17-50f8a5a5e9cd",
        "settingsUdi": "umb://element/f1b0a655716e4c4cbd1750f8a5a5e9cd"
      }
    ]
  }
}]]></Value>
    </body>
    <categories>
      <Value><![CDATA[]]></Value>
    </categories>
    <furnitureBreadcrumbsColor>
      <Value><![CDATA[]]></Value>
    </furnitureBreadcrumbsColor>
    <furnitureBreadcrumbStatus>
      <Value><![CDATA[]]></Value>
    </furnitureBreadcrumbStatus>
    <furnitureBreadcrumbSubtheme>
      <Value><![CDATA[]]></Value>
    </furnitureBreadcrumbSubtheme>
    <furnitureBreadcrumbThemeShade>
      <Value><![CDATA[]]></Value>
    </furnitureBreadcrumbThemeShade>
    <furnitureFooterColor>
      <Value><![CDATA[]]></Value>
    </furnitureFooterColor>
    <furnitureFooterInformation>
      <Value><![CDATA[]]></Value>
    </furnitureFooterInformation>
    <furnitureFooterMenu>
      <Value><![CDATA[]]></Value>
    </furnitureFooterMenu>
    <furnitureFooterMessage>
      <Value><![CDATA[]]></Value>
    </furnitureFooterMessage>
    <furnitureFooterSocialMediaLinks>
      <Value><![CDATA[]]></Value>
    </furnitureFooterSocialMediaLinks>
    <furnitureFooterSubtheme>
      <Value><![CDATA[]]></Value>
    </furnitureFooterSubtheme>
    <furnitureFooterThemeShade>
      <Value><![CDATA[]]></Value>
    </furnitureFooterThemeShade>
    <furnitureHeaderColor>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderColor>
    <furnitureHeaderMenu>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderMenu>
    <furnitureHeaderMenuPosition>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderMenuPosition>
    <furnitureHeaderSticky>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderSticky>
    <furnitureHeaderSubtheme>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderSubtheme>
    <furnitureHeaderThemeShade>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderThemeShade>
    <furnitureLogoImage>
      <Value><![CDATA[]]></Value>
    </furnitureLogoImage>
    <furnitureLogoRatio>
      <Value><![CDATA[]]></Value>
    </furnitureLogoRatio>
    <furniturePageTitlePromote>
      <Value><![CDATA[]]></Value>
    </furniturePageTitlePromote>
    <PageTitleSubtheme>
      <Value><![CDATA[]]></Value>
    </PageTitleSubtheme>
    <furniturePageTitleThemeShade>
      <Value><![CDATA[]]></Value>
    </furniturePageTitleThemeShade>
    <furnitureShowAllServices>
      <Value><![CDATA[1]]></Value>
    </furnitureShowAllServices>
    <furnitureShowHeaderMenuOnLargerDevices>
      <Value><![CDATA[]]></Value>
    </furnitureShowHeaderMenuOnLargerDevices>
    <furnitureShowHeaderMenuOnSmallerDevices>
      <Value><![CDATA[]]></Value>
    </furnitureShowHeaderMenuOnSmallerDevices>
    <furnitureShowSearchBar>
      <Value><![CDATA[1]]></Value>
    </furnitureShowSearchBar>
    <furnitureStatus>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureStatus>
    <keywords>
      <Value><![CDATA[preston]]></Value>
    </keywords>
    <pageHeader>
      <Value><![CDATA[]]></Value>
    </pageHeader>
    <pageSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </pageSubtheme>
    <pageTheme>
      <Value><![CDATA[Inherit]]></Value>
    </pageTheme>
    <pageThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </pageThemeShade>
    <reviewComments>
      <Value><![CDATA[]]></Value>
    </reviewComments>
    <reviewDate>
      <Value><![CDATA[]]></Value>
    </reviewDate>
    <reviewGroup>
      <Value><![CDATA[]]></Value>
    </reviewGroup>
    <reviewStatus>
      <Value><![CDATA[Inherit]]></Value>
    </reviewStatus>
    <seoAbstract>
      <Value><![CDATA[]]></Value>
    </seoAbstract>
    <seoCanonicalUrl>
      <Value><![CDATA[]]></Value>
    </seoCanonicalUrl>
    <seoDatePublished>
      <Value><![CDATA[]]></Value>
    </seoDatePublished>
    <seoDescription>
      <Value><![CDATA[About Lancashire]]></Value>
    </seoDescription>
    <seoPriority>
      <Value><![CDATA[10]]></Value>
    </seoPriority>
    <seoPromotedSearchTerms>
      <Value><![CDATA[]]></Value>
    </seoPromotedSearchTerms>
    <seoStatus>
      <Value><![CDATA[Inherit]]></Value>
    </seoStatus>
    <seoThumbnail>
      <Value><![CDATA[[
  {
    "key": "5dcca3c5-b4ce-48f9-a9af-5d0aee1dd9f0",
    "mediaKey": "54d9be0d-bd3c-490c-9bfd-0336f0d2eb74",
    "mediaTypeAlias": "editorImage",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </seoThumbnail>
    <subfooterColor>
      <Value><![CDATA[]]></Value>
    </subfooterColor>
    <subfooterShowLastUpdatedDate>
      <Value><![CDATA[]]></Value>
    </subfooterShowLastUpdatedDate>
    <subfooterShowNextReviewDate>
      <Value><![CDATA[]]></Value>
    </subfooterShowNextReviewDate>
    <subfooterShowReturnToTopIcon>
      <Value><![CDATA[]]></Value>
    </subfooterShowReturnToTopIcon>
    <subfooterStatus>
      <Value><![CDATA[Inherit]]></Value>
    </subfooterStatus>
    <title>
      <Value><![CDATA[About Lancashire County Council]]></Value>
    </title>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <virtualAgentInstall>
      <Value><![CDATA[]]></Value>
    </virtualAgentInstall>
    <virtualAgentStatus>
      <Value><![CDATA[Inherit]]></Value>
    </virtualAgentStatus>
  </Properties>
</Content>