<?xml version="1.0" encoding="utf-8"?>
<Content Key="e4aeb05e-0121-4ba8-b27b-bbb314ffd26c" Alias="Adult" Level="4">
  <Info>
    <Parent Key="9b8926c8-2c65-42a4-b181-55acb7877b00">A</Parent>
    <Path>/GlobalData/Categories/A/Adult</Path>
    <Trashed>false</Trashed>
    <ContentType>categoryData</ContentType>
    <CreateDate>2025-10-09T16:25:34</CreateDate>
    <NodeName Default="Adult" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
  </Properties>
</Content>