<?xml version="1.0" encoding="utf-8"?>
<Content Key="113441af-083b-4b33-a05d-c3a4cb308a3f" Alias="Alcohol" Level="4">
  <Info>
    <Parent Key="9b8926c8-2c65-42a4-b181-55acb7877b00">A</Parent>
    <Path>/GlobalData/Categories/A/Alcohol</Path>
    <Trashed>false</Trashed>
    <ContentType>categoryData</ContentType>
    <CreateDate>2025-10-09T16:25:46</CreateDate>
    <NodeName Default="Alcohol" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
  </Properties>
</Content>