<?xml version="1.0" encoding="utf-8"?>
<Content Key="a5edfa5e-ae88-4978-bec7-257b2385d9ae" Alias="B" Level="3">
  <Info>
    <Parent Key="cc9afc30-be07-4a56-8beb-ce5b702bcec0">Categories</Parent>
    <Path>/GlobalData/Categories/B</Path>
    <Trashed>false</Trashed>
    <ContentType>categoryHeaderData</ContentType>
    <CreateDate>2025-10-09T16:24:48</CreateDate>
    <NodeName Default="B" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <headingDescription>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EDisplay groups begining with the letter B\u003C/p\u003E"
}]]></Value>
    </headingDescription>
    <headingDescriptionStatus>
      <Value><![CDATA[Show]]></Value>
    </headingDescriptionStatus>
  </Properties>
</Content>