<?xml version="1.0" encoding="utf-8"?>
<Content Key="85adf5d6-8ea0-4ecf-8245-09d4d6439fde" Alias="Bins" Level="4">
  <Info>
    <Parent Key="a5edfa5e-ae88-4978-bec7-257b2385d9ae">B</Parent>
    <Path>/GlobalData/Categories/B/Bins</Path>
    <Trashed>false</Trashed>
    <ContentType>categoryData</ContentType>
    <CreateDate>2025-10-09T16:26:15</CreateDate>
    <NodeName Default="Bins" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
  </Properties>
</Content>