<?xml version="1.0" encoding="utf-8"?>
<Content Key="d860070f-dbc5-497d-9c21-8894269f42b2" Alias="Bus Routes" Level="2">
  <Info>
    <Parent Key="e1917996-37c0-41ce-a511-0c5de3670b27">Global Data</Parent>
    <Path>/GlobalData/BusRoutes</Path>
    <Trashed>false</Trashed>
    <ContentType>busRoutesData</ContentType>
    <CreateDate>2025-09-04T15:42:38</CreateDate>
    <NodeName Default="Bus Routes" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <label>
      <Value><![CDATA[]]></Value>
    </label>
  </Properties>
</Content>