<?xml version="1.0" encoding="utf-8"?>
<Content Key="162c424d-36dc-418e-8435-6d96bc0e009e" Alias="D" Level="3">
  <Info>
    <Parent Key="cc9afc30-be07-4a56-8beb-ce5b702bcec0">Categories</Parent>
    <Path>/GlobalData/Categories/D</Path>
    <Trashed>false</Trashed>
    <ContentType>categoryHeaderData</ContentType>
    <CreateDate>2025-10-10T10:57:49</CreateDate>
    <NodeName Default="D" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <headingDescription>
      <Value><![CDATA[]]></Value>
    </headingDescription>
    <headingDescriptionStatus>
      <Value><![CDATA[]]></Value>
    </headingDescriptionStatus>
  </Properties>
</Content>