<?xml version="1.0" encoding="utf-8"?>
<Content Key="90263a85-9be6-429b-a5b3-67e9682bfcca" Alias="Data" Level="4">
  <Info>
    <Parent Key="162c424d-36dc-418e-8435-6d96bc0e009e">D</Parent>
    <Path>/GlobalData/Categories/D/Data</Path>
    <Trashed>false</Trashed>
    <ContentType>categoryData</ContentType>
    <CreateDate>2025-10-10T10:57:58</CreateDate>
    <NodeName Default="Data" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
  </Properties>
</Content>