<?xml version="1.0" encoding="utf-8"?>
<Content Key="59882f7e-a410-4479-a5db-1a5c88079fcd" Alias="Devonshire House, Chorley" Level="5">
  <Info>
    <Parent Key="69243762-2fe7-484f-8983-6c3828a533bd">Registration office ceremony venues</Parent>
    <Path>/lancashiregovuk/Home/BirthsMarriagesCivilPartnershipsAndDeaths/RegistrationOfficeCeremonyVenues/DevonshireHouseChorley</Path>
    <Trashed>false</Trashed>
    <ContentType>editorPage</ContentType>
    <CreateDate>2025-08-27T19:19:47</CreateDate>
    <NodeName Default="Devonshire House, Chorley" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cbebb994-250c-4f99-ab85-8e38616efb0c">Editor</Template>
  </Info>
  <Properties>
    <alertStatus>
      <Value><![CDATA[Inherit]]></Value>
    </alertStatus>
    <alertText>
      <Value><![CDATA[]]></Value>
    </alertText>
    <alertTitle>
      <Value><![CDATA[]]></Value>
    </alertTitle>
    <alertType>
      <Value><![CDATA[]]></Value>
    </alertType>
    <asideContent>
      <Value><![CDATA[]]></Value>
    </asideContent>
    <asideFixed>
      <Value><![CDATA[]]></Value>
    </asideFixed>
    <asideOffset>
      <Value><![CDATA[]]></Value>
    </asideOffset>
    <asideStatus>
      <Value><![CDATA[Hide]]></Value>
    </asideStatus>
    <bannerContent>
      <Value><![CDATA[]]></Value>
    </bannerContent>
    <bannerHeroImage>
      <Value><![CDATA[]]></Value>
    </bannerHeroImage>
    <bannerStatus>
      <Value><![CDATA[Hide]]></Value>
    </bannerStatus>
    <body>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "9cd1f41e-8db7-498b-a4f1-db27180a4728",
      "key": "f818d208-9b24-4a4e-8a33-f85473a0e57f",
      "udi": null,
      "values": [
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Intro-text"
        },
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EThe ceremony room at Chorley Registration Office offers couples the intimate atmosphere of a well decorated room, which can seat 66 guests and is fully accessible to meet the needs of people with reduced mobility.\u003C/p\u003E"
          }
        },
        {
          "alias": "mainTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EAbout the venue\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "9410cad4-5e54-4972-97a0-5113edfaf7b3",
      "key": "15dc65d7-f55d-4664-a3ee-9990c9533296",
      "udi": null,
      "values": [
        {
          "alias": "code",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u003Ca data-flickr-embed=\u0022true\u0022 href=\u0022https://www.flickr.com/photos/lancashirecc/albums/72177720313941896\u0022 title=\u0022Chorley ceremony room - registrars\u0022\u003E\u003Cimg src=\u0022https://live.staticflickr.com/65535/53455033213_1d6bb2a05e_z.jpg\u0022 width=\u0022100%\u0022 alt=\u0022Chorley ceremony room - registrars\u0022/\u003E\u003C/a\u003E\u003Cscript async src=\u0022//embedr.flickr.com/assets/client-code.js\u0022 charset=\u0022utf-8\u0022\u003E\u003C/script\u003E"
        },
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "mainTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EDevonshire House photo gallery\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Flicker-Gallery"
        }
      ]
    },
    {
      "contentTypeKey": "2ea5fd1d-c3fa-4161-befa-44e3a8ff88e2",
      "key": "54550782-5dff-4803-8b54-8394a9d9ad9f",
      "udi": null,
      "values": [
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Ceremony-times"
        },
        {
          "alias": "mainTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003ECeremony times\u003C/p\u003E"
          }
        },
        {
          "alias": "times",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "3ababe53-a528-4533-ba2d-e1c779bbdeaf",
                "key": "8162b380-4c61-4291-b2e5-cd6a5ff10529",
                "udi": null,
                "values": [
                  {
                    "alias": "day",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "Monday"
                    ]
                  },
                  {
                    "alias": "open",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "09:45"
                  },
                  {
                    "alias": "close",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "16:00"
                  }
                ]
              },
              {
                "contentTypeKey": "3ababe53-a528-4533-ba2d-e1c779bbdeaf",
                "key": "abae7919-1f89-465f-8c78-b82898d48713",
                "udi": null,
                "values": [
                  {
                    "alias": "day",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "Tuesday"
                    ]
                  },
                  {
                    "alias": "open",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "10:00"
                  },
                  {
                    "alias": "close",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "16:00"
                  }
                ]
              },
              {
                "contentTypeKey": "3ababe53-a528-4533-ba2d-e1c779bbdeaf",
                "key": "66408b6f-e054-42ed-856c-bf1cef8f356c",
                "udi": null,
                "values": [
                  {
                    "alias": "day",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "Wednesday"
                    ]
                  },
                  {
                    "alias": "open",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "10:00"
                  },
                  {
                    "alias": "close",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "16:00"
                  }
                ]
              },
              {
                "contentTypeKey": "3ababe53-a528-4533-ba2d-e1c779bbdeaf",
                "key": "d7a34891-206b-4aa3-9c60-c91a4909a23d",
                "udi": null,
                "values": [
                  {
                    "alias": "day",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "Thursday"
                    ]
                  },
                  {
                    "alias": "open",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "10:00"
                  },
                  {
                    "alias": "close",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "19:00"
                  }
                ]
              },
              {
                "contentTypeKey": "3ababe53-a528-4533-ba2d-e1c779bbdeaf",
                "key": "bbd4cf21-8587-43e5-a3fc-236021afb125",
                "udi": null,
                "values": [
                  {
                    "alias": "day",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "Friday"
                    ]
                  },
                  {
                    "alias": "open",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "10:00"
                  },
                  {
                    "alias": "close",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "19:00"
                  }
                ]
              },
              {
                "contentTypeKey": "3ababe53-a528-4533-ba2d-e1c779bbdeaf",
                "key": "3122d022-77d3-4e72-8d42-3b750361ae89",
                "udi": null,
                "values": [
                  {
                    "alias": "day",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "Saturday"
                    ]
                  },
                  {
                    "alias": "open",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "10:00"
                  },
                  {
                    "alias": "close",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "19:00"
                  }
                ]
              },
              {
                "contentTypeKey": "3ababe53-a528-4533-ba2d-e1c779bbdeaf",
                "key": "b680f82c-2013-474c-855b-0194faa003aa",
                "udi": null,
                "values": [
                  {
                    "alias": "day",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "Sunday"
                    ]
                  },
                  {
                    "alias": "open",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "10:00"
                  },
                  {
                    "alias": "close",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "17:00"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "8162b380-4c61-4291-b2e5-cd6a5ff10529",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "abae7919-1f89-465f-8c78-b82898d48713",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "66408b6f-e054-42ed-856c-bf1cef8f356c",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "d7a34891-206b-4aa3-9c60-c91a4909a23d",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "bbd4cf21-8587-43e5-a3fc-236021afb125",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "3122d022-77d3-4e72-8d42-3b750361ae89",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "b680f82c-2013-474c-855b-0194faa003aa",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "8162b380-4c61-4291-b2e5-cd6a5ff10529",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "abae7919-1f89-465f-8c78-b82898d48713",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "66408b6f-e054-42ed-856c-bf1cef8f356c",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "d7a34891-206b-4aa3-9c60-c91a4909a23d",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "bbd4cf21-8587-43e5-a3fc-236021afb125",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "3122d022-77d3-4e72-8d42-3b750361ae89",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "b680f82c-2013-474c-855b-0194faa003aa",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "9cd1f41e-8db7-498b-a4f1-db27180a4728",
      "key": "dd87dd18-f695-45a7-bcaf-fb96893297ae",
      "udi": null,
      "values": [
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Text-car-parking"
        },
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "mainTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003ECar parking\u003C/p\u003E"
          }
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EThere is a Pay and Display car park next to the building on West Street. \u003C/p\u003E\u003Cp\u003EThe car park has accessible parking spaces. Find details of car parks in Chorley.\u003C/p\u003E\u003Ch3\u003EContact information\u003C/h3\u003E\u003Cp\u003ETelephone: 0300 123 6705\u003C/p\u003E\u003Cp\u003E Email: \u003Ca target=\u0022\u0022 data-router-slot=\u0022disabled\u0022 href=\u0022mailto:Chorley.Registrars@lancashire.gov.uk\u0022 type=\u0022external\u0022\u003EChorley.Registrars@lancashire.gov.uk\u003C/a\u003E\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "55023e89-519f-47a1-b9ff-d4198467e6c5",
      "key": "82f42d25-7801-4477-90af-e860faae3047",
      "udi": null,
      "values": [
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Map"
        },
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "mainTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EMap\u003C/p\u003E"
          }
        },
        {
          "alias": "mapType",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Standard"
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "31095fb6-f9a3-4bb1-b559-d353a1ff0e92",
      "key": "10d9d92b-1993-4019-a022-f00ed79ea610",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "966b24e5-650b-4a31-b8a5-d1ead8bc675c",
      "key": "ab49cef1-7566-40ae-9a81-efedd6f7eadf",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "38d28af9-85ee-41b1-9b31-233620b1b990",
      "key": "362ef5df-bec0-4d05-ad9e-584966d74bb5",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "31095fb6-f9a3-4bb1-b559-d353a1ff0e92",
      "key": "0a084ca4-bbb9-4c54-b2f6-1efba9917718",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "18b3a798-7076-47dc-8cef-da2c5dbd4ec1",
      "key": "7f583618-7609-4c29-a73b-32e1050856e4",
      "udi": null,
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "f818d208-9b24-4a4e-8a33-f85473a0e57f",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "15dc65d7-f55d-4664-a3ee-9990c9533296",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "54550782-5dff-4803-8b54-8394a9d9ad9f",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "dd87dd18-f695-45a7-bcaf-fb96893297ae",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "82f42d25-7801-4477-90af-e860faae3047",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "f818d208-9b24-4a4e-8a33-f85473a0e57f",
        "contentUdi": null,
        "settingsKey": "10d9d92b-1993-4019-a022-f00ed79ea610",
        "settingsUdi": null
      },
      {
        "contentKey": "54550782-5dff-4803-8b54-8394a9d9ad9f",
        "contentUdi": null,
        "settingsKey": "362ef5df-bec0-4d05-ad9e-584966d74bb5",
        "settingsUdi": null
      },
      {
        "contentKey": "dd87dd18-f695-45a7-bcaf-fb96893297ae",
        "contentUdi": null,
        "settingsKey": "0a084ca4-bbb9-4c54-b2f6-1efba9917718",
        "settingsUdi": null
      },
      {
        "contentKey": "82f42d25-7801-4477-90af-e860faae3047",
        "contentUdi": null,
        "settingsKey": "7f583618-7609-4c29-a73b-32e1050856e4",
        "settingsUdi": null
      },
      {
        "contentKey": "15dc65d7-f55d-4664-a3ee-9990c9533296",
        "contentUdi": null,
        "settingsKey": "ab49cef1-7566-40ae-9a81-efedd6f7eadf",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </body>
    <categories>
      <Value><![CDATA[]]></Value>
    </categories>
    <furnitureBreadcrumbsColor>
      <Value><![CDATA[]]></Value>
    </furnitureBreadcrumbsColor>
    <furnitureBreadcrumbStatus>
      <Value><![CDATA[]]></Value>
    </furnitureBreadcrumbStatus>
    <furnitureBreadcrumbSubtheme>
      <Value><![CDATA[]]></Value>
    </furnitureBreadcrumbSubtheme>
    <furnitureBreadcrumbThemeShade>
      <Value><![CDATA[]]></Value>
    </furnitureBreadcrumbThemeShade>
    <furnitureFooterColor>
      <Value><![CDATA[]]></Value>
    </furnitureFooterColor>
    <furnitureFooterInformation>
      <Value><![CDATA[]]></Value>
    </furnitureFooterInformation>
    <furnitureFooterMenu>
      <Value><![CDATA[]]></Value>
    </furnitureFooterMenu>
    <furnitureFooterMessage>
      <Value><![CDATA[]]></Value>
    </furnitureFooterMessage>
    <furnitureFooterSocialMediaLinks>
      <Value><![CDATA[]]></Value>
    </furnitureFooterSocialMediaLinks>
    <furnitureFooterSubtheme>
      <Value><![CDATA[]]></Value>
    </furnitureFooterSubtheme>
    <furnitureFooterThemeShade>
      <Value><![CDATA[]]></Value>
    </furnitureFooterThemeShade>
    <furnitureHeaderColor>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderColor>
    <furnitureHeaderMenu>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderMenu>
    <furnitureHeaderMenuPosition>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderMenuPosition>
    <furnitureHeaderSticky>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderSticky>
    <furnitureHeaderSubtheme>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderSubtheme>
    <furnitureHeaderThemeShade>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderThemeShade>
    <furnitureLogoImage>
      <Value><![CDATA[]]></Value>
    </furnitureLogoImage>
    <furnitureLogoRatio>
      <Value><![CDATA[]]></Value>
    </furnitureLogoRatio>
    <furniturePageTitlePromote>
      <Value><![CDATA[]]></Value>
    </furniturePageTitlePromote>
    <PageTitleSubtheme>
      <Value><![CDATA[]]></Value>
    </PageTitleSubtheme>
    <furniturePageTitleThemeShade>
      <Value><![CDATA[]]></Value>
    </furniturePageTitleThemeShade>
    <furnitureShowAllServices>
      <Value><![CDATA[]]></Value>
    </furnitureShowAllServices>
    <furnitureShowHeaderMenuOnLargerDevices>
      <Value><![CDATA[]]></Value>
    </furnitureShowHeaderMenuOnLargerDevices>
    <furnitureShowHeaderMenuOnSmallerDevices>
      <Value><![CDATA[]]></Value>
    </furnitureShowHeaderMenuOnSmallerDevices>
    <furnitureShowSearchBar>
      <Value><![CDATA[]]></Value>
    </furnitureShowSearchBar>
    <furnitureStatus>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureStatus>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <pageHeader>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EDevonshire House, Chorley\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E"
}]]></Value>
    </pageHeader>
    <pageSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </pageSubtheme>
    <pageTheme>
      <Value><![CDATA[Inherit]]></Value>
    </pageTheme>
    <pageThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </pageThemeShade>
    <reviewComments>
      <Value><![CDATA[]]></Value>
    </reviewComments>
    <reviewDate>
      <Value><![CDATA[]]></Value>
    </reviewDate>
    <reviewGroup>
      <Value><![CDATA[]]></Value>
    </reviewGroup>
    <reviewStatus>
      <Value><![CDATA[Inherit]]></Value>
    </reviewStatus>
    <seoAbstract>
      <Value><![CDATA[]]></Value>
    </seoAbstract>
    <seoCanonicalUrl>
      <Value><![CDATA[]]></Value>
    </seoCanonicalUrl>
    <seoDatePublished>
      <Value><![CDATA[]]></Value>
    </seoDatePublished>
    <seoDescription>
      <Value><![CDATA[]]></Value>
    </seoDescription>
    <seoPriority>
      <Value><![CDATA[]]></Value>
    </seoPriority>
    <seoPromotedSearchTerms>
      <Value><![CDATA[]]></Value>
    </seoPromotedSearchTerms>
    <seoStatus>
      <Value><![CDATA[Enable]]></Value>
    </seoStatus>
    <seoThumbnail>
      <Value><![CDATA[]]></Value>
    </seoThumbnail>
    <subfooterColor>
      <Value><![CDATA[]]></Value>
    </subfooterColor>
    <subfooterShowLastUpdatedDate>
      <Value><![CDATA[]]></Value>
    </subfooterShowLastUpdatedDate>
    <subfooterShowNextReviewDate>
      <Value><![CDATA[]]></Value>
    </subfooterShowNextReviewDate>
    <subfooterShowReturnToTopIcon>
      <Value><![CDATA[]]></Value>
    </subfooterShowReturnToTopIcon>
    <subfooterStatus>
      <Value><![CDATA[Inherit]]></Value>
    </subfooterStatus>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <virtualAgentInstall>
      <Value><![CDATA[]]></Value>
    </virtualAgentInstall>
    <virtualAgentStatus>
      <Value><![CDATA[Inherit]]></Value>
    </virtualAgentStatus>
  </Properties>
</Content>