<?xml version="1.0" encoding="utf-8"?>
<Content Key="aa4ff52e-0d35-4792-9a46-8580c3eb30fb" Alias="ebooks" Level="4">
  <Info>
    <Parent Key="7e7251d0-d4b6-43cd-802e-2bf69e3ac462">E</Parent>
    <Path>/GlobalData/Categories/E/ebooks</Path>
    <Trashed>false</Trashed>
    <ContentType>categoryData</ContentType>
    <CreateDate>2025-11-25T15:20:07</CreateDate>
    <NodeName Default="ebooks" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
  </Properties>
</Content>