<?xml version="1.0" encoding="utf-8"?>
<Content Key="afffc6f4-28cb-4de6-ae67-0400f8b4c7c5" Alias="Feeds" Level="2">
  <Info>
    <Parent Key="e1917996-37c0-41ce-a511-0c5de3670b27">Global Data</Parent>
    <Path>/GlobalData/Feeds</Path>
    <Trashed>false</Trashed>
    <ContentType>rssFeedsData</ContentType>
    <CreateDate>2025-08-27T20:46:37</CreateDate>
    <NodeName Default="Feeds" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <label>
      <Value><![CDATA[]]></Value>
    </label>
  </Properties>
</Content>