<?xml version="1.0" encoding="utf-8"?>
<Content Key="722bcc9b-df36-4c15-b677-22f3f037a0b0" Alias="Flooding" Level="4">
  <Info>
    <Parent Key="d55a5555-02da-442b-980a-1fdd0320710c">F</Parent>
    <Path>/GlobalData/Categories/F/Flooding</Path>
    <Trashed>false</Trashed>
    <ContentType>categoryData</ContentType>
    <CreateDate>2025-11-25T15:20:30</CreateDate>
    <NodeName Default="Flooding" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
  </Properties>
</Content>