<?xml version="1.0" encoding="utf-8"?>
<Content Key="a848d4c6-8702-4711-b54f-ea9c1fc67c98" Alias="G" Level="3">
  <Info>
    <Parent Key="cc9afc30-be07-4a56-8beb-ce5b702bcec0">Categories</Parent>
    <Path>/GlobalData/Categories/G</Path>
    <Trashed>false</Trashed>
    <ContentType>categoryHeaderData</ContentType>
    <CreateDate>2025-11-25T15:20:37</CreateDate>
    <NodeName Default="G" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <headingDescription>
      <Value><![CDATA[]]></Value>
    </headingDescription>
    <headingDescriptionStatus>
      <Value><![CDATA[Inherit]]></Value>
    </headingDescriptionStatus>
  </Properties>
</Content>