<?xml version="1.0" encoding="utf-8"?>
<Content Key="9228f8d6-359e-4b7b-882a-f1abe97094c2" Alias="Google" Level="3">
  <Info>
    <Parent Key="8df9a79d-b97a-4567-a573-cd4565932cf7">Home</Parent>
    <Path>/lancashiregovuk/Home/Google</Path>
    <Trashed>false</Trashed>
    <ContentType>redirectPage</ContentType>
    <CreateDate>2025-09-02T14:09:42</CreateDate>
    <NodeName Default="Google" />
    <SortOrder>25</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <redirect>
      <Value><![CDATA[[
  {
    "name": "Google",
    "target": null,
    "udi": null,
    "url": "https://google.com",
    "queryString": null
  }
]]]></Value>
    </redirect>
    <seoAbstract>
      <Value><![CDATA[]]></Value>
    </seoAbstract>
    <seoCanonicalUrl>
      <Value><![CDATA[]]></Value>
    </seoCanonicalUrl>
    <seoDatePublished>
      <Value><![CDATA[]]></Value>
    </seoDatePublished>
    <seoDescription>
      <Value><![CDATA[]]></Value>
    </seoDescription>
    <seoPriority>
      <Value><![CDATA[]]></Value>
    </seoPriority>
    <seoPromotedSearchTerms>
      <Value><![CDATA[]]></Value>
    </seoPromotedSearchTerms>
    <seoStatus>
      <Value><![CDATA[]]></Value>
    </seoStatus>
    <seoThumbnail>
      <Value><![CDATA[]]></Value>
    </seoThumbnail>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
  </Properties>
</Content>