<?xml version="1.0" encoding="utf-8"?>
<Content Key="145923b2-bee6-4acf-8ab7-24949755717e" Alias="Grants" Level="4">
  <Info>
    <Parent Key="a848d4c6-8702-4711-b54f-ea9c1fc67c98">G</Parent>
    <Path>/GlobalData/Categories/G/Grants</Path>
    <Trashed>false</Trashed>
    <ContentType>categoryData</ContentType>
    <CreateDate>2025-11-25T15:20:47</CreateDate>
    <NodeName Default="Grants" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
  </Properties>
</Content>