<?xml version="1.0" encoding="utf-8"?>
<Content Key="c5ae8b2c-6a0e-4a77-8ace-2c9239b96793" Alias="I" Level="3">
  <Info>
    <Parent Key="cc9afc30-be07-4a56-8beb-ce5b702bcec0">Categories</Parent>
    <Path>/GlobalData/Categories/I</Path>
    <Trashed>false</Trashed>
    <ContentType>categoryHeaderData</ContentType>
    <CreateDate>2025-11-25T15:21:20</CreateDate>
    <NodeName Default="I" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <headingDescription>
      <Value><![CDATA[]]></Value>
    </headingDescription>
    <headingDescriptionStatus>
      <Value><![CDATA[Inherit]]></Value>
    </headingDescriptionStatus>
  </Properties>
</Content>