<?xml version="1.0" encoding="utf-8"?>
<Content Key="109303db-dcf4-4380-8270-4c6c44fd06d5" Alias="K" Level="3">
  <Info>
    <Parent Key="cc9afc30-be07-4a56-8beb-ce5b702bcec0">Categories</Parent>
    <Path>/GlobalData/Categories/K</Path>
    <Trashed>false</Trashed>
    <ContentType>categoryHeaderData</ContentType>
    <CreateDate>2025-11-25T15:22:02</CreateDate>
    <NodeName Default="K" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <headingDescription>
      <Value><![CDATA[]]></Value>
    </headingDescription>
    <headingDescriptionStatus>
      <Value><![CDATA[Inherit]]></Value>
    </headingDescriptionStatus>
  </Properties>
</Content>