<?xml version="1.0" encoding="utf-8"?>
<Content Key="aeaa3118-aaea-4573-acc6-db96adc70258" Alias="Linked List" Level="4">
  <Info>
    <Parent Key="945cc2f0-d5eb-4356-9de9-48a9bc36e077">Test Content</Parent>
    <Path>/lancashiregovuk/Home/TestContent/LinkedList</Path>
    <Trashed>false</Trashed>
    <ContentType>editorPage</ContentType>
    <CreateDate>2025-03-21T08:28:37</CreateDate>
    <NodeName Default="Linked List" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cbebb994-250c-4f99-ab85-8e38616efb0c">Editor</Template>
  </Info>
  <Properties>
    <alertStatus>
      <Value><![CDATA[Inherit]]></Value>
    </alertStatus>
    <alertText>
      <Value><![CDATA[]]></Value>
    </alertText>
    <alertTitle>
      <Value><![CDATA[]]></Value>
    </alertTitle>
    <alertType>
      <Value><![CDATA[]]></Value>
    </alertType>
    <asideContent>
      <Value><![CDATA[]]></Value>
    </asideContent>
    <asideFixed>
      <Value><![CDATA[]]></Value>
    </asideFixed>
    <asideOffset>
      <Value><![CDATA[]]></Value>
    </asideOffset>
    <asideStatus>
      <Value><![CDATA[Inherit]]></Value>
    </asideStatus>
    <bannerContent>
      <Value><![CDATA[]]></Value>
    </bannerContent>
    <bannerHeroImage>
      <Value><![CDATA[]]></Value>
    </bannerHeroImage>
    <bannerStatus>
      <Value><![CDATA[Inherit]]></Value>
    </bannerStatus>
    <body>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "69021ede-3114-43b4-96c8-5d2c66e7ebd1",
      "key": "dc65708a-6030-4cf5-890d-efbd4d859c7f",
      "udi": null,
      "values": [
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Link list of web pages"
        },
        {
          "alias": "mainTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "Link list of web pages"
          }
        },
        {
          "alias": "listBlocks",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "a7d6bfa0-76ad-477c-b8be-a936c05eface",
                "key": "189c0485-4c76-44f8-96c4-b1120354ee9f",
                "udi": null,
                "values": []
              }
            ],
            "settingsData": [
              {
                "contentTypeKey": "05c5e544-b88c-497f-975c-60d95b83bd77",
                "key": "1160ae77-e55f-4b1f-8fcd-b91f635c76aa",
                "udi": null,
                "values": [
                  {
                    "alias": "order",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "A to Z"
                    ]
                  },
                  {
                    "alias": "styleImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "styleHeader",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "styleText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  }
                ]
              }
            ],
            "expose": [
              {
                "contentKey": "189c0485-4c76-44f8-96c4-b1120354ee9f",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "189c0485-4c76-44f8-96c4-b1120354ee9f",
                  "contentUdi": "umb://element/189c04854c7644f896c4b1120354ee9f",
                  "settingsKey": "1160ae77-e55f-4b1f-8fcd-b91f635c76aa",
                  "settingsUdi": "umb://element/1160ae77e55f4b1f8fcdb91f635c76aa"
                }
              ]
            }
          }
        },
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "mainLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "69021ede-3114-43b4-96c8-5d2c66e7ebd1",
      "key": "1a1a7c9f-42fe-4daa-97a3-dbf8833b6d86",
      "udi": null,
      "values": [
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Media"
        },
        {
          "alias": "mainTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "Media"
          }
        },
        {
          "alias": "mainLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "listBlocks",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "1b640ac6-7d39-40a9-99e3-bc1a78cd5f7f",
                "key": "c61c3e4e-33e4-4e6b-89b1-198c741a407e",
                "udi": null,
                "values": [
                  {
                    "alias": "mediaItems",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "68dbb86c-2f7d-4a70-a999-3b32982ef463",
                        "mediaKey": "1294db93-d60f-424b-a255-5a7a11353f29",
                        "mediaTypeAlias": "editorImage",
                        "crops": [],
                        "focalPoint": null
                      },
                      {
                        "key": "68851b75-8b47-4289-a715-ae7503417c0d",
                        "mediaKey": "34d3ec74-2b62-4a14-82bc-57ff7658913b",
                        "mediaTypeAlias": "editorImage",
                        "crops": [],
                        "focalPoint": null
                      },
                      {
                        "key": "9e596718-a868-406f-83ea-8debf6394e99",
                        "mediaKey": "b6851466-4a3e-4f56-8304-cf2ae315e2ff",
                        "mediaTypeAlias": "editorImage",
                        "crops": [],
                        "focalPoint": null
                      },
                      {
                        "key": "14047c75-e63d-493a-a236-5ca3a6ca15df",
                        "mediaKey": "7b047700-cf64-4426-9493-4b5f3c72903b",
                        "mediaTypeAlias": "editorImage",
                        "crops": [],
                        "focalPoint": null
                      },
                      {
                        "key": "012bd08b-52ca-4783-9a61-479dea963aa9",
                        "mediaKey": "932ec307-2271-4be7-904a-4ae1b85a19c7",
                        "mediaTypeAlias": "editorTableSource",
                        "crops": [],
                        "focalPoint": null
                      },
                      {
                        "key": "05bed4d0-a81f-40c4-8e74-f00b0b36f7a3",
                        "mediaKey": "0f53a373-2e0d-4b53-88fc-3b4ce5a34267",
                        "mediaTypeAlias": "editorTableSource",
                        "crops": [],
                        "focalPoint": null
                      },
                      {
                        "key": "276c5f95-44d3-41de-83b2-b2d0026828d9",
                        "mediaKey": "7f235d5a-d56e-4014-99d5-d1b22e1a3bab",
                        "mediaTypeAlias": "editorTableSource",
                        "crops": [],
                        "focalPoint": null
                      },
                      {
                        "key": "5934a8da-e0ca-4061-b053-49f553ec74fa",
                        "mediaKey": "7d5ca0d0-5603-42f9-9a23-67c27788e6bb",
                        "mediaTypeAlias": "editorVideo",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [
              {
                "contentTypeKey": "f1e9424a-1d32-44e4-8ded-23259205ec36",
                "key": "fe9b2b1a-6d00-4cfe-8e09-e9d007c8c52a",
                "udi": null,
                "values": [
                  {
                    "alias": "download",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  },
                  {
                    "alias": "styleImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "Hide"
                    ]
                  },
                  {
                    "alias": "styleHeader",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "Hide"
                    ]
                  },
                  {
                    "alias": "styleText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "Hide"
                    ]
                  },
                  {
                    "alias": "styleAction",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "Link with Icon"
                    ]
                  },
                  {
                    "alias": "order",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "A to Z"
                    ]
                  }
                ]
              }
            ],
            "expose": [
              {
                "contentKey": "c61c3e4e-33e4-4e6b-89b1-198c741a407e",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "c61c3e4e-33e4-4e6b-89b1-198c741a407e",
                  "contentUdi": "umb://element/c61c3e4e33e44e6b89b1198c741a407e",
                  "settingsKey": "fe9b2b1a-6d00-4cfe-8e09-e9d007c8c52a",
                  "settingsUdi": "umb://element/fe9b2b1a6d004cfe8e09e9d007c8c52a"
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "81e44a54-ba00-4100-b7a1-14d73a691ab9",
      "key": "72d24c75-6ae6-4122-9d0a-a01d2c83d07b",
      "udi": null,
      "values": [
        {
          "alias": "maxColumns",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "styleAction",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Link with Icon"
          ]
        }
      ]
    },
    {
      "contentTypeKey": "81e44a54-ba00-4100-b7a1-14d73a691ab9",
      "key": "8eeff3ef-99db-4cc7-92ce-afd238cc2772",
      "udi": null,
      "values": [
        {
          "alias": "maxColumns",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "styleAction",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "dc65708a-6030-4cf5-890d-efbd4d859c7f",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "1a1a7c9f-42fe-4daa-97a3-dbf8833b6d86",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "dc65708a-6030-4cf5-890d-efbd4d859c7f",
        "contentUdi": "umb://element/dc65708a60304cf5890defbd4d859c7f",
        "settingsKey": "72d24c75-6ae6-4122-9d0a-a01d2c83d07b",
        "settingsUdi": "umb://element/72d24c756ae641229d0aa01d2c83d07b"
      },
      {
        "contentKey": "1a1a7c9f-42fe-4daa-97a3-dbf8833b6d86",
        "contentUdi": "umb://element/1a1a7c9f42fe4daa97a3dbf8833b6d86",
        "settingsKey": "8eeff3ef-99db-4cc7-92ce-afd238cc2772",
        "settingsUdi": "umb://element/8eeff3ef99db4cc792ceafd238cc2772"
      }
    ]
  }
}]]></Value>
    </body>
    <categories>
      <Value><![CDATA[]]></Value>
    </categories>
    <furnitureBreadcrumbsColor>
      <Value><![CDATA[]]></Value>
    </furnitureBreadcrumbsColor>
    <furnitureBreadcrumbStatus>
      <Value><![CDATA[Inherit Breadcrumb Status]]></Value>
    </furnitureBreadcrumbStatus>
    <furnitureBreadcrumbSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureBreadcrumbSubtheme>
    <furnitureBreadcrumbThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureBreadcrumbThemeShade>
    <furnitureFooterColor>
      <Value><![CDATA[]]></Value>
    </furnitureFooterColor>
    <furnitureFooterInformation>
      <Value><![CDATA[]]></Value>
    </furnitureFooterInformation>
    <furnitureFooterMenu>
      <Value><![CDATA[]]></Value>
    </furnitureFooterMenu>
    <furnitureFooterMessage>
      <Value><![CDATA[]]></Value>
    </furnitureFooterMessage>
    <furnitureFooterSocialMediaLinks>
      <Value><![CDATA[]]></Value>
    </furnitureFooterSocialMediaLinks>
    <furnitureFooterSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureFooterSubtheme>
    <furnitureFooterThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureFooterThemeShade>
    <furnitureHeaderColor>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderColor>
    <furnitureHeaderMenu>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderMenu>
    <furnitureHeaderMenuPosition>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderMenuPosition>
    <furnitureHeaderSticky>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderSticky>
    <furnitureHeaderSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureHeaderSubtheme>
    <furnitureHeaderThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureHeaderThemeShade>
    <furnitureLogoImage>
      <Value><![CDATA[]]></Value>
    </furnitureLogoImage>
    <furnitureLogoRatio>
      <Value><![CDATA[]]></Value>
    </furnitureLogoRatio>
    <furniturePageTitlePromote>
      <Value><![CDATA[]]></Value>
    </furniturePageTitlePromote>
    <PageTitleSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </PageTitleSubtheme>
    <furniturePageTitleThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </furniturePageTitleThemeShade>
    <furnitureShowAllServices>
      <Value><![CDATA[1]]></Value>
    </furnitureShowAllServices>
    <furnitureShowHeaderMenuOnLargerDevices>
      <Value><![CDATA[]]></Value>
    </furnitureShowHeaderMenuOnLargerDevices>
    <furnitureShowHeaderMenuOnSmallerDevices>
      <Value><![CDATA[]]></Value>
    </furnitureShowHeaderMenuOnSmallerDevices>
    <furnitureShowSearchBar>
      <Value><![CDATA[1]]></Value>
    </furnitureShowSearchBar>
    <furnitureStatus>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureStatus>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <pageHeader>
      <Value><![CDATA[]]></Value>
    </pageHeader>
    <pageSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </pageSubtheme>
    <pageTheme>
      <Value><![CDATA[Inherit]]></Value>
    </pageTheme>
    <pageThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </pageThemeShade>
    <reviewComments>
      <Value><![CDATA[]]></Value>
    </reviewComments>
    <reviewDate>
      <Value><![CDATA[]]></Value>
    </reviewDate>
    <reviewGroup>
      <Value><![CDATA[]]></Value>
    </reviewGroup>
    <reviewStatus>
      <Value><![CDATA[Inherit]]></Value>
    </reviewStatus>
    <seoAbstract>
      <Value><![CDATA[]]></Value>
    </seoAbstract>
    <seoCanonicalUrl>
      <Value><![CDATA[]]></Value>
    </seoCanonicalUrl>
    <seoDatePublished>
      <Value><![CDATA[]]></Value>
    </seoDatePublished>
    <seoDescription>
      <Value><![CDATA[]]></Value>
    </seoDescription>
    <seoPriority>
      <Value><![CDATA[]]></Value>
    </seoPriority>
    <seoPromotedSearchTerms>
      <Value><![CDATA[]]></Value>
    </seoPromotedSearchTerms>
    <seoStatus>
      <Value><![CDATA[Inherit]]></Value>
    </seoStatus>
    <seoThumbnail>
      <Value><![CDATA[]]></Value>
    </seoThumbnail>
    <subfooterColor>
      <Value><![CDATA[]]></Value>
    </subfooterColor>
    <subfooterShowLastUpdatedDate>
      <Value><![CDATA[]]></Value>
    </subfooterShowLastUpdatedDate>
    <subfooterShowNextReviewDate>
      <Value><![CDATA[]]></Value>
    </subfooterShowNextReviewDate>
    <subfooterShowReturnToTopIcon>
      <Value><![CDATA[]]></Value>
    </subfooterShowReturnToTopIcon>
    <subfooterStatus>
      <Value><![CDATA[Inherit]]></Value>
    </subfooterStatus>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <virtualAgentInstall>
      <Value><![CDATA[]]></Value>
    </virtualAgentInstall>
    <virtualAgentStatus>
      <Value><![CDATA[Inherit]]></Value>
    </virtualAgentStatus>
  </Properties>
</Content>