<?xml version="1.0" encoding="utf-8"?>
<Content Key="2e8aecbe-58d8-4099-b3fa-8332ecb80325" Alias="Morecambe Registration Office" Level="5">
  <Info>
    <Parent Key="e85bad05-b859-4346-8351-9fa75f8721b7">Find a registration office</Parent>
    <Path>/lancashiregovuk/Home/BirthsMarriagesCivilPartnershipsAndDeaths/FindARegistrationOffice/MorecambeRegistrationOffice</Path>
    <Trashed>false</Trashed>
    <ContentType>editorPage</ContentType>
    <CreateDate>2025-08-27T19:19:47</CreateDate>
    <NodeName Default="Morecambe Registration Office" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cbebb994-250c-4f99-ab85-8e38616efb0c">Editor</Template>
  </Info>
  <Properties>
    <alertStatus>
      <Value><![CDATA[Inherit]]></Value>
    </alertStatus>
    <alertText>
      <Value><![CDATA[]]></Value>
    </alertText>
    <alertTitle>
      <Value><![CDATA[]]></Value>
    </alertTitle>
    <alertType>
      <Value><![CDATA[]]></Value>
    </alertType>
    <asideContent>
      <Value><![CDATA[]]></Value>
    </asideContent>
    <asideFixed>
      <Value><![CDATA[]]></Value>
    </asideFixed>
    <asideOffset>
      <Value><![CDATA[]]></Value>
    </asideOffset>
    <asideStatus>
      <Value><![CDATA[Inherit]]></Value>
    </asideStatus>
    <bannerContent>
      <Value><![CDATA[]]></Value>
    </bannerContent>
    <bannerHeroImage>
      <Value><![CDATA[]]></Value>
    </bannerHeroImage>
    <bannerStatus>
      <Value><![CDATA[Inherit]]></Value>
    </bannerStatus>
    <body>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "9cd1f41e-8db7-498b-a4f1-db27180a4728",
      "key": "80bc0da1-1851-4d16-b19e-614594686d6a",
      "udi": null,
      "values": [
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Text-book an appointment"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EBook an appointment at a Lancashire registration office for\u003C/p\u003E\u003Cul\u003E\u003Cli\u003E\u003Cp\u003Eregistering a birth (link)\u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003Eregistering a death (link)\u003C/p\u003E\u003C/li\u003E\u003C/ul\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "mainTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EHow to book an appointment\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "9cd1f41e-8db7-498b-a4f1-db27180a4728",
      "key": "4bcd0902-58bd-4b98-95ec-8098aa2dd9bc",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EAt this office you can,\u003C/p\u003E\u003Cul\u003E\u003Cli\u003E\u003Cp\u003Eregister a birth\u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003Egive notice of your marriage or civil partnership\u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003Eregister death.\u003C/p\u003E\u003C/li\u003E\u003C/ul\u003E\u003Cp\u003EFor a marriage or civil partnership:\u003C/p\u003E\u003Cul\u003E\u003Cli\u003E\u003Cp\u003EContact the ceremonies officer to reserve the date of your ceremony\u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003Egive notice of marriage or civil partnership.\u003C/p\u003E\u003C/li\u003E\u003C/ul\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "mainTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EServices offered at this registration office\u003C/p\u003E"
          }
        },
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Text-Services"
        }
      ]
    },
    {
      "contentTypeKey": "9cd1f41e-8db7-498b-a4f1-db27180a4728",
      "key": "ff7a6ae2-eeb1-4564-870d-d1183b0bac71",
      "udi": null,
      "values": [
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Text-Office information"
        },
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003C/p\u003E\u003Ch3\u003ECar parking information\u003C/h3\u003E\u003Cp\u003EThere are two Pay and Display car parks next to the office. \u003C/p\u003E\u003Ch3\u003EHow to pay\u003C/h3\u003E\u003Cp\u003EYou can pay by cash or card only.\u003C/p\u003E\u003Ch3\u003EContact details\u003C/h3\u003E\u003Cul\u003E\u003Cli\u003E\u003Cp\u003EAddress: Central Drive\u003C/p\u003E\u003Cp\u003EMorecambe\u003C/p\u003E\u003Cp\u003ELancashire\u003C/p\u003E\u003Cp\u003ELA4 5DL\u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003ETel: 0300 123 6705 \u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003EEmail: \u003Ca target=\u0022\u0022 data-router-slot=\u0022disabled\u0022 href=\u0022mailto:Lancaster.Registrars@lancashire.gov.uk\u0022 type=\u0022external\u0022\u003ELancaster.Registrars@lancashire.gov.uk\u003C/a\u003E\u003C/p\u003E\u003C/li\u003E\u003C/ul\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "2ea5fd1d-c3fa-4161-befa-44e3a8ff88e2",
      "key": "4794fde7-a8eb-4788-8925-e986c59f08e4",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EOpening times are by appointment only.\u003C/p\u003E"
          }
        },
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Opening-times-Morecambe-Registration"
        },
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "times",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "3ababe53-a528-4533-ba2d-e1c779bbdeaf",
                "key": "99f57188-6dfc-46fb-981b-acdc07636a3c",
                "udi": null,
                "values": [
                  {
                    "alias": "day",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "Wednesday"
                    ]
                  },
                  {
                    "alias": "open",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "09:30"
                  },
                  {
                    "alias": "close",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "14:30"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "99f57188-6dfc-46fb-981b-acdc07636a3c",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "99f57188-6dfc-46fb-981b-acdc07636a3c",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        },
        {
          "alias": "mainTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EOpening times\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "9cd1f41e-8db7-498b-a4f1-db27180a4728",
      "key": "323f782b-c54e-46c2-9e2f-cac7bf1e01ab",
      "udi": null,
      "values": [
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EThe office is in Morecambe library.\u003C/p\u003E"
          }
        },
        {
          "alias": "mainTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EAbout the venue\u003C/p\u003E"
          }
        },
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Intro-text-Morecambe "
        }
      ]
    },
    {
      "contentTypeKey": "55023e89-519f-47a1-b9ff-d4198467e6c5",
      "key": "c521c534-f835-40b8-92d7-60267b07d89c",
      "udi": null,
      "values": [
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "mapLocation",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "boundingBox": {
              "northEastCorner": {
                "latitude": 54.07375572882849,
                "longitude": -2.856101989746094
              },
              "southWestCorner": {
                "latitude": 54.0687193649389,
                "longitude": -2.8747916221618652
              }
            },
            "zoom": 16,
            "marker": {
              "latitude": 54.07124,
              "longitude": -2.86545
            }
          }
        },
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Map-Morecambe "
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "31095fb6-f9a3-4bb1-b559-d353a1ff0e92",
      "key": "58e01754-58da-4037-a9ca-b0983afbde47",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "31095fb6-f9a3-4bb1-b559-d353a1ff0e92",
      "key": "01b7865c-611f-4e92-a5d5-d34346a7f929",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "31095fb6-f9a3-4bb1-b559-d353a1ff0e92",
      "key": "53555aa2-4b1e-4567-ad78-ad2c90df0364",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "38d28af9-85ee-41b1-9b31-233620b1b990",
      "key": "501365ac-249b-4d8b-a781-af2aa8087ce4",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "31095fb6-f9a3-4bb1-b559-d353a1ff0e92",
      "key": "2b172ee0-ccdc-4b2a-90b3-48a1cb3917a4",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "18b3a798-7076-47dc-8cef-da2c5dbd4ec1",
      "key": "e47d0738-f965-41cc-844b-ea80a5bcc644",
      "udi": null,
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "80bc0da1-1851-4d16-b19e-614594686d6a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "4bcd0902-58bd-4b98-95ec-8098aa2dd9bc",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "ff7a6ae2-eeb1-4564-870d-d1183b0bac71",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "4794fde7-a8eb-4788-8925-e986c59f08e4",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "323f782b-c54e-46c2-9e2f-cac7bf1e01ab",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "c521c534-f835-40b8-92d7-60267b07d89c",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "323f782b-c54e-46c2-9e2f-cac7bf1e01ab",
        "contentUdi": null,
        "settingsKey": "2b172ee0-ccdc-4b2a-90b3-48a1cb3917a4",
        "settingsUdi": null
      },
      {
        "contentKey": "4bcd0902-58bd-4b98-95ec-8098aa2dd9bc",
        "contentUdi": null,
        "settingsKey": "01b7865c-611f-4e92-a5d5-d34346a7f929",
        "settingsUdi": null
      },
      {
        "contentKey": "80bc0da1-1851-4d16-b19e-614594686d6a",
        "contentUdi": null,
        "settingsKey": "58e01754-58da-4037-a9ca-b0983afbde47",
        "settingsUdi": null
      },
      {
        "contentKey": "4794fde7-a8eb-4788-8925-e986c59f08e4",
        "contentUdi": null,
        "settingsKey": "501365ac-249b-4d8b-a781-af2aa8087ce4",
        "settingsUdi": null
      },
      {
        "contentKey": "ff7a6ae2-eeb1-4564-870d-d1183b0bac71",
        "contentUdi": null,
        "settingsKey": "53555aa2-4b1e-4567-ad78-ad2c90df0364",
        "settingsUdi": null
      },
      {
        "contentKey": "c521c534-f835-40b8-92d7-60267b07d89c",
        "contentUdi": null,
        "settingsKey": "e47d0738-f965-41cc-844b-ea80a5bcc644",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </body>
    <categories>
      <Value><![CDATA[]]></Value>
    </categories>
    <furnitureBreadcrumbsColor>
      <Value><![CDATA[]]></Value>
    </furnitureBreadcrumbsColor>
    <furnitureBreadcrumbStatus>
      <Value><![CDATA[]]></Value>
    </furnitureBreadcrumbStatus>
    <furnitureBreadcrumbSubtheme>
      <Value><![CDATA[]]></Value>
    </furnitureBreadcrumbSubtheme>
    <furnitureBreadcrumbThemeShade>
      <Value><![CDATA[]]></Value>
    </furnitureBreadcrumbThemeShade>
    <furnitureFooterColor>
      <Value><![CDATA[]]></Value>
    </furnitureFooterColor>
    <furnitureFooterInformation>
      <Value><![CDATA[]]></Value>
    </furnitureFooterInformation>
    <furnitureFooterMenu>
      <Value><![CDATA[]]></Value>
    </furnitureFooterMenu>
    <furnitureFooterMessage>
      <Value><![CDATA[]]></Value>
    </furnitureFooterMessage>
    <furnitureFooterSocialMediaLinks>
      <Value><![CDATA[]]></Value>
    </furnitureFooterSocialMediaLinks>
    <furnitureFooterSubtheme>
      <Value><![CDATA[]]></Value>
    </furnitureFooterSubtheme>
    <furnitureFooterThemeShade>
      <Value><![CDATA[]]></Value>
    </furnitureFooterThemeShade>
    <furnitureHeaderColor>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderColor>
    <furnitureHeaderMenu>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderMenu>
    <furnitureHeaderMenuPosition>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderMenuPosition>
    <furnitureHeaderSticky>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderSticky>
    <furnitureHeaderSubtheme>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderSubtheme>
    <furnitureHeaderThemeShade>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderThemeShade>
    <furnitureLogoImage>
      <Value><![CDATA[]]></Value>
    </furnitureLogoImage>
    <furnitureLogoRatio>
      <Value><![CDATA[]]></Value>
    </furnitureLogoRatio>
    <furniturePageTitlePromote>
      <Value><![CDATA[]]></Value>
    </furniturePageTitlePromote>
    <PageTitleSubtheme>
      <Value><![CDATA[]]></Value>
    </PageTitleSubtheme>
    <furniturePageTitleThemeShade>
      <Value><![CDATA[]]></Value>
    </furniturePageTitleThemeShade>
    <furnitureShowAllServices>
      <Value><![CDATA[]]></Value>
    </furnitureShowAllServices>
    <furnitureShowHeaderMenuOnLargerDevices>
      <Value><![CDATA[]]></Value>
    </furnitureShowHeaderMenuOnLargerDevices>
    <furnitureShowHeaderMenuOnSmallerDevices>
      <Value><![CDATA[]]></Value>
    </furnitureShowHeaderMenuOnSmallerDevices>
    <furnitureShowSearchBar>
      <Value><![CDATA[]]></Value>
    </furnitureShowSearchBar>
    <furnitureStatus>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureStatus>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <pageHeader>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EMorecambe Registration Office\u003C/p\u003E"
}]]></Value>
    </pageHeader>
    <pageSubtheme>
      <Value><![CDATA[]]></Value>
    </pageSubtheme>
    <pageTheme>
      <Value><![CDATA[]]></Value>
    </pageTheme>
    <pageThemeShade>
      <Value><![CDATA[]]></Value>
    </pageThemeShade>
    <reviewComments>
      <Value><![CDATA[]]></Value>
    </reviewComments>
    <reviewDate>
      <Value><![CDATA[]]></Value>
    </reviewDate>
    <reviewGroup>
      <Value><![CDATA[]]></Value>
    </reviewGroup>
    <reviewStatus>
      <Value><![CDATA[Inherit]]></Value>
    </reviewStatus>
    <seoAbstract>
      <Value><![CDATA[]]></Value>
    </seoAbstract>
    <seoCanonicalUrl>
      <Value><![CDATA[]]></Value>
    </seoCanonicalUrl>
    <seoDatePublished>
      <Value><![CDATA[]]></Value>
    </seoDatePublished>
    <seoDescription>
      <Value><![CDATA[]]></Value>
    </seoDescription>
    <seoPriority>
      <Value><![CDATA[]]></Value>
    </seoPriority>
    <seoPromotedSearchTerms>
      <Value><![CDATA[]]></Value>
    </seoPromotedSearchTerms>
    <seoStatus>
      <Value><![CDATA[Inherit]]></Value>
    </seoStatus>
    <seoThumbnail>
      <Value><![CDATA[]]></Value>
    </seoThumbnail>
    <subfooterColor>
      <Value><![CDATA[]]></Value>
    </subfooterColor>
    <subfooterShowLastUpdatedDate>
      <Value><![CDATA[]]></Value>
    </subfooterShowLastUpdatedDate>
    <subfooterShowNextReviewDate>
      <Value><![CDATA[]]></Value>
    </subfooterShowNextReviewDate>
    <subfooterShowReturnToTopIcon>
      <Value><![CDATA[]]></Value>
    </subfooterShowReturnToTopIcon>
    <subfooterStatus>
      <Value><![CDATA[Inherit]]></Value>
    </subfooterStatus>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <virtualAgentInstall>
      <Value><![CDATA[]]></Value>
    </virtualAgentInstall>
    <virtualAgentStatus>
      <Value><![CDATA[]]></Value>
    </virtualAgentStatus>
  </Properties>
</Content>