<?xml version="1.0" encoding="utf-8"?>
<Content Key="5c9b2850-3490-436a-b0de-7b3aa4ad2695" Alias="redirect" Level="3">
  <Info>
    <Parent Key="8df9a79d-b97a-4567-a573-cd4565932cf7">Home</Parent>
    <Path>/lancashiregovuk/Home/redirect</Path>
    <Trashed>false</Trashed>
    <ContentType>redirectPage</ContentType>
    <CreateDate>2025-11-12T19:04:34</CreateDate>
    <NodeName Default="redirect" />
    <SortOrder>28</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <redirect>
      <Value><![CDATA[[
  {
    "name": "Bus",
    "target": null,
    "udi": "umb://document/d56a3dc8855f48aeb31213231a69cb92",
    "url": null,
    "queryString": null
  }
]]]></Value>
    </redirect>
    <seoAbstract>
      <Value><![CDATA[]]></Value>
    </seoAbstract>
    <seoCanonicalUrl>
      <Value><![CDATA[]]></Value>
    </seoCanonicalUrl>
    <seoDatePublished>
      <Value><![CDATA[]]></Value>
    </seoDatePublished>
    <seoDescription>
      <Value><![CDATA[Redirect Description Seo]]></Value>
    </seoDescription>
    <seoPriority>
      <Value><![CDATA[1]]></Value>
    </seoPriority>
    <seoPromotedSearchTerms>
      <Value><![CDATA[]]></Value>
    </seoPromotedSearchTerms>
    <seoStatus>
      <Value><![CDATA[Enable]]></Value>
    </seoStatus>
    <seoThumbnail>
      <Value><![CDATA[]]></Value>
    </seoThumbnail>
    <title>
      <Value><![CDATA[Redirect Page to Bus]]></Value>
    </title>
    <umbracoUrlAlias>
      <Value><![CDATA[bussy]]></Value>
    </umbracoUrlAlias>
  </Properties>
</Content>