<?xml version="1.0" encoding="utf-8"?>
<Content Key="a1fa7c35-86ce-4d2e-a030-ab91ab69679c" Alias="rewrite" Level="3">
  <Info>
    <Parent Key="8df9a79d-b97a-4567-a573-cd4565932cf7">Home</Parent>
    <Path>/lancashiregovuk/Home/rewrite</Path>
    <Trashed>false</Trashed>
    <ContentType>rewritePage</ContentType>
    <CreateDate>2025-11-12T21:58:02</CreateDate>
    <NodeName Default="rewrite" />
    <SortOrder>29</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <seoAbstract>
      <Value><![CDATA[]]></Value>
    </seoAbstract>
    <seoCanonicalUrl>
      <Value><![CDATA[]]></Value>
    </seoCanonicalUrl>
    <seoDatePublished>
      <Value><![CDATA[]]></Value>
    </seoDatePublished>
    <seoDescription>
      <Value><![CDATA[rewrite description]]></Value>
    </seoDescription>
    <seoPriority>
      <Value><![CDATA[1]]></Value>
    </seoPriority>
    <seoPromotedSearchTerms>
      <Value><![CDATA[]]></Value>
    </seoPromotedSearchTerms>
    <seoStatus>
      <Value><![CDATA[Enable]]></Value>
    </seoStatus>
    <seoThumbnail>
      <Value><![CDATA[]]></Value>
    </seoThumbnail>
    <title>
      <Value><![CDATA[Rewrite title]]></Value>
    </title>
    <umbracoInternalRedirectId>
      <Value><![CDATA[umb://document/d56a3dc8855f48aeb31213231a69cb92]]></Value>
    </umbracoInternalRedirectId>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
  </Properties>
</Content>