<?xml version="1.0" encoding="utf-8"?>
<Content Key="945cc2f0-d5eb-4356-9de9-48a9bc36e077" Alias="Test Content" Level="3">
  <Info>
    <Parent Key="8df9a79d-b97a-4567-a573-cd4565932cf7">Home</Parent>
    <Path>/lancashiregovuk/Home/TestContent</Path>
    <Trashed>false</Trashed>
    <ContentType>editorPage</ContentType>
    <CreateDate>2025-03-06T14:31:22</CreateDate>
    <NodeName Default="Test Content" />
    <SortOrder>24</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cbebb994-250c-4f99-ab85-8e38616efb0c">Editor</Template>
  </Info>
  <Properties>
    <alertStatus>
      <Value><![CDATA[Inherit]]></Value>
    </alertStatus>
    <alertText>
      <Value><![CDATA[]]></Value>
    </alertText>
    <alertTitle>
      <Value><![CDATA[]]></Value>
    </alertTitle>
    <alertType>
      <Value><![CDATA[]]></Value>
    </alertType>
    <asideContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0626bea4-62f3-4d10-a34f-dc0e0663ed88",
      "key": "eb6f961f-042f-4c44-b43d-2a5aae71b99c",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "4c52cefa-aa55-4d1b-8879-c650ec995071",
      "key": "f93f875e-2878-4da5-97c9-510c1a0b8554",
      "udi": null,
      "values": [
        {
          "alias": "header",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EHeader\u003C/p\u003E"
          }
        },
        {
          "alias": "contents",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "f6fa5270-fee4-4a56-a406-66f4a67c0a71",
                "key": "40c13a14-f389-4cca-9c23-ee9ddff1a418",
                "udi": null,
                "values": [
                  {
                    "alias": "pages",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "umb://document/5b42c6410c7642088061336ff98720c8"
                  }
                ]
              }
            ],
            "settingsData": [
              {
                "contentTypeKey": "e704d824-8b7e-4349-990d-24856ded31ac",
                "key": "8dffaa53-ee0d-43a7-af90-3cbd51618afc",
                "udi": null,
                "values": []
              }
            ],
            "expose": [
              {
                "contentKey": "40c13a14-f389-4cca-9c23-ee9ddff1a418",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "40c13a14-f389-4cca-9c23-ee9ddff1a418",
                  "contentUdi": null,
                  "settingsKey": "8dffaa53-ee0d-43a7-af90-3cbd51618afc",
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "f9a7475e-b03b-46f6-9afb-dba3af96390b",
      "key": "c3fa9097-d533-4cdd-a2c6-fe1d61cfa3bb",
      "udi": null,
      "values": [
        {
          "alias": "order",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "A to Z"
          ]
        }
      ]
    },
    {
      "contentTypeKey": "731a4986-c229-49d9-a708-340e97ae1bd8",
      "key": "b464a7c6-2b62-42e6-be81-478ce3513c9a",
      "udi": null,
      "values": [
        {
          "alias": "themeShade",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dark"
        },
        {
          "alias": "subtheme",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Primary"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "eb6f961f-042f-4c44-b43d-2a5aae71b99c",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "f93f875e-2878-4da5-97c9-510c1a0b8554",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "eb6f961f-042f-4c44-b43d-2a5aae71b99c",
        "contentUdi": null,
        "settingsKey": "c3fa9097-d533-4cdd-a2c6-fe1d61cfa3bb",
        "settingsUdi": null
      },
      {
        "contentKey": "f93f875e-2878-4da5-97c9-510c1a0b8554",
        "contentUdi": null,
        "settingsKey": "b464a7c6-2b62-42e6-be81-478ce3513c9a",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </asideContent>
    <asideFixed>
      <Value><![CDATA[1]]></Value>
    </asideFixed>
    <asideOffset>
      <Value><![CDATA[]]></Value>
    </asideOffset>
    <asideStatus>
      <Value><![CDATA[Left]]></Value>
    </asideStatus>
    <bannerContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "22222d3f-e002-4059-b55b-4443ebf6e1a6",
      "key": "7895c782-e7c7-4ea2-80cd-3052c8766a4e",
      "udi": null,
      "values": [
        {
          "alias": "Image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "962c0845-e239-437b-b08c-539c3dd30d24",
              "mediaKey": "92590f2f-3051-4178-b7cb-2e1880e029b9",
              "mediaTypeAlias": "editorImage",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EYak\u003C/p\u003E"
          }
        },
        {
          "alias": "description",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003ELives in Tibet\u003C/p\u003E"
          }
        },
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Lists",
              "target": null,
              "udi": "umb://document/388d46aa6c524321ae08a6a62d005b20",
              "url": null,
              "queryString": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "22222d3f-e002-4059-b55b-4443ebf6e1a6",
      "key": "d35b7703-394c-430f-8b14-223d83549a73",
      "udi": null,
      "values": [
        {
          "alias": "Image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "d94f88c5-8724-4307-a51c-de0b20f4a300",
              "mediaKey": "e9546e78-afa3-43d8-b49d-2c0378fff6a6",
              "mediaTypeAlias": "editorImage",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003ESheep\u003C/p\u003E"
          }
        },
        {
          "alias": "description",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003ELive up hills\u003C/p\u003E"
          }
        },
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Tabs",
              "target": null,
              "udi": "umb://document/91f89d6489504dd0994c399a4a005eba",
              "url": null,
              "queryString": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "7d07f6fb-d10f-4b1e-9a83-8d0a525d9f3a",
      "key": "6e06ab11-15d9-4e95-9307-0ee8d1b14ce9",
      "udi": null,
      "values": [
        {
          "alias": "darken",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "alignment",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Centre Text"
          ]
        }
      ]
    },
    {
      "contentTypeKey": "7d07f6fb-d10f-4b1e-9a83-8d0a525d9f3a",
      "key": "a5798f33-9576-4749-8589-54f057e099bd",
      "udi": null,
      "values": [
        {
          "alias": "darken",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "alignment",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Right Align Text"
          ]
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "7895c782-e7c7-4ea2-80cd-3052c8766a4e",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "d35b7703-394c-430f-8b14-223d83549a73",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "7895c782-e7c7-4ea2-80cd-3052c8766a4e",
        "contentUdi": null,
        "settingsKey": "6e06ab11-15d9-4e95-9307-0ee8d1b14ce9",
        "settingsUdi": null
      },
      {
        "contentKey": "d35b7703-394c-430f-8b14-223d83549a73",
        "contentUdi": null,
        "settingsKey": "a5798f33-9576-4749-8589-54f057e099bd",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </bannerContent>
    <bannerHeroImage>
      <Value><![CDATA[]]></Value>
    </bannerHeroImage>
    <bannerStatus>
      <Value><![CDATA[Inherit]]></Value>
    </bannerStatus>
    <body>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "69021ede-3114-43b4-96c8-5d2c66e7ebd1",
      "key": "6a18bc80-936c-4d3e-9ab6-56a7c2e74ad6",
      "udi": null,
      "values": [
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Children pages"
        },
        {
          "alias": "mainTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "Test Content"
          }
        },
        {
          "alias": "listBlocks",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "cb3a1ebe-2a6e-458a-8fcd-d60b55b5f5f6",
                "key": "86e6c35e-1686-48ee-a2ea-83dddbd5ae1b",
                "udi": null,
                "values": []
              }
            ],
            "settingsData": [
              {
                "contentTypeKey": "5896bb7c-40fe-4d63-8709-b6da109cc24d",
                "key": "c8e9c66e-2ff4-4818-89a4-e53f9f6ecd21",
                "udi": null,
                "values": [
                  {
                    "alias": "order",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "A to Z"
                    ]
                  },
                  {
                    "alias": "styleImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "Behind"
                    ]
                  },
                  {
                    "alias": "styleHeader",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "Show"
                    ]
                  },
                  {
                    "alias": "styleText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "Show"
                    ]
                  },
                  {
                    "alias": "styleAction",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "Link"
                    ]
                  }
                ]
              }
            ],
            "expose": [
              {
                "contentKey": "86e6c35e-1686-48ee-a2ea-83dddbd5ae1b",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "86e6c35e-1686-48ee-a2ea-83dddbd5ae1b",
                  "contentUdi": "umb://element/86e6c35e168648eea2ea83dddbd5ae1b",
                  "settingsKey": "c8e9c66e-2ff4-4818-89a4-e53f9f6ecd21",
                  "settingsUdi": "umb://element/c8e9c66e2ff4481889a4e53f9f6ecd21"
                }
              ]
            }
          }
        },
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "mainLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "69021ede-3114-43b4-96c8-5d2c66e7ebd1",
      "key": "d4755603-441e-4d44-9bcc-221257b3aada",
      "udi": null,
      "values": [
        {
          "alias": "listBlocks",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "a7d6bfa0-76ad-477c-b8be-a936c05eface",
                "key": "a1aa0107-3f1e-496e-adbc-778a9b975f66",
                "udi": null,
                "values": [
                  {
                    "alias": "pages",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "umb://document/5035cebea1314e08804519d16c472d65,umb://document/09819c00d9b941199109e9120d9a35e7,umb://document/d8849cd77361419cb2ae978e863d311e,umb://document/44124e81f1ef4b2aa8f122b64b4baf91"
                  }
                ]
              }
            ],
            "settingsData": [
              {
                "contentTypeKey": "05c5e544-b88c-497f-975c-60d95b83bd77",
                "key": "7b77a305-ec56-49c0-8db7-decb21fe3beb",
                "udi": null,
                "values": [
                  {
                    "alias": "showClickArrow",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "0"
                  }
                ]
              }
            ],
            "expose": [
              {
                "contentKey": "a1aa0107-3f1e-496e-adbc-778a9b975f66",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "a1aa0107-3f1e-496e-adbc-778a9b975f66",
                  "contentUdi": null,
                  "settingsKey": "7b77a305-ec56-49c0-8db7-decb21fe3beb",
                  "settingsUdi": null
                }
              ]
            }
          }
        },
        {
          "alias": "identifier",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Test links"
        },
        {
          "alias": "enable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "81e44a54-ba00-4100-b7a1-14d73a691ab9",
      "key": "bc08f416-c73e-4a1e-b124-7e14a2075f5e",
      "udi": null,
      "values": [
        {
          "alias": "maxColumns",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "3"
        },
        {
          "alias": "styleAction",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Link"
          ]
        },
        {
          "alias": "styleDefaultCardThemeShade",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dark"
        }
      ]
    },
    {
      "contentTypeKey": "81e44a54-ba00-4100-b7a1-14d73a691ab9",
      "key": "213893ae-5ff2-47b3-94c1-8bbd62d0dfdd",
      "udi": null,
      "values": [
        {
          "alias": "maxColumns",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "6a18bc80-936c-4d3e-9ab6-56a7c2e74ad6",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "d4755603-441e-4d44-9bcc-221257b3aada",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "6a18bc80-936c-4d3e-9ab6-56a7c2e74ad6",
        "contentUdi": "umb://element/6a18bc80936c4d3e9ab656a7c2e74ad6",
        "settingsKey": "bc08f416-c73e-4a1e-b124-7e14a2075f5e",
        "settingsUdi": "umb://element/bc08f416c73e4a1eb1247e14a2075f5e"
      },
      {
        "contentKey": "d4755603-441e-4d44-9bcc-221257b3aada",
        "contentUdi": null,
        "settingsKey": "213893ae-5ff2-47b3-94c1-8bbd62d0dfdd",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </body>
    <categories>
      <Value><![CDATA[]]></Value>
    </categories>
    <furnitureBreadcrumbsColor>
      <Value><![CDATA[]]></Value>
    </furnitureBreadcrumbsColor>
    <furnitureBreadcrumbStatus>
      <Value><![CDATA[Inherit Breadcrumb Status]]></Value>
    </furnitureBreadcrumbStatus>
    <furnitureBreadcrumbSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureBreadcrumbSubtheme>
    <furnitureBreadcrumbThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureBreadcrumbThemeShade>
    <furnitureFooterColor>
      <Value><![CDATA[]]></Value>
    </furnitureFooterColor>
    <furnitureFooterInformation>
      <Value><![CDATA[]]></Value>
    </furnitureFooterInformation>
    <furnitureFooterMenu>
      <Value><![CDATA[]]></Value>
    </furnitureFooterMenu>
    <furnitureFooterMessage>
      <Value><![CDATA[]]></Value>
    </furnitureFooterMessage>
    <furnitureFooterSocialMediaLinks>
      <Value><![CDATA[]]></Value>
    </furnitureFooterSocialMediaLinks>
    <furnitureFooterSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureFooterSubtheme>
    <furnitureFooterThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureFooterThemeShade>
    <furnitureHeaderColor>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderColor>
    <furnitureHeaderMenu>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderMenu>
    <furnitureHeaderMenuPosition>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderMenuPosition>
    <furnitureHeaderSticky>
      <Value><![CDATA[]]></Value>
    </furnitureHeaderSticky>
    <furnitureHeaderSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureHeaderSubtheme>
    <furnitureHeaderThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureHeaderThemeShade>
    <furnitureLogoImage>
      <Value><![CDATA[]]></Value>
    </furnitureLogoImage>
    <furnitureLogoRatio>
      <Value><![CDATA[]]></Value>
    </furnitureLogoRatio>
    <furniturePageTitlePromote>
      <Value><![CDATA[]]></Value>
    </furniturePageTitlePromote>
    <PageTitleSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </PageTitleSubtheme>
    <furniturePageTitleThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </furniturePageTitleThemeShade>
    <furnitureShowAllServices>
      <Value><![CDATA[1]]></Value>
    </furnitureShowAllServices>
    <furnitureShowHeaderMenuOnLargerDevices>
      <Value><![CDATA[]]></Value>
    </furnitureShowHeaderMenuOnLargerDevices>
    <furnitureShowHeaderMenuOnSmallerDevices>
      <Value><![CDATA[]]></Value>
    </furnitureShowHeaderMenuOnSmallerDevices>
    <furnitureShowSearchBar>
      <Value><![CDATA[1]]></Value>
    </furnitureShowSearchBar>
    <furnitureStatus>
      <Value><![CDATA[Inherit]]></Value>
    </furnitureStatus>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <pageHeader>
      <Value><![CDATA[]]></Value>
    </pageHeader>
    <pageSubtheme>
      <Value><![CDATA[Inherit]]></Value>
    </pageSubtheme>
    <pageTheme>
      <Value><![CDATA[Inherit]]></Value>
    </pageTheme>
    <pageThemeShade>
      <Value><![CDATA[Inherit]]></Value>
    </pageThemeShade>
    <reviewComments>
      <Value><![CDATA[]]></Value>
    </reviewComments>
    <reviewDate>
      <Value><![CDATA[2025-07-02T00:00:00]]></Value>
    </reviewDate>
    <reviewGroup>
      <Value><![CDATA[]]></Value>
    </reviewGroup>
    <reviewStatus>
      <Value><![CDATA[Enable]]></Value>
    </reviewStatus>
    <seoAbstract>
      <Value><![CDATA[]]></Value>
    </seoAbstract>
    <seoCanonicalUrl>
      <Value><![CDATA[[
  {
    "name": "Adult social care",
    "target": null,
    "udi": "umb://document/8bf84adf63cd428baf1e9c56be4ba889",
    "url": null,
    "queryString": null
  }
]]]></Value>
    </seoCanonicalUrl>
    <seoDatePublished>
      <Value><![CDATA[]]></Value>
    </seoDatePublished>
    <seoDescription>
      <Value><![CDATA[See if the blocks work]]></Value>
    </seoDescription>
    <seoPriority>
      <Value><![CDATA[]]></Value>
    </seoPriority>
    <seoPromotedSearchTerms>
      <Value><![CDATA[]]></Value>
    </seoPromotedSearchTerms>
    <seoStatus>
      <Value><![CDATA[Enable]]></Value>
    </seoStatus>
    <seoThumbnail>
      <Value><![CDATA[[
  {
    "key": "482f5a09-ab00-42c8-97de-16bdc06e284d",
    "mediaKey": "1bfe2c58-c055-4d11-9a72-ac1dd2aaad94",
    "mediaTypeAlias": "editorImage",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </seoThumbnail>
    <subfooterColor>
      <Value><![CDATA[]]></Value>
    </subfooterColor>
    <subfooterShowLastUpdatedDate>
      <Value><![CDATA[0]]></Value>
    </subfooterShowLastUpdatedDate>
    <subfooterShowNextReviewDate>
      <Value><![CDATA[1]]></Value>
    </subfooterShowNextReviewDate>
    <subfooterShowReturnToTopIcon>
      <Value><![CDATA[]]></Value>
    </subfooterShowReturnToTopIcon>
    <subfooterStatus>
      <Value><![CDATA[Show]]></Value>
    </subfooterStatus>
    <title>
      <Value><![CDATA[Test Blocks]]></Value>
    </title>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <virtualAgentInstall>
      <Value><![CDATA[]]></Value>
    </virtualAgentInstall>
    <virtualAgentStatus>
      <Value><![CDATA[Inherit]]></Value>
    </virtualAgentStatus>
  </Properties>
</Content>