<?xml version="1.0" encoding="utf-8"?>
<Media Key="b631728d-2fb3-497f-bf5e-c0d40951b715" Alias="0 128080211" Level="2">
  <Info>
    <Parent Key="6703dd57-a416-44c3-be20-e39332124bfe">Sample</Parent>
    <Path>/Sample/</Path>
    <Trashed>false</Trashed>
    <ContentType>editorImage</ContentType>
    <CreateDate>2025-02-25T09:51:33</CreateDate>
    <NodeName Default="0 128080211" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/gy4h4fh4/0_128080211.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>