<?xml version="1.0" encoding="utf-8"?>
<Media Key="e5c592d4-def2-4441-b355-a3995d7c04f6" Alias="0 JMP MEN 211022WEATHER 019JPG" Level="2">
  <Info>
    <Parent Key="6703dd57-a416-44c3-be20-e39332124bfe">Sample</Parent>
    <Path>/Sample/JMPMEN211022WEATHER019JPG</Path>
    <Trashed>false</Trashed>
    <ContentType>editorImage</ContentType>
    <CreateDate>2025-02-25T09:51:21</CreateDate>
    <NodeName Default="0 JMP MEN 211022WEATHER 019JPG" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/n5ojwr35/0_jmp_men_211022weather_019jpg.webp",
  "focalPoint": {
    "left": 0.22150383616238645,
    "top": 0.25487310660359325
  }
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>