<?xml version="1.0" encoding="utf-8"?>
<Media Key="9c702a25-95b0-4478-a13f-1a8ad2460a18" Alias="8756 Fostering Web 1500X500px" Level="2">
  <Info>
    <Parent Key="6703dd57-a416-44c3-be20-e39332124bfe">Sample</Parent>
    <Path>/Sample/FosteringWeb1500X500px</Path>
    <Trashed>false</Trashed>
    <ContentType>editorImage</ContentType>
    <CreateDate>2025-02-13T10:19:45</CreateDate>
    <NodeName Default="8756 Fostering Web 1500X500px" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/tzsd2px3/8756-fostering-web-1500x500px.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>