<?xml version="1.0" encoding="utf-8"?>
<Media Key="bdd049da-43e9-4943-91aa-d8f9255defe1" Alias="aardvark-1-600x380.jpg" Level="2">
  <Info>
    <Parent Key="73dd6bcb-7fbd-46d1-9e42-83543c49ab99">Animals</Parent>
    <Path>/Animals/aardvark1600x380jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>editorImage</ContentType>
    <CreateDate>2026-03-25T13:43:18</CreateDate>
    <NodeName Default="aardvark-1-600x380.jpg" />
    <SortOrder>28</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/medj2h3e/aardvark-1-600x380.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>