<?xml version="1.0" encoding="utf-8"?>
<Media Key="a0073438-8588-42c9-9413-c68e6954fd2c" Alias="Animals" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Animals</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-04-01T09:37:52</CreateDate>
    <NodeName Default="Animals" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>