<?xml version="1.0" encoding="utf-8"?>
<Media Key="73dd6bcb-7fbd-46d1-9e42-83543c49ab99" Alias="Animals" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Animals</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-03-25T13:40:30</CreateDate>
    <NodeName Default="Animals" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>