<?xml version="1.0" encoding="utf-8"?>
<Media Key="34bb54e9-e3e3-403d-a920-4464a11cc6fe" Alias="At Mariposario Del Drago 2022 006" Level="2">
  <Info>
    <Parent Key="a0073438-8588-42c9-9413-c68e6954fd2c">Animals</Parent>
    <Path>/Animals/AtMariposarioDelDrago2022006</Path>
    <Trashed>false</Trashed>
    <ContentType>editorImage</ContentType>
    <CreateDate>2025-04-01T09:37:52</CreateDate>
    <NodeName Default="At Mariposario Del Drago 2022 006" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/kinplfvo/at_mariposario_del_drago_2022_006.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>