<?xml version="1.0" encoding="utf-8"?>
<Media Key="77b16112-26e7-4f99-9f88-6dd1e606a55d" Alias="at_mariposario_del_drago_2022_006.jpg" Level="2">
  <Info>
    <Parent Key="73dd6bcb-7fbd-46d1-9e42-83543c49ab99">Animals</Parent>
    <Path>/Animals/at_mariposario_del_drago_2022_006jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>editorImage</ContentType>
    <CreateDate>2026-03-25T13:42:07</CreateDate>
    <NodeName Default="at_mariposario_del_drago_2022_006.jpg" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/vexp5vnk/at_mariposario_del_drago_2022_006.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>