<?xml version="1.0" encoding="utf-8"?>
<Media Key="fa90d2b1-494b-47a3-b233-cc28b9d61953" Alias="Bee Apis" Level="2">
  <Info>
    <Parent Key="a0073438-8588-42c9-9413-c68e6954fd2c">Animals</Parent>
    <Path>/Animals/BeeApis</Path>
    <Trashed>false</Trashed>
    <ContentType>editorImage</ContentType>
    <CreateDate>2025-04-01T09:37:52</CreateDate>
    <NodeName Default="Bee Apis" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/bkon2wag/bee-apis.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>