<?xml version="1.0" encoding="utf-8"?>
<Media Key="24f1c449-3b20-4a7a-95f7-ce186c3875a9" Alias="camelcalf-feeding.jpg" Level="2">
  <Info>
    <Parent Key="73dd6bcb-7fbd-46d1-9e42-83543c49ab99">Animals</Parent>
    <Path>/Animals/camelcalfFeedingjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>editorImage</ContentType>
    <CreateDate>2026-03-25T13:43:09</CreateDate>
    <NodeName Default="camelcalf-feeding.jpg" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/4kfl5btn/camelcalf-feeding.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>