<?xml version="1.0" encoding="utf-8"?>
<Media Key="e28eb103-13f5-423e-bfdb-4932aacf06bd" Alias="Camelcalf Feeding" Level="2">
  <Info>
    <Parent Key="5686c6a2-5eb9-43f1-aa68-53e2e54b617c">Mammals</Parent>
    <Path>/Mammals/CamelcalfFeeding</Path>
    <Trashed>false</Trashed>
    <ContentType>editorImage</ContentType>
    <CreateDate>2025-04-01T09:37:39</CreateDate>
    <NodeName Default="Camelcalf Feeding" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xd5maqfy/camelcalf-feeding.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>