<?xml version="1.0" encoding="utf-8"?>
<Media Key="91b2a747-85c6-4225-818d-210961f97c8c" Alias="corazon_full.jpg" Level="2">
  <Info>
    <Parent Key="73dd6bcb-7fbd-46d1-9e42-83543c49ab99">Animals</Parent>
    <Path>/Animals/corazon_fulljpg</Path>
    <Trashed>false</Trashed>
    <ContentType>editorImage</ContentType>
    <CreateDate>2026-03-25T13:41:12</CreateDate>
    <NodeName Default="corazon_full.jpg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/5tupym2l/corazon_full.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>