<?xml version="1.0" encoding="utf-8"?>
<Media Key="a7897f68-0003-4282-8a58-440b65e53a45" Alias="CV" Level="2">
  <Info>
    <Parent Key="6703dd57-a416-44c3-be20-e39332124bfe">Sample</Parent>
    <Path>/Sample/CV</Path>
    <Trashed>false</Trashed>
    <ContentType>editorDownload</ContentType>
    <CreateDate>2026-01-12T15:28:31</CreateDate>
    <NodeName Default="CV" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/emdbdaci/jonathan-richards-cv-with-agency-details-march-2023-umbraco.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>