<?xml version="1.0" encoding="utf-8"?>
<Media Key="932ec307-2271-4be7-904a-4ae1b85a19c7" Alias="Email Password Recovery Code" Level="2">
  <Info>
    <Parent Key="6703dd57-a416-44c3-be20-e39332124bfe">Sample</Parent>
    <Path>/Sample/EmailPasswordRecoveryCode</Path>
    <Trashed>false</Trashed>
    <ContentType>editorTableSource</ContentType>
    <CreateDate>2025-03-11T09:07:53</CreateDate>
    <NodeName Default="Email Password Recovery Code" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/q50hfmzb/email-password-recovery-code.csv]]></Value>
    </umbracoFile>
  </Properties>
</Media>