<?xml version="1.0" encoding="utf-8"?>
<Media Key="0a8e685a-fe00-454e-989b-0c30d6015071" Alias="favicon" Level="2">
  <Info>
    <Parent Key="455c37a6-e92d-4d45-ae13-e4c276ac305c">lancashire.gov.uk</Parent>
    <Path>/lancashiregovuk/favicon</Path>
    <Trashed>false</Trashed>
    <ContentType>editorIcon</ContentType>
    <CreateDate>2025-04-01T09:37:01</CreateDate>
    <NodeName Default="favicon" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/p5zdmgdk/favicon.ico]]></Value>
    </umbracoFile>
  </Properties>
</Media>