<?xml version="1.0" encoding="utf-8"?>
<Media Key="76b759c4-6518-416f-a62b-4a1a21121301" Alias="favicon" Level="2">
  <Info>
    <Parent Key="f4e4b50d-47e9-4f81-bd0a-f0f5595aa8eb">Lancashire County Council</Parent>
    <Path>/LancashireCountyCouncil/favicon</Path>
    <Trashed>false</Trashed>
    <ContentType>editorIcon</ContentType>
    <CreateDate>2025-02-17T18:09:27</CreateDate>
    <NodeName Default="favicon" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2hbb4zds/favicon.ico]]></Value>
    </umbracoFile>
  </Properties>
</Media>