<?xml version="1.0" encoding="utf-8"?>
<Media Key="2b1454f5-70b3-4290-b679-f33019955d84" Alias="female_zebu_cattle.jpg" Level="2">
  <Info>
    <Parent Key="73dd6bcb-7fbd-46d1-9e42-83543c49ab99">Animals</Parent>
    <Path>/Animals/female_zebu_cattlejpg</Path>
    <Trashed>false</Trashed>
    <ContentType>editorImage</ContentType>
    <CreateDate>2026-03-25T13:42:12</CreateDate>
    <NodeName Default="female_zebu_cattle.jpg" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/jynfvcp4/female_zebu_cattle.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>