<?xml version="1.0" encoding="utf-8"?>
<Media Key="d53feedf-b422-46ad-ac08-911e220ac2ca" Alias="ferret_2008.png" Level="2">
  <Info>
    <Parent Key="73dd6bcb-7fbd-46d1-9e42-83543c49ab99">Animals</Parent>
    <Path>/Animals/ferret_2008png</Path>
    <Trashed>false</Trashed>
    <ContentType>editorImage</ContentType>
    <CreateDate>2026-03-25T13:41:44</CreateDate>
    <NodeName Default="ferret_2008.png" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/msqhc31p/ferret_2008.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>