<?xml version="1.0" encoding="utf-8"?>
<Media Key="328eee66-363f-4d7e-9b3d-0f7bc6364cfe" Alias="Fulwood Academy" Level="2">
  <Info>
    <Parent Key="bab9b8d7-3fe9-4256-949e-aa66eb772b0c">Schools</Parent>
    <Path>/Schools/FulwoodAcademy</Path>
    <Trashed>false</Trashed>
    <ContentType>editorImage</ContentType>
    <CreateDate>2025-05-08T17:08:05</CreateDate>
    <NodeName Default="Fulwood Academy" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[This is my alternative text]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [
    {
      "alias": "Full Screen Image",
      "width": 2560,
      "height": 2560,
      "coordinates": null
    },
    {
      "alias": "Hero Banner",
      "width": 2560,
      "height": 480,
      "coordinates": null
    },
    {
      "alias": "Poster",
      "width": 1600,
      "height": 1000,
      "coordinates": null
    },
    {
      "alias": "Card",
      "width": 400,
      "height": 250,
      "coordinates": null
    },
    {
      "alias": "Logo",
      "width": 90,
      "height": 90,
      "coordinates": null
    }
  ],
  "src": "/media/1wqnbeds/fulwood_academy-_black_bull_lane-_fulwood_-geograph_3139600.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>