<?xml version="1.0" encoding="utf-8"?>
<Media Key="5e70c081-223e-460a-bde9-19cacc053289" Alias="Giant Panda 2004 03 2" Level="2">
  <Info>
    <Parent Key="3877847b-99fb-401c-9ee5-75ab3e8ed226">Mammals 2</Parent>
    <Path>/Mammals2/GiantPanda2004032</Path>
    <Trashed>false</Trashed>
    <ContentType>editorImage</ContentType>
    <CreateDate>2025-04-01T09:38:28</CreateDate>
    <NodeName Default="Giant Panda 2004 03 2" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hkhd35dt/giant_panda_2004-03-2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>