<?xml version="1.0" encoding="utf-8"?>
<Media Key="f6beed76-c908-49b5-ac1b-871dac66b8e6" Alias="gorille_des_plaines_de_louest_à_lespace_zoologique.jpg" Level="2">
  <Info>
    <Parent Key="73dd6bcb-7fbd-46d1-9e42-83543c49ab99">Animals</Parent>
    <Path>/Animals/gorille_des_plaines_de_louest_a_lespace_zoologiquejpg</Path>
    <Trashed>false</Trashed>
    <ContentType>editorImage</ContentType>
    <CreateDate>2026-03-25T13:41:32</CreateDate>
    <NodeName Default="gorille_des_plaines_de_louest_à_lespace_zoologique.jpg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/zwrpavcf/gorille_des_plaines_de_louest_\u00E0_lespace_zoologique.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>