<?xml version="1.0" encoding="utf-8"?>
<Media Key="2ee1ed43-a287-4cc2-8442-d6a2bb36811a" Alias="gullfiskur.jpg" Level="2">
  <Info>
    <Parent Key="73dd6bcb-7fbd-46d1-9e42-83543c49ab99">Animals</Parent>
    <Path>/Animals/gullfiskurjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>editorImage</ContentType>
    <CreateDate>2026-03-25T13:41:41</CreateDate>
    <NodeName Default="gullfiskur.jpg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/5crk5dgk/gullfiskur.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>