<?xml version="1.0" encoding="utf-8"?>
<Media Key="4b196d8f-9f48-44df-8649-1705e181cff7" Alias="Gullfiskur" Level="2">
  <Info>
    <Parent Key="a0073438-8588-42c9-9413-c68e6954fd2c">Animals</Parent>
    <Path>/Animals/Gullfiskur</Path>
    <Trashed>false</Trashed>
    <ContentType>editorImage</ContentType>
    <CreateDate>2025-04-01T09:37:52</CreateDate>
    <NodeName Default="Gullfiskur" />
    <SortOrder>36</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/gqrfp0if/gullfiskur.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>