<?xml version="1.0" encoding="utf-8"?>
<Media Key="78716218-8b46-4c40-9825-8f442b20a125" Alias="Homing Pigeon" Level="2">
  <Info>
    <Parent Key="a0073438-8588-42c9-9413-c68e6954fd2c">Animals</Parent>
    <Path>/Animals/HomingPigeon</Path>
    <Trashed>false</Trashed>
    <ContentType>editorImage</ContentType>
    <CreateDate>2025-04-01T09:37:52</CreateDate>
    <NodeName Default="Homing Pigeon" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/umwd5wql/homing_pigeon.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>