<?xml version="1.0" encoding="utf-8"?>
<Media Key="54d9be0d-bd3c-490c-9bfd-0336f0d2eb74" Alias="Image1 620X410" Level="2">
  <Info>
    <Parent Key="6703dd57-a416-44c3-be20-e39332124bfe">Sample</Parent>
    <Path>/Sample/Image1620X410</Path>
    <Trashed>false</Trashed>
    <ContentType>editorImage</ContentType>
    <CreateDate>2025-02-13T10:14:05</CreateDate>
    <NodeName Default="Image1 620X410" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/w1yjp3tr/image1-620x410.jpg",
  "focalPoint": {
    "left": 0.51,
    "top": 0.332
  }
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>