<?xml version="1.0" encoding="utf-8"?>
<Media Key="3ebc41f4-4c27-4de6-89b8-d6608e3785d8" Alias="Image3 620X410" Level="2">
  <Info>
    <Parent Key="6703dd57-a416-44c3-be20-e39332124bfe">Sample</Parent>
    <Path>/Sample/Image3620X410</Path>
    <Trashed>false</Trashed>
    <ContentType>editorImage</ContentType>
    <CreateDate>2025-02-13T10:14:01</CreateDate>
    <NodeName Default="Image3 620X410" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/j2hpfhdk/image3-620x410.jpg",
  "focalPoint": {
    "left": 0.2225,
    "top": 0.484
  }
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>