<?xml version="1.0" encoding="utf-8"?>
<Media Key="90b781f4-4499-4922-a582-3b51d8429c64" Alias="jammlich_crop.jpg" Level="2">
  <Info>
    <Parent Key="73dd6bcb-7fbd-46d1-9e42-83543c49ab99">Animals</Parent>
    <Path>/Animals/jammlich_cropjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>editorImage</ContentType>
    <CreateDate>2026-03-25T13:41:48</CreateDate>
    <NodeName Default="jammlich_crop.jpg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/j5hpsmwu/jammlich_crop.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>