<?xml version="1.0" encoding="utf-8"?>
<Media Key="1d39f2a2-f1cb-4321-bb2b-c0f4e0fdc68a" Alias="Kirkham-Grammar-School-Lancashire-11-plus-exam.webp" Level="2">
  <Info>
    <Parent Key="bab9b8d7-3fe9-4256-949e-aa66eb772b0c">Schools</Parent>
    <Path>/Schools/KirkhamGrammarSchoolLancashire11PlusExamwebp</Path>
    <Trashed>false</Trashed>
    <ContentType>editorImage</ContentType>
    <CreateDate>2025-12-29T16:33:07</CreateDate>
    <NodeName Default="Kirkham-Grammar-School-Lancashire-11-plus-exam.webp" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/dg4hpp2g/kirkham-grammar-school-lancashire-11-plus-exam.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>