<?xml version="1.0" encoding="utf-8"?>
<Media Key="8ebe04b2-0943-4174-a1a3-7e52cb272412" Alias="koe_in_weiland_bij_gorssel.jpg" Level="2">
  <Info>
    <Parent Key="73dd6bcb-7fbd-46d1-9e42-83543c49ab99">Animals</Parent>
    <Path>/Animals/koe_in_weiland_bij_gorsseljpg</Path>
    <Trashed>false</Trashed>
    <ContentType>editorImage</ContentType>
    <CreateDate>2026-03-25T13:42:48</CreateDate>
    <NodeName Default="koe_in_weiland_bij_gorssel.jpg" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/bffpalao/koe_in_weiland_bij_gorssel.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>