<?xml version="1.0" encoding="utf-8"?>
<Media Key="455c37a6-e92d-4d45-ae13-e4c276ac305c" Alias="lancashire.gov.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/lancashiregovuk</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-04-01T09:37:01</CreateDate>
    <NodeName Default="lancashire.gov.uk" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>