<?xml version="1.0" encoding="utf-8"?>
<Media Key="f4e4b50d-47e9-4f81-bd0a-f0f5595aa8eb" Alias="Lancashire County Council" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/LancashireCountyCouncil</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-02-17T18:09:03</CreateDate>
    <NodeName Default="Lancashire County Council" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>