<?xml version="1.0" encoding="utf-8"?>
<Media Key="7b047700-cf64-4426-9493-4b5f3c72903b" Alias="Lancashire" Level="2">
  <Info>
    <Parent Key="6703dd57-a416-44c3-be20-e39332124bfe">Sample</Parent>
    <Path>/Sample/Lancashire</Path>
    <Trashed>false</Trashed>
    <ContentType>editorImage</ContentType>
    <CreateDate>2025-02-25T09:51:50</CreateDate>
    <NodeName Default="Lancashire" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xm2evwjj/lancashire.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>