<?xml version="1.0" encoding="utf-8"?>
<Media Key="3877847b-99fb-401c-9ee5-75ab3e8ed226" Alias="Mammals 2" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Mammals2</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-04-01T09:38:28</CreateDate>
    <NodeName Default="Mammals 2" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties />
</Media>