<?xml version="1.0" encoding="utf-8"?>
<Media Key="f3c92ad3-c75c-4b93-a71c-c9e8bdea5392" Alias="Mat" Level="2">
  <Info>
    <Parent Key="6703dd57-a416-44c3-be20-e39332124bfe">Sample</Parent>
    <Path>/Sample/Mat</Path>
    <Trashed>false</Trashed>
    <ContentType>editorDownload</ContentType>
    <CreateDate>2026-01-12T15:29:05</CreateDate>
    <NodeName Default="Mat" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tbjfdvax/littleslowbro-materials.xlsx]]></Value>
    </umbracoFile>
  </Properties>
</Media>