<?xml version="1.0" encoding="utf-8"?>
<Media Key="99198e3f-ec77-44f5-9483-5a209c24a3d1" Alias="Modis Wonderglobe Lrg" Level="2">
  <Info>
    <Parent Key="6703dd57-a416-44c3-be20-e39332124bfe">Sample</Parent>
    <Path>/Sample/ModisWonderglobeLrg</Path>
    <Trashed>false</Trashed>
    <ContentType>editorImage</ContentType>
    <CreateDate>2025-03-18T09:05:34</CreateDate>
    <NodeName Default="Modis Wonderglobe Lrg" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qtafooz0/modis_wonderglobe_lrg.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>