<?xml version="1.0" encoding="utf-8"?>
<Media Key="93fadf62-4914-4e01-aaf0-f567621c0e05" Alias="Muscovyduck" Level="2">
  <Info>
    <Parent Key="a0073438-8588-42c9-9413-c68e6954fd2c">Animals</Parent>
    <Path>/Animals/Muscovyduck</Path>
    <Trashed>false</Trashed>
    <ContentType>editorImage</ContentType>
    <CreateDate>2025-04-01T09:37:52</CreateDate>
    <NodeName Default="Muscovyduck" />
    <SortOrder>33</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1gilimkz/muscovyduck.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>