<?xml version="1.0" encoding="utf-8"?>
<Media Key="1bc72ab6-0fb4-4246-8292-09ccf6bd8482" Alias="nokota_horses_cropped.jpg" Level="2">
  <Info>
    <Parent Key="73dd6bcb-7fbd-46d1-9e42-83543c49ab99">Animals</Parent>
    <Path>/Animals/nokota_horses_croppedjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>editorImage</ContentType>
    <CreateDate>2026-03-25T13:41:55</CreateDate>
    <NodeName Default="nokota_horses_cropped.jpg" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/bvsjtopz/nokota_horses_cropped.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>