<?xml version="1.0" encoding="utf-8"?>
<Media Key="efcdf5b2-a0f2-4203-b667-559c0ef90ae0" Alias="pack_llamas_posing_near_muir_trail.jpg" Level="2">
  <Info>
    <Parent Key="73dd6bcb-7fbd-46d1-9e42-83543c49ab99">Animals</Parent>
    <Path>/Animals/pack_llamas_posing_near_muir_trailjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>editorImage</ContentType>
    <CreateDate>2026-03-25T13:42:18</CreateDate>
    <NodeName Default="pack_llamas_posing_near_muir_trail.jpg" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/bg3igtn5/pack_llamas_posing_near_muir_trail.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>