<?xml version="1.0" encoding="utf-8"?>
<Media Key="e9546e78-afa3-43d8-b49d-2c0378fff6a6" Alias="Pair Of Icelandic Sheep" Level="2">
  <Info>
    <Parent Key="3877847b-99fb-401c-9ee5-75ab3e8ed226">Mammals 2</Parent>
    <Path>/Mammals2/PairOfIcelandicSheep</Path>
    <Trashed>false</Trashed>
    <ContentType>editorImage</ContentType>
    <CreateDate>2025-04-01T09:38:28</CreateDate>
    <NodeName Default="Pair Of Icelandic Sheep" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ymqbus5o/pair_of_icelandic_sheep.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>