<?xml version="1.0" encoding="utf-8"?>
<Media Key="1499e2d2-cb04-440a-8836-b72949bce35e" Alias="pembroke_welsh_corgi_600.jpg" Level="2">
  <Info>
    <Parent Key="73dd6bcb-7fbd-46d1-9e42-83543c49ab99">Animals</Parent>
    <Path>/Animals/pembroke_welsh_corgi_600jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>editorImage</ContentType>
    <CreateDate>2026-03-25T13:42:26</CreateDate>
    <NodeName Default="pembroke_welsh_corgi_600.jpg" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ngwnpnsj/pembroke_welsh_corgi_600.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>