<?xml version="1.0" encoding="utf-8"?>
<Media Key="7483deaf-2f56-42bb-94e2-7b26f05dd8b7" Alias="Pokemon" Level="2">
  <Info>
    <Parent Key="976dc1a6-8d43-4950-98b1-b3495a27f447">Wackywoo</Parent>
    <Path>/Wackywoo/Pokemon</Path>
    <Trashed>false</Trashed>
    <ContentType>editorImage</ContentType>
    <CreateDate>2026-03-06T17:59:39</CreateDate>
    <NodeName Default="Pokemon" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.6798592032967034,
    "top": 0.43498167100843493
  },
  "crops": [
    {
      "alias": "Full Screen Image",
      "width": 2560,
      "height": 2560,
      "coordinates": null
    },
    {
      "alias": "Hero Banner",
      "width": 2560,
      "height": 480,
      "coordinates": null
    },
    {
      "alias": "Poster",
      "width": 1600,
      "height": 1000,
      "coordinates": null
    },
    {
      "alias": "Card",
      "width": 400,
      "height": 250,
      "coordinates": null
    },
    {
      "alias": "Logo",
      "width": 90,
      "height": 90,
      "coordinates": null
    }
  ],
  "src": "/media/csin1vq1/polish_20231016_155835848.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>