<?xml version="1.0" encoding="utf-8"?>
<Media Key="34d3ec74-2b62-4a14-82bc-57ff7658913b" Alias="Ribble Valley" Level="2">
  <Info>
    <Parent Key="6703dd57-a416-44c3-be20-e39332124bfe">Sample</Parent>
    <Path>/Sample/RibbleValley</Path>
    <Trashed>false</Trashed>
    <ContentType>editorImage</ContentType>
    <CreateDate>2025-02-25T09:52:44</CreateDate>
    <NodeName Default="Ribble Valley" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/z4rj1frp/ribble_valley.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>