<?xml version="1.0" encoding="utf-8"?>
<Media Key="d52654c4-9835-4d35-95c3-a149f147b716" Alias="River" Level="2">
  <Info>
    <Parent Key="6703dd57-a416-44c3-be20-e39332124bfe">Sample</Parent>
    <Path>/Sample/River</Path>
    <Trashed>false</Trashed>
    <ContentType>editorImage</ContentType>
    <CreateDate>2025-02-25T09:51:45</CreateDate>
    <NodeName Default="River" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/p2nhq31y/telemmglpict000351136044_16959155408130_trans_nvbqzqnjv4bqqvzuuqpflyliwib6ntmjwsx5rhseiwkoo9p9oq-ymek.webp",
  "focalPoint": {
    "left": 0.8195733420165617,
    "top": 0.8535648268517759
  }
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>