<?xml version="1.0" encoding="utf-8"?>
<Media Key="bab9b8d7-3fe9-4256-949e-aa66eb772b0c" Alias="Schools" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Schools</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-05-08T17:00:59</CreateDate>
    <NodeName Default="Schools" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties />
</Media>