<?xml version="1.0" encoding="utf-8"?>
<Media Key="8513ae4f-3129-479b-b317-13c22b359ba2" Alias="Silkworms3000px" Level="2">
  <Info>
    <Parent Key="a0073438-8588-42c9-9413-c68e6954fd2c">Animals</Parent>
    <Path>/Animals/Silkworms3000px</Path>
    <Trashed>false</Trashed>
    <ContentType>editorImage</ContentType>
    <CreateDate>2025-04-01T09:37:52</CreateDate>
    <NodeName Default="Silkworms3000px" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4tqf0j1e/silkworms3000px.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>