<?xml version="1.0" encoding="utf-8"?>
<Media Key="cfdc5fe5-7510-4555-9682-9b5e4b96a772" Alias="Sir Tom Finney Community High School" Level="2">
  <Info>
    <Parent Key="bab9b8d7-3fe9-4256-949e-aa66eb772b0c">Schools</Parent>
    <Path>/Schools/SirTomFinneyCommunityHighSchool</Path>
    <Trashed>false</Trashed>
    <ContentType>editorImage</ContentType>
    <CreateDate>2025-05-08T17:05:47</CreateDate>
    <NodeName Default="Sir Tom Finney Community High School" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/lyije1k3/sir-tom-finney-community-high-school.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>