<?xml version="1.0" encoding="utf-8"?>
<Media Key="92590f2f-3051-4178-b7cb-2e1880e029b9" Alias="The Yak" Level="2">
  <Info>
    <Parent Key="3877847b-99fb-401c-9ee5-75ab3e8ed226">Mammals 2</Parent>
    <Path>/Mammals2/TheYak</Path>
    <Trashed>false</Trashed>
    <ContentType>editorImage</ContentType>
    <CreateDate>2025-04-01T09:38:28</CreateDate>
    <NodeName Default="The Yak" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/sraboma2/the_yak.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>