<?xml version="1.0" encoding="utf-8"?>
<Media Key="0c919c2a-0b22-4655-8692-e242a0210b6d" Alias="the_yak.jpg" Level="2">
  <Info>
    <Parent Key="73dd6bcb-7fbd-46d1-9e42-83543c49ab99">Animals</Parent>
    <Path>/Animals/the_yakjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>editorImage</ContentType>
    <CreateDate>2026-03-25T13:42:56</CreateDate>
    <NodeName Default="the_yak.jpg" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/shjn5ltp/the_yak.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>