<?xml version="1.0" encoding="utf-8"?>
<Media Key="ebef0431-96e5-4ef8-8f97-6768ad034184" Alias="Umbraco" Level="2">
  <Info>
    <Parent Key="2e215365-6487-4176-941e-95d1fd613e7f">Umbraco</Parent>
    <Path>/Umbraco/Umbraco</Path>
    <Trashed>false</Trashed>
    <ContentType>editorImage</ContentType>
    <CreateDate>2025-04-01T09:38:15</CreateDate>
    <NodeName Default="Umbraco" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rjflcsni/umbraco.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>