<?xml version="1.0" encoding="utf-8"?>
<Media Key="1d05e1d6-a1be-4c9b-ba5f-f76cd6ae5ec7" Alias="Umbraco Eol 7" Level="2">
  <Info>
    <Parent Key="2e215365-6487-4176-941e-95d1fd613e7f">Umbraco</Parent>
    <Path>/Umbraco/UmbracoEol7</Path>
    <Trashed>false</Trashed>
    <ContentType>editorImage</ContentType>
    <CreateDate>2025-04-01T09:38:15</CreateDate>
    <NodeName Default="Umbraco Eol 7" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/nwxexp5t/umbraco-eol-7.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>