<?xml version="1.0" encoding="utf-8"?>
<Media Key="c46a9fde-577c-484c-8c0c-eb7ad0b460db" Alias="Umbraco Cms" Level="2">
  <Info>
    <Parent Key="2e215365-6487-4176-941e-95d1fd613e7f">Umbraco</Parent>
    <Path>/Umbraco/UmbracoCms</Path>
    <Trashed>false</Trashed>
    <ContentType>editorImage</ContentType>
    <CreateDate>2025-04-01T09:38:15</CreateDate>
    <NodeName Default="Umbraco Cms" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/mxicizrr/umbraco-cms.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>