<?xml version="1.0" encoding="utf-8"?>
<Media Key="81b8fbbb-1611-45e1-bcfa-cbb8195a18f7" Alias="Umbraco Logo 2" Level="2">
  <Info>
    <Parent Key="2e215365-6487-4176-941e-95d1fd613e7f">Umbraco</Parent>
    <Path>/Umbraco/UmbracoLogo2</Path>
    <Trashed>false</Trashed>
    <ContentType>editorVectorGraphics</ContentType>
    <CreateDate>2025-04-01T09:38:15</CreateDate>
    <NodeName Default="Umbraco Logo 2" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2whdrnkm/umbraco-logo-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>