<?xml version="1.0" encoding="utf-8"?>
<Media Key="ec607fb7-7152-4659-9059-069e0a657bbd" Alias="water_buffalo-_phayao_lake.jpg" Level="2">
  <Info>
    <Parent Key="73dd6bcb-7fbd-46d1-9e42-83543c49ab99">Animals</Parent>
    <Path>/Animals/water_buffalo_phayao_lakejpg</Path>
    <Trashed>false</Trashed>
    <ContentType>editorImage</ContentType>
    <CreateDate>2026-03-25T13:41:28</CreateDate>
    <NodeName Default="water_buffalo-_phayao_lake.jpg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/bqyc2tq5/water_buffalo-_phayao_lake.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>