<?xml version="1.0" encoding="utf-8"?>
<Media Key="c2f07ad7-e0a9-4648-abcc-92106c27f36f" Alias="Wildlife At Maasai Mara (Lion)" Level="2">
  <Info>
    <Parent Key="3877847b-99fb-401c-9ee5-75ab3e8ed226">Mammals 2</Parent>
    <Path>/Mammals2/WildlifeAtMaasaiMaraLion</Path>
    <Trashed>false</Trashed>
    <ContentType>editorImage</ContentType>
    <CreateDate>2025-04-01T09:38:28</CreateDate>
    <NodeName Default="Wildlife At Maasai Mara (Lion)" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/nq0l2yhe/wildlife_at_maasai_mara_-lion.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>