@model Protenacity.Cake.Web.Presentation.Editor.FormEntry.FormEntryViewModel

<div class="d-flex h-100">
    <theme subtheme="Model.Subtheme" shade="Model.ThemeShade" border-color="@Model.BorderColor" border-edges="@Model.BorderEdges" class="card w-100">
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <p class="card-text">@Model.Message</p>
        </div>
    </theme>
</div>
