<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2975b1d3-eed3-4ae7-909e-1f901ec1edf9" Alias="alertTab" Level="2">
  <Info>
    <Name>Alert Tab</Name>
    <Icon>icon-megaphone color-lime</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Alert information displayed at top of page</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Furniture</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a0ad82ce-a857-48d6-9f36-f16d185b72d0</Key>
      <Name>Status</Name>
      <Alias>alertStatus</Alias>
      <Definition>c686a50f-1358-46ec-a038-314c0faeac96</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[<b>Inherit</b> alert bar status from parent web page or <b>show</b>/<b>hide</b> this alert bar ]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="alert">Alert</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2ea0fbfd-1bdf-4659-921c-1b29dd4761ca</Key>
      <Name>Text</Name>
      <Alias>alertText</Alias>
      <Definition>e606b3fb-15f0-491a-8365-763bcd9b3485</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Text to be displayed when this alert is enabled]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="alert">Alert</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4522f1a1-c315-40f4-ac0e-393b42fb2e1b</Key>
      <Name>Title</Name>
      <Alias>alertTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Title for alert. Only displays when enabled]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="alert">Alert</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ebdda500-9b3c-452d-9ddb-ea081e53af85</Key>
      <Name>Type</Name>
      <Alias>alertType</Alias>
      <Definition>739b78e0-8f76-4944-a0d0-75ba363f5733</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[What type of alert is this]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="alert">Alert</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>f4d3b260-948f-4bf7-9f66-a15c565253c5</Key>
      <Caption>Alert</Caption>
      <Alias>alert</Alias>
      <Type>Tab</Type>
      <SortOrder>80</SortOrder>
    </Tab>
  </Tabs>
</ContentType>