<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d62b65de-1cb4-4068-88cf-409835eec827" Alias="asideTab" Level="2">
  <Info>
    <Name>Aside Tab</Name>
    <Icon>icon-arrow-left color-lime</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>List of links placed in a side panel</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Furniture</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>6ea4d45a-e1cf-4d15-ab39-e4a653437e7d</Key>
      <Name>Contents</Name>
      <Alias>asideContent</Alias>
      <Definition>7155908b-6d8e-4b6a-b37b-35d23ed0415d</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[List of links to place to the side of main content.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="aside">Aside</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a01f0b1e-961c-4253-9d2c-9f8c049784b6</Key>
      <Name>Fixed</Name>
      <Alias>asideFixed</Alias>
      <Definition>81579286-c067-4d20-92cd-b8a244fa0357</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[True = Side panel is fixed in location and doesn't move when page is scrolled OR 
False = Side panel scrolls with rest of page ]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="aside">Aside</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0db2584a-dcdf-46c2-8e31-858c57b756dd</Key>
      <Name>Offset</Name>
      <Alias>asideOffset</Alias>
      <Definition>2450a8a0-dfeb-45d5-b0a2-d8f26fc1e436</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The side panel can be anchored beside which content block.
1 = Start beside the first main content block.
2 = Start beside the second main content block, which means the first content block will expand to take up all the available space.
3 = Start beside the third main content block, allowing the first and second main content block to expand.  ]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="aside">Aside</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>404c5d0e-a757-4797-a4dd-8bd377a2077e</Key>
      <Name>Status</Name>
      <Alias>asideStatus</Alias>
      <Definition>583b450b-14d0-4243-9104-1f492475f22d</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Either <b>inherit</b> side panel from parent web page, <b>hide</b> side panel and allow web page content to be full width or display a side panel using the contents below on the <b>left</b> or <b>right</b> hand side of page. ]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="aside">Aside</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage>Need to set side panel status</MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>c76d46d8-4bed-47f0-9d1e-d66da33b1561</Key>
      <Caption>Aside</Caption>
      <Alias>aside</Alias>
      <Type>Tab</Type>
      <SortOrder>10</SortOrder>
    </Tab>
  </Tabs>
</ContentType>