<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="802b6906-24ac-42c7-b902-76e77a117ce1" Alias="bannerTab" Level="2">
  <Info>
    <Name>Hero Banner Tab</Name>
    <Icon>icon-picture</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Create hero banners</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Furniture</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>9c546486-7736-435a-b58a-bfadd1021702</Key>
      <Name>Hero Banners</Name>
      <Alias>bannerContent</Alias>
      <Definition>70dbfba9-45c2-4cf6-a12a-027093bd159c</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter one or more slide that are positioned above page content ]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="heroBanner">Hero Banner</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5cfc1eea-be42-4ef6-8b0c-755c9937e63f</Key>
      <Name>Single Image</Name>
      <Alias>bannerHeroImage</Alias>
      <Definition>5a50c29b-7929-4a33-9055-b9f9d9d9c921</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Single Image, that won't be resized and will be displayed in the ratio of the original.

Use with caution as large image will not be shrunk for small devices and can cause delays in displaying for those with limited bandwidth.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="heroBanner">Hero Banner</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2fdc8160-f15c-4e2c-9a7d-a742da2d9c63</Key>
      <Name>Status</Name>
      <Alias>bannerStatus</Alias>
      <Definition>abd569d3-a127-433b-91d3-70dd8eae283c</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[<b>Inherit</b> Hero Banner from parent page or <b>Show Hero Banners</b>, <b>Show Single Image</b> or <b>Hide</b> Hero Banner from information entered below ]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="heroBanner">Hero Banner</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>b0b945e5-159c-414b-b719-081f3f98ff09</Key>
      <Caption>Hero Banner</Caption>
      <Alias>heroBanner</Alias>
      <Type>Tab</Type>
      <SortOrder>5</SortOrder>
    </Tab>
  </Tabs>
</ContentType>