<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="bf3351ec-9aaa-4228-9733-3d0c4e1b2840" Alias="cookieConsentCookieSettings" Level="2">
  <Info>
    <Name>Cookie Consent Cookie Settings</Name>
    <Icon>icon-settings color-lime</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Settings for the Cookie Consent Cookie</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Furniture</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>35c9d52f-c219-460f-8d8c-599f5f964b19</Key>
      <Name>Background Color</Name>
      <Alias>cookieBackgroundColor</Alias>
      <Definition>d6cd339a-d4a4-473d-abcc-2af7802b3c59</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Optional color set behind cookie]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="contents">Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>dedc7e11-aa35-41ec-9f72-1a45f460cb5d</Key>
      <Caption>Contents</Caption>
      <Alias>contents</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>