<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="eb9c8f35-4365-4f12-a64c-f495d9c17bbe" Alias="domainPage" Level="2">
  <Info>
    <Name>Domain Page</Name>
    <Icon>icon-globe color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Website Domain</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Structure</Folder>
    <Compositions>
      <Composition Key="1ecaf5f3-25de-4e8e-ade3-8a0d689be68b">cookieConsentTab</Composition>
      <Composition Key="f4545908-5002-40f5-af1a-dd0089ca8a27">domainConfigurationTab</Composition>
      <Composition Key="720f971d-d9da-4116-afe2-cea9d88b897a">securityTab</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="7c6590a9-8700-401a-9cb2-aabaa11a3bc4" SortOrder="0">editorPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>b98d4f0e-ef18-4d03-bc76-4000c21e771c</Key>
      <Name>All Services</Name>
      <Alias>allServices</Alias>
      <Definition>2c457913-dddd-4ebc-9134-fc3e4c60cad4</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Set All Service Page]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="contents">Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>15a61ca7-4fb4-4620-842e-dda59c0586ec</Key>
      <Name>Bing</Name>
      <Alias>bingVerification</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Bing verification code ('msvalidate.01')]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="verification">Verification</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e3224875-e44f-4dd6-ba0e-97f58854c5e2</Key>
      <Name>Enable Indexing</Name>
      <Alias>enableIndexing</Alias>
      <Definition>81579286-c067-4d20-92cd-b8a244fa0357</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Allow the entire website to be indexed by search engines]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="searchEngine">Search Engine</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>683456a4-271b-48db-87a1-6630bc3a1af3</Key>
      <Name>Enable Sitemap.xml</Name>
      <Alias>enableSitemapxml</Alias>
      <Definition>81579286-c067-4d20-92cd-b8a244fa0357</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Auto generate a Sitemap.Xml file]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="searchEngine">Search Engine</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8070dadf-45f0-4c4a-8d3e-a02b7527950a</Key>
      <Name>Enable Snippets</Name>
      <Alias>enableSnippets</Alias>
      <Definition>81579286-c067-4d20-92cd-b8a244fa0357</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Requests that <a href="https://developers.google.com/search/docs/appearance/snippet">search engines</a> to use elements of the page to display in search results. When disabled will request to use meta data instead. At best this is a suggestion to a search engine and if the meta data doesn't match the contents of the page this setting can and will be ignored.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="searchEngine">Search Engine</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c0cbe54a-dd5c-4840-8563-d22fe2a46823</Key>
      <Name>Error Page</Name>
      <Alias>errorPage</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Special page shown to user when an URL doesn't match an existing page - 404 Error.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="contents">Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>da947b78-afcc-41e8-b2e5-45f2207fbb05</Key>
      <Name>Facebook</Name>
      <Alias>facebookVerification</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Facebook verification code ('facebook-domain-verification')]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="verification">Verification</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7dd6f2df-e99c-4060-a6d7-03323424d5f2</Key>
      <Name>Google</Name>
      <Alias>googleVerification</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Google verification code ('google-site-verification')]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="verification">Verification</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>20fe5f7b-7a51-4c2a-9bc1-ffe202cbaeb1</Key>
      <Name>Icon</Name>
      <Alias>icon</Alias>
      <Definition>1c4631f8-c869-480f-8d69-3efaa0fa6d29</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Website Icon]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="contents">Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>99775201-6c14-4d14-8a7d-c30dce3dea23</Key>
      <Name>Publisher</Name>
      <Alias>publisher</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Who publishes this website]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="contents">Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2a6f3ffc-2160-4c5a-a8ab-2d433774097d</Key>
      <Name>Robots.Txt</Name>
      <Alias>robotsTxt</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Custom contents of the  <a href="https://developers.google.com/search/docs/crawling-indexing/robots/intro" target="_new">Robots.Txt</a> file]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="searchEngine">Search Engine</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>681f1b24-ed29-463a-9737-f664df9886dc</Key>
      <Name>Rss Feeds</Name>
      <Alias>rssFeeds</Alias>
      <Definition>839a0674-d585-44bc-b54b-ef363abf37ae</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Setup any Rss Feeds]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="rssFeeds">Rss Feeds</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a8631c8b-373b-4e53-befd-a8707ffc2eca</Key>
      <Name>Search</Name>
      <Alias>search</Alias>
      <Definition>2c457913-dddd-4ebc-9134-fc3e4c60cad4</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Set Search Page]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="contents">Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>952107b9-3b59-4bf3-971d-4e1b7f36194f</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Title of Website]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="contents">Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>3cf3e875-91f6-4b26-a844-614a3b3b2999</Key>
      <Caption>Rss Feeds</Caption>
      <Alias>rssFeeds</Alias>
      <Type>Tab</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>438b068b-0f98-45e0-9a72-de04a86ad0f6</Key>
      <Caption>Contents</Caption>
      <Alias>contents</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>5bd26287-e632-4972-9d2d-5ba4cc30dd6d</Key>
      <Caption>Search Engine</Caption>
      <Alias>searchEngine</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>e3237ee1-0c84-4b4a-8bd2-84109ca1a9f1</Key>
      <Caption>Verification</Caption>
      <Alias>verification</Alias>
      <Type>Tab</Type>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>