<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f4545908-5002-40f5-af1a-dd0089ca8a27" Alias="domainConfigurationTab" Level="2">
  <Info>
    <Name>Domain Configuration Tab</Name>
    <Icon>icon-settings color-lime</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Values that change website functionality</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Furniture</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>698b3fd1-de25-4707-9720-68aaed0a605f</Key>
      <Name>Side Panel Left Width</Name>
      <Alias>configAsideLeftWidth</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Pick a number between 1 and 12. Each consecutive number makes the side panel 8% wider.
1 = side panel takes up <span style="font-size: 70%; vertical-align: 0.7ex;">1</span>&frasl;<span style="font-size: 70%; vertical-align: -0.3ex;">12</span><sup>th</sup> of the page leaving <span style="font-size: 70%; vertical-align: 0.7ex;">11</span>&frasl;<span style="font-size: 70%; vertical-align: -0.3ex;">12</span><sup>th</sup> for main content. 
3 = side panel takes up <span style="font-size: 70%; vertical-align: 0.7ex;">3</span>&frasl;<span style="font-size: 70%; vertical-align: -0.3ex;">12</span><sup>th</sup> of the page leaving <span style="font-size: 70%; vertical-align: 0.7ex;">9</span>&frasl;<span style="font-size: 70%; vertical-align: -0.3ex;">12</span><sup>th</sup> for main content.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="config/aside">Aside</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>49d74527-609a-4a6b-9dcb-b61c663982de</Key>
      <Name>Side Panel Right Width</Name>
      <Alias>configAsideRightWidth</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Pick a number between 1 and 12. Each consecutive number makes the side panel 8% wider.
2 = side panel takes up <span style="font-size: 70%; vertical-align: 0.7ex;">2</span>&frasl;<span style="font-size: 70%; vertical-align: -0.3ex;">12</span><sup>th</sup> of the page leaving <span style="font-size: 70%; vertical-align: 0.7ex;">10</span>&frasl;<span style="font-size: 70%; vertical-align: -0.3ex;">12</span><sup>th</sup> for main content. 
4 = side panel takes up <span style="font-size: 70%; vertical-align: 0.7ex;">4</span>&frasl;<span style="font-size: 70%; vertical-align: -0.3ex;">12</span><sup>th</sup> of the page leaving <span style="font-size: 70%; vertical-align: 0.7ex;">8</span>&frasl;<span style="font-size: 70%; vertical-align: -0.3ex;">12</span><sup>th</sup> for main content.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="config/aside">Aside</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9660c2b8-2448-442e-8825-ff538507bf4e</Key>
      <Name>Date Format</Name>
      <Alias>configCardDateFormat</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Date format used on Cards to display Date. Formats include dd/MM/yyyy]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="config/card">Card</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>df26fa85-8cab-4e4a-9cc9-9c334e9fd86a</Key>
      <Name>Time Format</Name>
      <Alias>configCardTimeFormat</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Time format used on Cards to display Time. Formats include HH:mm]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="config/card">Card</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6809c994-a827-4183-9ee0-c0b129753b5d</Key>
      <Name>Default Cache Length</Name>
      <Alias>configCategoryCache</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[How long, in minutes, to cache Category information when reading them. The cache uses Examine's Editor Index to collect data.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="config/category">Category</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1978ba0c-6f15-47c3-b300-2e55b060bb67</Key>
      <Name>Date Format</Name>
      <Alias>configCoronerDateFormat</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Date format used to display Coroner dates. Formats include dd/MM/yyyy]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="config/coroner">Coroner</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>47d7ec26-3675-47e3-baad-3287230e6d93</Key>
      <Name>Time Format</Name>
      <Alias>configCoronerTimeFormat</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Time format used to display Coroner times. Formats include HH:mm]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="config/coroner">Coroner</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c342e8e9-7064-4b07-8004-94daa830e461</Key>
      <Name>Default Aside Background</Name>
      <Alias>configDefaultAsideBackground</Alias>
      <Definition>d19af56c-4648-4f91-b72a-1739f08ebf16</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Default background used for side panels]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="config/aside">Aside</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>91361355-3d41-4a58-8892-c92e10108eaa</Key>
      <Name>Default Aside Border Edges</Name>
      <Alias>configDefaultAsideBorderEdges</Alias>
      <Definition>22a3a197-8889-48e0-9a51-823e4b61d9c3</Definition>
      <Type>Umbraco.CheckBoxList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Default edges that are shown around the side panel]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="config/aside">Aside</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fdb64241-21ff-4510-9cb5-53509b843802</Key>
      <Name>Missing Image Background Color</Name>
      <Alias>configDefaultImageMissingColor</Alias>
      <Definition>1f7aa925-3ce0-48ec-a8e6-cb44ba2c7137</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[What col,our to use when an image is missing]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="config/images">Images</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>35483123-2dd9-4832-a5c6-f803849b02d8</Key>
      <Name>From Email </Name>
      <Alias>configFormFromEmail</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation>[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+</Validation>
      <Description><![CDATA[When sending emails as part of submit workflow, who to send the email from]]></Description>
      <SortOrder>11</SortOrder>
      <Tab Alias="config/form">Form</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8913da6a-65c5-40aa-940c-2cb1ddad6132</Key>
      <Name>Image Quality</Name>
      <Alias>configImageQuality</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select number between 1 to 100.
1 = Awful images but fast.
100 = Perfect images, but slow.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="config/images">Images</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>27998c03-708f-4625-afe9-7aca49ef9fc7</Key>
      <Name>Custom Time Format</Name>
      <Alias>configOpeningTimesCustomTimeFormat</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Allows custom time formatitng. See <a href="https://learn.microsoft.com/en-us/dotnet/standard/base-types/custom-date-and-time-format-strings">Custom date and time format</a> for details]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="config/openingTimes">Opening Times</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>73a250a6-4f21-438d-858a-58876522f464</Key>
      <Name>Maximum Allowed Pages</Name>
      <Alias>configPageMaximum</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Maximum allowed pages of results]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="config/page">Page</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8eb94a0b-93e3-413c-8ef2-dc34c06ab2e7</Key>
      <Name>Default Page Size</Name>
      <Alias>configPageSizeDefault</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Default Page Size of search results]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="config/page">Page</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>456fc79a-9d57-4428-81a0-edfaa32f0f43</Key>
      <Name>Maximum Page Size</Name>
      <Alias>configPageSizeMaximum</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Maximum allowed size of a page]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="config/page">Page</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7187b2cb-5822-44cb-ba9d-4a3e3cf35866</Key>
      <Name>Review Email Body</Name>
      <Alias>configReviewEmailBody</Alias>
      <Definition>7cba2f6b-082a-4db3-94db-ef4402258aaf</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Email body for review content email]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="config/review">Review</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2ff1e161-c540-452b-9978-759781c457a3</Key>
      <Name>Review Email Frequency</Name>
      <Alias>configReviewEmailFrequency</Alias>
      <Definition>71a05ae3-811f-48c8-bb32-fd27573ec497</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Which days of the week would you like to send review content emails]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="config/review">Review</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>851b57eb-dad3-4ec5-9ab2-c95eeb11a4fe</Key>
      <Name>Review From Email</Name>
      <Alias>configReviewEmailFrom</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation>[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+</Validation>
      <Description><![CDATA[Which email address should we use to send review emails from]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="config/review">Review</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>80d39d80-ffdf-4de8-a53d-3da4a83773be</Key>
      <Name>Review Email Subject</Name>
      <Alias>configReviewEmailSubject</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Subject element for emails sent out when content requires review]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="config/review">Review</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>21ea6e41-a45c-44d3-ace2-47c993dd2190</Key>
      <Name>Default Cache Length</Name>
      <Alias>configRssFeedReaderCache</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[How long, in minutes, to cache Rss Feed when reading them, if the Rss Feed itself doesn't broadcast its cache rate/TTL.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="config/rssFeedReader">Rss Feed Reader</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4686673a-1a7f-4719-a15b-cdd665499fd4</Key>
      <Name>Fuzziness</Name>
      <Alias>configSearchFuzziness</Alias>
      <Definition>5aba26ad-48e9-4859-a2e5-7592fb32f228</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Required similarity between search query and matching results. 
90 = Close matching only, 1 or 2 characters difference.
50 = Only half the characters are required to match. 

Lower the value more matches but slower the search takes to execute. If value is too low, search query will match everything.
]]></Description>
      <SortOrder>9</SortOrder>
      <Tab Alias="config/search">Search</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>05ce23ef-a536-41c7-975d-7562f6a23f0f</Key>
      <Name>H1 Boost</Name>
      <Alias>configSearchH1Boost</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[How important is H1 content compared to other content. 
10 = Ten times more important than other content.
1 = Same as other content]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="config/search">Search</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bc4d6547-16ce-485f-b821-6cb3281202d1</Key>
      <Name>H2 Boost</Name>
      <Alias>configSearchH2Boost</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[How important is H2 content compared to other content. 
10 = Ten times more important than other content.
1 = Same as other content]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="config/search">Search</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9bcdc0d2-ef9b-4a1b-86fb-e590a60b9266</Key>
      <Name>H3 Boost</Name>
      <Alias>configSearchH3Boost</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[How important is H3 content compared to other content. 
10 = Ten times more important than other content.
1 = Same as other content]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="config/search">Search</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>217b9721-4d42-4a73-8143-e1ded170a591</Key>
      <Name>H4 Boost</Name>
      <Alias>configSearchH4Boost</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[How important is H4 content compared to other content. 
10 = Ten times more important than other content.
1 = Same as other content]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="config/search">Search</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ab66001f-a648-4b8d-961f-e31325c0e1f7</Key>
      <Name>H5 Boost</Name>
      <Alias>configSearchH5Boost</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[How important is H5 content compared to other content. 
10 = Ten times more important than other content.
1 = Same as other content]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="config/search">Search</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4c8e69e9-37b5-4821-8faa-42794bda5967</Key>
      <Name>H6 Boost</Name>
      <Alias>configSearchH6Boost</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[How important is H6 content compared to other content. 
10 = Ten times more important than other content.
1 = Same as other content]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="config/search">Search</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fb0cba49-0273-40a8-abb4-b36ba5d5fd7b</Key>
      <Name>Implement Fuzzy Results </Name>
      <Alias>configSearchImplementFuzzyResults</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Implement Fuzzy matching on query when results from exact matching returns less than this value]]></Description>
      <SortOrder>8</SortOrder>
      <Tab Alias="config/search">Search</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6dda3e17-764c-4fa7-993d-e1d4642ebc1c</Key>
      <Name>Keywords Boost</Name>
      <Alias>configSearchKeywordsBoost</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[How important is Keywords on Seo Tab compared to other content. 
10 = Ten times more important than other content.
1 = Same as other content]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="config/search">Search</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ac904fa6-7c7d-4866-ba23-5a609cafb190</Key>
      <Name>Promoted Search Terms Boost</Name>
      <Alias>configSearchPromotedSearchTermsBoost</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[How important is Promoted Search Terms on Seo Tab compared to other content. 
10 = Ten times more important than other content.
1 = Same as other content]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="config/search">Search</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>71052cff-28e5-4e9c-813f-aee8adcd82f6</Key>
      <Name>SeoPriorities</Name>
      <Alias>configSearchSeoPriorities</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[How important is each of the values of a webpage's SeoPriority starting from 10 to 0. Rate using comma separated values.]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="config/search">Search</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6116da73-ac91-4803-a517-6067fee8e47f</Key>
      <Name>Name</Name>
      <Alias>configTheme</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Actual css folder where themes is stored.
<i>wwwroot/style/themes</i> Folder]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="config/theme">Theme</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>487961fb-5529-4427-a08e-ea9d7cd2e2c7</Key>
      <Name>Cache Length For Form Entries</Name>
      <Alias>configUmbracoFormCacheLength</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[How long in minutes should we cache Umbraco Form Results when displayed on front end. As each call is a hit on the database, its best to cache for as long as possible.]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="config/form">Form</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8e9c7b8b-71a3-471a-95f2-ccfaf6d75e42</Key>
      <Name>Select Form Entries Message Field</Name>
      <Alias>configUmbracoFormFieldMessage</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Name of the field that stores the Message in an Umbraco Form]]></Description>
      <SortOrder>8</SortOrder>
      <Tab Alias="config/form">Form</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>09671316-38fe-4e58-a4bf-caad54d36f12</Key>
      <Name>Select Form Entries Field Name</Name>
      <Alias>configUmbracoFormFieldName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Name of the field that stores the Name in an Umbraco Form]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="config/form">Form</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0896675f-3c72-4a84-9112-e0cf2207d682</Key>
      <Name>Default Select Form Entries Field Name</Name>
      <Alias>configUmbracoFormFieldNameDefault</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Text displayed when a user doesn't fill in their Name field]]></Description>
      <SortOrder>9</SortOrder>
      <Tab Alias="config/form">Form</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>1d3502c6-3e2e-459d-a514-eee54eb69b8a</Key>
      <Caption>Page</Caption>
      <Alias>config/page</Alias>
      <Type>Group</Type>
      <SortOrder>9</SortOrder>
    </Tab>
    <Tab>
      <Key>4065c65e-99c7-4fc8-b613-c465605fab94</Key>
      <Caption>Card</Caption>
      <Alias>config/card</Alias>
      <Type>Group</Type>
      <SortOrder>8</SortOrder>
    </Tab>
    <Tab>
      <Key>4a7bab8c-142b-45f1-9674-1cd52b68eaaf</Key>
      <Caption>Form</Caption>
      <Alias>config/form</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>4de358de-2e0e-4bdb-8026-4915e0a1a0a1</Key>
      <Caption>Images</Caption>
      <Alias>config/images</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>5a73e792-56fa-4d80-8b25-30520985764f</Key>
      <Caption>Theme</Caption>
      <Alias>config/theme</Alias>
      <Type>Group</Type>
      <SortOrder>-1</SortOrder>
    </Tab>
    <Tab>
      <Key>6bd56cb1-0608-4c15-b7af-b88d0e899af7</Key>
      <Caption>Search</Caption>
      <Alias>config/search</Alias>
      <Type>Group</Type>
      <SortOrder>5</SortOrder>
    </Tab>
    <Tab>
      <Key>6bfb1cdc-6675-4094-88ad-c8cf4aa5ab1d</Key>
      <Caption>Category</Caption>
      <Alias>config/category</Alias>
      <Type>Group</Type>
      <SortOrder>10</SortOrder>
    </Tab>
    <Tab>
      <Key>8417b061-7f04-455a-8f65-5d2cd5b0c34a</Key>
      <Caption>Config</Caption>
      <Alias>config</Alias>
      <Type>Tab</Type>
      <SortOrder>1000</SortOrder>
    </Tab>
    <Tab>
      <Key>b68538b2-d917-4762-85e0-6bdf40495690</Key>
      <Caption>Review</Caption>
      <Alias>config/review</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>ba8a02cd-cacb-4b70-b206-eb4880ccd051</Key>
      <Caption>Coroner</Caption>
      <Alias>config/coroner</Alias>
      <Type>Group</Type>
      <SortOrder>6</SortOrder>
    </Tab>
    <Tab>
      <Key>bddd6bb9-cb7d-418a-b574-0593a3580707</Key>
      <Caption>Opening Times</Caption>
      <Alias>config/openingTimes</Alias>
      <Type>Group</Type>
      <SortOrder>4</SortOrder>
    </Tab>
    <Tab>
      <Key>d4f65a52-c137-4fc4-95a8-13c53baf9ceb</Key>
      <Caption>Aside</Caption>
      <Alias>config/aside</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>da69bc74-2ae8-4a4b-a941-7889969e5c14</Key>
      <Caption>Rss Feed Reader</Caption>
      <Alias>config/rssFeedReader</Alias>
      <Type>Group</Type>
      <SortOrder>7</SortOrder>
    </Tab>
  </Tabs>
</ContentType>