<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1b640ac6-7d39-40a9-99e3-bc1a78cd5f7f" Alias="editorSelectMedia" Level="3">
  <Info>
    <Name>Media Items</Name>
    <Icon>icon-pictures-alt-2 color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Select multiple media items</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor/Select+Media</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e5950eed-cae6-48ee-a8de-4a2404b0940e</Key>
      <Name>Media Items</Name>
      <Alias>mediaItems</Alias>
      <Definition>448dbd6f-ebbb-4db1-9c3c-35edf1f5d1da</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select multiple media files]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="contents">Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>bbb4738c-67f3-488e-95a3-ae38b4d9b74d</Key>
      <Caption>Contents</Caption>
      <Alias>contents</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>