<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="22222d3f-e002-4059-b55b-4443ebf6e1a6" Alias="editorHeroBannerPanel" Level="3">
  <Info>
    <Name>Hero Banner Item</Name>
    <Icon>icon-picture color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor/Hero+Banner</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>13c51641-ca45-4a2c-9651-29d66a6fbbf7</Key>
      <Name>Description</Name>
      <Alias>description</Alias>
      <Definition>9fe054e5-cb81-4027-a076-763c174d9ddb</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Brief description of banner]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="contents">Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a71c9fc2-fa85-4ccc-9a0c-3b6b6d1e3a45</Key>
      <Name>Background Image</Name>
      <Alias>Image</Alias>
      <Definition>5a50c29b-7929-4a33-9055-b9f9d9d9c921</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Image displayed in background of slide]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="contents">Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ecf460b8-bc76-4d5d-9bc9-c32838eef043</Key>
      <Name>Link</Name>
      <Alias>link</Alias>
      <Definition>2c457913-dddd-4ebc-9134-fc3e4c60cad4</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Call to Action]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="contents">Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a395856b-5f45-44f5-83a1-dafe5b5e0eb3</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>2a2abbe8-8be8-4a3c-94c0-04f7719734fc</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Title of slide]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="contents">Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>aad54899-7ceb-49b5-80d4-eb2d979ee18b</Key>
      <Caption>Contents</Caption>
      <Alias>contents</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>