<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4b0a9eca-f542-4b42-82f8-8582a25fb867" Alias="editorBlockPrimarySettingsBackground3ColorGradient" Level="2">
  <Info>
    <Name>Background Three Colour Gradient</Name>
    <Icon>icon-podcast color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Set Background Three Colour Gradient </Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor</Folder>
    <Compositions>
      <Composition Key="f52a4108-be55-494f-860a-80d1dc150e73">editorBlockPrimarySettingsTextColor</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>ae82785f-27c2-489f-91d5-51fcd29ad877</Key>
      <Name>Ending Colour</Name>
      <Alias>endingColor</Alias>
      <Definition>b26af86e-fbc7-425d-a38c-f33f07b7c4e1</Definition>
      <Type>Umbraco.ColorPicker.EyeDropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Colour that finishes the gradient]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="contents">Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>65b342f7-fdf1-4cf1-a703-0dd5393f66e4</Key>
      <Name>Type</Name>
      <Alias>gradientType</Alias>
      <Definition>a7b928de-b803-47a5-a053-76cb2a17292e</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Type of gradient required]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="contents">Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2e111bc5-939c-424a-b75e-c10efd88a9ac</Key>
      <Name>Middle Colour</Name>
      <Alias>middleColor</Alias>
      <Definition>b26af86e-fbc7-425d-a38c-f33f07b7c4e1</Definition>
      <Type>Umbraco.ColorPicker.EyeDropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Mid colour required]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="contents">Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9ab73b06-ad2a-4739-bc43-3fae8e6857ca</Key>
      <Name>Starting Colour</Name>
      <Alias>startingColor</Alias>
      <Definition>b26af86e-fbc7-425d-a38c-f33f07b7c4e1</Definition>
      <Type>Umbraco.ColorPicker.EyeDropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Colour that starts the gradient]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="contents">Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>c88bf157-d37c-4c31-b5ca-f3f84e6e90f7</Key>
      <Caption>Contents</Caption>
      <Alias>contents</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>