<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="72f67d58-f26f-4b19-a319-ba88effde3ba" Alias="editorBlockPrimarySettingsBackgroundColor" Level="2">
  <Info>
    <Name>Background Colour</Name>
    <Icon>icon-color-bucket color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Set Background Colour</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor</Folder>
    <Compositions>
      <Composition Key="f52a4108-be55-494f-860a-80d1dc150e73">editorBlockPrimarySettingsTextColor</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>2ae6aa61-d87a-4e9e-9928-fbe6d9b46abc</Key>
      <Name>Background Color</Name>
      <Alias>backgroundColor</Alias>
      <Definition>1f7aa925-3ce0-48ec-a8e6-cb44ba2c7137</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Set background color]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="contents">Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>e650f6b8-65cf-47be-8acd-f0aa3e40fc8b</Key>
      <Caption>Contents</Caption>
      <Alias>contents</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>