<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3d0f97ea-24eb-49f7-9883-169400911c3b" Alias="editorVideoPanel" Level="3">
  <Info>
    <Name>Video Panel</Name>
    <Icon>icon-camcorder color-deep-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Video Player</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor/Video</Folder>
    <Compositions>
      <Composition Key="5fc29d88-5bef-42e0-876e-2501ef70ae08">editorPanelName</Composition>
      <Composition Key="1a447faf-085b-49a9-be40-0d0f66d9e23b">editorVideoEmbedded</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>