<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="cc01ac84-0c6b-47aa-b61e-dd83f7d1c8d7" Alias="editorCardBaseSettings" Level="3">
  <Info>
    <Name>Card Base Settings</Name>
    <Icon>icon-settings color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor/Card</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c1e670b3-dfda-43d2-98e2-6e54dee8f599</Key>
      <Name>Show Click Arrow</Name>
      <Alias>showClickArrow</Alias>
      <Definition>48937cd9-d490-4fa7-9c6d-634d3a816946</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Show a click arror aligned to the right, giving an indication that clicking this card will provide an event. ]]></Description>
      <SortOrder>56</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5423cd25-f8a9-423b-b7de-171feacde774</Key>
      <Name>Date</Name>
      <Alias>styleDate</Alias>
      <Definition>963d7179-74b1-4722-b802-b0a9f550079c</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Do we show the Date]]></Description>
      <SortOrder>53</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d15bb0b6-0b81-4d02-b5b2-841d737907a0</Key>
      <Name>Header</Name>
      <Alias>styleHeader</Alias>
      <Definition>d76d3913-90cf-4a8f-bd43-7f6966fafb4c</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Do we show the Header]]></Description>
      <SortOrder>52</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9f83a842-252f-43f2-8668-95cdb49f26fe</Key>
      <Name>Image Location</Name>
      <Alias>styleImage</Alias>
      <Definition>22fc6395-1877-4c7c-88fc-ed82f52aa23a</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Where to place the image in relations to the other elements]]></Description>
      <SortOrder>50</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ed7ea359-fde5-4538-ac4b-cb11f41afabc</Key>
      <Name>Image Size</Name>
      <Alias>styleImageSize</Alias>
      <Definition>2f53eec1-a21d-4ef9-a295-a4bd6cee3926</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[How to size image compared to rest of the card information]]></Description>
      <SortOrder>51</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a2c1e7d9-3bc2-4199-89e0-dff02c0c9d34</Key>
      <Name>Text</Name>
      <Alias>styleText</Alias>
      <Definition>e7403b92-3841-414b-af68-fb9be798b2c6</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Do we show the Text]]></Description>
      <SortOrder>55</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a661dff9-b059-4ce3-88f5-ba9419477ca7</Key>
      <Name>Time</Name>
      <Alias>styleTime</Alias>
      <Definition>c60cc871-fedf-4049-90a3-3c173b32d310</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Do we show the Time]]></Description>
      <SortOrder>54</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>9d300529-0385-40a4-b105-18d615c7bb6d</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>