<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b48afb4c-eb14-4781-9cf2-365c2e90fe48" Alias="editorCardDefaultSettings" Level="3">
  <Info>
    <Name>Card Default Settings</Name>
    <Icon>icon-settings color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Default settings for Card</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor/Card</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>493b0457-6500-4a7c-85dc-95aa35dfe31c</Key>
      <Name>Default Card Border Colour</Name>
      <Alias>styleCardBorderColor</Alias>
      <Definition>1f7aa925-3ce0-48ec-a8e6-cb44ba2c7137</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Border colour for Cards]]></Description>
      <SortOrder>125</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3fa2f66b-e310-41e4-bd43-219968c177e7</Key>
      <Name>Default Card Border Edges </Name>
      <Alias>styleCardBorderEdges</Alias>
      <Definition>22a3a197-8889-48e0-9a51-823e4b61d9c3</Definition>
      <Type>Umbraco.CheckBoxList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Which border edges are displayed ]]></Description>
      <SortOrder>126</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d6eeffc3-6433-4c72-b651-0e3f9796cb45</Key>
      <Name>Default Card Date</Name>
      <Alias>styleCardDate</Alias>
      <Definition>963d7179-74b1-4722-b802-b0a9f550079c</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Do we show the date on cards]]></Description>
      <SortOrder>111</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c1357eaa-ce1f-4326-a032-28b1c6a5880d</Key>
      <Name>Default Card Header</Name>
      <Alias>styleCardHeader</Alias>
      <Definition>d76d3913-90cf-4a8f-bd43-7f6966fafb4c</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Do we show the Header on cards]]></Description>
      <SortOrder>110</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bd047aac-a502-415a-a145-9953beba7568</Key>
      <Name>Default Card Image Location</Name>
      <Alias>styleCardImage</Alias>
      <Definition>22fc6395-1877-4c7c-88fc-ed82f52aa23a</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Only valid for Cards. Where to place the image in relations to the other elements]]></Description>
      <SortOrder>100</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ead0901a-94dc-446d-aa75-e6754f905f30</Key>
      <Name>Default Card Image Size</Name>
      <Alias>styleCardImageSize</Alias>
      <Definition>2f53eec1-a21d-4ef9-a295-a4bd6cee3926</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>101</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>621c16c3-92c6-48e8-8aaf-bf35b1a88cee</Key>
      <Name>Default Card Colour Override</Name>
      <Alias>styleCardOverrideColor</Alias>
      <Definition>d19af56c-4648-4f91-b72a-1739f08ebf16</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[OR ignore themes and override cards with these colours, images or gradients]]></Description>
      <SortOrder>127</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>45b65470-e342-4dac-ad78-b152c2cb30f2</Key>
      <Name>Default Card Subtheme</Name>
      <Alias>styleCardSubtheme</Alias>
      <Definition>c8ca160f-6929-4ba3-b064-9f6f406d03a7</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Standard Subtheme for cards]]></Description>
      <SortOrder>123</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>eee12885-b2b1-4627-b161-7dc041cdb744</Key>
      <Name>Default Card Text</Name>
      <Alias>styleCardText</Alias>
      <Definition>e7403b92-3841-414b-af68-fb9be798b2c6</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Do we show the Text on cards]]></Description>
      <SortOrder>120</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>29ad1488-424a-4d08-9b39-be27730b6c27</Key>
      <Name>Default Card Time</Name>
      <Alias>styleCardTime</Alias>
      <Definition>c60cc871-fedf-4049-90a3-3c173b32d310</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Do we show the time on cards]]></Description>
      <SortOrder>112</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b28226ca-2b8a-408a-882e-4631dfaac76f</Key>
      <Name>Default Card Shade</Name>
      <Alias>styleDefaultCardThemeShade</Alias>
      <Definition>f417c776-86f7-4153-abbb-00401e5ffce6</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Whether any cards are displayed in light mode with dark text or dark mode with light text.]]></Description>
      <SortOrder>124</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>0e2ddd7b-0b11-4eca-a79e-48434f11ca9f</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>