<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f3a7ab0b-0f81-4dd1-8480-ba2c28eb2fd0" Alias="editorFormEntriesEmbedded" Level="3">
  <Info>
    <Name>Form Entries</Name>
    <Icon>icon-book color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Show approved Form Entries</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor/Select+Form+Entries</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>765f3ed0-5feb-42fb-b8f7-2311c06a877c</Key>
      <Name>Maximum Entries</Name>
      <Alias>maximum</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Maximum number of entries to show]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3858073c-5cd6-4e35-8f3a-76e30394ec9e</Key>
      <Name>Source</Name>
      <Alias>source</Alias>
      <Definition>b7638229-7783-423c-a493-57b490999b82</Definition>
      <Type>UmbracoForms.FormPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Which Form do you wish to list the approved entries from.
Form must have two fields; <b>Name</b> and <b>Message</b> ]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>f108b893-1732-44aa-84cd-65a4d2e0f38c</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>