<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c3192391-128a-4ba1-ba0f-fe0280f23d49" Alias="editorTableEmbeddedSettings" Level="3">
  <Info>
    <Name>Sub Table Settings</Name>
    <Icon>icon-settings color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor/Table</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>4970e055-8e94-4b38-b1d3-d197ec5a6fd5</Key>
      <Name>Alternate Background Columns</Name>
      <Alias>alternateBackgroundColumns</Alias>
      <Definition>1f7aa925-3ce0-48ec-a8e6-cb44ba2c7137</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Colour to use for background of every even numbered column]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>72079d5e-db2b-4423-bdd9-0af41d0f0c97</Key>
      <Name>Alternate Background Rows</Name>
      <Alias>alternateBackgroundRows</Alias>
      <Definition>1f7aa925-3ce0-48ec-a8e6-cb44ba2c7137</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Color to use for background of every even row]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ec525eba-b1af-43c4-bb84-ce03b3285e5b</Key>
      <Name>First column is Header </Name>
      <Alias>firstColumnIsHeader</Alias>
      <Definition>48937cd9-d490-4fa7-9c6d-634d3a816946</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If the first column is a header, then will highlight first column]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3133439c-64ab-41ea-b79f-431f840a742e</Key>
      <Name>First row is Header</Name>
      <Alias>firstRowIsHeader</Alias>
      <Definition>48937cd9-d490-4fa7-9c6d-634d3a816946</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If the first row is a header, then will highlight top row]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b6c068a2-198f-4e3f-bb7a-8a64f4b4e759</Key>
      <Name>Page Size</Name>
      <Alias>pageSize</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Maximum number of rows to display.
0 = unlimited]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>bfc395f6-109e-41df-9931-c3ba4cc8f3f8</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>