<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="310ec5d1-4945-48e3-b66c-1081e09d63ea" Alias="editorFormPrimary" Level="3">
  <Info>
    <Name>Form</Name>
    <Icon>icon-edit color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Umbraco Form</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor/Form</Folder>
    <Compositions>
      <Composition Key="c9aa2cd7-49c6-4ed1-8971-fee1f171d91d">editorBlockPrimary</Composition>
      <Composition Key="1a6efa0c-7700-43ed-b024-7ef30bb84968">editorFormEmbedded</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>