<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f2862d33-a7bc-4497-9ea1-2c896c124955" Alias="editorSelectMediaAsideSettings" Level="3">
  <Info>
    <Name>Link Media Items Settings</Name>
    <Icon>icon-settings color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Settings for media items</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor/Select+Media</Folder>
    <Compositions>
      <Composition Key="a6683e99-6a65-46d0-be7f-3587cabef22e">editorOrderSettings</Composition>
      <Composition Key="4cd98dea-e3e3-4234-9972-b0db6dc793f7">editorSelectMediaDownloadSettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>