<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e61a4ac3-ddec-48d0-9d59-d2574ab66108" Alias="editorTextBlockActionSettings" Level="3">
  <Info>
    <Name>Action Settings</Name>
    <Icon>icon-plugin</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor/Text</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>1db9eff7-3535-492b-bcaf-14d63f3229df</Key>
      <Name>Button Style</Name>
      <Alias>styleAction</Alias>
      <Definition>9ca78cc9-5e59-4012-a72e-dbe47fb27a6f</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select colour for button.

Button = Uses current theme to colour button.
Primary = Blue
Secondary = Grey
Success = Green
Danger = Red
Warning = Yellow
Info = Cyan
Light = White
Dark = Black
]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>fb5f4ba6-ccbc-4fd1-b0af-f70d2339c09c</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>