<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="49ac0537-a952-44ad-a9ab-13481ce2e1e9" Alias="editorImagePanelSettings" Level="3">
  <Info>
    <Name>Images Panel Settings</Name>
    <Icon>icon-settings color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Setting for image when not embedded inside other containers</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor/Image</Folder>
    <Compositions>
      <Composition Key="384ded8e-0d66-4e5f-844f-58d63e0f47cd">editorImageEmbeddedSettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>