<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="69021ede-3114-43b4-96c8-5d2c66e7ebd1" Alias="editorListPrimary" Level="3">
  <Info>
    <Name>List</Name>
    <Icon>icon-columns color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>List of blocks</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor/List</Folder>
    <Compositions>
      <Composition Key="c9aa2cd7-49c6-4ed1-8971-fee1f171d91d">editorBlockPrimary</Composition>
      <Composition Key="e45cfb88-436f-43c0-9714-33a6bfacafa1">editorListEmbedded</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>