<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f9a7475e-b03b-46f6-9afb-dba3af96390b" Alias="editorChildNodesAsideSettings" Level="3">
  <Info>
    <Name>Link Children Web Pages Settings</Name>
    <Icon>icon-settings color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Settings for Child Nodes</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor/Child+Nodes</Folder>
    <Compositions>
      <Composition Key="a6683e99-6a65-46d0-be7f-3587cabef22e">editorOrderSettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>