<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f3688870-05fb-4bdf-813f-dcca8a4acf99" Alias="editorAccordionPrimary" Level="3">
  <Info>
    <Name>Accordion</Name>
    <Icon>icon-list color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Container block using vertical animation to show and hide panels</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor/Accordion</Folder>
    <Compositions>
      <Composition Key="c9aa2cd7-49c6-4ed1-8971-fee1f171d91d">editorBlockPrimary</Composition>
      <Composition Key="aacb5e90-d202-44f5-8212-b90391e2bbfd">editorPanel</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>