<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9410cad4-5e54-4972-97a0-5113edfaf7b3" Alias="editorScriptPrimary" Level="3">
  <Info>
    <Name>Full Script</Name>
    <Icon>icon-script-alt color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Embed custom Html</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor/Script</Folder>
    <Compositions>
      <Composition Key="c9aa2cd7-49c6-4ed1-8971-fee1f171d91d">editorBlockPrimary</Composition>
      <Composition Key="54b71d5f-1062-479c-87c5-e1aef9c78b34">editorScriptEmbedded</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>