<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1a64ff18-86fd-4f2e-b6ab-9bb1f739b98b" Alias="editorSelectMediaPrimarySettings" Level="3">
  <Info>
    <Name>Download Media Item Settings</Name>
    <Icon>icon-plugin</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor/Select+Media</Folder>
    <Compositions>
      <Composition Key="e616ce9b-9b68-44e0-b0f5-68be27b21e8c">editorBackgroundSettings</Composition>
      <Composition Key="97e21745-dec5-451a-82f0-3be21b0a8639">editorBorderSettings</Composition>
      <Composition Key="a6683e99-6a65-46d0-be7f-3587cabef22e">editorOrderSettings</Composition>
      <Composition Key="4cd98dea-e3e3-4234-9972-b0db6dc793f7">editorSelectMediaDownloadSettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>