<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="898aa9d3-a6d4-4e2b-950c-c05c085f2727" Alias="editorVideoSourceMedia" Level="3">
  <Info>
    <Name>Local</Name>
    <Icon>icon-camera-roll color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Video previously uploaded to the Media section in Umbraco</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor/Video</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>53f9170a-c8e2-44be-b30f-327a2a6dfde1</Key>
      <Name>Video</Name>
      <Alias>video</Alias>
      <Definition>1c07e8fb-4b8f-4fe0-bd24-23fbc77254ec</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Video to show]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="contents">Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>e0a9c89f-c95a-462f-97f0-41cd81fd717a</Key>
      <Caption>Contents</Caption>
      <Alias>contents</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>