<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4c52cefa-aa55-4d1b-8879-c650ec995071" Alias="editorGroupAside" Level="3">
  <Info>
    <Name>Group</Name>
    <Icon>icon-layout-grid color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Group items together</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor/Group</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>3dd8abb2-c90b-4d7e-8166-b0e47b09ae6d</Key>
      <Name>Contents</Name>
      <Alias>contents</Alias>
      <Definition>f7b9f9f2-52aa-44fe-8006-684e637bbf39</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Items within this Group]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="contents">Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5dd69999-f6a6-4ff2-8ee2-d751d895dfc0</Key>
      <Name>Header</Name>
      <Alias>header</Alias>
      <Definition>2a2abbe8-8be8-4a3c-94c0-04f7719734fc</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Optional &lt;h2&gt; title ]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="contents">Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>df545bbf-4f91-4532-9a14-a082df029731</Key>
      <Caption>Contents</Caption>
      <Alias>contents</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>