<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="beb8b1ca-f2d7-4b65-9c2a-e8590d6ae4f8" Alias="editorMapPanel" Level="3">
  <Info>
    <Name>Map Panel</Name>
    <Icon>icon-map-marker color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Show a venue's location on an interactive map</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor/Map</Folder>
    <Compositions>
      <Composition Key="1871a002-b7ea-4de3-967a-644bd2a87045">editorMapBase</Composition>
      <Composition Key="5fc29d88-5bef-42e0-876e-2501ef70ae08">editorPanelName</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>