<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="81e44a54-ba00-4100-b7a1-14d73a691ab9" Alias="editorListPrimarySettings" Level="3">
  <Info>
    <Name>List Settings</Name>
    <Icon>icon-settings color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Settings for list when not embedded within another container</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor/List</Folder>
    <Compositions>
      <Composition Key="7d5903fe-3010-4992-9c34-1e3ac30b2e05">editorActionDefaultSettings</Composition>
      <Composition Key="e616ce9b-9b68-44e0-b0f5-68be27b21e8c">editorBackgroundSettings</Composition>
      <Composition Key="53d466e9-ec7a-44f2-918d-0575d2101be6">editorBlockPrimarySettings</Composition>
      <Composition Key="a57b559b-1f68-414b-8073-4074c55c876b">editorListBaseSettings</Composition>
      <Composition Key="b48afb4c-eb14-4781-9cf2-365c2e90fe48">editorNoteDefaultSettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>218da9e0-b904-49d2-9d6e-79a636ff629f</Key>
      <Name>List Type</Name>
      <Alias>listType</Alias>
      <Definition>8cb8cece-0bad-4c86-a9d9-7fc62d726028</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[<b>Flexible Grid</b> = Show blocks in columns and rows depending on device size 

<b>Carousel</b> = Show blocks in a single scrollable row]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>e9b86485-76b5-4225-98ee-5da60f8a416b</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>