<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1871a002-b7ea-4de3-967a-644bd2a87045" Alias="editorMapBase" Level="3">
  <Info>
    <Name>Base</Name>
    <Icon>icon-map-marker</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Base for all Maps</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor/Map</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>803127bc-cb7c-4167-9c96-4d687e70b1be</Key>
      <Name>Map</Name>
      <Alias>mapPosition</Alias>
      <Definition>6a29331e-4b15-4787-811c-a97a13f0502e</Definition>
      <Type>Protenacity.Web.OpenStreetMap</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Set location]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="contents">Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>ce1894fb-809d-48d3-b6c1-f4344c85f5d4</Key>
      <Caption>Contents</Caption>
      <Alias>contents</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>