<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="516386ca-8286-487d-9081-acba1ff6d76a" Alias="editorAccordionEmbedded" Level="3">
  <Info>
    <Name>Sub Accordion</Name>
    <Icon>icon-list color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Container that uses vertical animation to show one panel at a time</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor/Accordion</Folder>
    <Compositions>
      <Composition Key="aacb5e90-d202-44f5-8212-b90391e2bbfd">editorPanel</Composition>
      <Composition Key="5fc29d88-5bef-42e0-876e-2501ef70ae08">editorPanelName</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>