<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3ababe53-a528-4533-ba2d-e1c779bbdeaf" Alias="editorTimeslot" Level="3">
  <Info>
    <Name>Timeslot</Name>
    <Icon>icon-alarm-clock color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>When venue is open</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor/OpeningTimes</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>865d239d-c229-4f84-a707-0e042af08170</Key>
      <Name>Close Time</Name>
      <Alias>close</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation>^([01][0-9]|2[0-3]):([0-5][0-9])$</Validation>
      <Description><![CDATA[End time of this venue opening in 24 hour clock. 00:00 to 23:59]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="contents">Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage>00:00 to 23:59</ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7b95fc84-9eb4-40c0-87ce-3c19e87c7eee</Key>
      <Name>Day of Week</Name>
      <Alias>day</Alias>
      <Definition>ecb08bf6-a1f0-4775-b142-a9083102e332</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Which day of week is this venue open]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="contents">Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e7d01005-5e47-4331-94ec-81f64cd16901</Key>
      <Name>Open Time</Name>
      <Alias>open</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation>^([01][0-9]|2[0-3]):([0-5][0-9])$</Validation>
      <Description><![CDATA[Start time of this venue opening in 24 hour clock. 00:00 to 23:59]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="contents">Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage>00:00 to 23:59</ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5aa48de3-8592-452c-bce4-0a7b702484f1</Key>
      <Name>Text</Name>
      <Alias>text</Alias>
      <Definition>e606b3fb-15f0-491a-8365-763bcd9b3485</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Optional comment about this timeslot]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="contents">Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>56636ed3-f91b-423f-9928-1f16a109efa4</Key>
      <Caption>Contents</Caption>
      <Alias>contents</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>