<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2ea5fd1d-c3fa-4161-befa-44e3a8ff88e2" Alias="editorOpeningTimesPrimary" Level="3">
  <Info>
    <Name>Venue Opening Times</Name>
    <Icon>icon-alarm-clock color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>When is a venue open</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor/OpeningTimes</Folder>
    <Compositions>
      <Composition Key="c9aa2cd7-49c6-4ed1-8971-fee1f171d91d">editorBlockPrimary</Composition>
      <Composition Key="43568e89-0812-4c65-8584-76c4618286fd">editorOpeningTimesEmbedded</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>