<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c7359405-8ba9-44c0-a505-344b9c85cbc6" Alias="editorActionAside" Level="3">
  <Info>
    <Name>Link</Name>
    <Icon>icon-link color-deep-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Link to either a web page or a media item</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor/Action</Folder>
    <Compositions>
      <Composition Key="9d2d4e26-45f7-4ea8-b640-e734b31a2068">editorActionEmbedded</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>