<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="53d466e9-ec7a-44f2-918d-0575d2101be6" Alias="editorBlockPrimarySettings" Level="2">
  <Info>
    <Name>Block Primary Setting</Name>
    <Icon>icon-settings color-deep-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Settings for a container when its not embedded inside another container</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>