<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c9aa2cd7-49c6-4ed1-8971-fee1f171d91d" Alias="editorBlockPrimary" Level="2">
  <Info>
    <Name>Shared Block Primary</Name>
    <Icon>icon-squiggly-line color-deep-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Used as a composition for all general purpose blocks</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>785d42ed-cc61-4e6b-aadc-dc5de38b1a65</Key>
      <Name>Enable</Name>
      <Alias>enable</Alias>
      <Definition>81579286-c067-4d20-92cd-b8a244fa0357</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Should this section display?]]></Description>
      <SortOrder>-1000</SortOrder>
      <Tab Alias="contents">Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cc8999ec-6b93-4d83-8ae7-74ca48815c01</Key>
      <Name>Identifier</Name>
      <Alias>identifier</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[<span title="Also used as id for block for anchoring (Text convert to all lowercase, spaces are turned into dashes)">Internal moniker</span>]]></Description>
      <SortOrder>-100</SortOrder>
      <Tab Alias="contents">Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>da4911be-bd50-4d1b-bed7-41152b997c6b</Key>
      <Name>Section Link</Name>
      <Alias>mainLink</Alias>
      <Definition>2c457913-dddd-4ebc-9134-fc3e4c60cad4</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Optional link for more information about this section]]></Description>
      <SortOrder>-80</SortOrder>
      <Tab Alias="contents">Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f9006e3c-d374-4fe0-adb0-997a561670ec</Key>
      <Name>Section Title</Name>
      <Alias>mainTitle</Alias>
      <Definition>2a2abbe8-8be8-4a3c-94c0-04f7719734fc</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Optional &lt;h2&gt; title placed above block]]></Description>
      <SortOrder>-90</SortOrder>
      <Tab Alias="contents">Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>620823c6-2c22-4945-9b5d-7af658370fa8</Key>
      <Caption>Contents</Caption>
      <Alias>contents</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>