<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1a6efa0c-7700-43ed-b024-7ef30bb84968" Alias="editorFormEmbedded" Level="3">
  <Info>
    <Name>Embedded Form</Name>
    <Icon>icon-edit color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Umbraco Form</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor/Form</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c032841f-c114-475e-956b-3e803ca037f1</Key>
      <Name>Form</Name>
      <Alias>form</Alias>
      <Definition>b7638229-7783-423c-a493-57b490999b82</Definition>
      <Type>UmbracoForms.FormPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select which Umbraco Form to use]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="contents">Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>19221e8e-4357-4f02-b59d-ac448c94356b</Key>
      <Caption>Contents</Caption>
      <Alias>contents</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>