<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f93a1640-e87e-48cd-adef-427daaf9d561" Alias="editorSelectMediaPrimary" Level="3">
  <Info>
    <Name>Download Media Item</Name>
    <Icon>icon-picture color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Select media Items to download</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor/Select+Media</Folder>
    <Compositions>
      <Composition Key="1b640ac6-7d39-40a9-99e3-bc1a78cd5f7f">editorSelectMedia</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>