<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="488654de-7666-4165-8509-efd91723a2c8" Alias="editorTablePanel" Level="3">
  <Info>
    <Name>Table Panel</Name>
    <Icon>icon-grid color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Show table in panel</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor/Table</Folder>
    <Compositions>
      <Composition Key="5fc29d88-5bef-42e0-876e-2501ef70ae08">editorPanelName</Composition>
      <Composition Key="c34f79bb-ca79-40a2-ad47-7bbdec24ae07">editorTableEmbedded</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>