<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d246cde8-7d2d-4891-8343-67fc1ae510c8" Alias="editorFormPrimarySettings" Level="3">
  <Info>
    <Name>Form Settings</Name>
    <Icon>icon-settings color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor/Form</Folder>
    <Compositions>
      <Composition Key="e616ce9b-9b68-44e0-b0f5-68be27b21e8c">editorBackgroundSettings</Composition>
      <Composition Key="53d466e9-ec7a-44f2-918d-0575d2101be6">editorBlockPrimarySettings</Composition>
      <Composition Key="730f3e12-c477-4c9c-b4b8-68f3a9aaab69">editorFormEmbeddedSettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>