<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9927466a-2e87-411e-8dc9-4df330b06660" Alias="editorStepperPanel" Level="3">
  <Info>
    <Name>Stepper Panel</Name>
    <Icon>icon-footprints color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Multiple steps of a process or checklist</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor/Stepper</Folder>
    <Compositions>
      <Composition Key="5fc29d88-5bef-42e0-876e-2501ef70ae08">editorPanelName</Composition>
      <Composition Key="8a07d629-eeac-45de-be87-77de4a7a3241">editorStepperEmbedded</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>