<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1545b9a1-f5ef-4b3d-8611-ff457337714f" Alias="editorRibbonPrimary" Level="3">
  <Info>
    <Name>Full Ribbon</Name>
    <Icon>icon-stretch-horizontal color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Ribbon of icons with optional header and text</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor/Ribbon</Folder>
    <Compositions>
      <Composition Key="c9aa2cd7-49c6-4ed1-8971-fee1f171d91d">editorBlockPrimary</Composition>
      <Composition Key="de549de8-f473-4307-94fb-b67b1b24cfc8">editorRibbonBase</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>