<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b5979758-83a1-4195-bd34-32742d1605cd" Alias="editorFormPanelSettings" Level="3">
  <Info>
    <Name>Form Panel Settings</Name>
    <Icon>icon-settings color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Settings</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor/Form</Folder>
    <Compositions>
      <Composition Key="730f3e12-c477-4c9c-b4b8-68f3a9aaab69">editorFormEmbeddedSettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>