<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5fc29d88-5bef-42e0-876e-2501ef70ae08" Alias="editorPanelName" Level="2">
  <Info>
    <Name>Shared Panel Name</Name>
    <Icon>icon-name-badge color-deep-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Name of Panel</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>167bf7ac-0e9c-49af-9098-291a84a0a2e2</Key>
      <Name>Icon</Name>
      <Alias>panelIcon</Alias>
      <Definition>053a651e-aa43-4035-b5ae-b8569b32756d</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Optional Icon placed on the left hand side of the Name]]></Description>
      <SortOrder>-150</SortOrder>
      <Tab Alias="contents">Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>93ebf927-466e-4053-ac4e-0eb32c32714b</Key>
      <Name>Name</Name>
      <Alias>panelName</Alias>
      <Definition>2a2abbe8-8be8-4a3c-94c0-04f7719734fc</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Text used to select panel in tab strip or accordion]]></Description>
      <SortOrder>-149</SortOrder>
      <Tab Alias="contents">Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>06a027c0-9270-45c9-a49e-34ca7c4b4bdd</Key>
      <Caption>Contents</Caption>
      <Alias>contents</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>