<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9cd1f41e-8db7-498b-a4f1-db27180a4728" Alias="editorTextPrimary" Level="3">
  <Info>
    <Name>Full Text</Name>
    <Icon>icon-font color-deep-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Free Text block</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor/Text</Folder>
    <Compositions>
      <Composition Key="c9aa2cd7-49c6-4ed1-8971-fee1f171d91d">editorBlockPrimary</Composition>
      <Composition Key="ddc6ed43-5815-4f58-a925-2f455ec37331">editorTextEmbedded</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>