<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fae4b7ce-e86e-442a-b4da-c5e1baa3eef4" Alias="editorCardPrimary" Level="3">
  <Info>
    <Name>Single Card</Name>
    <Icon>icon-credit-card-alt color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Text with optional image, header and either link or button</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor/Note</Folder>
    <Compositions>
      <Composition Key="9d2d4e26-45f7-4ea8-b640-e734b31a2068">editorActionEmbedded</Composition>
      <Composition Key="c9aa2cd7-49c6-4ed1-8971-fee1f171d91d">editorBlockPrimary</Composition>
      <Composition Key="f3cc025e-405a-4a8a-88ea-232946b5c97e">editorCardBase</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>