<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7c6590a9-8700-401a-9cb2-aabaa11a3bc4" Alias="editorPage" Level="2">
  <Info>
    <Name>Editor Page</Name>
    <Icon>icon-newspaper-alt color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Generic web page using Blocks as content</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Structure</Folder>
    <Compositions>
      <Composition Key="2975b1d3-eed3-4ae7-909e-1f901ec1edf9">alertTab</Composition>
      <Composition Key="d62b65de-1cb4-4068-88cf-409835eec827">asideTab</Composition>
      <Composition Key="802b6906-24ac-42c7-b902-76e77a117ce1">bannerTab</Composition>
      <Composition Key="4709c999-7121-4bfe-8e36-d77b5a29a5f2">furnitureTab</Composition>
      <Composition Key="80ad8481-110e-4e9a-82e2-ab8a79e4dc83">reviewTab</Composition>
      <Composition Key="b5fddcba-be69-4862-a4b6-0c3a297bd995">seoTab</Composition>
      <Composition Key="dee735ae-fcd6-4553-b525-1e07e87c8721">subfooterTab</Composition>
      <Composition Key="032da123-16cd-4195-9850-46667175ad5d">themeTab</Composition>
      <Composition Key="8536006b-2931-4359-9e8c-9499bf93e02a">virtualAgentTab</Composition>
    </Compositions>
    <DefaultTemplate>Editor</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="cbebb994-250c-4f99-ab85-8e38616efb0c">Editor</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="7c6590a9-8700-401a-9cb2-aabaa11a3bc4" SortOrder="0">editorPage</ContentType>
    <ContentType Key="68dbb203-a859-49e4-a038-9d4c6c0d5085" SortOrder="1">redirectPage</ContentType>
    <ContentType Key="19ca30bb-ce62-436c-953b-64885c8f4e8f" SortOrder="2">rewritePage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>04301e43-6a8b-4d4c-8164-4a829e25605d</Key>
      <Name>Body</Name>
      <Alias>body</Alias>
      <Definition>c9eded73-6f39-48a0-95ad-4292bcf3abce</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Main contents of page]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="contents">Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8bda4038-c3eb-4684-93e7-f8505da18496</Key>
      <Name>Groups</Name>
      <Alias>categories</Alias>
      <Definition>017ed8b8-fe54-40b2-a384-90bb8d16b288</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select which categories, if any, this page is associated with. 

Only pages that have Seo Enabled will be included in Category results. ]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="contents">Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6889becc-bd70-4eff-a483-0c01b9de4851</Key>
      <Name>Page Header</Name>
      <Alias>pageHeader</Alias>
      <Definition>2a2abbe8-8be8-4a3c-94c0-04f7719734fc</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Main &lt;h1&gt; Header for page. Placed above all content ]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="contents">Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>018861ca-11e7-4f27-8de7-304c3f4a47c3</Key>
      <Caption>Contents</Caption>
      <Alias>contents</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>