<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b34da64b-ee0c-471a-ae76-fe3799c17e82" Alias="editorTablePrimary" Level="3">
  <Info>
    <Name>Table</Name>
    <Icon>icon-grid color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Show contents as a table element</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor/Table</Folder>
    <Compositions>
      <Composition Key="c9aa2cd7-49c6-4ed1-8971-fee1f171d91d">editorBlockPrimary</Composition>
      <Composition Key="c34f79bb-ca79-40a2-ad47-7bbdec24ae07">editorTableEmbedded</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>