<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="34385df6-0f18-4856-ae99-0017c6df4598" Alias="editorTabsPrimary" Level="3">
  <Info>
    <Name>Tabs</Name>
    <Icon>icon-tab color-deep-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Tab Strip with selectable panels</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor/Tabs</Folder>
    <Compositions>
      <Composition Key="c9aa2cd7-49c6-4ed1-8971-fee1f171d91d">editorBlockPrimary</Composition>
      <Composition Key="aacb5e90-d202-44f5-8212-b90391e2bbfd">editorPanel</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>