<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="89a912cd-5da9-4920-a1d4-18eced9a23a8" Alias="editorSectionLinksPrimary" Level="3">
  <Info>
    <Name>Page Section Links</Name>
    <Icon>icon-newspaper color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>List of links to each section of this page</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor/Section+Links</Folder>
    <Compositions>
      <Composition Key="c9aa2cd7-49c6-4ed1-8971-fee1f171d91d">editorBlockPrimary</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>