<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1996e495-99d4-4d5d-868d-cc95afb81c73" Alias="editorFormPanel" Level="3">
  <Info>
    <Name>Form Panel</Name>
    <Icon>icon-edit color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Umbraco Form</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor/Form</Folder>
    <Compositions>
      <Composition Key="1a6efa0c-7700-43ed-b024-7ef30bb84968">editorFormEmbedded</Composition>
      <Composition Key="5fc29d88-5bef-42e0-876e-2501ef70ae08">editorPanelName</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>