<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f8167ad4-3250-4d9e-bcdc-7861d8797ad1" Alias="editorCategoriesPrimarySettings" Level="3">
  <Info>
    <Name>Categories Settings</Name>
    <Icon>icon-settings color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Settings</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Editor/Category</Folder>
    <Compositions>
      <Composition Key="e616ce9b-9b68-44e0-b0f5-68be27b21e8c">editorBackgroundSettings</Composition>
      <Composition Key="97e21745-dec5-451a-82f0-3be21b0a8639">editorBorderSettings</Composition>
      <Composition Key="914a0353-346e-44c0-a65c-c7c6345c1f41">editorCategoriesBaseSettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>