<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f480d8ea-7662-4bc1-8e69-050327d708b1" Alias="furnitureMenuItem" Level="2">
  <Info>
    <Name>Menu Item</Name>
    <Icon>icon-mindmap color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Top level menu item</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Furniture</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>ad5ed0d5-53f6-4402-a6bb-0dc38caabb97</Key>
      <Name>Submenus</Name>
      <Alias>submenus</Alias>
      <Definition>6fcc8243-64b9-4118-8f4d-ecef407fbce4</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Optional submenus accessible after selecting Top Menu]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="menu">Menu</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>36ea559e-442a-4c42-82c3-c0832ec4e42e</Key>
      <Name>Top Menu</Name>
      <Alias>topMenu</Alias>
      <Definition>61066af4-261e-48c4-9b87-fda07d24eb4d</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Link to where the top menu goes to]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="menu">Menu</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>08bcabc9-3e1e-47df-9dd9-bbb481ee1e83</Key>
      <Caption>Menu</Caption>
      <Alias>menu</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>