<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4709c999-7121-4bfe-8e36-d77b5a29a5f2" Alias="furnitureTab" Level="2">
  <Info>
    <Name>Header &amp; Footer Tab</Name>
    <Icon>icon-directions color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Used to create a microsite</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Furniture</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>d6684a48-b458-45a7-a06e-cd9a9d2c504a</Key>
      <Name>Override Breadcrumbs Colours</Name>
      <Alias>furnitureBreadcrumbsColor</Alias>
      <Definition>d19af56c-4648-4f91-b72a-1739f08ebf16</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Set custom colours for Breadcrumbs. Leave empty to use default theme.]]></Description>
      <SortOrder>20</SortOrder>
      <Tab Alias="header/Footer">Header/Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ed68dddd-9cb1-4e9e-995f-cdb33c2d7627</Key>
      <Name>Breadcrumb Status</Name>
      <Alias>furnitureBreadcrumbStatus</Alias>
      <Definition>c3e97a7a-9305-4a3a-8131-5e417978e9d6</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Should this Breadcrumb be shown, hidden or inherit it's status from its parent page.
Always hidden on Home Page.]]></Description>
      <SortOrder>17</SortOrder>
      <Tab Alias="header/Footer">Header/Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>77226100-8473-4cf0-af37-532e4971d42d</Key>
      <Name>Breadcrumb Subtheme</Name>
      <Alias>furnitureBreadcrumbSubtheme</Alias>
      <Definition>c8ca160f-6929-4ba3-b064-9f6f406d03a7</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Set the subtheme for the Breadcrumb.

Only valid if Breadcrumb is being displayed]]></Description>
      <SortOrder>18</SortOrder>
      <Tab Alias="header/Footer">Header/Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8242c8f9-9abb-48af-ba2a-9249ec506443</Key>
      <Name>Breadcrumb Shade</Name>
      <Alias>furnitureBreadcrumbThemeShade</Alias>
      <Definition>f417c776-86f7-4153-abbb-00401e5ffce6</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Shade of Breadcrumb.

Only valid if Breadcrumb is being shown]]></Description>
      <SortOrder>19</SortOrder>
      <Tab Alias="header/Footer">Header/Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d5cd8308-bf65-4ed1-9614-294442dcf7e0</Key>
      <Name>Override Footer Colours</Name>
      <Alias>furnitureFooterColor</Alias>
      <Definition>d19af56c-4648-4f91-b72a-1739f08ebf16</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Set custom colours for Footer. Leave empty to use default theme.]]></Description>
      <SortOrder>30</SortOrder>
      <Tab Alias="header/Footer">Header/Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>11e8ca27-fd03-4e1f-9213-cd073685e26d</Key>
      <Name>Footer Information</Name>
      <Alias>furnitureFooterInformation</Alias>
      <Definition>9fe054e5-cb81-4027-a076-763c174d9ddb</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Area to place Copyright, address and other information about website.

{{year}} = Current Year]]></Description>
      <SortOrder>28</SortOrder>
      <Tab Alias="header/Footer">Header/Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>95c531e1-ca86-49a9-9211-8b0d4f290442</Key>
      <Name>Footer Menu</Name>
      <Alias>furnitureFooterMenu</Alias>
      <Definition>66540ff1-5947-45cd-a3d9-bf1c205cc94a</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Optional Footer menu for microsite]]></Description>
      <SortOrder>27</SortOrder>
      <Tab Alias="header/Footer">Header/Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>df300413-6f53-4581-8eef-d95eddd18b2e</Key>
      <Name>Footer Message</Name>
      <Alias>furnitureFooterMessage</Alias>
      <Definition>7cba2f6b-082a-4db3-94db-ef4402258aaf</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Main text for footer]]></Description>
      <SortOrder>26</SortOrder>
      <Tab Alias="header/Footer">Header/Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>51f453cf-88dc-4601-851e-8360950b4e37</Key>
      <Name>Footer Social Media Links</Name>
      <Alias>furnitureFooterSocialMediaLinks</Alias>
      <Definition>323a3aa6-e3b5-4d5a-9ba9-08951bf87625</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Links to your Social Media Feeds]]></Description>
      <SortOrder>29</SortOrder>
      <Tab Alias="header/Footer">Header/Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e905a509-6174-4c15-9685-b096bcdf3991</Key>
      <Name>Footer Subtheme</Name>
      <Alias>furnitureFooterSubtheme</Alias>
      <Definition>c8ca160f-6929-4ba3-b064-9f6f406d03a7</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Set subtheme for footer or Inherit Page subtheme]]></Description>
      <SortOrder>24</SortOrder>
      <Tab Alias="header/Footer">Header/Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d40541e2-04cb-4f33-b1ea-0453b4022318</Key>
      <Name>Footer Shade</Name>
      <Alias>furnitureFooterThemeShade</Alias>
      <Definition>f417c776-86f7-4153-abbb-00401e5ffce6</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Set light or dark shade for footer or inherit Page shade value]]></Description>
      <SortOrder>25</SortOrder>
      <Tab Alias="header/Footer">Header/Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6480ba5a-7e86-4968-bce6-37553595e191</Key>
      <Name>Override Header Colours</Name>
      <Alias>furnitureHeaderColor</Alias>
      <Definition>d19af56c-4648-4f91-b72a-1739f08ebf16</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Set custom colours for Header. Leave empty to use default theme.]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="header/Footer">Header/Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d91758b0-66f7-4591-a73f-ad3cab28354c</Key>
      <Name>Header Menu</Name>
      <Alias>furnitureHeaderMenu</Alias>
      <Definition>66540ff1-5947-45cd-a3d9-bf1c205cc94a</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Optional Menu for micro-site]]></Description>
      <SortOrder>12</SortOrder>
      <Tab Alias="header/Footer">Header/Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>42b0ba3c-4257-4c7a-a340-0e5c37589a94</Key>
      <Name>Header Menu Position</Name>
      <Alias>furnitureHeaderMenuPosition</Alias>
      <Definition>bda10daa-63f0-4a14-8859-5db26dec2b46</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Where to place the Header menu on Larger devices like laptop or desktop]]></Description>
      <SortOrder>13</SortOrder>
      <Tab Alias="header/Footer">Header/Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2c007724-8a07-431e-82da-838227d3d653</Key>
      <Name>Header Stick to Top</Name>
      <Alias>furnitureHeaderSticky</Alias>
      <Definition>81579286-c067-4d20-92cd-b8a244fa0357</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Should the header stick to the top of the page and still be visible even when the user scrolls down]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="header/Footer">Header/Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>24e301de-34fa-4ed8-bf2e-56b57073d747</Key>
      <Name>Header Subtheme</Name>
      <Alias>furnitureHeaderSubtheme</Alias>
      <Definition>c8ca160f-6929-4ba3-b064-9f6f406d03a7</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Set subtheme for header or Inherit Page subtheme]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="header/Footer">Header/Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3b9fe99a-ba51-4c5e-8aab-22cfec42e916</Key>
      <Name>Header Shade</Name>
      <Alias>furnitureHeaderThemeShade</Alias>
      <Definition>f417c776-86f7-4153-abbb-00401e5ffce6</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Set light or dark shade for header or inherit Page shade value]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="header/Footer">Header/Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e8c4be38-a816-4f4e-a4be-f87a2e109ea5</Key>
      <Name>Logo</Name>
      <Alias>furnitureLogoImage</Alias>
      <Definition>5a50c29b-7929-4a33-9055-b9f9d9d9c921</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Logo image for micro-site, placed in header]]></Description>
      <SortOrder>8</SortOrder>
      <Tab Alias="header/Footer">Header/Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>027d7ccd-ef31-40fb-827d-d5a686e0556e</Key>
      <Name>Logo Size</Name>
      <Alias>furnitureLogoRatio</Alias>
      <Definition>38b322a8-9812-49c1-a6e4-22c96f9b5c63</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Ratio of logo image in Width x Height]]></Description>
      <SortOrder>9</SortOrder>
      <Tab Alias="header/Footer">Header/Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>416155ec-e4cc-4a54-ad95-8f38c38c6253</Key>
      <Name>Show All Services</Name>
      <Alias>furnitureShowAllServices</Alias>
      <Definition>81579286-c067-4d20-92cd-b8a244fa0357</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Show All Services button in header]]></Description>
      <SortOrder>11</SortOrder>
      <Tab Alias="header/Footer">Header/Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9a6b6d68-517c-47a9-97ce-e15f383305f5</Key>
      <Name>Show Header Menu on Larger Devices</Name>
      <Alias>furnitureShowHeaderMenuOnLargerDevices</Alias>
      <Definition>81579286-c067-4d20-92cd-b8a244fa0357</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Show standard menu in header section when being displayed on larger devices like laptop or desktop]]></Description>
      <SortOrder>15</SortOrder>
      <Tab Alias="header/Footer">Header/Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c853d0da-2e09-463d-a19a-75b0d2adb044</Key>
      <Name>Show Header Menu on Smaller Devices</Name>
      <Alias>furnitureShowHeaderMenuOnSmallerDevices</Alias>
      <Definition>81579286-c067-4d20-92cd-b8a244fa0357</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Show hamburger menu in header section when being displayed on smaller devices like a phone or tablet]]></Description>
      <SortOrder>16</SortOrder>
      <Tab Alias="header/Footer">Header/Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b039be0f-fc90-4b3e-8054-6c1f8ed9e5e9</Key>
      <Name>Show Search Bar</Name>
      <Alias>furnitureShowSearchBar</Alias>
      <Definition>81579286-c067-4d20-92cd-b8a244fa0357</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Show search bar in header]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="header/Footer">Header/Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ec18d026-3212-4d14-9a06-5c4cbe21de76</Key>
      <Name>Status</Name>
      <Alias>furnitureStatus</Alias>
      <Definition>b9eb6e73-af15-494e-bafc-e8379c671b46</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[<b>Inherit</b> header & footer information from parent web page or <b>show</b> header & footer information below]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="header/Footer">Header/Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>42854394-72b6-46c4-97a9-2b5f3b9c9ecb</Key>
      <Caption>Header/Footer</Caption>
      <Alias>header/Footer</Alias>
      <Type>Tab</Type>
      <SortOrder>40</SortOrder>
    </Tab>
  </Tabs>
</ContentType>