<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="bbe97008-6f87-4752-9a09-bcdb5a7cb752" Alias="globalData" Level="2">
  <Info>
    <Name>Global Data</Name>
    <Icon>icon-database color-brown</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Global Data</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>c0808dd3-8133-4e4b-8ce8-e2bea84a96a4</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Global</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="c4cb87c9-531d-4d80-9e9c-78576a7b3946" SortOrder="0">virtualAgentsData</ContentType>
    <ContentType Key="72323902-7de7-4590-89b2-f28975a20521" SortOrder="1">coronersData</ContentType>
    <ContentType Key="294e0676-4e12-4bb8-8a53-47e58437c5ef" SortOrder="2">rssFeedsData</ContentType>
    <ContentType Key="1c96d8db-bd68-481e-89c6-fb0de4fd0468" SortOrder="4">categorysData</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>78ce5abf-ca00-4cb8-a82e-03cd1719d1c0</Key>
      <Name>_</Name>
      <Alias>label</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Storage location for Global Data]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="contents">Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>d2667c8c-2637-427d-a851-c2938db6d809</Key>
      <Caption>Contents</Caption>
      <Alias>contents</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>