<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d80001b4-e753-48d7-901e-0a66c91718a5" Alias="pageTitleTab" Level="2">
  <Info>
    <Name>Page Title Tab</Name>
    <Icon>icon-heading-1 color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Page Title</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Furniture</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>ce5dc0be-81b7-4122-9538-1445fd91345b</Key>
      <Name>Page Title</Name>
      <Alias>pageTitleName</Alias>
      <Definition>2a2abbe8-8be8-4a3c-94c0-04f7719734fc</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Main &lt;h1&gt; Header for page. Placed above all content ]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="pageTitle">Page Title</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>54d43f79-fbce-4b71-87dc-18e081d57b56</Key>
      <Name>Promote Page Title</Name>
      <Alias>pageTitlePromote</Alias>
      <Definition>48937cd9-d490-4fa7-9c6d-634d3a816946</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Give prominence to Page Title]]></Description>
      <SortOrder>21</SortOrder>
      <Tab Alias="pageTitle">Page Title</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bea912a7-4c17-4c84-a45d-d39b395d7a01</Key>
      <Name>Page Title Subtheme</Name>
      <Alias>pageTitleSubtheme</Alias>
      <Definition>c8ca160f-6929-4ba3-b064-9f6f406d03a7</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Set a Subtheme for the page title]]></Description>
      <SortOrder>22</SortOrder>
      <Tab Alias="pageTitle">Page Title</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f83bfab9-eb21-456d-9a03-3cba7e49ec7f</Key>
      <Name>Page Title Shade</Name>
      <Alias>pageTitleThemeShade</Alias>
      <Definition>f417c776-86f7-4153-abbb-00401e5ffce6</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Set a shade for the page title]]></Description>
      <SortOrder>23</SortOrder>
      <Tab Alias="pageTitle">Page Title</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>ac19e88b-f0d7-4054-9abd-026b413e3f56</Key>
      <Caption>Page Title</Caption>
      <Alias>pageTitle</Alias>
      <Type>Tab</Type>
      <SortOrder>20</SortOrder>
    </Tab>
  </Tabs>
</ContentType>