<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="80ad8481-110e-4e9a-82e2-ab8a79e4dc83" Alias="reviewTab" Level="2">
  <Info>
    <Name>Review Tab</Name>
    <Icon>icon-glasses color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Content Review</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Furniture</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>4828e71a-5844-46af-900a-4e066504df2c</Key>
      <Name>Comments</Name>
      <Alias>reviewComments</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Internal Use Only. Any comments you wish to record.

At no point are these shown on the front end to any users of the website only other content editors can view what is written here.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="review">Review</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6dac0384-2765-4daa-b21b-cfa98870fb44</Key>
      <Name>Date</Name>
      <Alias>reviewDate</Alias>
      <Definition>5046194e-4237-453c-a547-15db3a07c4e1</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[By which date does this page require to be reviewed]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="review">Review</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0a12ced0-0952-498a-b155-c435624f9a29</Key>
      <Name>Group</Name>
      <Alias>reviewGroup</Alias>
      <Definition>1575f9e9-a99d-4ec5-b384-7cfac5035517</Definition>
      <Type>Umbraco.UserPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Which User Group should be notified when a review is required. Select a User within that User Group]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="review">Review</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c08ae348-7d41-4b0d-9998-df7362990cb6</Key>
      <Name>Status</Name>
      <Alias>reviewStatus</Alias>
      <Definition>10def01f-40a5-4293-a4ef-75121f4b461f</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[<b>Inherit</b> whether this page requires content review or not from it's parent page or <b>enable</b>/<b>disable</b> this page requiring content review.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="review">Review</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>2e8a047f-773b-44e1-8699-240a9f8579e7</Key>
      <Caption>Review</Caption>
      <Alias>review</Alias>
      <Type>Tab</Type>
      <SortOrder>95</SortOrder>
    </Tab>
  </Tabs>
</ContentType>