<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="19ca30bb-ce62-436c-953b-64885c8f4e8f" Alias="rewritePage" Level="2">
  <Info>
    <Name>Rewrite Page</Name>
    <Icon>icon-documents color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Show the contents of another page as if they are our own contents</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Structure</Folder>
    <Compositions>
      <Composition Key="b5fddcba-be69-4862-a4b6-0c3a297bd995">seoTab</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e49265a2-ac31-479c-ab9f-c2820ee6bb67</Key>
      <Name>Page to Rewrite</Name>
      <Alias>umbracoInternalRedirectId</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This page will show the contents of the selected page as if its it's own content.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="contents">Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>f281dc5f-0635-4dba-b898-72ce75954f00</Key>
      <Caption>Contents</Caption>
      <Alias>contents</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>