<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="294e0676-4e12-4bb8-8a53-47e58437c5ef" Alias="rssFeedsData" Level="2">
  <Info>
    <Name>Rss Feeds Data</Name>
    <Icon>icon-folder color-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Folder of Rss Feeds</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>c0808dd3-8133-4e4b-8ce8-e2bea84a96a4</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Global</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="f9d05ee3-a300-48b4-9626-8736ccf62f19" SortOrder="0">rssFeedData</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>2525eadd-a6f4-4557-8f4d-71b515ea867a</Key>
      <Name>_</Name>
      <Alias>label</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Collection of Rss Feeds]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="contents">Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>4fec554b-5b1c-4628-b58d-29cb87d5433c</Key>
      <Caption>Contents</Caption>
      <Alias>contents</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>