<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="dee735ae-fcd6-4553-b525-1e07e87c8721" Alias="subfooterTab" Level="2">
  <Info>
    <Name>Subfooter Tab</Name>
    <Icon>icon-subscript</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Bar placed just above footer</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Furniture</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>282fd1f4-a8a0-45c9-8651-550e2a751d2d</Key>
      <Name>Override Colours</Name>
      <Alias>subfooterColor</Alias>
      <Definition>d19af56c-4648-4f91-b72a-1739f08ebf16</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Set override custom colours for Subfooter. If empty will use current Theme.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="subfooter">Subfooter</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d6550801-29ee-46a5-bb96-58bf2999e773</Key>
      <Name>Show Last Updated Date</Name>
      <Alias>subfooterShowLastUpdatedDate</Alias>
      <Definition>81579286-c067-4d20-92cd-b8a244fa0357</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Display the page's last updated date]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="subfooter">Subfooter</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3abff2c4-8327-4363-a2c2-41b87e297f18</Key>
      <Name>Show Next Review Date</Name>
      <Alias>subfooterShowNextReviewDate</Alias>
      <Definition>48937cd9-d490-4fa7-9c6d-634d3a816946</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Show the next time this page needs reviewing. Only valid if page has a review date and is enabled for reviewing.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="subfooter">Subfooter</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7a3ba717-424e-4ce2-9f29-fd499133eefe</Key>
      <Name>Show Return To Top Icon</Name>
      <Alias>subfooterShowReturnToTopIcon</Alias>
      <Definition>81579286-c067-4d20-92cd-b8a244fa0357</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Show an icon on bottom right hand of page that when pressed scrolls the page back to the top]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="subfooter">Subfooter</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b049518f-63a6-4e84-be6d-b56bbee80908</Key>
      <Name>Status</Name>
      <Alias>subfooterStatus</Alias>
      <Definition>cf44450a-96b0-40a1-9a7f-5087cdef5b84</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Either <b>inherit</b> subfooter from parent web page or <b>show</b>/<b>hide</b> subfooter using information below]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="subfooter">Subfooter</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>79b17715-2243-4773-9cce-77db74c91055</Key>
      <Caption>Subfooter</Caption>
      <Alias>subfooter</Alias>
      <Type>Tab</Type>
      <SortOrder>30</SortOrder>
    </Tab>
  </Tabs>
</ContentType>