<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8536006b-2931-4359-9e8c-9499bf93e02a" Alias="virtualAgentTab" Level="2">
  <Info>
    <Name>Virtual Agent Tab</Name>
    <Icon>icon-company</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Declare a virtual agent for this page</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Furniture</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>4000d5ac-51d8-476f-a6f6-d17a83a3f383</Key>
      <Name>Install</Name>
      <Alias>virtualAgentInstall</Alias>
      <Definition>29a3ee27-1efa-4b16-8938-13c283e1381b</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select which Virtual Agent to install on this page]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="virtualAgent">Virtual Agent</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1d50e838-51ef-4987-b8dd-3fb59ba2b17f</Key>
      <Name>Status</Name>
      <Alias>virtualAgentStatus</Alias>
      <Definition>2582b92c-790d-483b-b4e8-99cd257eb538</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Virtual Agent for this page.
Inherit = Use same virtual agent as parent page]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="virtualAgent">Virtual Agent</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>05912f5b-6578-4129-a3db-fae13437ef08</Key>
      <Caption>Virtual Agent</Caption>
      <Alias>virtualAgent</Alias>
      <Type>Tab</Type>
      <SortOrder>100</SortOrder>
    </Tab>
  </Tabs>
</ContentType>