<?xml version="1.0" encoding="utf-8"?>
<Media Key="09bf4796-ec1c-4a25-800b-d9f1e5d4fbb7" Alias="banteng_domesticated_bali_bull.png" Level="2">
  <Info>
    <Parent Key="73dd6bcb-7fbd-46d1-9e42-83543c49ab99">Animals</Parent>
    <Path>/Animals/banteng_domesticated_bali_bullpng</Path>
    <Trashed>false</Trashed>
    <ContentType>editorImage</ContentType>
    <CreateDate>2026-03-25T13:43:12</CreateDate>
    <NodeName Default="banteng_domesticated_bali_bull.png" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/fuepdk0r/banteng_domesticated_bali_bull.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>