<?xml version="1.0" encoding="utf-8"?>
<Media Key="15f45b00-fca1-4c5e-9814-1329625be308" Alias="bee-apis.jpg" Level="2">
  <Info>
    <Parent Key="73dd6bcb-7fbd-46d1-9e42-83543c49ab99">Animals</Parent>
    <Path>/Animals/beeApisjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>editorImage</ContentType>
    <CreateDate>2026-03-25T13:41:17</CreateDate>
    <NodeName Default="bee-apis.jpg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/xmklvn5m/bee-apis.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>