<?xml version="1.0" encoding="utf-8"?>
<Media Key="a9bd6bb8-b237-4ea2-873a-9127efd065a0" Alias="bos_gaurus_-gayal-_male.jpg" Level="2">
  <Info>
    <Parent Key="73dd6bcb-7fbd-46d1-9e42-83543c49ab99">Animals</Parent>
    <Path>/Animals/bos_gaurus_Gayal_malejpg</Path>
    <Trashed>false</Trashed>
    <ContentType>editorImage</ContentType>
    <CreateDate>2026-03-25T13:43:29</CreateDate>
    <NodeName Default="bos_gaurus_-gayal-_male.jpg" />
    <SortOrder>30</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/amspgc10/bos_gaurus_-gayal-_male.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>