<?xml version="1.0" encoding="utf-8"?>
<Media Key="968ec19c-9d63-45f2-8a1e-34e860c4c05b" Alias="capra-_crete_4.jpg" Level="2">
  <Info>
    <Parent Key="73dd6bcb-7fbd-46d1-9e42-83543c49ab99">Animals</Parent>
    <Path>/Animals/capra_crete_4jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>editorImage</ContentType>
    <CreateDate>2026-03-25T13:41:59</CreateDate>
    <NodeName Default="capra-_crete_4.jpg" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/e4hmanbo/capra-_crete_4.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>