<?xml version="1.0" encoding="utf-8"?>
<Media Key="46106a5e-32ef-45f9-8c5f-e0d644590579" Alias="caviaklein.jpg" Level="2">
  <Info>
    <Parent Key="73dd6bcb-7fbd-46d1-9e42-83543c49ab99">Animals</Parent>
    <Path>/Animals/caviakleinjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>editorImage</ContentType>
    <CreateDate>2026-03-25T13:41:35</CreateDate>
    <NodeName Default="caviaklein.jpg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/2usf3zfc/caviaklein.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>