<?xml version="1.0" encoding="utf-8"?>
<Media Key="6b5361ef-56b6-4a19-8463-211e53099fc1" Alias="giant_panda_2004-03-2.jpg" Level="2">
  <Info>
    <Parent Key="73dd6bcb-7fbd-46d1-9e42-83543c49ab99">Animals</Parent>
    <Path>/Animals/giant_panda_2004032jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>editorImage</ContentType>
    <CreateDate>2026-03-25T13:41:52</CreateDate>
    <NodeName Default="giant_panda_2004-03-2.jpg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/kqxb1sp1/giant_panda_2004-03-2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>