<?xml version="1.0" encoding="utf-8"?>
<Media Key="465b035d-a5e9-4b53-8a51-c0868c280ec5" Alias="pair_of_icelandic_sheep.jpg" Level="2">
  <Info>
    <Parent Key="73dd6bcb-7fbd-46d1-9e42-83543c49ab99">Animals</Parent>
    <Path>/Animals/pair_of_icelandic_sheepjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>editorImage</ContentType>
    <CreateDate>2026-03-25T13:43:23</CreateDate>
    <NodeName Default="pair_of_icelandic_sheep.jpg" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/2zgblzfe/pair_of_icelandic_sheep.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>