<?xml version="1.0" encoding="utf-8"?>
<Media Key="d5bd68e2-6091-4ee5-9805-c4d2cb519325" Alias="poltava_chicken_breed_female.jpg" Level="2">
  <Info>
    <Parent Key="73dd6bcb-7fbd-46d1-9e42-83543c49ab99">Animals</Parent>
    <Path>/Animals/poltava_chicken_breed_femalejpg</Path>
    <Trashed>false</Trashed>
    <ContentType>editorImage</ContentType>
    <CreateDate>2026-03-25T13:42:03</CreateDate>
    <NodeName Default="poltava_chicken_breed_female.jpg" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/letpg342/poltava_chicken_breed_female.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>