<?xml version="1.0" encoding="utf-8"?>
<Media Key="d9e542b7-3a91-4c4d-9514-da9c9bdac0c4" Alias="sow_with_piglet.jpg" Level="2">
  <Info>
    <Parent Key="73dd6bcb-7fbd-46d1-9e42-83543c49ab99">Animals</Parent>
    <Path>/Animals/sow_with_pigletjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>editorImage</ContentType>
    <CreateDate>2026-03-25T13:42:45</CreateDate>
    <NodeName Default="sow_with_piglet.jpg" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/bqglw442/sow_with_piglet.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>