<?xml version="1.0" encoding="utf-8"?>
<Media Key="b64e518a-336d-4dc9-a274-5e93b4b92683" Alias="temee.jpg" Level="2">
  <Info>
    <Parent Key="73dd6bcb-7fbd-46d1-9e42-83543c49ab99">Animals</Parent>
    <Path>/Animals/temeejpg</Path>
    <Trashed>false</Trashed>
    <ContentType>editorImage</ContentType>
    <CreateDate>2026-03-25T13:40:55</CreateDate>
    <NodeName Default="temee.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/gepaafba/temee.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>