<?xml version="1.0" encoding="utf-8"?>
<Media Key="234de583-5207-41cf-81fd-ad228e7ff1d6" Alias="Tiger" Level="2">
  <Info>
    <Parent Key="976dc1a6-8d43-4950-98b1-b3495a27f447">Wackywoo</Parent>
    <Path>/Wackywoo/Tiger</Path>
    <Trashed>false</Trashed>
    <ContentType>editorImage</ContentType>
    <CreateDate>2026-03-06T17:59:18</CreateDate>
    <NodeName Default="Tiger" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.3996394230769231,
    "top": 0.4487179347446987
  },
  "crops": [
    {
      "alias": "Full Screen Image",
      "width": 2560,
      "height": 2560,
      "coordinates": null
    },
    {
      "alias": "Hero Banner",
      "width": 2560,
      "height": 480,
      "coordinates": null
    },
    {
      "alias": "Poster",
      "width": 1600,
      "height": 1000,
      "coordinates": null
    },
    {
      "alias": "Card",
      "width": 400,
      "height": 250,
      "coordinates": null
    },
    {
      "alias": "Logo",
      "width": 90,
      "height": 90,
      "coordinates": null
    }
  ],
  "src": "/media/hcvahakk/polish_20231016_153012454.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>