<?xml version="1.0" encoding="utf-8"?>
<Media Key="2dfde4f5-ee50-4219-bc2a-b073856884d8" Alias="wildlife_at_maasai_mara_-lion.jpg" Level="2">
  <Info>
    <Parent Key="73dd6bcb-7fbd-46d1-9e42-83543c49ab99">Animals</Parent>
    <Path>/Animals/wildlife_at_maasai_mara_Lionjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>editorImage</ContentType>
    <CreateDate>2026-03-25T13:42:33</CreateDate>
    <NodeName Default="wildlife_at_maasai_mara_-lion.jpg" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/j0vlhdy3/wildlife_at_maasai_mara_-lion.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>