body {
    overflow-x: hidden;
}

a {
    text-underline-position: under;
    text-underline-offset: 0.080rem;
    color: unset;
    text-decoration: underline;
}

.toggle-site-search[aria-expanded="true"] #showSiteSearch {
    display: none;
}
.toggle-site-search[aria-expanded="false"] #hideSiteSearch {
    display: none;
}
.p-nomargin p {
    margin: 0;
    margin-block: 0;
    margin-inline: 0;
    padding: 0;
    padding-block: 0;
    padding-inline: 0;
}

.not-collapse.collapse:not(.show) {
    display: inline;
}

.not-collapse.show, .not-collapse.collapsing {
    display: none;
}

/*
.nav-tabs > .nav-link:not(.active) {
    border-bottom: solid 2px gray;
}
.nav-tabs > .nav-link.active {
    border-left: solid 2px gray;
    border-top: solid 2px gray;
    border-right: solid 2px gray;
}
*/

.nav-tabs.tabs-top > .nav-link.active {
    border-bottom: solid 2px gray;
    border-radius: unset;
}

.nav-tabs.tabs-left > .nav-link.active {
    border-right: solid 2px gray;
    border-radius: unset;
}

.nav-tabs.tabs-bottom > .nav-link.active {
    border-top: solid 2px gray;
    border-radius: unset;
}

.nav-tabs.tabs-right > .nav-link.active {
    border-left: solid 2px gray;
    border-radius: unset;
}

.expand-background {
    margin: -0.5rem;
    padding: 0.5rem;
}

.expand-background:before {
}

.text-green a.nav-link {
    color: green;
}

.text-black a.nav-link {
    color: black;
}

.text-green .breadcrumb-item a, .text-green .breadcrumb-item.active, .text-green .breadcrumb-item::before {
    color: green;
}

.text-black .breadcrumb-item a, .text-black .breadcrumb-item.active a, .text-black .breadcrumb-item::before {
    color: black;
}

.cursor-pointer {
    cursor: pointer;
}

.glide__arrow, .carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: black;
    opacity: 25%;
}

.carousel-caption {
    left: 0;
    right: 0;
}

@media (min-width:768px) {
    .hero-banner .carousel-caption {
        left: 15%;
        right: 15%;
    }
}
.text-wordwrap-indent {
    text-indent: -0.5em;
    padding-left: 0.5em;
}

h1.promote-page-title {
    font-size:300%;
    padding-top: 1em;
    padding-bottom: 1em;
}
 
.card-img-left {
    border-top-left-radius: var(--bs-card-inner-border-radius);
    border-bottom-left-radius: var(--bs-card-inner-border-radius);
}
 
.card-img-right {
    border-top-right-radius: var(--bs-card-inner-border-radius);
    border-bottom-right-radius: var(--bs-card-inner-border-radius);
}

.breadcrumb {
    margin-bottom:0;
}

.limit-dropdown {
    max-height: 30rem;
    overflow-y: scroll;
}

small.subtitle {
    font-size: small;
    display: block;
    padding-left: 0.5em;
    font-weight:normal;
    font-style:italic;
}
.card, .card-body, .card-title, .card-subtitle, .card-footer {
    color: unset;
    background-color: unset;
}
.card-title {
    font-size: large;
    font-weight: bold;
}
.card-subtitle {
    font-style: italic;
}
.rounded-diamond {
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
}
.rounded-triangle {
    clip-path: polygon(100% 100%, 100% 0, 0 50%);
}
.rounded-hexagon {
    clip-path: polygon(100% 50%,85.4% 85.4%,50% 100%,14.6% 85.4%,0% 50%,14.6% 14.6%,50% 0%,85.4% 14.6%);
}
.rounded-star {
    clip-path: polygon(100% 50%,75.98% 65%,75% 93.3%,50% 80%,25% 93.3%,24.02% 65%,0% 50%,24.02% 35%,25% 6.7%,50% 20%,75% 6.7%,75.98% 35%);
}
.filter-grayscale {
    filter: grayscale(100%);
}
